﻿@model IEnumerable<DriverShiftType>
@using DispatchCrude.Core;
@using DispatchCrude.Models;
@using DispatchCrude.Extensions;

@{
    ViewBag.Title = "Resources";
    ViewBag.SubTitle = "Shift Types";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="tabbable TabRepaint">
    <ul class="nav nav-tabs" id="tabmenu">
        @NavigationHelper.PrintTabArray(NavigationHelper.TabSet_Resources, "Tab_Drivers")
    </ul>
    <div class="tab-content">
        <div class="tab-pane in active">
            <div class="well speedButtonContainer">
                @NavigationHelper.PrintButtonArray(NavigationHelper.ButtonSet_TabDrivers, "Button_SchedulingShiftTypes")
            </div>
            @(Html.Kendo().Grid(Model)
                .Name("grid")
                .DataSource(ds => ds
                    .Ajax()
                    .Filter(filter => filter.Add(m => m.Active).IsEqualTo(true))
                    .Model(model =>
                    {
                        model.Id(f => f.ID);
                        model.Field(f => f.DayCount).DefaultValue(0);
                        model.Field(f => f.Days).DefaultValue(new List<DriverShiftTypeDay>());
                    })
                    .PageSize(Settings.DefaultPageSize)
                    .Sort(sort => { if (Request.QueryString.Keys.Count == 0) { sort.Add("Name").Ascending(); } }) // Initial Sort
                    .Read(read => read.Action("Read", "DriverShiftType").Type(HttpVerbs.Get))
                    .Create(create => create.Action("Update", "DriverShiftType"))
                    .Update(update => update.Action("Update", "DriverShiftType"))
                    .Destroy(update => update.Action("Delete", "DriverShiftType").Data("destroyData"))
                    .Events(events => { events.Change("onDSChange"); events.Error("onDSErrors"); events.RequestEnd("onDSRequestEnd"); })
                )
                .Excel(excel => excel
                    .AllPages(true)
                    .FileName("Driver Scheduling Shift Type List.xlsx")
                    .Filterable(true)
                )
                .HtmlAttributes(new { style = "height:800px;", @class = "MVCGridRepaint" })
                .ToolBar(command =>
                {
                    //TODO: if (User.IsInRole("createShippers"))
                    command.Create().Text("");
                    command.Excel();
                })
                .Editable(ed => { ed.Mode(GridEditMode.PopUp).TemplateName("Editor_DriverShiftType"); ed.DisplayDeleteConfirmation(false); })
                .Events(ev => ev.Edit("onEdit"))
                .Pageable(pager => pager
                    .PageSizes(Settings.MvcGridPageSizes)
                    .Refresh(true)
                )
                .Sortable()
                .Scrollable()
                .Filterable(filterable => filterable
                    .Extra(true)   //This extended "filterable" section of code makes the contains filter the default string filter for these grids
                    .Operators(operators => operators
                        .ForString(str => str
                            .Clear()
                            .Contains("Contains")
                            .DoesNotContain("Does not contain")
                            .StartsWith("Starts with")
                            .EndsWith("Ends with")
                            .IsEqualTo("Is equal to")
                            .IsNotEqualTo("Is not equal to")
                        )
                    )
                )
                .Resizable(resizable => resizable.Columns(true))                
                .Columns(columns =>
                {
                columns.Template(@<text></text>).ClientTemplate("#= rowCommandsUndelete(data) #").Title("&nbsp;").Width(100);
                    columns.Bound(m => m.Active)
                        .Title("Active?")
                        .ClientTemplate("#= ActiveState(data.Active) #")
                        .Width(85);
                    columns.Bound(m => m.Name)
                        .ClientTemplate("<text>#= data.Name #<text>")
                        .Width(170);
                    columns.Bound(m => m.DayCount)
                        .ClientTemplate("<text>#= data.DayCount #<text>")
                        .Width(110);
                    columns.Bound(m => m.Days).Width(300).ClientTemplate("#= daysTemplate(data.Days) #");
                    columns.Bound(m => m.CreateDate)
                        .Width(160);
                    columns.Bound(m => m.CreatedByUser)
                        .Width(175);
                    columns.Bound(m => m.LastChangeDate)
                        .Width(200);
                    columns.Bound(m => m.LastChangedByUser)
                        .Width(200);
                    columns.Bound(m => m.DeleteDate)
                        .Width(200);
                    columns.Bound(m => m.DeletedByUser)
                        .Width(200);
                })
            )

            @*These inputs are required for create/edit/deactivate permissions functionality*@
            <input id="allowCreate" type="hidden" value="true" @*TODO: @UserSupport.Allow.Create.OnPage("DriverScheduleStatuses")"*@ />
            <input id="allowEdit" type="hidden" value="true" @*TODO: @UserSupport.Allow.Edit.OnPage("DriverScheduleStatuses")"*@ />
            <input id="allowDelete" type="hidden" value="true" @*TODO@UserSupport.Allow.Delete.OnPage("DriverScheduleStatuses")"*@ />

        </div>
    </div>
</div>

<script src="~/scripts/kendoGridUndelete.js"></script>
<script src="~/scripts/kendoGridErrors.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        // customKendoGridButtons() fixes the look of the add new button and
        // excel export button that were not addressed directly in the grid above
        customKendoGridButtons();
    });

    function daysTemplate(data) {
        var ret = "";
        if (data && data.length) {
            for (var i = 0; i < data.length; i++) {
                var day = data[i];
                ret += (ret.length ? "</br>" : "")
                        + day.Position
                        + " - " + day.Status.Name
                        + (day.StartHours ? " - " + moment('2016-01-01').hours(day.StartHours).format('h:mm A') : '')
                        + (day.DurationHours ? " - [" + day.DurationHours + "hrs]" : "");
            }
        }
        return ret;
    }

    function onEdit(e) {
        $('#dayGrid').data().kendoGrid.dataSource.data(e.model.Days);

        if (!e.model.isNew()) {
            //Do edit mode stuff:
        }
        else {
            //Do create mode stuff:
            $(".k-window-title").html("Create"); //change the window title to create
        }
    }

    /* ensure that any changes to the Day array (property) cause the entire object to be "dirty" and force a save operation on "UPDATE" */
    function onDSChange(e) {
        if (e.field == 'Days' && e.items) {
            var model = e.items[0].parent().parent();
            model.dirty = true;
        }
    }
</script>
