﻿@model DispatchCrude.Models.QuestionnaireQuestion

@using DispatchCrude.Models;
@using DispatchCrude.Core;

@{
    ViewBag.Title = "Questionnaires";
    ViewBag.Subtitle = "Template: " + @ViewBag.Template + " - Edit Question";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.ID)
    @Html.HiddenFor(m => m.QuestionnaireTemplateID)

    <div class="well with-header inline-block col-md-8">
        <div class="header bordered-yellow">Edit Question</div>
        <table>
            <tr>
                <td class="txtAlignRight" style="width:250px">
                    <strong>Question:</strong>&nbsp;&nbsp;&nbsp;&nbsp;
                </td>
                <td colspan="2">
                    @Html.TextBoxFor(m => m.QuestionText, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.QuestionText, "", new { @class = "text-danger" })
                    <div class="spacer10px"></div>
                </td>
            </tr>
            <tr>
                <td class="txtAlignRight">
                    <strong>Type:</strong>&nbsp;&nbsp;&nbsp;&nbsp;
                </td>
                <td colspan="2">
                    @Html.DropDownList("QuestionnaireQuestionTypeID", null, "-- Answer Type --", htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.QuestionnaireQuestionTypeID, "", new { @class = "text-danger" })
                    <div class="spacer10px"></div>
                </td>
            </tr>
            <tr class="qformat">
                <td class="txtAlignRight">
                    <i class="fa fa-info-circle blue shiny" data-toggle="tooltip" title="@(QuestionnaireQuestion.DROPDOWNHELP)" ></i>
                    <strong>Format:&nbsp;&nbsp;&nbsp;&nbsp;</strong>
                </td>
                <td colspan="2">
                    @Html.TextBoxFor(m => m.AnswersFormat, new { @class = "form-control", data_role = "tagsinput", placeholder = "Add options" })
                    @Html.ValidationMessageFor(m => m.AnswersFormat, "", new { @class = "text-danger" })
                    <div class="spacer10px"></div>
                </td>
            </tr>
            <tr class="qrange">
                <td class="txtAlignRight">
                    <i class="fa fa-info-circle blue shiny" data-toggle="tooltip" title="@(QuestionnaireQuestion.RANGEHELP)" ></i>
                    <strong>Range:&nbsp;&nbsp;&nbsp;&nbsp;</strong>
                </td>
                <td>
                    @Html.TextBox("min", (string)ViewBag.Min, new { @class = "form-control", placeholder = "min" })
                    @Html.ValidationMessageFor(m => m.AnswersFormat, "", new { @class = "text-danger" })
                    <div class="spacer10px"></div>    
                </td>
                <td>    
                    @Html.TextBox("max", (string)ViewBag.Max, new { @class = "form-control", placeholder = "max" })        
                    <div class="spacer10px"></div>                                
                </td>
            </tr>
            <tr class="qformat">
                <td class="txtAlignRight">
                    <i class="fa fa-info-circle blue shiny" data-toggle="tooltip" title="@(QuestionnaireQuestion.PASSINGDROPDOWNHELP)" ></i>
                    <strong>Passing Condition:&nbsp;&nbsp;&nbsp;&nbsp;</strong>
                </td>
                <td colspan="2">
                    @Html.TextBoxFor(m => m.PassingCondition, new { @class = "form-control", data_role = "tagsinput", placeholder = "Add options" })
                    @Html.ValidationMessageFor(m => m.PassingCondition, "", new { @class = "text-danger" })
                    <div class="spacer10px"></div>
                </td>
            </tr>
            <tr class="qrange">
                <td class="txtAlignRight">
                    <i class="fa fa-info-circle blue shiny" data-toggle="tooltip" title="@(QuestionnaireQuestion.PASSINGRANGEHELP)"></i>
                    <strong>Passing Condition:&nbsp;&nbsp;&nbsp;&nbsp;</strong>
                </td>
                <td>
                    @Html.TextBox("pcmin", (string)ViewBag.pcMin, new { @class = "form-control", placeholder = "min" })
                    @Html.ValidationMessageFor(m => m.PassingCondition, "", new { @class = "text-danger" })
                    <div class="spacer10px"></div>
                </td>
                <td>
                    @Html.TextBox("pcmax", (string)ViewBag.pcMax, new { @class = "form-control", placeholder = "max" })
                    <div class="spacer10px"></div>
                </td>
            </tr>
            <tr class="qflag">
                <td class="txtAlignRight">
                    <i class="fa fa-info-circle blue shiny" data-toggle="tooltip" title="@(QuestionnaireQuestion.PASSINGBOOLHELP)"></i>
                    <strong>Passing Condition:&nbsp;&nbsp;&nbsp;&nbsp;</strong>
                </td>
                <td colspan="2">
                    @{
                        bool? passingCondition = ViewBag.pcBool;
                    }
                    @Html.EditorFor(m => passingCondition, "BoolNullable2", "pcbool", new { boolselect = new string[] { "NONE", "True", "False" } })
                    <div class="spacer10px"></div>
                </td>
            </tr>

            <tr>
                <td class="txtAlignRight">
                    <strong>Required:</strong>&nbsp;&nbsp;&nbsp;&nbsp;
                </td>
                <td colspan="2">
                    @Html.EditorFor(m => m.IsRequired, "Switch") <br />
                    @Html.ValidationMessageFor(m => m.IsRequired, "", new { @class = "text-danger" })
                    <div class="spacer10px"></div>
                </td>
            </tr>
            @if (ViewBag.LoadDefaults != null && ViewBag.LoadDefaults)
            {
            <tr class="qNOflag">
                <td class="txtAlignRight">
                    <strong>Default Answer:</strong>&nbsp;&nbsp;&nbsp;&nbsp;
                </td>
                <td colspan="2">
                    @Html.EditorFor(m => m.DefaultAnswer, new { htmlAttributes = new { @class = "form-control" } }) <br />
                    @Html.ValidationMessageFor(m => m.DefaultAnswer, "", new { @class = "text-danger" })
                    <div class="spacer10px"></div>
                </td>
            </tr>
            <tr class="qflag">
                <td class="txtAlignRight">
                    <i class="fa fa-info-circle blue shiny" data-toggle="tooltip" title="@(QuestionnaireQuestion.DEFAULTBOOLHELP)"></i>
                    <strong>Default Answer:</strong>&nbsp;&nbsp;&nbsp;&nbsp;
                </td>
                <td colspan="2">
                    @{
                        bool? defaultAnswer = ViewBag.defBool;
                    }
                    @Html.EditorFor(m => defaultAnswer, "BoolNullable2", "defbool", new { boolselect = new string[] { "NONE", "True", "False" } })
                    <div class="spacer10px"></div>
                </td>
            </tr>
            }
            <tr>
                <td class="txtAlignRight">
                    <strong>Include Notes:</strong>&nbsp;&nbsp;&nbsp;&nbsp;
                </td>
                <td colspan="2">
                    @Html.EditorFor(m => m.IncludeNotes, "Switch") <br />
                    @Html.ValidationMessageFor(m => m.IncludeNotes, "", new { @class = "text-danger" })
                    <div class="spacer10px"></div>
                </td>
            </tr>
            <tr>
                <td class="txtAlignRight">
                    <strong>Sort Order:</strong>&nbsp;&nbsp;&nbsp;&nbsp;
                </td>
                <td colspan="2">
                    @Html.EditorFor(m => m.SortNum, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(m => m.SortNum, "", new { @class = "text-danger" })
                    <div class="spacer10px"></div>
                </td>
            </tr>
            <tr>
                <td class="txtAlignRight">
                    <strong>Deleted?:</strong>&nbsp;&nbsp;&nbsp;&nbsp;
                </td>
                <td colspan="2">
                    @Html.CheckBox("DeleteFlag", (bool)ViewBag.DeleteFlag)
                </td>
            </tr>
            <tr>
                <td>                    
                </td>
                <td>
                    <div class="spacer20px"></div>
                    <input type="submit" name="btnAdd" value="Save" class="btn btn-blue shiny">
                </td>
            </tr>
        </table>
    </div>
}

@section scripts
{
    <script>
    var DROPDOWN = @((int)QuestionnaireQuestionType.TYPE.DropDown);
    var INTEGER = @((int)QuestionnaireQuestionType.TYPE.Integer);
    var DECIMAL = @((int)QuestionnaireQuestionType.TYPE.Decimal);
    var TIMESTAMP = @((int)QuestionnaireQuestionType.TYPE.Timestamp);
    var BOOLEAN = @((int)QuestionnaireQuestionType.TYPE.Boolean);

    $(document).ready(toggleFormatByType);
    $("#QuestionnaireQuestionTypeID").change(toggleFormatByType);

    // Enable/disable the Try to change the status cleanly by selecting an appropriate print status
    function toggleFormatByType()
    {debugger;
        var selectedItem = $("#QuestionnaireQuestionTypeID").val();
        if (selectedItem == DROPDOWN)
        {
            $(".qformat").show();
            $(".qrange").hide();
            $(".qflag").hide();
            $(".qNOFlag").show();
        }
        else if (selectedItem == INTEGER || selectedItem == DECIMAL || selectedItem == TIMESTAMP)
        {
            $(".qformat").hide();
            $(".qrange").show();
            $(".qflag").hide();
            $(".qNOFlag").show();
        }
        else if (selectedItem == BOOLEAN)
        {
            $(".qformat").hide();
            $(".qrange").hide();
            $(".qflag").show();
            $(".qNOFlag").hide();
        }
        else
        {
            $(".qformat").hide();
            $(".qrange").hide();
            $(".qflag").hide();
            $(".qNOFlag").show();
        }
    };
    </script>
}