﻿@model IEnumerable<DispatchCrude.Models.QuestionnaireTemplate>
@using DispatchCrude.Extensions;
@using DispatchCrude.Core;

@{
    ViewBag.Title = "Compliance";
    ViewBag.SubTitle = "Questionnaire Templates";
}
    @if (TempData["success"] != null)
    {
        <div class="alert alert-success">
            <span class="glyphicon glyphicon-exclamation-sign"></span> @TempData["success"]
        </div>
    }
    @if (TempData["message"] != null)
    {
        <div class="alert alert-warning">
            <span class="glyphicon glyphicon-exclamation-sign"></span> @TempData["message"]
        </div>
    }
    @if (TempData["error"] != null)
    {
        <div class="alert alert-danger">
            <span class="glyphicon glyphicon-exclamation-sign"></span> @TempData["error"]
        </div>
    }
<div class="tabbable TabRepaint">
    <ul class="nav nav-tabs" id="tabmenu">
        @NavigationHelper.PrintTabArray(NavigationHelper.TabSet_Compliance, "Tab_Questionnaires")
    </ul>
    <div class="tab-content">
        <div class="tab-pane in active">
            <div class="well speedButtonContainer">
                @NavigationHelper.PrintButtonArray(NavigationHelper.ButtonSet_Questionnaires, "Button_Templates")
            </div>

            @(Html.Kendo().Grid(Model)
                .Name("grid")
                .Columns(columns =>
                {
                    columns.Bound(q => q.ID).Filterable(false).Sortable(false).Template(
                        @<text>
                            <a href="@Url.Action("Preview", new { id=item.ID })" class="btn btn-xs btn-default shiny">
                                <span class="glyphicon glyphicon-list-alt" title="Preview" />
                            </a>

                            @if (item.Deleted == false && User.IsInRole("editQuestionnaires"))
                            {
                                <a href="@Url.Action("Edit", new { id=item.ID })" class="btn btn-xs btn-default shiny">
                                    <img src="~/images/edit.png" title="Edit" />
                                </a>
                            }
                            else
                            {
                                <img src="~/images/placeholder.png" class="btn-xs" />
                            }
                            @if (item.Deleted && User.IsInRole("deactivateQuestionnaires"))
                            {
                                <a href="@Url.Action("Reactivate", new { id=item.ID })" class="btn btn-xs btn-default shiny ">
                                    <img src="~/images/undelete.png" title="Reactivate" />
                                </a>
                            }
                            else if (!item.Locked && User.IsInRole("deactivateQuestionnaires"))
                            {
                                <a href="@Url.Action("Deactivate", new { id=item.ID })" class="btn btn-xs btn-default shiny" @((item.Locked) ? "disabled=disabled" : "")>
                                    <img src="~/images/delete.png" title="Deactivate" />
                                </a>
                            }
                        </text>)
                        .Title(User.IsInRole("createQuestionnaires") ?
                                "<a href=\"/Questionnaires/Create\" class=\"btn btn-xs btn-default shiny\">" +
                                "<span class=\"glyphicon glyphicon-plus\" title=\"Add Questionnaire\" />" +
                                "</a>" : "")
                        .Width(120);
                columns.Bound(q => q.Name).Width(200);
                columns.Bound(q => q.Locked).Filterable(false).Sortable(false).Width(60);
                columns.Bound(q => q.Deleted).Filterable(false).Sortable(false).Width(70);

                columns.Bound(q => q.QuestionnaireTemplateType.Name).Width(70);
                columns.Bound(q => q.EffectiveDate).Width(125);
                columns.Bound(q => q.EndDate).Width(125);
                columns.Bound(q => q.Carrier.Name).Title("Carrier").Template(@<text>@((item.CarrierID == null) ? "(All)" : item.Carrier.Name)</text>).Width(200);
                    columns.Bound(q => q.QuestionnaireSubmissions.Count).Template(@<text>
                        @if (item.Locked)
                        {
                            <a href="@Url.Action("Submissions", new { id = item.ID })" data-toggle="tooltip" title="@item.QuestionnaireSubmissions.Count Submissions"
                               class="btn btn-xs btn-info">
                                @item.QuestionnaireSubmissions.Count
                            </a>
                        }
                    </text>).Width(80);
                    columns.Bound(q => q.LoadDefaults).Width(200);
                    columns.Bound(q => q.ExceptionEmail).Width(200);
                    columns.Bound(q => q.ExceptionFormat).Width(175);
                    columns.Bound(q => q.CreateDateUTC).Width(175);
                    columns.Bound(q => q.CreatedByUser).Width(175);
                    columns.Bound(q => q.LastChangeDateUTC).Width(175);
                    columns.Bound(q => q.LastChangedByUser).Width(175);
                    columns.Bound(q => q.DeleteDateUTC).Width(175);
                    columns.Bound(q => q.DeletedByUser).Width(175);
                })
                .Pageable(pager => pager
                    .PageSizes(Settings.MvcGridPageSizes)
                    .Refresh(true)
                )
                .Filterable(filterable => filterable
                    .Extra(true)   //This extended "filterable" section of code makes the contains filter the default string filter for these grids
                    .Operators(operators => operators
                        .ForString(str => str
                            .Clear()
                            .Contains("Contains")
                            .DoesNotContain("Does not contain")
                            .StartsWith("Starts with")
                            .EndsWith("Ends with")
                            .IsEqualTo("Is equal to")
                            .IsNotEqualTo("Is not equal to")
                        )
                    )
                )
                .Sortable()
                .Groupable()
                .HtmlAttributes(new { style = "height: 800px;", @class = "MVCGridRepaint" })
                .Scrollable()
                .DataSource(dataSource => dataSource
                    .Server()
                    .Sort(sort =>
                    {
                        if (Request.QueryString.Keys.Count == 0)
                        {
                            sort.Add("Name").Ascending();
                        }
                    })
                    .Filter(filter =>
                    {
                        if (Request.QueryString.Keys.Count == 0)
                        {
                            filter.Add(q => q.EffectiveDate).IsLessThanOrEqualTo(DateTime.Today);
                            filter.Add(q => q.EndDate).IsGreaterThanOrEqualTo(DateTime.Today);
                            filter.Add(q => q.DeleteDateUTC).IsNull();
                        }
                    })
                    .Model(model => model.Id(q => q.ID))
                    .PageSize(Settings.DefaultPageSize)
                )
            )
        </div>
    </div>
</div>