﻿@using DispatchCrude.Core;
@using DispatchCrude.Models;
@using DispatchCrude.Extensions;
@model DispatchCrude.ViewModels.FilterViewModel<QuestionnaireSubmission>

@{
    ViewBag.Title = "Compliance";
    ViewBag.SubTitle = "Questionnaire Submissions";
}
@if (TempData["success"] != null)
{
    <div class="alert alert-success">
        <span class="glyphicon glyphicon-exclamation-sign"></span> @TempData["success"]
    </div>
}
@if (TempData["message"] != null)
{
    <div class="alert alert-warning">
        <span class="glyphicon glyphicon-exclamation-sign"></span> @TempData["message"]
    </div>
}
@if (TempData["error"] != null)
{
    <div class="alert alert-danger">
        <span class="glyphicon glyphicon-exclamation-sign"></span> @TempData["error"]
    </div>
}

<div class="tabbable TabRepaint">
    <ul class="nav nav-tabs" id="tabmenu">
        @NavigationHelper.PrintTabArray(NavigationHelper.TabSet_Compliance, "Tab_Questionnaires")
    </ul>
    <div class="tab-content">
        <div class="tab-pane in active">
            <div class="well speedButtonContainer">
                @NavigationHelper.PrintButtonArray(NavigationHelper.ButtonSet_Questionnaires, "Button_Submissions")
            </div>

            <div class="leftpanel">
                <div class="tabbable">
                    <ul class="nav nav-tabs">
                        <li class="active tab-blue">
                            <a data-toggle="tab" href="#Filters" aria-expanded="true">Filters</a>
                        </li>
                        <li class="tab-green">
                            <a data-toggle="tab" href="#Export" aria-expanded="true">Export</a>
                        </li>
                    </ul>
                    <div id="leftTabs" class="tab-content">
                        <div id="Filters" class="tab-pane active">
                            @using (Html.BeginForm("Submissions", "Questionnaires"))
                            {
                                @Html.LabelFor(m => m.QuestionnaireTemplateID)<br />
                                @Html.DropDownList("QuestionnaireTemplateID", null, "(ALL)", htmlAttributes: new { @class = "form-control" })<br />

                                @Html.LabelFor(m => m.CarrierID)<br />
                                @Html.DropDownList("CarrierID", null, "(ALL)", htmlAttributes: new { @class = "form-control" })<br />

                                @Html.LabelFor(m => m.QuestionnaireTemplateTypeID)<br />
                                @Html.DropDownList("QuestionnaireTemplateTypeID", null, "(ALL)", htmlAttributes: new { @class = "form-control" })<br />

                                @Html.LabelFor(m => m.DriverID)<br />
                                @Html.DropDownList("DriverID", null, "(ALL)", htmlAttributes: new { @class = "form-control" })<br />

                                @Html.LabelFor(m => m.TruckID)<br />
                                @Html.DropDownList("TruckID", null, "(ALL)", htmlAttributes: new { @class = "form-control" })<br />

                                @Html.LabelFor(m => m.TrailerID)<br />
                                @Html.DropDownList("TrailerID", null, "(ALL)", htmlAttributes: new { @class = "form-control" })<br />

                                @Html.LabelFor(m => m.StartDate)<br />
                                @Html.EditorFor(m => m.StartDate)<br />
                                @Html.LabelFor(m => m.EndDate)<br />
                                @Html.EditorFor(m => m.EndDate)<br />
                                <div class="spacer20px"></div>
                                <div class="center"><input type="submit" value="Filter" class="btn btn-blue shiny"></div>
                            }
                        </div>

                        <div id="Export" class="tab-pane">
                            @using (Html.BeginForm("ExportSubmissions", "Questionnaires"))
                            {
                                @Html.HiddenFor(m => m.QuestionnaireTemplateID)
                                @Html.HiddenFor(m => m.CarrierID)
                                @Html.HiddenFor(m => m.QuestionnaireTemplateTypeID)
                                @Html.HiddenFor(m => m.DriverID)
                                @Html.HiddenFor(m => m.TruckID)
                                @Html.HiddenFor(m => m.TrailerID)
                                @Html.HiddenFor(m => m.StartDate)
                                @Html.HiddenFor(m => m.EndDate)<br />
                                <div class="center"><input type="submit" value="Export Submissions" @((Model.QuestionnaireTemplateID != null && Model.results.Any()) ? "" : "disabled") class="btn btn-blue shiny"></div>
                            }
                        </div>
                    </div>
                </div>
            </div>

            <div id="gridArea">
                @(Html.Kendo().Grid(Model.results)
                    .Name("grid")
                    .Columns(columns =>
                    {
                        columns.Bound(q => q.ID).Filterable(false).Sortable(false).Template(
                            @<text>
                                <a href="@Url.Action("Submission", new { id=item.ID })" class="btn btn-xs btn-default shiny">
                                    <span class="glyphicon glyphicon-list-alt" title="Preview" />
                                </a>
                            </text>)
                            .Title("")
                            .Width(60);
                        columns.Bound(q => q.QuestionnaireTemplate.Name)
                            .Width(200);
                        columns.Bound(q => q.QuestionnaireTemplate.QuestionnaireTemplateType.Name)
                            .Width(150);
                        columns.Bound(q => q.Passing)
                            .Width(80);
                        columns.Bound(q => q.Driver.FullName)
                            .Width(175);
                        columns.Bound(q => q.Truck.IDNumber)
                            .Width(100);
                        columns.Bound(q => q.Trailer.IDNumber)
                            .Width(100);
                        columns.Bound(q => q.Trailer2.IDNumber).Title("Trailer 2 #")
                            .Width(100);
                        columns.Bound(q => q.SubmissionDateUTC).Template(
                            @<text>
                                @Html.DisplayFor(m => item.SubmissionDateUTC, new { tzid = item.SubmissionTimeZoneID, tzname = "Driver" })
                            </text>)
                            .Width(200);
                    })
                    .Pageable(pager => pager
                        .PageSizes(Settings.MvcGridPageSizes)
                        .Refresh(true)
                    )
                    //.Filterable()
                    //.Sortable()
                    //.Groupable()
                    .HtmlAttributes(new { style = "height: 800px;", @class = "MVCGridRepaint" })
                    .Scrollable()
                    .DataSource(dataSource => dataSource
                        .Server()
                        .Model(model => model.Id(q => q.ID))
                        .Sort(s => s.Add(q => q.SubmissionDateUTC))
                        .PageSize(Settings.DefaultPageSize)
                    //.Read(read => read.Action(ViewBag.Action, "Orders"))
                    //            .Filter(f => f.Add(q => q.DeleteDateUTC).IsEqualTo(null))) will always apply filter
                    )
                )
            </div>
        </div>
    </div>
</div>