﻿@model IEnumerable<DispatchCrude.Models.QuestionnaireTemplateType>
@using DispatchCrude.Core;
@using DispatchCrude.Extensions;

@{
    ViewBag.Title = "Compliance";
    ViewBag.SubTitle = "Questionnaire Template Types";
}

<div class="tabbable TabRepaint">
    <ul class="nav nav-tabs" id="tabmenu">
        @NavigationHelper.PrintTabArray(NavigationHelper.TabSet_Compliance, "Tab_Questionnaires")
    </ul>
    <div class="tab-content">
        <div class="tab-pane in active">
            <div class="well speedButtonContainer">
                @NavigationHelper.PrintButtonArray(NavigationHelper.ButtonSet_Questionnaires, "Button_Types")
            </div>

            @(Html.Kendo().Grid(Model)
                .Name("grid")
                .DataSource(dataSource => dataSource
                    .Ajax()
                    .Filter(filter => filter.Add(m => m.Active).IsEqualTo(true))
                    .Model(model => model.Id(m => m.ID))
                    .PageSize(Settings.DefaultPageSize)
                    .Sort(sort => { if (ViewBag.Load == "Initial") { sort.Add("Name").Ascending(); } })
                    .Create(create => create.Action("TemplateType_Create", "Questionnaires"))
                    .Read(read => read.Action("TemplateType_Read", "Questionnaires"))
                    .Update(update => update.Action("TemplateType_Update", "Questionnaires"))
                    .Destroy(deactivate => deactivate.Action("Delete", "Questionnaires"))
                    .Events(events => { events.Error("onDSErrors"); events.RequestEnd("onDSRequestEnd"); })
                )
                .Excel(excel => excel
                    .AllPages(true)
                    .FileName("Questionnaire_Template_Types.xlsx")
                    .Filterable(true)
                )
                .Events(ev =>
                {
                    ev.ExcelExport("kendoGridExportHelper.ExcelExport");  // This calls Kevin's custom excel functionality
                    ev.Edit("onPopupEdit"); // This just changes the popup's title (Create/Edit). If additional functionality is needed, create a custom function on this page.
                })
                .HtmlAttributes(new { style = "height:800px;", @class = "MVCGridRepaint" })
                .ToolBar(command =>
                {
                    if (User.IsInRole("createQuestionnaires")) command.Create().Text("");
                    command.Excel();
                })
                .Editable(ed => { ed.Mode(GridEditMode.PopUp).TemplateName("Popup_QuestionnaireTemplateType"); ed.DisplayDeleteConfirmation(false); })
                .Pageable(pager => pager
                    .PageSizes(Settings.MvcGridPageSizes)
                    .Refresh(true)
                )
                .Sortable()
                .Scrollable()
                .Filterable(filterable => filterable
                    .Extra(true)   //This extended "filterable" section of code makes the contains filter the default string filter for these grids
                    .Operators(operators => operators
                        .ForString(str => str
                            .Clear()
                            .Contains("Contains")
                            .DoesNotContain("Does not contain")
                            .StartsWith("Starts with")
                            .EndsWith("Ends with")
                            .IsEqualTo("Is equal to")
                            .IsNotEqualTo("Is not equal to")
                        )
                    )
                )
                .Resizable(resizable => resizable.Columns(true))
                .Columns(columns =>
                {
                columns.Template(@<text></text>).ClientTemplate("#= rowCommandsUndelete(data) #").Title("&nbsp;").Width(100);
                    columns.Bound(m => m.Active)
                        .Title("Active?")
                        .ClientTemplate("#= ActiveState(data.Active) #")
                        .Width(85);
                    columns.Bound(q => q.Name)
                        .Width(200);
                    columns.Bound(q => q.IsSystem)
                        .ClientTemplate("#= ActiveState(data.IsSystem) #")
                        .Width(125);
                    columns.Bound(m => m.CreateDate)
                        .Width(200);
                    columns.Bound(m => m.CreatedByUser)
                        .Width(175);
                    columns.Bound(m => m.LastChangeDate)
                        .Width(200);
                    columns.Bound(m => m.LastChangedByUser)
                        .Width(200);
                    columns.Bound(m => m.DeleteDate)
                        .Width(200);
                    columns.Bound(m => m.DeletedByUser)
                        .Width(200);
                })
            )

            @*These inputs are required for create/edit/deactivate permissions functionality*@
            <input id="allowCreate" type="hidden" value="@UserSupport.Allow.Create.OnPage("Questionnaires")" />
            <input id="allowEdit" type="hidden" value="@UserSupport.Allow.Edit.OnPage("Questionnaires")" />
            <input id="allowDelete" type="hidden" value="@UserSupport.Allow.Delete.OnPage("Questionnaires")" />
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        // customKendoGridButtons() fixes the look of the add new button and
        // excel export button that were not addressed directly in the grid above
        customKendoGridButtons();
    });
</script>

@* These scripts need to be included on every Kendo MVC grid page. They include extra "default" grid functions *@
<script src="~/scripts/kendoExcelExportHelper.js?ver=2.1" type="text/javascript"></script>
<script src="~/scripts/kendoGridErrors.js" type="text/javascript"></script>