﻿@model DispatchCrude.Models.QuestionnaireTemplate
@using DispatchCrude.Extensions;
@using DispatchCrude.Models;

@{
    ViewBag.Title = "Compliance";
    ViewBag.Subtitle = "Questionnaires - Wizard: Step 3 - Confirm";
}

<div class="tabbable">
    <ul class="nav nav-tabs" id="tabmenu">
        @NavigationHelper.PrintTabArray(NavigationHelper.TabSet_Compliance, "Tab_Questionnaires")
    </ul>
    <div class="tab-content">
        <div class="tab-pane in active">
            <div class="well speedButtonContainer">
                @NavigationHelper.PrintButtonArray(NavigationHelper.ButtonSet_Questionnaires, "Button_Templates")

                <div class="pull-right">
                    <a class="btn btn-xs btn-blue shiny" href="~/Questionnaires/Index">
                        <span class="glyphicon glyphicon-list-alt"></span> Back to Template list
                    </a>
                </div>
            </div>

            @using (Html.BeginForm("Wizard3", "Questionnaires", FormMethod.Post, new { id = "addquestionform" }))
            {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(m => m.ID)
                <div id="simplewizard" class="wizard">
                    <ul class="steps">
                        <li class="complete"><span class="step">1</span>Create template<span class="chevron"></span></li>
                        <li class="complete" data-target="#simplewizardstep2"><span class="step">2</span>Add Fields<span class="chevron"></span></li>
                        <li data-target="#simplewizardstep3" class="active"><span class="step">3</span>Confirm<span class="chevron"></span></li>
                    </ul>
                </div>
                <div class="step-content" id="simplewizard-steps">
                    <div class="step-pane active" id="simplewizardstep3">
                        <dl class="dl-horizontal inline-block">
                            <dt>
                                @Html.DisplayNameFor(model => model.Name):
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.Name)
                                <div class="spacer10px"></div>
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.QuestionnaireTemplateType.Name):
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.QuestionnaireTemplateType.Name)
                                <div class="spacer10px"></div>
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.CarrierID):
                            </dt>
                            <dd>
                                @((Model.CarrierID == null) ? "(All)" : Model.Carrier.Name)
                                <div class="spacer10px"></div>
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.EffectiveDate):
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.EffectiveDate)
                                <div class="spacer10px"></div>
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.EndDate):
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.EndDate)
                                <div class="spacer10px"></div>
                            </dd>

                            <dt>
                                Questions
                            </dt>
                            <dd>
                                @foreach (var item in Model.QuestionnaireQuestions)
                                {
                                    <li>@item.QuestionText</li>
                                }
                            </dd>

                            <dt>
                                Include a signature?:
                            </dt>
                            <dd>
                                @Html.CheckBox("IncludeSignature")
                            </dd>
                        </dl>
                    </div>
                </div>

                <div class="actions actions-footer" id="simplewizard-actions">
                    <div class="btn-group">
                        @*<button type="submit" name="btnPrev" class="btn btn-blue shiny btn-prev"> <i class="fa fa-angle-left"></i>Prev</button>*@
                        <button type="submit" name="btnNext" class="btn btn-blue shiny btn-next" data-last="Finish">Finish<i class="fa fa-angle-right"></i></button>
                    </div>

                </div>
            }

        </div>
    </div>
</div>