﻿@model DispatchCrude.ViewModels.FilterViewModel<DispatchCrude.ViewModels.OrderSettlementHistory>
@using DispatchCrude.Core;
@using DispatchCrude.Extensions;


@{
    ViewBag.Title = "Settlement";
    ViewBag.SubTitle = Model.CustomFilter + " Log";
}
<div class="tabbable TabRepaint">
    <ul class="nav nav-tabs" id="tabmenu">
        @NavigationHelper.PrintTabArray(NavigationHelper.TabSet_Settlement, "Tab_Log")
    </ul>
    <div class="tab-content">
        <div class="tab-pane in active">
            <div id="speedbuttons" class="well speedButtonContainer">
                @NavigationHelper.PrintButtonArray(NavigationHelper.ButtonSet_TabSettlementLog, "Button_"+Model.CustomFilter)
            </div>
            <div class="leftpanel">
                <div class="tabbable">
                    <ul class="nav nav-tabs">
                        <li class="active tab-blue">
                            <a data-toggle="tab" href="#Filters" aria-expanded="true">Filters</a>
                        </li>
                    </ul>

                    <div id="leftTabs" class="tab-content">
                        <div id="Filters" class="tab-pane active">

                            @using (Html.BeginForm(Model.CustomFilter+"Index", "OrderSettlement", FormMethod.Get))
                            {
                                @Html.HiddenFor(m => m.CustomFilter)
                                <div class="form-group">
                                    @Html.LabelFor(m => m.BatchNum)
                                    @Html.TextBoxFor(m => m.BatchNum, new { @style = "width: 100%" })
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(m => m.OrderNum)
                                    @Html.TextBoxFor(m => m.OrderNum, new { @style = "width: 100%" })
                                </div>

                                <hr>

                                if (Model.CustomFilter == "Shipper")
                                {
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.ShipperID)
                                        @Html.DropDownList("ShipperID", null, "-- ALL --", new { @class = "input-xs", @style = "width: 100%" })
                                    </div>
                                }
                                else if (Model.CustomFilter == "Carrier" || Model.CustomFilter == "Driver")
                                {
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.CarrierID)
                                        @Html.DropDownList("CarrierID", null, "-- ALL --", new { @class = "input-xs", @style = "width: 100%" })
                                    </div>

                                    if (Model.CustomFilter == "Driver")
                                    {
                                        <div class="form-group">
                                            @Html.LabelFor(m => m.DriverGroupID)
                                            @Html.DropDownList("DriverGroupID", null, "-- ALL --", new { @class = "input-xs", @style = "width: 100%" })
                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(m => m.DriverID)
                                            @Html.DropDownList("DriverID", null, "-- ALL --", new { @class = "input-xs", @style = "width: 100%" })
                                        </div>
                                    }
                                }

                                <div class="form-group">
                                    @Html.LabelFor(m => m.CustomFilter2, "Date")
                                    @Html.DropDownList("CustomFilter2", null, new { @class = "input-xs", @style = "width:100%" })
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(m => m.StartDate, "Start")
                                    <span style="float:right">
                                        @Html.EditorFor(m => m.StartDate, new { htmlAttributes = new { @class = "alignRight" } })
                                    </span>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(m => m.EndDate, "End")
                                    <span style="float:right">
                                        @Html.EditorFor(m => m.EndDate)
                                    </span>
                                </div>

                                <div class="center">
                                    <button id="filterbtn" type="submit" class="btn btn-blue shiny">Refresh</button>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
            <div id="gridArea" class="GridRepaint">

                @(Html.Kendo().Grid(Model.results)
                    .Name("grid")
                    .Columns(columns =>
                    {
                        columns.Bound(v => v.Description).Width(150).Title("Status");
                        columns.Bound(v => v.BatchNum).Width(80).Title("Batch");
                        columns.Bound(v => v.OrderDate).Width(120)
                            .ClientTemplate("#if (data.OrderDate != null) {# #=kendo.toString(data.OrderDate, \'M/d/yyyy\')# #}#");
                        columns.Bound(v => v.OrderNum).Width(120).Title("Order")
                            .ClientTemplate("<a href=/Orders/Details/?ID=#= data.OrderID #>#= data.OrderNum #</a>");
                        columns.Bound(v => v.SettlementTimestamp).Width(200).Title("Event Time")
                            .ClientTemplate("#=kendo.toString(data.SettlementTimestamp, \'M/d/yyyy h:mm:ss tt\')#");
                        columns.Bound(v => v.SettledByUser).Width(150).Title("User");
                        columns.Bound(v => v.BatchDate).Width(150)
                            .ClientTemplate("#=kendo.toString(data.BatchDate, \'M/d/yyyy\')#");
                        columns.Bound(v => v.PeriodEndDate).Width(150)
                            .ClientTemplate("#=kendo.toString(data.PeriodEndDate, \'M/d/yyyy\')#");
                        columns.Bound(v => v.InvoiceNum).Width(200);
                        columns.Bound(v => v.OrderNotes).Width(250).HtmlAttributes(new { style = "overflow: hidden; white-space: nowrap; text-overflow: ellipsis;" });
                        columns.Bound(v => v.BatchNotes).Width(250).HtmlAttributes(new { style = "overflow: hidden; white-space: nowrap; text-overflow: ellipsis;" }); ;
                        columns.Bound(v => v.TotalAmount).Width(150);
                        if (Model.CustomFilter == "Driver" || Model.CustomFilter == "Carrier")
                        {
                            if (Model.CustomFilter == "Driver")
                            {
                                columns.Bound(v => v.DriverLast).Width(150);
                                columns.Bound(v => v.DriverFirst).Width(150);
                            }
                            columns.Bound(v => v.Carrier).Width(150);
                        }
                        columns.Bound(v => v.Shipper).Width(150);

                        columns.Bound(v => v.JobNumber).Width(150);
                        columns.Bound(v => v.ContractNumber).Width(150);
                        columns.Bound(v => v.Origin).Width(250);
                        columns.Bound(v => v.Destination).Width(250);
                        columns.Bound(v => v.PreviousDestinations).Width(150);
                        columns.Bound(v => v.ActualMiles).Width(150);
                        columns.Bound(v => v.SettlementVolume).Width(150);
                        columns.Bound(v => v.SettlementUom).Width(150);
                        columns.Bound(v => v.OriginChainupAmount).Width(150);
                        columns.Bound(v => v.DestChainupAmount).Width(150);
                        columns.Bound(v => v.H2SAmount).Width(150);
                        columns.Bound(v => v.RerouteAmount).Width(150);
                        columns.Bound(v => v.OrderRejectAmount).Width(150);
                        columns.Bound(v => v.OriginWaitAmount).Width(150);
                        columns.Bound(v => v.DestinationWaitAmount).Width(150);
                        columns.Bound(v => v.TotalWaitAmount).Width(150);
                        columns.Bound(v => v.SplitLoadAmount).Width(150);
                        columns.Bound(v => v.MiscDetails).Width(150);
                        columns.Bound(v => v.MiscAmount).Width(150);
                        columns.Bound(v => v.FuelSurchargeAmount).Width(150);
                        columns.Bound(v => v.OriginTaxRate).Width(150);
                        columns.Bound(v => v.RouteRate).Width(150);
                        columns.Bound(v => v.RateSheetRate).Width(150);
                        columns.Bound(v => v.LoadAmount).Width(150);
                        //columns.Bound(v => v.IsFinal).Width(150);
                    })
                    .Pageable(pager => pager
                        .PageSizes(Settings.MvcGridPageSizes)
                        .Refresh(true)
                    )
                    .Filterable(filterable => filterable
                        .Extra(true)   //This extended "filterable" section of code makes the contains filter the default string filter for these grids
                        .Operators(operators => operators
                            .ForString(str => str
                                .Clear()
                                .Contains("Contains")
                                .DoesNotContain("Does not contain")
                                .StartsWith("Starts with")
                                .EndsWith("Ends with")
                                .IsEqualTo("Is equal to")
                                .IsNotEqualTo("Is not equal to")
                            )
                        )
                    )
                    .ToolBar(command =>
                    {
                        command.Excel();
                    })
                    .Excel(excel => excel
                        .AllPages(true)
                        .FileName(Model.CustomFilter + "SettlementHistory-" + DateTime.Today.ToString("yyyyMMdd") + ".xlsx")
                        .Filterable(true)
                    )
                    .Sortable()
                    .Groupable()
                    .HtmlAttributes(new { style = "height: 800px;", @class = "MVCGridRepaint" })
                    .Scrollable()
                    .DataSource(dataSource => dataSource
                        .Ajax()
                        .Group(g => {
                            g.Add(c => c.BatchNum);
                            g.Add(c => c.OrderNum);
                        })
                        .Sort(s => {
                            s.Add(x => x.SettlementTimestamp);
                        })
                        .PageSize(Settings.DefaultPageSize)
                        .Read(read => read.Action("Read"+Model.CustomFilter, "OrderSettlement").Data("getParameters"))
                        .Events(events => { events.Error("onDSErrors"); events.RequestEnd("onDSRequestEnd"); })
                    )
                )
            </div>
        </div>
    </div>
</div>


@* These scripts need to be included on every Kendo MVC grid page. They include extra "default" grid functions *@
<script src="~/scripts/jsonSupport.js" type="text/javascript"></script>
<script src="~/scripts/kendoExcelExportHelper.js" type="text/javascript"></script>
<script src="~/scripts/kendoGridErrors.js" type="text/javascript"></script>

<script>
    function getParameters() {
        //This gets the filter values for the grid from the left panel filters
        return {
            CustomFilter: $("#CustomFilter").val()
            , CustomFilter2: $("#CustomFilter2").val()
            , BatchNum: $("#BatchNum").val()
            , OrderNum: $("#OrderNum").val()
            , ShipperID: $("#ShipperID").val()
            , CarrierID: $("#CarrierID").val()
            , BatchDate: $("#BatchDate").val()
            , DriverGroupID: $("#DriverGroupID").val()
            , DriverID: $("#DriverID").val()
            , StartDate: $("#StartDate").val()
            , EndDate: $("#EndDate").val()
        };
    }

    $(document).ready(function () {
        $("#BatchNum").change(enableFilter);
        $("#OrderNum").change(enableFilter);
        $("#StartDate").change(enableFilter);
        $("#EndDate").change(enableFilter);
        enableFilter();
        $("#CustomFilter2").select2();
        if ($("#ShipperID")) { $("#ShipperID").select2(); }
        if ($("#CarrierID")) { $("#CarrierID").select2(); }
        if ($("#DriverGroupID")) { $("#DriverGroupID").select2(); }
        if ($("#DriverID")) { $("#DriverID").select2(); }
    });
    function enableFilter() {
        // force to filter by batch, order, or at least a date range to limit results
        if ($("#BatchNum").val() != "" || $("#OrderNum").val() != "" || $("#StartDate").val() != "" && $("#EndDate").val() != "")
            $("#filterbtn").removeAttr('disabled');
        else
            $("#filterbtn").attr('disabled', 'disabled');
    }
</script>