/**************************************************
*   DISPATCHCRUDE.COM HOS Daily Log STYLESHEET    *
*                                                 *
*   NOTES                                         *
*   -  Print Range Width 720 Pixels = 7.5 Inches  *
*      Wide and 960 Pixels = 10 Inches High       *
**************************************************/

/* HTML ELEMENTS */
body
{
    font-family:Sans-Serif;     	
	width:100%;
}

table 
{
    width:100%;
}


th
{
    background-color: #dedeff
}

.bordertable {
    border: solid 1px black ;
    border-collapse: collapse;
    margin: 5px auto 5px auto;
	font-size:12px;
}

.bordertable td {
    text-align:left;
    padding:5px;
	word-wrap:break-word;
    border: solid 1px black ;
 }

.bordertable th {
    padding:5px;
    border: solid 1px black ;
 }

.hosgraph{
    height:200px;
    font-size:12px;
}
.topalign 
{
    vertical-align: top;
}
.condensed td {
    padding: 1px;
}

.noborder td
{border:none;
 vertical-align:top;
}

.hosgraphlabel{
    height:130px;
    top: 7px;
    position: relative;
}
.hosgraphlabel td{
    vertical-align: middle;
    font-size: 9px;
    white-space:nowrap;
}

.hosgraphtotal{
    height:130px;
    top: 7px;
    position: relative;
    padding-right: 10px;
}
.hosgraphtotal td{
    vertical-align: middle;
    font-size: 12px;
    white-space:nowrap;
    text-align:right;
}

.recaptable td{text-align:center; font-size:10px}

hr {
    width: 790px;
}

.graphheader{
    width: 600px;
}
.graphheader td{
    width: 24px;
    font-size:10px;
    text-align: center;
}

/* ID'S */
#pagewrap {
    background-color:#FFF;
    width:900px;
    margin:0 auto 0 auto;
    height:1150px;	
    text-decoration:none;
}

#printsafe{
	width:800px;
	height:1150px;
	margin-top:30px;
    margin-left:auto;
    margin-right:auto;
	position:relative;
}

#header{
	width:800px;
}

#headerimg{
	width:800px;
	height:100px;
}

#ticket-type {
    width:40%;
    text-align:center;
    margin-left:auto;
    margin-right:auto;
}

#footer {
    width:100%;
	height:40px;
    text-align:center;
    font:10px Sans-Serif;
    margin-top:20px;
	position:absolute;
	bottom:0;
}

#certification{
	width:100%;
	text-align:left;
	font-size:10px;
}

#corrections {
    text-align:left;
}

/* CLASSES */
.tab{
	margin-left:15px;
}

.ticket_col_1, .ticket_col_2, .tab{
	display:inline;
	font-weight:bold;
	width:100%;
}

.ticket,.reroute,#corrections{
	background-color:#BBB;
}

.signature{
	width:200px;
	height:auto;	
    border-bottom: solid 1px black ;
}

.signaturenote{
    font-size: 8px;
}

.custom-field-label{
    display: inline;
    font-weight: bold;
}