﻿/* DEFAULTS
----------------------------------------------------------*/

html, body
{
    min-height: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
    background-color: Gray;
    min-width:1150px;
}
body   
{
    background: #b6b7bc;
    font-size: 0.80em;
    font-family: "Helvetica Neue", "Lucida Grande", "Segoe UI", Arial, Helvetica, Verdana, sans-serif;
    margin: 0px;
    padding: 0px;
    color: #000;        /* body text color */
}

a:link, a:visited
{
    color: #034af3;
}

a:hover
{
    color: #1d60ff;
    text-decoration: none;
}

a:active
{
    color: #034af3;
}

p
{
    margin-bottom: 10px;
    line-height: 1.6em;
}

.sidebarFilter
{
    background-color: lightgray;
    padding: 4px 10px 4px 10px;
}

/* HEADINGS   
----------------------------------------------------------*/

h1, h2, h3, h4, h5, h6
{
    font-size: 1.5em;
    color: #000;
    font-variant: small-caps;
    text-transform: none;
    font-weight: 200;
    margin-bottom: 0px;
}

h1
{
    font-size: 1.6em;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

h2
{
    font-size: 1.5em;
    font-weight: 600;
}

h3
{
    font-size: 1.2em;
}

h4
{
    font-size: 1.1em;
}

h5, h6
{
    font-size: 1em;
}

/* this rule styles <h1> and <h2> tags that are the 
first child of the left and right table columns */
.rightColumn > h1, .rightColumn > h2, .leftColumn > h1, .leftColumn > h2
{
    margin-top: 0px;
}


/* PRIMARY LAYOUT ELEMENTS   
----------------------------------------------------------*/

/* //BEGIN// the following 3 rules only apply to two of the administration pages*/
.treeview 
{
	width:500px;	
	max-height:630px;
	overflow:scroll;
}
@media screen and (max-height: 759px) 
{
	.treeview 
	{		
		max-height:380px;		
	}
}
@media screen and (min-height: 760px) and (max-height: 900px) 
{
	.treeview 
	{		
		max-height:490px;		
	}
}
/* //END//  */

.page
{
    width: 99.8%;
    background-color: #fff;
    margin: 0 0 0 0;
    border:1px solid #000;
}

.header
{
    position: relative;
    margin: 0px;
    padding: 0px;
    background: #FFF;  /*Page header color*/
    background-image:url('/images/header_back.png');
    background-size:10px 138px;
    background-repeat:repeat-x;
    background-position:left bottom;
    width: 100%;
}

.headerdivider
{
    margin: 0px;
    padding: 0px;
    background-image:url('/images/horiz_3d_line.png');
    background-repeat:repeat-x;
    background-position:left bottom;
    width:100%;
    height: 5px;
}

.header h1
{
    font-weight: 700;
    margin: 0px;
    padding: 0px 0px 0px 20px;
    color: #000;
    border: none;
    line-height: 2em;
    font-size: 3em;
}

.rootmain
{
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    min-height: 420px; 
}

.main
{
    /*padding: 0px 0px 0px 0px;*/
    padding: 5px 5px 1px 5px;
    min-height: 450px; 
}

.leftCol
{
    padding: 6px 0px;
    margin: 12px 10px 10px 10px;
    width: 200px;
    min-height: 200px;
}

.footer
{
    color: #000;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px;
    text-align: center;
    line-height: normal;
    vertical-align: bottom;
}


/* TAB MENU   
----------------------------------------------------------*/

div.hideSkiplink
{
    /*background-color:#FFF;      /* menu area - second (lower) header color */
    width:100%;
}

div.menu
{
    padding: 0px 0px 4px 4px;
}

div.menu ul
{
    list-style: none;
    margin: 0px;
    padding: 0px;
    width: auto;
    z-index:2550;
}

div.menu ul li a, div.menu ul li a:visited
{
    /*background-color: #ffe35a; /* Inner Menu button color */
    border: 1px #777 solid; /* Outer menu button color (border) */
    background-image:url('/images/menu_button_normal.png');
    background-repeat:repeat-x;
    color: #000;
    display: block;
    line-height: 1.35em;
    padding: 4px 20px;
    text-decoration: none;
    white-space: nowrap;
}

div.menu ul li a:hover
{
    /*background-color: #fd9e07; /* menu hover color*/
    background-image:url('/images/menu_button_hover.png');
    background-repeat:repeat-x;
    color: #000;
    text-decoration: none;
}

div.menu ul li a:active
{
    background-color: #b87e22;
    color: #fff;
    text-decoration: none;
}

/* FORM ELEMENTS   
----------------------------------------------------------*/

fieldset
{
    margin: 0 0 10px 0;
    padding: 1em;
    border: 1px solid #888;
}

fieldset p 
{
    margin: 2px 12px 10px 10px;
}

fieldset.login label, fieldset.register label, fieldset.changePassword label
{
    display: block;
}

fieldset label.inline 
{
    display: inline;
}

legend 
{
    font-size: 1.1em;
    font-weight: 600;
    padding: 2px 4px 8px 4px;
}

input.textEntry 
{
    width: 320px;
    border: 1px solid #ccc;
}

input.passwordEntry 
{
    width: 320px;
    border: 1px solid #ccc;
}

div.accountInfo
{
    width: 42%;
}

/* MISC  
----------------------------------------------------------*/
.clear
{
    clear: both;
}
div.spacer
{
    height: 8px;
}
div.dblspacer
{
    height: 16px;
}
.title
{
    display: block;
    float: left;
    text-align: left;
    width: auto;
}

.loginDisplay
{
    font-size: 1.1em;
    display: block;
    text-align: right;
    padding: 10px;
    color: #000;
}

.loginDisplay a:link
{
    color: #000;
}

.loginDisplay a:visited
{
    color: #000;
}

.loginDisplay a:hover
{
    color: #000;
}

.failureNotification
{
    font-size: 1.2em;
    color: Red;
}

.bold
{
    font-weight: bold;
}

.submitButton
{
    text-align: right;
    padding-right: 10px;
}

/* ---------- CUSTOM CSS RULES GO AFTER THIS LINE ---------- */

#SiteLogo
{
    width: 75px;
    height: 68px;
}

#DataEntryFormFields
{
    left:0px;
    width:100%;
    margin:10px 10px 10px 10px;
}

#DataEntryFormGrid
{
    width:100%;
}

#DataEntryFieldCol1
{
    float:left;
    width:49%;
}

#DataEntryFieldCol2
{
    float:left;
    width:49%;
}
.FormFieldSet
{
    width:100%;
    border:1px solid #AAA;
}

.FormLabel
{
    display:inline-block;
    width:125px;
    text-align:right;
    margin: 0 5px 0 0;
}

.FormInputBox
{
    display:inline-block;
    float:right;
    width:200px;
}

.FormInputDDL
{
    display:inline-block;
    float:right;
    width:204px;
}

/*  !important  overrides default embeded css in telerik controls. this applies to <DateInput> tag part */
/*.FormInputDatePicker*/
#ctl00_MainContent_RadDatePicker1_wrapper 
{
    display:inline !important;
    padding-right:9px !important;
    float:right !important;
    width:206px !important;
}

/* overrides default telerick css for date picker*/
.riTextBox
{
    border-color:Gray !important;
}

.FormSubmitbutton
{
    float:right;
    width:205px;
    margin: 20px 0 0 0;
}

.NullValidator
{
    color:Red;
}

.DisplayNone
{
    display:none;
}

#sidebar        /* For left selection/entry controls */
{
    float:left;
    width:20%;
    max-width: 250px;
    margin-right:10px;
}

#gridArea       /* For grids on page with a (left) sidebar */
{
    overflow:auto;
}

.SecondaryTitle
{
    font-variant: small-caps;
    font-size: 1.4em;
    font-weight: bold;
    padding: 0px 6px 20px 6px;
    margin: 0px 0px 20px 0px;
    color: White;
    Width:100%;
}
.SecondarySep
{
    padding: 0px 3px 0px 3px;
    margin: 0px 0px 0px 0px;
}

/* TicketEntryTable stuff */
.TicketEntryTable
{
    border:1px solid black;
    border-spacing: 0px;
    width:100%;
}
.disabledHeadingCell
{
    border:1px solid black;
    width:155px;
    text-align:center;
    padding-left:3px;
    background-color: #D3D3D3; /* light gray */
}
.enabledHeadingCell
{
    border:1px solid black;
    width:155px;
    text-align:center;
    padding-left:3px;
    background-color: White;
}
.disabledDataCell
{
    border:1px solid black;
    text-align:center;
    padding-left: 3px;
    padding-right: 3px;
    background-color: #D3D3D3; /* light gray */
    vertical-align:middle;
}
.enabledDataCell
{
    border:1px solid black;
    text-align:center;
    padding-left: 3px;
    padding-right: 3px;
    background-color: Yellow;
    text-align:center;
    vertical-align:middle;
}
.enabledDataControl
{
    text-align: center;
}
.validatorCell
{
    border-style: none;
    width: 1px;
}
/* END: TicketEntryTable stuff */
/*.floatLeft
{
    float:left;
}
.floatRight
{
    float:right;
}*/
/* need to ensure 'position: relative' is also set on the parent */
.floatBottom
{
    position:absolute; 
    bottom:0;
}
.minWidth320
{
    min-width:320px;
}
.maxWidth500
{
    max-width:500px;
}
.anytime_calendar_button
{
    background-image:url(/images/calendar.png);
    background-position:right center;
    background-repeat:no-repeat; 
}
/* hide the spinner displayed on input type="number" */
input[type=number]::-webkit-inner-spin-button 
{
    -webkit-appearance: none;
}
.RightAlign
{
    text-align: right;
}
.RadGrid_Default tr.rgAltRow
{
    background: #aec5ff;
}
label.Entry
{
    display: block;
}
div.Entry
{
    padding-bottom: 5px;
}

.gridList tr th td
{
    padding-left: 3px;
    padding-right: 3px;
}
.gridListOdd
{
    background-color: lightblue;
}
.scrollingControlContainer
{
    overflow-x: hidden;
    overflow-y: auto;
}
.scrollingCheckBoxList
{
    border-style: Solid;
    border-width: 1px;
    border-color: DarkGray;
}
.rddtScroll
{
    max-height: 400px;
}

/*
    ORDER MAP CSS
*/
#map-canvas {
    float: left;
    margin-left: 10px;
    height: 98%;
    width: 98%;
    border: 1px solid #000;
}
#reg-canvas {
    margin-left: 10px;
}
/*.leftPanel {
    float: left;
    background-color: lightgray;
    padding: 10px 10px 10px 10px;    
    width: 20%; 
    min-width: 245px;
    max-width: 350px;
}*/
.viewMap {
    text-align: center;
}
.mapTableHeader {
    font-weight: bold;
    text-align: center;
    vertical-align: top;
}
.mapTableLabel {
    font-weight: bold;
    text-align: right;
    padding-right: 5px;
    vertical-align:top;
}
img.mapicon {
    height: 15px;
    width: auto;
}

.whitelink {
    color: #fff;
}

.table-striped-expand>tbody>tr:nth-child(4n-3)>td,.table-striped-expand>tbody>tr:nth-child(4n-3)>th{
    background-color:#f9f9f9
}

.row {
    margin-top: 10px;
}

/* Prevent Origin and Destination rows from becoming x inches tall when multiple shippers/products are defined  */
.showEllipsis {
    text-overflow: ellipsis;
    white-space: nowrap;
}

/***********************
IMPORT CENTER CSS
************************/

#tlFields {
          height: 100%;
        }

#sbAction {
            display: inline-block;
        }
        #sbAction .emptyItem {
            border-right-width: 0;
        }

#ic-container 
{
    height: 95%;
    width: 95%; 
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

#ic-form 
{
    width: 100%
}

#ic-header
{
    height: 85px; 
    width: 100%; 
    background-color: #6B94FF; 
    color: white;
    text-align: center;
    border-radius: 5px;
    box-shadow: 5px 5px 5px grey;
    padding: 5px;
}

.large-text
{
    font-size: 2em;
    font-weight: bold;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-variant: small-caps;
}