select{
	width:153px;
}

#table{
	display:table;
	border-collapse:collapse;
	width:auto;
}

#timezone{
	width:120px !important;
}

.tablerow{
	display:table-row;
	width:auto;
}

.label{
	display:table-cell;	
	text-align:right;
	padding-left:10px;
}

.data{
	display:table-cell;	
	text-align:left;
	padding-left:10px;
}

.latlon{
	width:100px;
}

.datepick{
	width:153px;
}