﻿@model IEnumerable<DriverSettlementStatementEmail>
@using DispatchCrude.Core;
@using DispatchCrude.Extensions;
@using DispatchCrude.Models;
@using AlonsIT;

@{
    try
    {
        ViewBag.Title = "Settlement";
        ViewBag.SubTitle = "Driver Settlement Statement Emails";
    }
    catch (Exception) { }
}
<div class="tabbable TabRepaint">
    <ul class="nav nav-tabs" id="tabmenu">
        @NavigationHelper.PrintTabArray(NavigationHelper.TabSet_Settlement, "Tab_PdfExport")
    </ul>
    <div class="tab-content">
        <div class="tab-pane in active">
            <div class="well speedButtonContainer">
                @NavigationHelper.PrintButtonArray(NavigationHelper.ButtonSet_TabPdfExports, "Button_DriverSettlementStatementEmails")
            </div>
            @(Html.Kendo().Grid(Model)
                .Name("grid")
                .DataSource(ds => ds
                    .Ajax()
                    .Model(model =>
                    {
                        model.Id(m => m.ID);
                        // added to explicitly force a numeric filter to be used
                        model.Field(m => m.Batch.BatchNum);
                        // required to be explicitly defined so the column "type" is date so the appropriate date filter is used
                        model.Field(m => m.Batch.BatchDate);
                        model.Field(m => m.Batch.PeriodEndDate);
                    })
                    .Filter(filter => {
                        if (ViewData.ContainsKey("BatchNum"))
                            filter.Add(model => model.Batch.BatchNum).IsEqualTo(DBHelper.ToInt32(ViewData["BatchNum"]));
                        else
                            filter.Add(model => model.Batch.PeriodEndDate).IsGreaterThan(DateTime.Now.Date.AddMonths(-2));
                    })
                    .PageSize(Settings.DefaultPageSize)
                    .Sort(sort => {
                        sort.Add(model => model.Batch.BatchNum).Descending();
                    })
                    .Read(read => read.Action("Read", "DriverSettlementStatementEmail"))
                    .Create(create => create.Action("Create", "DriverSettlementStatementEmail")) // this will fail - the button is hidden (below)
                    .Update(update => update.Action("Update", "DriverSettlementStatementEmail"))
                    .Destroy(update => update.Action("Delete", "DriverSettlementStatementEmail")) // also prevented - not actually implemented
                    .Events(events => { events.Error("onDSErrors"); events.RequestEnd("onDSRequestEnd"); })
                )
                .Excel(excel => excel
                    .AllPages(true)
                    .FileName("Driver Settlement Statement Emails.xlsx")
                    .Filterable(true)
                )
                .Events(ev =>
                {
                    ev.ExcelExport("kendoGridExportHelper.ExcelExport");  // This calls Kevin's custom excel functionality
                    ev.Edit("onPopupEdit");
                })
                .HtmlAttributes(new { style = "height:800px;", @class = "MVCGridRepaint" })
                .ToolBar(command =>
                {
                    // Create not authorized ever - if (User.IsInRole("createDriverSettlementStatementEmail")) command.Create().Text("");
                    command.Excel();
                })
                .Editable(ed => { ed.Mode(GridEditMode.PopUp).TemplateName("Popup_DriverSettlementStatementEmail"); ed.DisplayDeleteConfirmation(false); })
                .Pageable(pager => pager
                    .PageSizes(Settings.MvcGridPageSizes)
                    .Refresh(true)
                )
                .Sortable()
                .Scrollable()
                .Filterable(filterable => filterable
                    .Extra(true)   //This extended "filterable" section of code makes the contains filter the default string filter for these grids
                    .Operators(operators => operators
                        .ForString(str => str
                            .Clear()
                            .Contains("Contains")
                            .DoesNotContain("Does not contain")
                            .StartsWith("Starts with")
                            .EndsWith("Ends with")
                            .IsEqualTo("Is equal to")
                            .IsNotEqualTo("Is not equal to")
                        )
                    )
                )
                .Resizable(resizable => resizable.Columns(true))
                .Columns(columns =>
                {
                columns.Bound(m => m.QueueEmailSend)
                    .ClientTemplate("<input type='checkbox' id='chkQueue_#=data.ID#' data-id='#=data.ID#' #=data.QueueEmailSend ? 'checked' : ''# class='singleSelect' onClick='single_Checked(this)'></input>")
                    .HeaderTemplate("<input type='checkbox' id='chkAll' class='allSelect' onClick='all_Checked(this)'></input>")
                    .Title("&nbsp;")
                    .Filterable(false)
                    .Sortable(false)
                    .Width(35);
                columns.Template(@<text></text>).ClientTemplate("#= rowCommandsUndelete(data) #")
                        .Title("&nbsp;")
                        .Width(50);
                    columns.Bound(model => model.EmailDate)
                        .Title("Email Date")
                        .Format("{0:M/d/yy hh:mm tt}")
                        .Width(140);
                    columns.Bound(model => model.EmailedByUser)
                        .Title("Emailed By")
                        .ClientTemplate("<text data-id='#=data.ID#'>#=data.EmailedByUser || ''#</text>")
                        .Width(150);
                    columns.Bound(model => model.DriverSettlementStatementEmailDefinition.Name)
                        .Title("Email Definition")
                        .ClientTemplate("#= drillToValue(data, 'DriverSettlementStatementEmailDefinition.Name') #")
                        .Width(175);
                    columns.Bound(model => model.PdfExport.Name)
                        .Title("Pdf Export")
                        .ClientTemplate("#= drillToValue(data, 'PdfExport.Name') #")
                        .Width(175);
                    columns.Bound(model => model.Batch.BatchNum)
                        .Title("Batch #")
                        .ClientTemplate("#= drillToValue(data, 'Batch.BatchNum') #")
                        .Width(110);
                    columns.Bound(model => model.Batch.BatchDate)
                        .Title("Batch Date")
                        .ClientTemplate("#= moment(data.Batch.BatchDate).format('M/D/YY')#") //.Format("{0:M/d/yy}")
                        .Width(110);
                    columns.Bound(model => model.Batch.PeriodEndDate)
                        .Title("Period End")
                        .ClientTemplate("#= moment(data.Batch.PeriodEndDate).format('M/D/YY')#") //.Format("{0:M/d/yy}")
                        .Width(110);
                    columns.Bound(model => model.Driver.CarrierID)
                        .Title("Carrier")
                        .ClientTemplate("#= drillToValue(data, 'Driver.Carrier.Name') #")
                        .Width(120);
                    columns.Bound(model => model.Driver.FullName)
                        .Title("Driver")
                        .ClientTemplate("#= drillToValue(data, 'Driver.FullName') #")
                        .Width(120);
                    columns.Bound(model => model.EmailAddress)
                        .Title("Email Address")
                        .Width(140);
                    columns.Bound(model => model.CCEmailAddress)
                        .Width(140);
                    columns.Template(@<text></text>)
                        .Title("Email Body")
                        .ClientTemplate(
                            @"<div>
                                <a href='/DriverSettlementStatementEmail/DownloadEmailBody/#=data.ID#'><span class='glyphicon glyphicon-download-alt' title='Download' /></a>
                                HTML
                            </div>")
                        .Width(110);
                    columns.Template(@<text></text>)
                        .Title("Attachment")
                        .ClientTemplate(
                            @"<div>
                                <a href='/DriverSettlementStatementEmail/DownloadAttachment/#=data.ID#' draggable='true'><span class='glyphicon glyphicon-download-alt' title='Download' /></a>
                                PDF
                            </div>")
                        .Width(110);
                    columns.Bound(model => model.CreateDate)
                        .Format("{0:M/d/yy hh:mm tt}")
                        .Width(130);
                    columns.Bound(model => model.CreatedByUser)
                        .Width(140);
                })
)

            @*These inputs are required for create/edit/deactivate permissions functionality*@
            <input id="allowCreate" type="hidden" value="false" />
            <input id="allowEdit" type="hidden" value="@UserSupport.Allow.Edit.OnPage("DriverSettlementStatementEmail")" />
            <input id="allowDelete" type="hidden" value="false" />
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        // customKendoGridButtons() fixes the look of the add new button and
        // excel export button that were not addressed directly in the grid above
        customKendoGridButtons();
    });
    function single_Checked(sender) {
        $(".allSelect").prop("checked", false);
        submitQueueToServer($(sender));
    }
    function all_Checked(sender) {
        $(".singleSelect").prop("checked", $(sender).prop("checked"));
        submitQueueToServer($(".singleSelect"));
    }
    function submitQueueToServer(elements) {
        // retrieve the data to submit
        var data = { QueueEmailSend: elements.first().prop("checked"), IdList: [] };
        elements.each(function () {
            data.IdList.push($(this).attr("data-id"));
        });
        // submit the data to the server
        $.ajax({
            type: "POST"
            , url: "/DriverSettlementStatementEmail/UpdateQueueEmailSend"
            , data: kendo.stringify(data)
            , contentType: "application/json"
            , success: function (data) {
                debugger;
                // update the grid with the incoming data
                for (i = 0; i < data.length; i++) {
                    $(".singleSelect[data-id='" + data[i].ID + "']").prop("checked", data[i].QueueEmailSend);
                    $("text[data-id='" + data[i].ID + "']")[0].innerText = data[i].EmailedByUser;
                }
            }
        });
    }
</script>
@* These scripts need to be included on every Kendo MVC grid page. They include extra "default" grid functions *@
<script src="~/scripts/jsonSupport.js" type="text/javascript"></script>
<script src="~/scripts/kendoExcelExportHelper.js" type="text/javascript"></script>
<script src="~/scripts/kendoGridErrors.js" type="text/javascript"></script>