﻿@model IEnumerable<DispatchCrude.Models.DriverCompliance>
@using DispatchCrude.Models;



<div>
    <table class="table table-hover table-condensed">
        <thead>
            <tr>
                <th valign="bottom" align="center">RECORD TYPE</th>                
                <th><div class="center">HAS<br />RECORD?</div></th>
                <th><div class="center">HAS<br />DOCUMENT?</div></th>                
                <th valign="bottom"><div class="center">EXPIRED?</div></th>
                <th valign="bottom"><div class="center">COMPLIANT?</div></th>
            </tr>
        </thead>        
        <tbody>
            @{
                DispatchCrudeDB db = new DispatchCrudeDB();

                foreach (DriverComplianceType complianceType in ViewBag.ActiveComplianceTypes)
                {
                    DriverCompliance complianceRecord = Model.Where(dc => dc.ComplianceTypeID == complianceType.ID).OrderBy(dc => dc.CreateDateUTC).FirstOrDefault();

                    <tr>
                        <td>
                            @complianceType.Name
                        </td>
                        <td align="center">
                            @if (complianceRecord != null)
                            {
                                <i class="fa fa-check success"></i>
                            }
                        </td>
                        <td align="center">
                            @if (complianceRecord != null)
                            {
                                if (complianceType.RequiresDocument)
                                {
                                    if (complianceRecord.Document == null)
                                    {
                                        //If the doc is required but null - error
                                        <i class="fa fa-close danger"></i>
                                    }
                                    else
                                    {
                                        //if the doc is required but exists without the above errors - success
                                        <i class="fa fa-check success"></i>
                                    }
                                }
                                else
                                {
                                    if (complianceRecord.Document == null)
                                    {
                                        //If the doc is not required AND is null - No message
                                    }
                                    else
                                    {
                                        //If the doc is not required but does exist - success
                                        <i class="fa fa-check success" title="Exists (Not Required)"></i><text>&nbsp;</text><i class="fa fa-info-circle info" title="Exists (Not Required)"></i>
                                    }
                                }
                            }
                        </td>
                        <td align="center">
                            @if (complianceRecord != null)
                            {
                                if (complianceType.Expires)
                                {
                                    //If doc type expires
                                    if (complianceRecord.Expired)
                                    {
                                        <i class="fa fa-exclamation danger" title="Document Expired"></i>
                                    }
                                }
                                else
                                {
                                    //If doc type does not expire
                                    if (complianceRecord.Expired)
                                    {
                                        <i class="fa fa-exclamation info" title="Document Expired (Not Enforced)"></i>
                                    }
                                }
                            }
                        </td>
                        <td align="center">
                            @if (complianceRecord != null)  //If compliance record exists
                            {                              
                                if (complianceRecord.IsCompliant)
                                {
                                    //If record is required AND is compliant
                                    <span class="badge badge-square badge-success"><i class="fa fa-check"></i></span>
                                }
                                else
                                {
                                    //If record is required and is not compliant
                                    <span class="badge badge-square badge-danger"><i class="fa fa-close"></i></span>
                                }                                
                            }
                            else  //If compliance Record does not exist
                            {
                                if (complianceType.IsRequired)
                                {
                                    //If record is required but does not exist - error
                                    <span class="badge badge-square badge-danger"><i class="fa fa-close"></i></span>
                                }
                                else
                                {
                                    //If record is not required AND doesn't exist - success
                                    <span class="badge badge-square badge-success"><i class="fa fa-check"></i></span>
                                }
                            }
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>