﻿@model IEnumerable<DispatchCrude.ViewModels.DriverScheduleViewModel>
@using DispatchCrude.Models;

@{ 
    int shift = ViewBag.Shift ?? 7;
}
<div>
    <table class="table table-bordered table-condensed">
        <thead>
            <tr>
                @for (int i = 0; i < shift; i++)
            {
                    <th style="text-align:center;width:@(Math.Round(100.0/shift))%">
                        <span title="@(DateTime.Today.AddDays(i).ToString("MM/dd"))">
                            @(DateTime.Today.AddDays(i).ToString("ddd").ToUpper())
                        </span>
                    </th>
                }
            </tr>
        </thead>
        <tbody>
            <tr>
                @foreach (var item in Model)
                {
                    <td style="text-align:center">
                        <span class="text-center">
                            @if (item.StatusID == null || item.StatusID == (int)DriverScheduleStatus.TYPE.UnDefined)
                            {
                                <i class="fa fa-question warning"></i>
                            }
                            else if (item.OnDuty.Value)
                            {
                                @item.StartDateTime.Value.ToString("h:mm tt")
                            }
                            else
                            {
                                <i class="fa fa-close danger"></i>
                            }
                        </span>
                    </td>
                }
            </tr>
        </tbody>
    </table>
    <i class="pull-right text-muted"><small>* - All times in driver's local timezone</small></i>
</div>