﻿@model DispatchCrude.Models.Driver
@using DispatchCrude.Extensions;

@{
    ViewBag.Title = "Resources";
    ViewBag.SubTitle = "Driver Details";

    DateTime LogDate = DateTime.Today;
}
<div class="tabbable">
    <ul class="nav nav-tabs" id="tabmenu">
        @NavigationHelper.PrintTabArray(NavigationHelper.TabSet_Resources, "Tab_Drivers")
    </ul>

    <div class="tab-content">
        <div class="tab-pane in active">

            <div id="speedbuttons" class="well speedButtonContainer">
                @NavigationHelper.PrintButtonArray(NavigationHelper.ButtonSet_TabDrivers, "")
            </div>
            <div class="row">
                <div class="col-xs-12 col-md-5">
                    <div class="well with-header box-shadow-small">
                        <div class="header bordered-blue">
                            Driver
                            <div class="pull-right">
                                <a href="~/Drivers?IDNumber=@(Model.IDNumber)" class="btn btn-xs btn-blue shiny" title="Driver Maintenance"><i class="fa fa-pencil"></i></a>
                            </div>
                        </div>

                        <h2>@Model.FullName_FlagInactive</h2>

                        <div class="panel-body">
                            <div class="row panel-row">
                                <div class="panel-body-left-col">Carrier:</div>
                                <div class="panel-body-right-col"><a href="~/Site/TableMaint/Carriers.aspx?id=@(Model.CarrierID)">@Model.Carrier.Name</a></div>
                            </div>
                            <div class="row panel-row">
                                <div class="panel-body-left-col">Terminal:</div>
                                <div class="panel-body-right-col">@((Model.Terminal == null) ? "(All Terminals)" : Model.Terminal.Name)</div>
                            </div>
                            <div class="row panel-row">
                                <div class="panel-body-left-col">Default Truck:</div>
                                <div class="panel-body-right-col">@((Model.Truck == null) ? "" : Model.Truck.IDNumber)</div>
                            </div>
                            <div class="row panel-row">
                                <div class="panel-body-left-col">Default Trailer:</div>
                                <div class="panel-body-right-col">@((Model.Trailer == null) ? "" : Model.Trailer.IDNumber)</div>
                            </div>

                            <div class="row panel-row">
                                <div class="panel-body-left-col">Email:</div>
                                <div class="panel-body-right-col"><i class='fa fa-envelope'></i> <a href='mailto:@(Model.Email)'>@(Model.Email)</a></div>
                            </div>
                            <div class="row panel-row">
                                <div class="panel-body-left-col">Phone:</div>
                                <div class="panel-body-right-col"><i class='fa fa-phone'></i> <a href='tel:@(Model.MobilePhone)'>@(Model.MobilePhone)</a></div>
                            </div>

                            <div class="row panel-row">
                                <div class="panel-body-left-col">Operating Region:</div>
                                <div class="panel-body-right-col">@((Model.Region == null) ? "" : Model.Region.Name)</div>
                            </div>
                            <div class="row panel-row">
                                <div class="panel-body-left-col">Operating State:</div>
                                <div class="panel-body-right-col">@((Model.OperatingState == null) ? "" : Model.OperatingState.FullName)</div>
                            </div>
                            <div class="row panel-row">
                                <div class="panel-body-left-col">Driver Group:</div>
                                <div class="panel-body-right-col">@((Model.DriverGroup == null) ? "" : Model.DriverGroup.Name)</div>
                            </div>
                        </div>
                        @*
                            Equipment (currently assigned to user)
                            Type, Manufacturer, model #, serial #, phone # las driver, last sync

                            app history
                            mobile app version, tablet ID, last sync date*@
                    </div>

                    <div class="well with-header box-shadow-small">
                        <div class="header bordered-blue">
                            Schedule
                            @if (User.IsInRole("viewDriverScheduling"))
                            {
                                <div class="pull-right">
                                    <a href="/DriverScheduling" class="btn btn-xs btn-blue shiny" title="Driver Scheduling"><i class="fa fa-pencil"></i></a>
                                </div>
                            }
                        </div>
                        <div class="panel-body">
                            <div class="row panel-row">
                                <div class="panel-body-left-col">Shift Type:</div>
                                <div class="panel-body-right-col">@(Model.DriverShiftType == null ? "" : Model.DriverShiftType.Name)</div>
                            </div>
                            <div class="row panel-row">
                                <div class="panel-body-left-col">Shift Start Date:</div>
                                <div class="panel-body-right-col">@(Model.DriverShiftStartDate == null ? "" : Model.DriverShiftStartDate.Value.ToString("M/d/yyyy"))</div>
                            </div>
                        </div>
                        @Html.Action("Scheduling", new { DriverID = Model.ID })
                    </div>

                    <div class="well with-header box-shadow-small">
                        <div class="header bordered-blue">
                            Compliance
                            @if (User.IsInRole("viewDriverCompliance"))
                            {
                                <div class="pull-right">
                                    <a href="/DriverCompliance" class="btn btn-xs btn-blue shiny" title="Driver Compliance Documents"><i class="fa fa-pencil"></i></a>
                                </div>
                            }
                        </div>
                        <div>
                            @Html.Action("Compliance", new { DriverID = Model.ID })
                        </div>
                    </div>
                </div>

                <div class="col-xs-12 col-md-7">
                    <div class="well with-header box-shadow-small">
                        <div class="header bordered-blue">Hours of Service (HOS)</div>

                        <div id="elog">
                            @Html.Action("eLog", "HOS", new { DriverID = Model.ID })
                        </div>
                        <div id="violations">
                            @Html.Action("Violations", new { DriverID = Model.ID })
                        </div>
                        <!--
                        <div>
                            <a href="/Drivers/LogReport/?ID=@(Model.ID)&LogDate=@LogDate" class="btn btn-xs btn-primary">View Report (last 10 days)</a>
                        </div>
                        -->
                    </div>

                    <div class="well with-header box-shadow-small">
                        <div class="header bordered-blue">
                            Hour Summary - Current Totals
                        </div>
                        <div id="hrsummary">
                            @Html.Action("HourSummary", new { DriverID = Model.ID })
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/scripts/beyondadmin/charts/flot/jquery.flot.js"></script>
<script src="~/scripts/beyondadmin/charts/flot/jquery.flot.tooltip.js"></script>
<script src="~/scripts/beyondadmin/charts/flot/jquery.flot.stack.js"></script>
<script src="~/scripts/beyondadmin/charts/flot/jquery.flot.resize.js"></script>
<script src="~/scripts/beyondadmin/charts/easypiechart/jquery.easypiechart.js"></script>
<script src="~/scripts/beyondadmin/charts/easypiechart/easypiechart-init.js"></script>

<script type="text/javascript">
                $(window).bind("load", function () {
                    /*Sets Themed Colors Based on Themes*/
                    themeprimary = getThemeColorFromCss('themeprimary');
                    themesecondary = getThemeColorFromCss('themesecondary');
                    themethirdcolor = getThemeColorFromCss('themethirdcolor');
                    themefourthcolor = getThemeColorFromCss('themefourthcolor');
                    themefifthcolor = getThemeColorFromCss('themefifthcolor');

                    debugger;
                    elog@(Model.ID)@(LogDate.ToString("yyyyMMdd"))();
                    InitiateEasyPieChart.init();
                });
</script>

<script>
                date = new Date('@(LogDate)');
                function refreshDriverLog(offsetDays)
                {
                    date = new Date(date.valueOf() + offsetDays * 24 * 60 * 60 * 1000);

                    $.ajax({
                        url: "/HOS/eLog",
                        type: "GET",
                        data: { DriverID: @(Model.ID), logDate: date.getFullYear() + '-' + (date.getMonth()+1) + '-' + date.getDate() }
                    })
                    .done(function(result) {
                        $("#elog").html(result);
                        elog(); // redraw graph
                        $(".datetooltip").tooltip(); // rebind any time tooltips
                    })
                }
</script>
