﻿@section head{
    <script src="~/scripts/jsPDF/jsPDF.js"></script>
    <script src="~/scripts/jsPDF/html2canvas.js"></script>
}

@{
    ViewBag.Title = "Log History Report";
    ViewBag.SubTitle = ViewBag.Driver + " - Last 10 Days";
    DateTime LogDate = (DateTime)ViewBag.LogDate;
    int DriverID = ViewBag.DriverID;
}

<button class="btn pull-right" value="next" onclick="exportPDF()"><i class="fa fa-file-pdf-o"></i> Export to PDF</button>
<button class="btn pull-right" value="next" onclick="test4()"><i class="fa fa-file-pdf-o"></i> Test4</button>
<button class="btn pull-right" value="next" onclick="test()"><i class="fa fa-file-pdf-o"></i> Test</button>
<button class="btn pull-right" value="next" onclick="testx('report', 'l')"><i class="fa fa-file-pdf-o"></i> Testx</button>

<div id="report">
    <h4>@ViewBag.Title</h4>
    <h5>@ViewBag.SubTitle</h5>

    @for (int i = 0; i < 10; i++)
    {
        <div class="row">
            <div class="col-sm-12 col-md-10 col-md-offset-1">
                <div id="elog@(i)" class="eloggraph">
                    @Html.Action("eLog", "HOS", new { DriverID = DriverID, LogDate = LogDate.AddDays(-i) })
                </div>
            </div>
        </div>
    }

</div>


<script src="~/scripts/beyondadmin/charts/flot/jquery.flot.js"></script>
<script src="~/scripts/beyondadmin/charts/flot/jquery.flot.tooltip.js"></script>
<script src="~/scripts/beyondadmin/charts/flot/jquery.flot.stack.js"></script>
<script src="~/scripts/beyondadmin/charts/flot/jquery.flot.resize.js"></script>
<script type="text/javascript">
    $(window).bind("load", function () {
        /*Sets Themed Colors Based on Themes*/
        themeprimary = getThemeColorFromCss('themeprimary');
        themesecondary = getThemeColorFromCss('themesecondary');
        themethirdcolor = getThemeColorFromCss('themethirdcolor');
        themefourthcolor = getThemeColorFromCss('themefourthcolor');
        themefifthcolor = getThemeColorFromCss('themefifthcolor');

        @for (int i = 0; i < 10; i++)
        {
        <text>
        elog@(DriverID)@(LogDate.AddDays(-i).ToString("yyyyMMdd"))();
        </text>
        }
    });


    function exportPDFa() {
        var pdf = new jsPDF('p', 'px', 'a4');
        pdf.addHTML(document.getElementsByClassName("page-body"), { pagesplit: true }, function () {// });
            pdf.save('eLogs - @(ViewBag.Driver) - @(LogDate.ToString("yyyy-MM-dd")).pdf');
        })
    }

    function exportPDF() {
        var curw = $('.page-body').width();
        var orientation='l';

        var h = (orientation == 'p') ? 1160 : 900;
        var w = (orientation == 'p') ? 900 : 1160;
        var pageh = (orientation == 'p') ? 791 : 612;
        var pagew = (orientation == 'p') ? 612 : 791;
        var pdf = new jsPDF(orientation, 'pt', 'letter');
        for (var n = 0; n < 10; n++) {
            var report = document.getElementById("elog"+n);

            html2canvas(report, {
                onrendered: function (canvas) {

                    //! MAKE YOUR PDF

                    for (var i = 0; i <= report.clientHeight / h; i++) {
                        //! This is all just html2canvas stuff
                        var srcImg = canvas;
                        var sX = 0;
                        var sY = h * curw / w * i; // start h pixels down for every new page
                        var sWidth = curw;
                        var sHeight = h * curw / w;
                        var dX = 0;
                        var dY = 0;
                        var dWidth = w;
                        var dHeight = h;

                        window.onePageCanvas = document.createElement("canvas");
                        onePageCanvas.setAttribute('width', w);
                        onePageCanvas.setAttribute('height', h);
                        var ctx = onePageCanvas.getContext('2d');
                        // details on this usage of this function: 
                        // https://developer.mozilla.org/en-US/docs/Web/API/Canvas_API/Tutorial/Using_images#Slicing
                        ctx.drawImage(srcImg, sX, sY, sWidth, sHeight, dX, dY, dWidth, dHeight);

                        // document.body.appendChild(canvas);
                        var canvasDataURL = onePageCanvas.toDataURL("image/png", 1.0);

                        var width = onePageCanvas.width;
                        var height = onePageCanvas.clientHeight;

                        //! If we're on anything other than the first page,
                        // add another page
                        if (n > 0) {
                            pdf.addPage(pagew, pageh); //8.5" x 11" in pts (in*72)
                        }
                        //! now we declare that we're working on that page
                        pdf.setPage(n + 1);
                        //! now we add content to that page!
                        pdf.addImage(canvasDataURL, 'PNG', 20, 40, (width * .62), (height * .62));

                    }
                    //! after the for loop is finished running, we save the pdf.
                    if (n == 9)
                        pdf.save('eLogs - @(ViewBag.Driver) - @(LogDate.ToString("yyyy-MM-dd")).pdf');
                }
            });
        }
    }

    function testx(id, orientation) {
        var curw = $('.page-body').width();

        var report = document.getElementById(id);

        var h = (orientation == 'p') ? 1160 : 900;
        var w = (orientation == 'p') ? 900 : 1160;
        var pageh = (orientation == 'p') ? 791 : 612;
        var pagew = (orientation == 'p') ? 612 : 791;

        html2canvas(report, {
            onrendered: function (canvas) {

                //! MAKE YOUR PDF
                var pdf = new jsPDF(orientation, 'pt', 'letter');

                for (var i = 0; i <= report.clientHeight / h; i++) {
                    //! This is all just html2canvas stuff
                    var srcImg = canvas;
                    var sX = 0;
                    var sY = h*curw/w * i; // start h pixels down for every new page
                    var sWidth = curw;
                    var sHeight = h*curw/w;
                    var dX = 0;
                    var dY = 0;
                    var dWidth = w;
                    var dHeight = h;

                    window.onePageCanvas = document.createElement("canvas");
                    onePageCanvas.setAttribute('width', w);
                    onePageCanvas.setAttribute('height', h);
                    var ctx = onePageCanvas.getContext('2d');
                    // details on this usage of this function: 
                    // https://developer.mozilla.org/en-US/docs/Web/API/Canvas_API/Tutorial/Using_images#Slicing
                    ctx.drawImage(srcImg, sX, sY, sWidth, sHeight, dX, dY, dWidth, dHeight);

                    // document.body.appendChild(canvas);
                    var canvasDataURL = onePageCanvas.toDataURL("image/png", 1.0);

                    var width = onePageCanvas.width;
                    var height = onePageCanvas.clientHeight;

                    //! If we're on anything other than the first page,
                    // add another page
                    if (i > 0) {
                        pdf.addPage(pagew, pageh); //8.5" x 11" in pts (in*72)
                    }
                    //! now we declare that we're working on that page
                    pdf.setPage(i + 1);
                    //! now we add content to that page!
                    pdf.addImage(canvasDataURL, 'PNG', 20, 40, (width * .62), (height * .62));

                }
                //! after the for loop is finished running, we save the pdf.
                pdf.save('Test.pdf');
            }
        });


    }

</script>
