/**************************************************
*   DISPATCHCRUDE.COM eBOL STYLESHEET             *
*                                                 *
*   NOTES                                         *
*   -  Print Range Width 720 Pixels = 7.5 Inches  *
*      Wide and 960 Pixels = 10 Inches High       *
**************************************************/

/* HTML ELEMENTS */
body {
    font-family:Sans-Serif;     	
	width:100%;
}

table {
  	width:100%;
   	border:none;
    margin: 5px auto 5px auto;
	font-size:12px;
}

td {
    text-align:left;
    padding:2px 2px 2px 2px;
	width:50%;
	max-width:400px;
	word-wrap:break-word;
}

hr {
    width:790px;
}

/* ID'S */
#pagewrap {
    background-color:#FFF;
    width:900px;
    margin:0 auto 0 auto;
    height:1150px;	
    text-decoration:none;
}

#printsafe{
	width:800px;
	height:1150px;
	margin-top:30px;
    margin-left:auto;
    margin-right:auto;
	position:relative;
}

#header{
	width:800px;
}

#headerimg{
	width:800px;
	height:100px;
}

#ticket-type {
    width:40%;
    text-align:center;
    margin-left:auto;
    margin-right:auto;
}

#footer {
    width:100%;
	height:100px;
    text-align:center;
    font:10px Sans-Serif;
    margin-top:20px;
	position:absolute;
	bottom:0;
}

#certification{
	width:100%;
	text-align:left;
	font-size:10px;
}

#corrections {
    text-align:left;
}

/* CLASSES */
.tab{
	margin-left:15px;
}

.ticket_col_1, .ticket_col_2, .tab{
	display:inline;
	font-weight:bold;
	width:100%;
}

.ticket,.reroute,#corrections{
	background-color:#BBB;
}

.signature{
	width:150px;
	height:auto;	
}

.custom-field-label{
    display: inline;
    font-weight: bold;
}