﻿@model IEnumerable<DriverSettlementStatementEmailDefinition>
@using DispatchCrude.Core;
@using DispatchCrude.Extensions;
@using DispatchCrude.Models;

@{
    ViewBag.Title = "Settlement";
    ViewBag.SubTitle = "Driver Settlement Statement Email Definitions";
}
<div class="tabbable TabRepaint">
    <ul class="nav nav-tabs" id="tabmenu">
        @NavigationHelper.PrintTabArray(NavigationHelper.TabSet_Settlement, "Tab_PdfExport")
    </ul>
    <div class="tab-content">
        <div class="tab-pane in active">
            <div class="well speedButtonContainer">
                @NavigationHelper.PrintButtonArray(NavigationHelper.ButtonSet_TabPdfExports, "Button_DriverSettlementStatementEmailDefinitions")
            </div>
            @(Html.Kendo().Grid(Model)
                .Name("grid")
                .DataSource(ds => ds
                    .Ajax()
                    .Filter(filter => {
                        filter.Add(model => model.Active).IsEqualTo(true);
                    })
                    .Model(model => {
                        model.Id(m => m.ID);
                        model.Field(m => m.PdfExportID).DefaultValue(1);
                    })
                    .PageSize(Settings.DefaultPageSize)
                    .Sort(sort => {  // Initial Sort
                    })
                    .Read(read => read.Action("Read", "DriverSettlementStatementEmailDefinition"))
                    .Create(create => create.Action("Create", "DriverSettlementStatementEmailDefinition"))
                    .Update(update => update.Action("Update", "DriverSettlementStatementEmailDefinition"))
                    .Destroy(update => update.Action("Delete", "DriverSettlementStatementEmailDefinition"))
                    .Events(events => { events.Error("onDSErrors"); events.RequestEnd("onDSRequestEnd"); })
                )
                .Excel(excel => excel
                    .AllPages(true)
                    .FileName("Driver Settlement Statement Email Definitions.xlsx")
                    .Filterable(true)
                )
                .Events(ev =>
                {
                    ev.ExcelExport("kendoGridExportHelper.ExcelExport");  // This calls Kevin's custom excel functionality
                    ev.Edit("onPopupEditCustom"); // This just changes the popup's title (Create/Edit). If additional functionality is needed, create a custom function on this page.
                    ev.Cancel("onPopupCancelCustom");  // Actions when canceling the popup editor
                })
                .HtmlAttributes(new { style = "height:800px;", @class = "MVCGridRepaint" })
                .ToolBar(command =>
                {
                    if (User.IsInRole("createDriverSettlementStatementEmailDefinition")) command.Create().Text("");
                    command.Excel();
                })
                .Editable(ed => { ed.Mode(GridEditMode.PopUp).TemplateName("Popup_DriverSettlementStatementEmailDefinition"); ed.DisplayDeleteConfirmation(false); })
                .Pageable(pager => pager
                    .PageSizes(Settings.MvcGridPageSizes)
                    .Refresh(true)
                )
                .Sortable()
                .Scrollable()
                .Filterable(filterable => filterable
                    .Extra(true)   //This extended "filterable" section of code makes the contains filter the default string filter for these grids
                    .Operators(operators => operators
                        .ForString(str => str
                            .Clear()
                            .Contains("Contains")
                            .DoesNotContain("Does not contain")
                            .StartsWith("Starts with")
                            .EndsWith("Ends with")
                            .IsEqualTo("Is equal to")
                            .IsNotEqualTo("Is not equal to")
                        )
                    )
                )
                .Resizable(resizable => resizable.Columns(true))
                .Columns(columns =>
                {
                    columns.Template(@<text></text>).ClientTemplate("#= rowCommandsUndelete(data) #").Title("&nbsp;").Width(100);
                    columns.Bound(model => model.Active)
                        .Title("Active?")
                        .ClientTemplate("#= ActiveState(data.Active) #")
                        .Width(85);
                    columns.Bound(model => model.PdfExport.Name)
                        .Title("Pdf Export")
                        .ClientTemplate("#= drillToValue(data, 'PdfExport.Name') #")
                        .Width(200);
                    columns.Bound(model => model.Name)
                        .Width(250);
                    columns.Bound(model => model.EmailSubject)
                        .Width(150);
                    columns.Bound(model => model.EmailBodyWordDocName)
                        .Title("Document")
                        .ClientTemplate(@"
                                    #if(data.EmailBodyWordDocName){#
                                        <div class='showEllipsis' data-placement='bottom' title='#=data.EmailBodyWordDocName#'>
                                            <a href='/DriverSettlementStatementEmailDefinition/Download/#=data.ID#'><span class='glyphicon glyphicon-download-alt' title='Download' /></a>
                                            &nbsp;&nbsp;
                                            #=data.EmailBodyWordDocName#
                                        </div>
                                    #}#")
                        .Width(200);
                    columns.Bound(model => model.MissingEmailAddress)
                        .Width(200);
                    columns.Bound(model => model.CreateDate)
                        .Width(200);
                    columns.Bound(model => model.CreatedByUser)
                        .Width(175);
                    columns.Bound(model => model.LastChangeDate)
                        .Width(200);
                    columns.Bound(model => model.LastChangedByUser)
                        .Width(200);
                    columns.Bound(model => model.DeleteDate)
                        .Width(200);
                    columns.Bound(model => model.DeletedByUser)
                        .Width(200);
                })
            )

            @*These inputs are required for create/edit/deactivate permissions functionality*@
            <input id="allowCreate" type="hidden" value="@UserSupport.Allow.Create.OnPage("DriverSettlementStatementEmailDefinition")" />
            <input id="allowEdit" type="hidden" value="@UserSupport.Allow.Edit.OnPage("DriverSettlementStatementEmailDefinition")" />
            <input id="allowDelete" type="hidden" value="@UserSupport.Allow.Delete.OnPage("DriverSettlementStatementEmailDefinition")" />
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        // customKendoGridButtons() fixes the look of the add new button and
        // excel export button that were not addressed directly in the grid above
        customKendoGridButtons();
    });

    function onPopupEditCustom(e)
    {
        onPopupEdit(e);
    }

    function onPopupCancelCustom(e)
    {
        /* Clear any document that was uploaded */
        $.ajax({
            url: "/DriverSettlementStatementEmailDefinition/ClearDocument",
            type: "GET",
            success: function (result) { }
        });
    }
</script>

@* These scripts need to be included on every Kendo MVC grid page. They include extra "default" grid functions *@
<script src="~/scripts/jsonSupport.js" type="text/javascript"></script>
<script src="~/scripts/kendoExcelExportHelper.js" type="text/javascript"></script>
<script src="~/scripts/kendoGridErrors.js" type="text/javascript"></script>