﻿@model DispatchCrude.Models.ImportCenterGroup

@*These hidden fields are required for updating to work properly*@
@Html.HiddenFor(model => model.ID)
@Html.HiddenFor(model => model.CreateDateUTC)
@Html.HiddenFor(model => model.CreatedByUser)
<div class="popup-editor-container">
    <div class="popup-editor-column">
        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            <br />
            <div class="text-danger">
                @Html.ValidationMessageFor(model => model.Name)
            </div>
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.UserNames)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.UserNames)
        </div>
        <div class="editor-label">
            @Html.Label("Import Mappings")
        </div>
        <div class="editor-field">
            @Html.Kendo().MultiSelect()
                .Name("steps")
                .DataValueField("ID")
                .DataTextField("Name")
                .AutoBind(false)
                .DataSource(source => {
                    source.Read(read =>
                    {
                        read.Action("ImportDefinitions", "ImportCenter");
                    })
                })
        </div>
    </div>
</div>