@model int?
@***************************************
    Duration editor
    --------------------------------
    Editor saves a time duration as minutes but displays as hours and minutes for better UI experience.
    If using with an MVC grid, you have to initialize the hour and minute fields in the onEdit function after AJAX passes 
        the data to the "pseudo" editor template.
*********************************@

<div style="position:absolute;top:-9999px;left:-9999px;">
    @Html.Kendo().NumericTextBoxFor(m => m)
</div>


<div class="form-inline">
    <div class="input-group input-group-xs">
        <input id="@(ViewData.TemplateInfo.HtmlFieldPrefix)_h" type="number" min="0" class="form-control" style="width:80px" value="@(Model != null ? Math.Floor(Model.Value / 60.0).ToString() : "")">
        <span class="input-group-addon">hr</span>
    </div>
    <div class="input-group input-group-xs">
        <input id="@(ViewData.TemplateInfo.HtmlFieldPrefix)_m" type="number" min="0" class="form-control" style="width:60px" value="@(Model % 60)">
        <span class="input-group-addon">min</span>
    </div>
</div>
<script>
    $("#@(ViewData.TemplateInfo.HtmlFieldPrefix)_h").change(sync@(ViewData.TemplateInfo.HtmlFieldPrefix));
    $("#@(ViewData.TemplateInfo.HtmlFieldPrefix)_m").change(sync@(ViewData.TemplateInfo.HtmlFieldPrefix));

    function sync@(ViewData.TemplateInfo.HtmlFieldPrefix)()
    {
        h = $("#@(ViewData.TemplateInfo.HtmlFieldPrefix)_h").val() * 1; /* convert to number */
        m = $("#@(ViewData.TemplateInfo.HtmlFieldPrefix)_m").val() * 1; /* convert to number */
        if (m >= 60)
        {
            /* convert extra minutes into hours and update accordingly */
            $("#@(ViewData.TemplateInfo.HtmlFieldPrefix)_m").val(m % 60);
            $("#@(ViewData.TemplateInfo.HtmlFieldPrefix)_h").val(h + Math.floor(m / 60));
        }

        $("#@(ViewData.TemplateInfo.HtmlFieldPrefix)").val(h * 60 + m);
        /* These bind the hour and minute updates to the telerik model (for popup editors) */
        $("#@(ViewData.TemplateInfo.HtmlFieldPrefix)").data("kendoNumericTextBox").value(h * 60 + m);
        $("#@(ViewData.TemplateInfo.HtmlFieldPrefix)").data("kendoNumericTextBox").trigger("change");
    }
</script>
