﻿@model DispatchCrude.Models.OriginTankDefinition

@*These hidden fields are required for updating to work properly*@
@Html.HiddenFor(model => model.ID)
@Html.HiddenFor(model => model.Deleted)

@* NOTE: This script section must be at the top of the page for the pop-up to function properly. It cannot be moved to the bottom of the page. *@
<script>
    $(function () {
        /* Use DC style buttons instead of default Kendo buttons - NOTE: you can't use the inline comment syntax here
        (TELERIK seems to "minify" the text so everything following becomes a comment) */
        customKendoPopupButtons();
    });

    /* this function must be defined before it is referenced so this script block needs to be at the top of the file */
    function onUpload(e) {
        /* since the upload is not "bound" to the model, we need to manually inform kendo that the data is changed (dirty)
        so hitting "Save" will submit to the server */
        var grid = $("#grid").data("kendoGrid");
        var id = $("#ID").val();
        grid.dataSource.get(id).dirty = true;
    };
</script>

<div class="popup-editor-container" style="width:500px;">    
    @Html.ValidationSummary(true)
    <ul class="gridErrors NullValidator"></ul>    

    <div class="editor-label">
        <span style="color:red;">*</span>@Html.LabelFor(model => model.Name)
    </div>
    <div class="editor-field">
        @Html.TextBoxFor(model => model.Name)
        @Html.ValidationMessageFor(model => model.Name)
    </div>

    <div class="editor-label">
        Bottom
    </div>
    <div class="editor-field">
        <div class="input-group">
            <span class="inline-block">@Html.TextBoxFor(model => model.BottomFeet, new { @type = "number", step = "1", @style = "width:50px;" }) ft. &nbsp;&nbsp;&nbsp;</span>
            <span class="inline-block">@Html.TextBoxFor(model => model.BottomInches, new { @type = "number", step = "1", @style = "width:50px;" }) in. &nbsp;&nbsp;&nbsp;</span>
            <span class="inline-block">@Html.TextBoxFor(model => model.BottomQ, new { @type = "number", step = "1", @style = "width:50px;" }) Q</span>
        </div>
        @Html.ValidationMessageFor(model => model.BottomFeet)
        @Html.ValidationMessageFor(model => model.BottomInches)
        @Html.ValidationMessageFor(model => model.BottomQ)
    </div>

    <div class="editor-label">
        <span style="color:red;">*</span>Top
    </div>
    <div class="editor-field">
        <div class="input-group">
            <span class="inline-block">@Html.TextBoxFor(model => model.TopFeet, new { @type = "number", step = "1", @style = "width:50px;" }) ft. &nbsp;&nbsp;&nbsp;</span>
            <span class="inline-block">@Html.TextBoxFor(model => model.TopInches, new { @type = "number", step = "1", @style = "width:50px;" }) in. &nbsp;&nbsp;&nbsp;</span>
            <span class="inline-block">@Html.TextBoxFor(model => model.TopQ, new { @type = "number", step = "1", @style = "width:50px;" }) Q</span>
        </div>
        @Html.ValidationMessageFor(model => model.TopFeet)
        @Html.ValidationMessageFor(model => model.TopInches)
        @Html.ValidationMessageFor(model => model.TopQ)
    </div>

    <div class="editor-label">
        <span style="color:red;">*</span>@Html.LabelFor(model => model.TopBPQ)
    </div>
    <div class="editor-field">
        @Html.TextBoxFor(model => model.TopBPQ)
        @Html.ValidationMessageFor(model => model.TopBPQ)
    </div>
</div>