﻿@model DispatchCrude.Models.Setting

@*These hidden fields are required for updating to work properly*@
@Html.HiddenFor(model => model.ID)

@* NOTE: This script section must be at the top of the page for the pop-up to function properly. It cannot be moved to the bottom of the page. *@
<script>
    $(function () {
        /* Use DC style buttons instead of default Kendo buttons - NOTE: you can't use the inline comment syntax here
        (TELERIK seems to "minify" the text so everything following becomes a comment) */
        customKendoPopupButtons();
    });

    /* this function must be defined before it is referenced so this script block needs to be at the top of the file */
    function onUpload(e) {
        /* since the upload is not "bound" to the model, we need to manually inform kendo that the data is changed (dirty)
        so hitting "Save" will submit to the server */
        var grid = $("#grid").data("kendoGrid");
        var id = $("#ID").val();
        grid.dataSource.get(id).dirty = true;
    };
</script>

<div class="popup-editor-container">
    <div style="width:500px;">        
        @Html.ValidationSummary(true)
        <ul class="gridErrors NullValidator"></ul>

        <div class="editor-label">
            @Html.LabelFor(model => model.Category)            
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Category, htmlAttributes: new { @class = "width100", disabled = "disabled"})
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Name, htmlAttributes: new { @class = "width100", disabled = "disabled" })
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Value)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Value)
        </div>
    </div>
</div>