﻿@model DispatchCrude.Models.Gauger
@{
    ViewBag.Title = "Logs";
    ViewBag.SubTitle = "Gauger Sync Log";
}

@using AlonsIT;
@using DispatchCrude.Extensions;

<style>
    .jsonContainer {
        max-height: 440px;
        max-width: 600px;
        width: 100%;
        overflow: auto;
    }

    pre {
        background-color: ghostwhite;
        border: 1px solid silver;
        padding: 10px 20px;
        margin: 20px;
    }

    .json-key {
        color: brown;
    }

    .json-value {
        color: navy;
    }

    .json-string {
        color: olive;
    }
</style>
<script type="text/javascript">
    if (!library)
        var library = {};
    library.json = {
        replacer: function (match, pIndent, pKey, pVal, pEnd) {
            var key = '<span class=json-key>';
            var val = '<span class=json-value>';
            var str = '<span class=json-string>';
            var r = pIndent || '';
            if (pKey)
                r = r + key + pKey.replace(/[": ]/g, '') + '</span>: ';
            if (pVal)
                r = r + (pVal[0] == '"' ? str : val) + pVal + '</span>';
            return r + (pEnd || '');
        },
        prettyPrint: function (obj) {
            var jsonLine = /^( *)("[\w]+": )?("[^"]*"|[\w.+-]*)?([,[{])?$/mg;
            return JSON.stringify(obj, null, 3)
               .replace(/&/g, '&amp;').replace(/\\"/g, '&quot;')
               .replace(/</g, '&lt;').replace(/>/g, '&gt;')
               .replace(jsonLine, library.json.replacer);
        }
    };
    var _jsonInt;
    function getJSONInt(url) {
        $.ajax({
            type: "GET",
            url: url,
            dataType: "json",
            async: false,
            success: function (data) { _jsonInt = data; },
            error: function () {
                alert("Error occured")
            }
        });
        return _jsonInt;
    };
    $(function () {
        $(".json").each(function () {
            debugger;
            var url = $(this).parent().siblings(".jsonRef").attr("href");
            var json = getJSONInt(url);
            $(this).html(library.json.prettyPrint(json));
        })
    });
</script>
<div>
    <div class="tabbable">
        <ul class="nav nav-tabs" id="tabmenu">
            @NavigationHelper.PrintTabArray(NavigationHelper.TabSet_Logs, "Tab_GaugerSyncLog")
        </ul>
        <div class="tab-content">
            <div class="tab-pane in active">

                @using (Html.BeginForm())
                {
                    <div class="row">
                        <div class="col-md-6">
                            @Html.DropDownList("GaugerID", null, "-- Select gauger --", htmlAttributes: new { @class = "form-control" })
                        </div>
                        <div class="col-md-2">
                            <select name="count" class="form-control">
                                <option value="25" @(ViewBag.Count == "25" ? "SELECTED" : "")>25</option>
                                <option value="100" @(ViewBag.Count == "100" ? "SELECTED" : "")>100</option>
                                <option value="100" @(ViewBag.Count == "250" ? "SELECTED" : "")>250</option>
                                <option value="100 PERCENT" @(ViewBag.Count == "100 PERCENT" ? "SELECTED" : "")>ALL !!!</option>
                            </select>
                        </div>
                        <div class="col-md-2">
                            <input class="btn btn-blue shiny" type="submit" value="Go">
                        </div>
                    </div>
                }


                @if (Model != null)
                {
                    System.Data.DataTable data = null;
                    <h2>Log History - @Model.FullName (@Model.ID) - Top @ViewBag.Count</h2>
                    using (SSDB db = new SSDB())
                    {
                        data = db.GetPopulatedDataTable(
                            "SELECT TOP " + (ViewBag.Count ?? "50") + " * FROM tblGaugerSyncLog WHERE GaugerID = " + Model.ID + " " +
                            "ORDER BY syncdate DESC");
                    }
                    <table class="table table-border" border>
                        <tr>
                            <th>ID</th>
                            <th>SyncDate</th>
                            <th>Incoming</th>
                            <th>Outgoing</th>
                        </tr>
                        @foreach (System.Data.DataRow row in data.Rows)
                        {
                            <tr>
                                <td>@row["ID"]</td>
                                <td>@row["SyncDate"]</td>
                                <td>
                                    <div class="jsonContainer">
                                        <a class="jsonRef" href="~/GaugerApp/IncomingJson/@row["ID"]" target="_blank">incoming</a>
                                        <pre><code class="json"></code></pre>
                                    </div>
                                </td>
                                <td>
                                    <div class="jsonContainer">
                                        <a class="jsonRef" href="~/GaugerApp/OutgoingJson/@row["ID"]" target="_blank">outgoing</a>
                                        <pre><code class="json"></code></pre>
                                    </div>
                                </td>
                            </tr>
                        }
                    </table>
                }
            </div>
        </div>
    </div>
</div>