﻿<div style="width: 50%;min-width: 350px;margin-left:auto; margin-right:auto;">
@using (Html.BeginForm("Sync", "GaugerApp", null, FormMethod.Post, new { @data_ajax = "false" }))
{
    <ul data-role="listview" data-inset="true">
        <li data-role="list-divider">Sync (test page)</li>
        <li data-role="header">Sync test page</li>
        <li data-role="fieldcontain">
            @Html.Label("JSON")
            @Html.TextArea("JSON", "", 10, 60, new { style = "min-height: 300px" })            
        </li>

        <li>
            <input type="submit" value="Sync" />
        </li>
    </ul>
}
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}