﻿
/**************** BOOTSTRAP/BEYOND ADMIN/TELERIK OVERRIDES ***********************/

/* I believe this pageleft rule is no longer used.  Investigation is needed when time allows. */
.pageleft {
    width: 300px;
    top: 0;
    left: 0;
    height: auto;
    min-height: 100%;
    background: inherit;
    border-right: 1px solid;
}

/* This removes enough of the default margin-top to allow the content to start at a visually pleasing
    area since we removed the tertiary header area that was originally in the template */
.navbar.navbar-fixed-top+.main-container
{
    margin-top: 6px;
}

/* adjustment to make sure fixed header looks right */
.page-header.page-header-fixed
{    
    display: none;
    height: 0px;
}

/* with the above page-header.page-header-fixed being hidden, we need to move this entire div up to fill the space */
div.page-container
{
    margin-top: -45px;
}

/* keeps sidebar where it shoudl be since the breadcrumbs aread has been removed */
#sidebar.page-sidebar
{    
    top: 45px;
}

/* removes extra theme-colored area at the top of radgrids that looks like an "oops" if left there */
caption
{    
    padding-top: 0px;
    padding-bottom: 0px;
}

/* removes excessive "padding" for checkboxes */
.radio label, .checkbox label 
{    
    min-height: 0px;
}

/* removes excessive "padding" for checkboxes */
.checkbox label, .radio label 
{    
    min-height: 0px;
}

/* remove excessive margin for checkboxes */  
.checkbox, .radio 
{      
    margin: 0px;
    padding: 0px;
    display: inline;
}

/* telerik override for black text on "All records?" button on top right of origin tanks grid page */
.RadButton_Default.rbToggleButton, .RadButton_Default.rbToggleButton.rbDisabled:hover
{    
    color: #fff !important;
}


/* overrides for the radgrid popup editors */
.rgEditForm.RadGrid_Vista.rgEditPopup,
.rgEditForm.GridRepaint.RadGrid_Vista.rgEditPopup
{        
    box-shadow: 0 5px 15px rgba(0,0,0,.5);
    box-shadow: 0 0 40px rgba(0,0,0,.5);
    -webkit-box-shadow: 0 5px 15px rgba(0,0,0,.5);
    -webkit-box-shadow: 0 3px 9px rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 40px rgba(0,0,0,.5);        
}

/* more overrides for the radgrid popup editors */
#ctl00_ctl00_MainContent_MainContent_rgMain_ctl00__ctl00_ctl00_MainContent_MainContent_rgMain_ctl00_ctl00___PEF.rgHeader, /* Add view pop-ups */
#ctl00_ctl00_MainContent_MainContent_rgTanks_ctl00__ctl00_ctl00_MainContent_MainContent_rgTanks_ctl00_ctl00___PEF.rgHeader, /* Origin Tanks Add view pop-up */
div.rgHeader[id^=ctl00_ctl00_MainContent_MainContent_rgMain_ctl00__], /* Edit view pop-ups */
div.rgHeader[id^=ctl00_ctl00_MainContent_MainContent_rgTanks_ctl00__] /* Origin Tanks Edit view pop-up */
{
    border-bottom: 3px solid #5db2ff;
    padding: 10px 15px 10px 20px;
    background: none;
    background-color: #f5f5f5;
    font-weight: bold;
    font-size: 1.2em;
}

/* Overrides the default greyed-out look for form controls in bootstrap that make them look disabled */
.form-control, select 
{
    color: #000;
    background-color: #FFF;
}

/* Overrides the default greyed-out look for form controls in beyond admin that make them look disabled */
textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"]
, input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"]
, input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"] 
{
    color: #000;
    background-color: #FFF;
}

/* Make disabled checkbox checks darker*/
input[type=checkbox]:disabled ~ .text:before, input[type=radio]:disabled ~ .text:before, 
input[type=checkbox][disabled] ~ .text:before, input[type=radio][disabled] ~ .text:before, 
input[type=checkbox].disabled ~ .text:before, input[type=radio].disabled ~ .text:before 
{
    color: #AAA;
}

/* This fixes the 'dissapearing' checkboxes since bootstrap doesn't like normal checkboxes */
input[type="checkbox"], input[type="radio"]
{
    opacity: 100;
    position: relative;
    left: initial;
}

/* this puts the bootstrap checkbox rules back in but just for the slider types so they don't have a checkbox sitting on top of them */
input[type="checkbox"].checkbox-slider
{
    opacity: 0;
    position: absolute;
    left: -9999px;
}

/* this make sure the pop-up windows don't squish the data inside them too small.  The stock width is 400px and so the min-width
    is set to 400 to preserve the default kendo setting while width is set to auto to allow for larger pop-ups */

.k-edit-form-container
{
    min-width: 400px;
    width: auto;
}

/* override flot chart heights for graphs*/
.chart-lg{height:350px}
.chart-xl{height:450px}

.chart-summary{top:-25px; position: absolute;}

/* Override bootstrap tooltip for dates to disable html wrap */
.datetooltip + .tooltip > .tooltip-inner
{
    white-space: pre;
    max-width: none;
}

/* Override popover width for map */
.popover
{
    width: 350px;
    max-width: none;
}

/* remove gutter from bootstrap grid */
.row.no-pad {
  margin-right:0;
  margin-left:0;
}
.row.no-pad > [class*='col-'] {
  padding-right:0;
  padding-left:0;
}

/* additional info (hidden by default) */
.addlinfo
{
    display: none;
}

/* shrink from default beyond admin chat */
.page-chatbar .chatbar-contacts .contacts-list .contact .contact-avatar {
    display: inline-block;
    width: 40px;
    height: 40px;
}
.page-chatbar .chatbar-contacts .contacts-list .contact {
    height: 60px;
    padding: 10px;
    position: relative;
}
.contact-menu{
    text-align: right;
    margin:10px;
}


.input-group-xs > .form-control,
.input-group-xs > .input-group-addon,
.input-group-xs > .input-group-btn > .btn {
  height: 22px;
  padding: 0px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}

select.input-group-xs > .form-control,
select.input-group-xs > .input-group-addon,
select.input-group-xs > .input-group-btn > .btn {
  height: 22px;
  line-height: 20px;
}

textarea.input-group-xs > .form-control,
textarea.input-group-xs > .input-group-addon,
textarea.input-group-xs > .input-group-btn > .btn {
    height: auto;
}

/* Overrides the kendo mvc disabled opacity to make it even less opaque. The original (.7) is very hard to distinguish on controls from a fully operational control */
.k-state-disabled {
    opacity: .3 !important;
}

/* using CSS specificity this will place a small box shadow ONLY on elements that contain all three classes: "well", "with-header", and "box-shadow-small" 
   This is helpful to create a better "border" for wells that are inside of a tab-content area, which has the same background color by default as the wells do.
*/
.well.with-header.box-shadow-small {
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12) !important;
}

/* Override the beyond admin background setting, and the telerik text color setting causing the "White dropdown" issue with old Telerik dropdowns - BSB - 4/21/17 */
textarea, rcbFocused, input[type="text"]:focus {
    background-color: transparent !important;
    color: #000 !important;
}


/**********************************************
      CTS Custom CSS (General/All Pages)
**********************************************/

/* This controls the display of the customer name at the top of the websites */
.customer-name 
{    
    font-weight: bold;
    font-size: 1.5em;
    color: #000;
    padding-top: 5px;
    z-index: 1;
}

/* This controls the general settings for all left side panels in the site (Filter, Export, etc.) */
.leftpanel
{       
    float: left;
    width: 300px; 
    min-width: 245px;
    max-width: 350px;
    margin-right: 10px;
}


/* This controls the general settings for left side panels needing wider space */
.leftpanel-wide
{       
    float: left;
    width: 450px; 
    margin-right: 10px;
}

/* This controls the general settings for all left side dashboard panels in the site (i.e. Filter) */
.leftdashboardpanel
{       
    display: inline-block;
    width: 300px; 
    margin-right: 30px;
    top: 0px;
    position: relative;
    vertical-align: top;
    float: left;
}

/* This controls the general settings for all dashboard content in the site */
.dashboardcontent
{       
    position: relative;
    overflow: hidden;
}
/* Enlarge default label size on horizontal flot charts */
#horizonal-chart .tickLabel
{
    /*font-size: 140%; */
    font-size: 13px;
}

/* The order and ticket information pages containers*/
.panel-container
{
    float: left;
    min-width: 256px;
    width: 100%;
    max-width: 100%;    
}

/* the header for the above containers */
.panel-header
{
    min-width: 256px;
    max-width: 100%; 
}

/* the body of the above containers */
.panel-body
{
    min-width: 256px;
    max-width: 100%; 
}

/* the left side (labels) for the data in the above containers */
.panel-body-left-col
{
    float: left;
    font-weight: bold;
    text-align: left;
    width: 49%;
    max-width: 49%;
    min-width: 128px;
}

/* the right side (data) for the data in the above containers */
.panel-body-right-col
{
    float: right;
    text-align: left;
    width: 49%;
    max-width: 49%;
    min-width: 128px;
}

/* a static sized row for the right and left columns above to sit in to keep them from moving above/below eachother */
.panel-row
{
    min-width: 256px;
    min-height: 20px;
}

/* gives a hilight color to rows the mouse is over that helps the user visually trace from the label to the data */
.panel-row:hover
{
    background-color: #c3c3c3;
}

/* This replaces the inline spacers that were used in the old site template */
.spacer5px
{    
    height: 5px;
}

/* This replaces the inline spacers that were used in the old site template */
.spacer10px
{    
    height: 10px;
}

/* This replaces the inline spacers that were used in the old site template */
.spacer20px
{    
    height: 20px;
}

/* This replaces the inline spacers that were used in the old site template */
.spacer50px
{    
    height: 50px;
}

/* right align text */
.txtAlignRight
{
    text-align: right;
}

/* left align text */
.txtAlignLeft
{
    text-align: left;
}

/* controls the Order Reroute and Transfer popups */
.popupform
{
    width: 400px;
    padding: 10px;
}

/* Makes the side menu scrollable when it's larger than the screen height */
.slimScrollDiv
{
    position: relative; 
    overflow-y: scroll; 
    width: auto; 
    height: auto;
}

/* Chrome - make side menu scrollbar 0 width  (no fix availalbe for FireFox as of 3/10/16) */
.slimScrollDiv::-webkit-scrollbar
{    
    width: 0px;
}

/* This is meant for horizontally centering one or more things usinga div with this class */
.center
{    
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

/* This make the action link text white so that it shows up on the button styling and looks like the rest of the site buttons */
a.html-action-link-btn:link, 
a.html-action-link-btn:hover,
a.html-action-link-btn:visited
{
    color: #FFF;
    text-decoration: none;
}

/* only used for the origin tanks page as of 04/07/2016 */
.dual-grid-horizontal
{
    width: 49%;
    display: inline-block;
}

/* only used for the two rate sheet pages as of 04/07/2016 */
.dual-grid-vertical
{
    height: 49%;
}

/* just adds display:inline-block to the element it's used on */
.inline-block
{
    display: inline-block;
}

/* just adds margin:20px; to the element it's used on (mostly just useful for float-left div blocks) */
.margin-right20px
{
    margin-right: 20px;
}

/* just adds padding:20px; to the element it's used on (mostly just useful for text align-left elements) */
.padding-right20px
{
    padding-right: 20px;
}

/* adds a tiny amount of right margin to buttons that replace the default kendo buttons so that they are not mashed together */
.grid-button-right-margin 
{
    margin-right: 3px;
}

.popup-editor-container
{
    width: auto;
    min-width: 400px;
}

.popup-editor-column
{
    width: auto;
    min-width: 400px;
    float: left;
}


/* used for reject buttons, etc. */
.btn-black {
    color: #fff;
    background-color: #000 !important;
    border-color: #000;
}
.btn-black:hover{
    background-color: #555 !important;
    border-color: #000;
    color: #fff;
}

/* Red highlighting for H2S wells (added back 8/1/16) */
.H2S
{
    background-color: Red !important;
    color: White !important;
}

table.padded td
{
    padding: 4px;
}

/* upper right badge */
.badge-upper-right
{
    position:relative;
    top: -10px;
    left: 10px;
}

.needsSave
{
    border-right: 6px solid #f4b400;
}

.overflow-x-scroll 
{
    overflow-x: scroll;
}

.overflow-y-scroll 
{
    overflow-y: scroll;
}

.overflow-xy-scroll 
{
    overflow-x: scroll;
    overflow-y: scroll;
}

.height100 
{
    height: 100%;
}

.width100
{
    width: 100%;
}

table.form-layout td
{
    padding-top: 2px;
    padding-bottom: 2px;
}

/* used to set the color of the top bar for dev sites */
.skin-local
{
    background-color: #33cc33 !important;  
}

/* used to set the color of the top bar for dev sites */
.skin-dev
{
    background-color: #ff8f32 !important;  
}

/* used to set the color of the top bar for production sites (if Maverick decides he wants something aside from the default) */
.skin-prod
{
    background-color: #2dc3e8 !important;
}

/* used to contain buttons for navigation on tabbed pages with sub pages (used with "well" class so it overrides some of those settings) */
.speedButtonContainer 
{
    margin-bottom: 10px !important;
    padding: 5px !important;
    min-height: 32px;
}

/* Used mostly in grids where the data is frequently longer than is practical for a default column length.  The ellipsis lets users know there is more/hidden data.  */
.showEllipsis 
{    
    overflow:hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* super select (select with HTML content) */
.superselect{
    width: 100%;
    max-height: 500px; /* regular select box seems to default to about 400px*/
    overflow-y: scroll;
    overflow-x: hidden
}

/***************************************
    Login/Switch user Page Specifics
***************************************/

/* DC logo margins */    
.login-logo
{       
    margin: 10px auto 20px auto;
}

/* sets better margin for the top of the login div */
.widget.login-form
{    
    margin-top: 40px;
}


/************************************************************/
/**************** WEB FORMS CARRYOVER ***********************/
/************************************************************/

#gridArea       
{
    /* For grids on page with a (left) sidebar */
    overflow: auto;    
    height: 100%;
}

.style1
{
    min-width: 450px;
}

.NullValidator
{
    color:Red;
}

.rgDataDiv 
{
    /*height: auto !important;
    /*min-height: 500px; /* short-term fix to auto shrinking of telerik grids */
}

.checkbox {
    margin-top: 0px;
    margin-bottom: 0px;
} 

label.Entry
{
    display: block;
}

div.Entry
{
    padding-bottom: 5px;
}

.floatLeft-date-row
{
    float:left;
}

.floatRight-date-row
{
    float:right;
}

/* overrides default telerick css for date picker*/
/*.riTextBox
{
    border-color:Gray !important;
}*/

/*  !important  overrides default embeded css in telerik controls. this applies to <DateInput> tag part */
/*.FormInputDatePicker*/
/*#ctl00_MainContent_RadDatePicker1_wrapper 
{
    display:inline !important;
    padding-right:9px !important;
    float:right !important;
    width:206px !important;
}

label.Entry
{
    display: block;
}

div.Entry
{
    padding-bottom: 5px;
}*/


/**************** GOOGLE MAP CONFIGURATION ***********************/

#map{
    min-height: 500px;
    height: 100%;
    width: 100%;
    border: 1px solid #000;
}

.mapList
{
    overflow-y: scroll;
    height: 100%;
    float: left;
    min-width: 350px;
}

.mapLegend 
{
    margin: 20px;
    padding: 20px;
}

#reg-canvas 
{
    margin-left: 10px;
}

.viewMap 
{
    text-align: center;
}

.mapTableHeader 
{
    font-weight: bold;
    text-align: center;
    vertical-align: top;
}

.mapTableLabel 
{
    font-weight: bold;
    text-align: right;
    padding-right: 5px;
    vertical-align:top;
    width: 150px;
}

img.mapicon 
{
    height: 15px;
    width: auto;
}


/****************************
   Import Center Specifics  (This will change when it goes to a Beyond Admin style wizard)
****************************/

#tlFields 
{
    height: 100%;
}

#sbAction 
{
    display: inline-block;
}

#sbAction .emptyItem 
{
    border-right-width: 0;
}

#ic-container 
{
    height: 95%;
    width: 100%; 
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

#ic-form 
{
    width: 100%
}

.large-text
{
    font-size: 2em;
    font-weight: bold;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-variant: small-caps;
}

.ic-left-column
{
    width: 25%;
    float: left;
    margin-right: 3%;
}

.ic-right-column
{
    width: 70%;
    float: left;    
}

.ic-navbuttons
{    
    font-size: 14px;
    margin-left: auto;
    margin-right: auto;
}

div.ic-fullwidth 
{
    width: 100%;
}

.ic-inline
{
    display: inline-block;
}

.ic-mapping-table
{
    height: 700px;
    width: 100%;
}

tr.ic-grid-row
{
    height: 100%;
    vertical-align: top;
}

.ErrorTextBox {
    resize: none;
    min-height: 150px;
    height: auto;
    width: 100%;
}
.RequiredLabel {
    color: red;
}
.text_align_center {
    text-align: center;
}

