﻿#wrapper{
	position:fixed;
	margin:-200px auto auto -400px;
	top:40%;
	left:50%;
	text-align:center;
	-webkit-animation-name: spin;
    -webkit-animation-duration: 800ms;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: spin;
    -moz-animation-duration: 800ms;
    -moz-animation-iteration-count: 1;
    -moz-animation-timing-function: linear;
    -ms-animation-name: spin;
    -ms-animation-duration: 800ms;
    -ms-animation-iteration-count: 1;
    -ms-animation-timing-function: linear;
}

#logo{
	width:800px;
	height:auto;
	-webkit-animation-name: sizelogo;
    -webkit-animation-duration: 800ms;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: sizelogo;
    -moz-animation-duration: 800ms;
    -moz-animation-iteration-count: 1;
    -moz-animation-timing-function: linear;
    -ms-animation-name: sizelogo;
    -ms-animation-duration: 800ms;
    -ms-animation-iteration-count: 1;
    -ms-animation-timing-function: linear;
}

/*Animation*/

@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}

@-moz-keyframes sizelogo {
    from { 		
		width:20px;
		height:auto;
	}
    to { 
		width:800px;
		height:auto;
	}
}
@-webkit-keyframes sizelogo {
    from { 
		width:20px;
		height:auto;
	}
    to { 
		width:800px;
		height:auto; 
	}
}
@keyframes sizelogo {
    from {
		width:20px;
		height:auto;
	}
    to {
		width:800px;
		height:auto;
	}
}