﻿@model IEnumerable<DispatchCrude.Models.Customer>
@using DispatchCrude.Core;
@using DispatchCrude.Extensions;

@{
    ViewBag.Title = "Resources";
    ViewBag.SubTitle = "Shippers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="tabbable TabRepaint">
    <ul class="nav nav-tabs" id="tabmenu">
        @NavigationHelper.PrintTabArray(NavigationHelper.TabSet_Resources, "Tab_Shippers")
    </ul>
    <div class="tab-content">
        <div class="tab-pane in active">

            @(Html.Kendo().Grid(Model)
                .Name("grid")
                .DataSource(ds => ds
                    .Ajax()
                    .Filter(filter => filter.Add(m => m.Active).IsEqualTo(true))
                    .Model(model => model.Id(m => m.ID))
                    .PageSize(Settings.DefaultPageSize)
                    .Sort(sort => { if (Request.QueryString.Keys.Count == 0) { sort.Add("Name").Ascending(); } }) // Initial Sort
                    .Create(create => create.Action("Create", "Shippers"))
                    .Read(read => read.Action("Read", "Shippers"))
                    .Update(update => update.Action("Update", "Shippers"))
                    .Destroy(update => update.Action("Delete", "Shippers"))
                    .Events(events => { events.Error("onDSErrors"); events.RequestEnd("onDSRequestEnd"); })
                )
                .Excel(excel => excel
                    .AllPages(true)
                    .FileName("Shippers.xlsx")
                    .Filterable(true)
                )
                .HtmlAttributes(new { style = "height:800px;", @class = "MVCGridRepaint" })
                .ToolBar(command =>
                {
                    if (User.IsInRole("createShippers")) command.Create().Text("");
                    command.Excel();
                })
                .Editable(ed => { ed.Mode(GridEditMode.PopUp).TemplateName("Popup_Shipper"); ed.DisplayDeleteConfirmation(false); })
                .Events(e => {
                    e.Edit("onPopupEdit");
                    e.Cancel("onPopupCancelCustom");  // Actions when canceling the popup editor
                    e.ExcelExport("kendoGridExportHelper.ExcelExport");  // This line/function call is only needed when you need to replace an ID in the export with the actual display value (state ID in this grid)
                })  //This is required for conditional changing of the popup (like "create" or "edit" in the window title)
                .Pageable(pager => pager
                    .PageSizes(Settings.MvcGridPageSizes)
                    .Refresh(true)
                )
                .Sortable()
                .Scrollable()
                .Filterable(filterable => filterable
                    .Extra(true)   //This extended "filterable" section of code makes the contains filter the default string filter for these grids
                    .Operators(operators => operators
                        .ForString(str => str
                            .Clear()
                            .Contains("Contains")
                            .DoesNotContain("Does not contain")
                            .StartsWith("Starts with")
                            .EndsWith("Ends with")
                            .IsEqualTo("Is equal to")
                            .IsNotEqualTo("Is not equal to")
                        )
                    )
                )
                .Resizable(resizable => resizable.Columns(true))
                .Columns(columns =>
                {
                    columns.Template(@<text></text>).ClientTemplate("#= rowCommandsUndelete(data) #").Title("&nbsp;").Width(100);
                    columns.Bound(m => m.Active)
                        .Title("Active?")
                        .ClientTemplate("#= ActiveState(data.Active) #")
                        .Width(85);
                    columns.Bound(m => m.Name)
                        .ClientTemplate("<text>#= data.Name #<text>")
                        .Width(250);
                    columns.Bound(m => m.Address)
                        .Width(200);
                    columns.Bound(m => m.City)
                        .Width(200);
                    columns.Bound(m => m.StateID)
                        .Title("State")
                        .EditorTemplateName("_StateDDL")
                        .ClientTemplate("#= data.State ? data.State.Abbreviation : '' #")
                        .Filterable(false)
                        .Width(85);
                    columns.Bound(m => m.Zip)
                        .Width(85);
                    columns.Bound(m => m.ContactName)
                        .Width(200);
                    columns.Bound(m => m.ContactEmail)
                        .ClientTemplate(@"#if(data.ContactEmail != null)
                                            {#<div title='Send mail to: #=data.ContactEmail#'>
                                                <a href='mailto:#=data.ContactEmail#'>#=data.ContactEmail#</a>
                                            </div>#}#")
                        .Width(200);
                    columns.Bound(m => m.ContactPhone)
                        .ClientTemplate("#if(data.ContactPhone != null){# #=FormatUSAPhoneNumber(data.ContactPhone, true)# #}#")                        
                        .Width(175);
                    columns.Bound(m => m.HelpDeskPhone)
                        .ClientTemplate("#if(data.HelpDeskPhone != null){# #=FormatUSAPhoneNumber(data.HelpDeskPhone, true)# #}#")                        
                        .Width(175);
                    columns.Bound(m => m.NetTermDays)
                        .Width(150);
                    columns.Bound(m => m.SingleInvoicePerOrder)
                        .Title("S.I.P.O. &nbsp;<i class='fa fa-question-circle'></i>")
                        .HeaderHtmlAttributes(new { @title = "Single Invoice Per Order" })
                        .ClientTemplate("#= ActiveState(data.SingleInvoicePerOrder) #")
                        .Width(100);
                    columns.Bound(m => m.CodeDXCode)
                        .Width(175);
                    columns.Bound(m => m.ShipXpressDXClient)
                        .Width(150);
                    columns.Bound(m => m.ShipXpressDXExport)
                        .ClientTemplate("#= ActiveState(data.ShipXpressDXExport) #")                        
                        .Width(150);
                    columns.Bound(m => m.EmergencyInfo)
                        .ClientTemplate("#= ellipseDiv(data.EmergencyInfo) #")                        
                        .Width(200);
                    columns.Bound(m => m.BOLHeaderFileName)
                        .Title("BOL Header File")
                        .ClientTemplate(@"
                                    #if(data.BOLHeaderFileName){#
                                        <div class='showEllipsis' data-placement='bottom' title='#=data.BOLHeaderFileName#'>
                                            <a href='/shippers/viewImage/#=data.ID#' target='_blank'><span class='glyphicon glyphicon-picture' title='View' /></a>
                                            &nbsp;&nbsp;
                                            <a href='/shippers/downloadImage/#=data.ID#'><span class='glyphicon glyphicon-download-alt' title='Download' /></a>
                                            &nbsp;&nbsp;
                                            #=data.BOLHeaderFileName#
                                        </div>
                                    #}#")
                        .Width(200);
                    columns.Bound(m => m.CreateDate)
                        .Width(200);
                    columns.Bound(m => m.CreatedByUser)
                        .Width(175);
                    columns.Bound(m => m.LastChangeDate)
                        .Width(200);
                    columns.Bound(m => m.LastChangedByUser)
                        .Width(200);
                    columns.Bound(m => m.DeleteDate)
                        .Width(200);
                    columns.Bound(m => m.DeletedByUser)
                        .Width(200);
                })
            )

            @*These inputs are required for create/edit/deactivate permissions functionality*@
            <input id="allowCreate" type="hidden" value="@UserSupport.Allow.Create.OnPage("Shippers")" />
            <input id="allowEdit" type="hidden" value="@UserSupport.Allow.Edit.OnPage("Shippers")" />
            <input id="allowDelete" type="hidden" value="@UserSupport.Allow.Delete.OnPage("Shippers")" />
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        // customKendoGridButtons() fixes the look of the add new button and
        // excel export button that were not addressed directly in the grid above
        customKendoGridButtons();
    });

    function onPopupCancelCustom(e) {
        /* Clear any document that was uploaded */
        $.ajax({
            url: "/Shippers/ClearDocument",
            type: "GET",
            success: function (result) { }
        });
    }
</script>

@* These scripts need to be included on every Kendo MVC grid page. They include extra "default" grid functions *@
<script src="~/scripts/kendoExcelExportHelper.js?ver=2.1" type="text/javascript"></script>
<script src="~/scripts/kendoGridErrors.js" type="text/javascript"></script>