﻿@model IEnumerable<DispatchCrude.Models.OriginTank>
@using DispatchCrude.Core;
@using DispatchCrude.Extensions;

@{
    ViewBag.Title = "Locations";
    ViewBag.SubTitle = "Origin Tanks";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
/* this has to be in-page in order to override the link color.  It does not work from the css file. 
   see Display_Tank_Information() below for usage */
.whitelink { color: #FFF !important; }
</style>

<div class="tabbable TabRepaint">
    <ul class="nav nav-tabs" id="tabmenu">
        @NavigationHelper.PrintTabArray(NavigationHelper.TabSet_Locations, "Tab_OriginTanks")
    </ul>
    <div class="tab-content">
        <div class="tab-pane in active">
            <div class="well speedButtonContainer">
                @NavigationHelper.PrintButtonArray(NavigationHelper.ButtonSet_TabOriginTanks, "Button_OriginTanks")
            </div>
            <div class="inline-block" style="width:59%;">
                @(Html.Kendo().Grid(Model)
                    .Name("Grid_Tanks")
                    .DataSource(ds => ds
                        .Ajax()
                        .Filter(filter =>
                        {
                            filter.Add(m => m.Active).IsEqualTo(true);
                            //If an origin has been specified in the url from the origins page, filter by its name
                            if (ViewBag.OriginName != null) { filter.Add(m => m.Origin.Name).IsEqualTo(ViewBag.OriginName); }
                        })
                        .Model(model =>
                        {
                            model.Id(q => q.ID);
                            model.Field(q => q.Origin).DefaultValue(new DispatchCrude.Models.Origin());
                        })
                        .PageSize(Settings.DefaultPageSize)
                        .Sort(sort => { if (Request.QueryString.Keys.Count == 0) { sort.Add("Origin.Name").Ascending(); sort.Add("TankNum").Ascending(); } }) // Initial Sort
                        .Create(create => create.Action("Create", "OriginTanks"))
                        .Read(read => read.Action("Read", "OriginTanks"))
                        .Update(update => update.Action("Update", "OriginTanks"))
                        .Destroy(update => update.Action("Delete", "OriginTanks"))
                        .Events(events => { events.Error("onDSErrors"); events.RequestEnd("onDSRequestEnd"); })
                    )
                    .Excel(excel => excel
                        .AllPages(true)
                        .FileName("OriginTanks.xlsx")
                        .Filterable(true)
                    )
                    .Events(ev => {
                        ev.ExcelExport("kendoGridExportHelper.ExcelExport");  // This line/function call is only needed when you need to replace an ID in the export with the actual display value (state ID in this grid)
                        ev.Change("Display_Tank_Information"); //when a row is clicked, This populates the partial view on the right with the information from the selected tank
                        ev.DataBound("customKendoGridButtons_OnDataBound");  //This function call is required here in order to get the delete buttons to show up as desired on this grid.
                    })
                    .HtmlAttributes(new { style = "height:800px;", @class = "MVCGridRepaint" })
                    .ToolBar(command =>
                    {
                        if (User.IsInRole("createOriginTanks")) command.Create().Text("");
                        command.Excel();
                    })
                    .Editable(ed => { /*ed.Mode(GridEditMode.PopUp).TemplateName("Popup_OriginTank");*/ ed.DisplayDeleteConfirmation(false); })
                    .Pageable(pager => pager
                        .PageSizes(new int[] { Settings.DefaultPageSize, 50, 100, 250 })
                        .Refresh(true)
                    )
                    .Sortable()
                    .Scrollable()
                    .Selectable()
                    .Filterable(filterable => filterable
                        .Extra(true)   //This extended "filterable" section of code makes the contains filter the default string filter for these grids
                        .Operators(operators => operators
                            .ForString(str => str
                                .Clear()
                                .Contains("Contains")
                                .DoesNotContain("Does not contain")
                                .StartsWith("Starts with")
                                .EndsWith("Ends with")
                                .IsEqualTo("Is equal to")
                                .IsNotEqualTo("Is not equal to")
                            )
                        )
                    )
                    .Resizable(resizable => resizable.Columns(true))
                    .Columns(columns =>
                    {
                    columns.Template(@<text></text>).ClientTemplate("#= rowCommandsUndelete(data) #").Title("&nbsp;").Width(100);
                        columns.Bound(m => m.Active)
                            .Title("Active?")
                            .ClientTemplate("#= ActiveState(data.Active) #")
                            .Width(85);
                        columns.Bound(m => m.Origin.Name)
                            .ClientTemplate("<div id='#=data.ID#'></div><a href='/Site/TableMaint/Origins.aspx?id=#=data.Origin.ID#'>#=data.Origin.Name#</a>")  //Empty div with "data.ID" is required (see JavaScript section below)
                            .Width(300);
                        columns.Bound(m => m.TankNum)
                            .Width(150);
                        columns.Bound(m => m.AltTankNum)
                            .Width(150);
                        columns.Bound(m => m.TankDescription)
                            .Width(150);
                        columns.Bound(m => m.CreateDate)
                            .Width(200);
                        columns.Bound(m => m.CreatedByUser)
                            .Width(175);
                        columns.Bound(m => m.LastChangeDate)
                            .Width(200);
                        columns.Bound(m => m.LastChangedByUser)
                            .Width(200);
                        columns.Bound(m => m.DeleteDate)
                            .Width(200);
                        columns.Bound(m => m.DeletedByUser)
                            .Width(200);
                    })
                )
            </div>
            <div id="TankDetails" class="inline-block pull-right" style="overflow:auto;width:40%;">
                <table style="height:100%;" class="center">
                    <tr>                        
                        <td style="height:100%" valign="middle">
                            <i id="spinner" class="fa fa-3x fa-fw margin-bottom"></i><br />
                            <h1>Select a tank to view or edit</h1>
                        </td>
                    </tr>
                </table>                
            </div>
            @*These inputs are required for create/edit/deactivate permissions functionality*@
            <input id="allowCreate" type="hidden" value="@UserSupport.Allow.Create.OnPage("OriginTanks")" alt="javascript:EditTank(0)" target_grid="Grid_Tanks" />
            @*<input id="allowEdit" type="hidden" value="@UserSupport.Allow.Edit.OnPage("OriginTanks")" />*@
            <input id="allowDelete" type="hidden" value="@UserSupport.Allow.Delete.OnPage("OriginTanks")" />
        </div>
    </div>
</div>

<script src="~/scripts/kendoExcelExportHelper.js?ver=2.1" type="text/javascript"></script>
<script src="~/scripts/kendoGridErrors.js"></script>

@*  Standard Javascript Required for normal Grid operation (NOTE: There is custom code in onDSRequestEnd_DISPLAY)  *@
<script type="text/javascript">    

    //This global is used in _TankInfo_Edit and _TankInfo_Display pages to hold on to the selected tank through the editing process
    //This also requires the presence of the "<div id='#=data.ID#'></div>" portion of the .ClientTemplate() in Grid_Tanks to be present (currently in the origin name field)
    var global_SelectedTankID = 0;

    $(document).ready(function () {
        // Remove the incoming URL parameter filter if it exists (This does leave the grid filter intact)
        if ("@ViewBag.ClearUrl" == "True")        
            RegexReplaceUrl(/\?OriginID\=\d+/, "");        
    });

    // page ready script
    $(function () {
        //Help to center/middle align the "select a tank" text that loads initially in the partial view area
        $("#TankDetails").css("height", $("#TankDetails").parent().height());        
    });

    //SEPARATE FUNCTIONS FOR EACH GRID
    // grid assumes a delete/destroy operation simply removes the record, which might not be the case (since is undeletable), so force "rebind"
    function onDSRequestEnd(e) {
        if (e.type == "destroy") {
            var grid = $("#Grid_Tanks").data("kendoGrid");
            grid.dataSource.read();
        }
    }

    function onDSErrors(args) {
        debugger;
        HandleDSErrors(args, $("#Grid_Tanks").data("kendoGrid"));
    }
</script>

@*  Custom javascript just for this page  *@
<script type="text/javascript">

    function getOriginName(ID) {
        $.ajax({
            url: "/OriginTanks/GetFilteredOriginName",
            type: "GET",
            data: { OriginID: ID }
        })
        .done(function (result) {
            return result;
        })
    }

    function Display_Tank_Information(e) {

        //start the spinner because this function can take a little while to complete at times
        $("#spinner").addClass("fa-spinner fa-pulse");

        //When clicking on a tank row, make sure the origin link doesn't "disappear" 
        //due to the very similar color of the selection on the row in grid tanks
        //******
        //Put all non-selected links back to normal
        $('a').removeClass('whitelink');
        //Fix selected row's link color for visibility
        this.select().closest('tr').find('a').addClass('whitelink');
        //******

        debugger;
        var data = this.dataItem(this.select());
        tankid = data.id;

        $.ajax({
            url: "/OriginTanks/TankInfo_Display",
            type: "GET",
            data: { TankID: tankid }
        })
        .done(function(result) {
            $("#TankDetails").html(result);
        })

    }

    function EditTank(tankID) {
        debugger;
        //start the spinner because this function can take a little while to complete at times
        $("#spinner").addClass("fa-spinner fa-pulse");

        $.ajax({
            url: "/OriginTanks/TankInfo_Edit"
            , type: "GET"
            , data: { TankID: tankID, DefaultOriginID: @(ViewBag.OriginID ?? 0) }  
        })
        .done(function (result) {
            $("#TankDetails").html(result);
            $("#AvailableOrigins").select2();  //Initialize Select2 dropdown list for Origins
            $("#AvailableTankDefinitions").select2();  //Initialize Select2 dropdown list for Tank Definitions
        })
    }

</script>