﻿@model DispatchCrude.Models.Origin

@{
    ViewBag.Title = "Origins";
    Layout = null;
}
<link href="/styles/telerik.mvc/kendo.common.min.css" rel="stylesheet" type="text/css" />
<link href="/styles/telerik.mvc/kendo.dataviz.min.css" rel="stylesheet" type="text/css" />
<link href="/styles/telerik.mvc/kendo.default.min.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="/scripts/beyondadmin/jquery.min.js"></script>
<script type='text/javascript' src='/scripts/jquery-migrate-1.2.1.min.js'></script>
<script type="text/javascript" src="/scripts/telerik.mvc/kendo.web.min.js"></script>
<script type="text/javascript" src="/scripts/telerik.mvc/kendo.aspnetmvc.min.js"></script>
<script type="text/javascript" src='/scripts/telerik.mvc/kendo.modernizr.custom.js'></script>

<div id="table">
    <link href="~/Styles/Site.css?version=2.32" rel="stylesheet" type="text/css" />
    <link href="~/Styles/tablemx.css?version=1.0" rel="stylesheet" type="text/css" />
	<div class="tablerow">
		<div class="label">
			Type:
		</div>
		<div class="data validatedata">
			@(Html.Kendo().DropDownListFor(model => model.OriginTypeID)
              //.Name("OriginType")
              .HtmlAttributes(new { style = "width:100%", required="required" })
              .OptionLabel("Select origin type...")
              .Value(Model.OriginTypeID.ToString())
              .DataValueField("ID")
              .DataTextField("Name")
              .DataSource(ds => {
                   ds.Read(read => {
                       read.Action("GetOriginTypes", "TableMx")
                           .Type(HttpVerbs.Post);
                   });
              })
            )
		</div>
		<div class="label">
			Country:
		</div>
		<div class="data">
			<select>
			@(Html.Kendo().DropDownList()
              .Name("CountryID")
              .HtmlAttributes(new { style = "width:100%", required="required" })
              .OptionLabel("Select country...")
              .Value(Model.State.ToString())
              .DataValueField("ID")
              .DataTextField("Name")
              .DataSource(ds => {
                   ds.Read(read => {
                       read.Action("GetOriginTypes", "TableMx")
                           .Type(HttpVerbs.Post);
                   });
              })
            )
			</select>
		</div>
		<div class="label">
			Shipper:
		</div>
		<div class="data">
			<select>
				<option>(Please Select One)</option>
			</select>
		</div>
		<div class="label">
			NDIC File#:
		</div>
		<div class="data">
			<input type="text" name=""/>
		</div>
	</div>
	<div class="tablerow">
		<div class="label">
			Name:
		</div>
		<div class="data">
			<input type="text" name=""/>
		</div>
		<div class="label">
			Sate/Provice:
		</div>
		<div class="data">
			<select>
				<option>(Please Select One)</option>
			</select>
		</div>
		<div class="label">
			Operator:
		</div>
		<div class="data">
			<select>
				<option>(Please Select One)</option>
			</select>
		</div>
		<div class="label">
			CTB#:
		</div>
		<div class="data">
			<input type="text" name=""/>
		</div>
	</div>
	<div class="tablerow">
		<div class="label">
			Lease Name:
		</div>
		<div class="data">
			<input type="text" name=""/>
		</div>
		<div class="label">
			Region:
		</div>
		<div class="data">
			<select>
				<option>(Please Select One)</option>
			</select>
		</div>
		<div class="label">
			Producer:
		</div>
		<div class="data">
			<select>
				<option>(Please Select One)</option>
			</select>
		</div>
		<div class="label">
			CA:
		</div>
		<div class="data">
			<input type="text" name=""/>
		</div>
	</div>
	<div class="tablerow">
		<div class="label">
			Lease #:
		</div>
		<div class="data">
			<input type="text" name=""/>
		</div>
		<div class="label">
			County:
		</div>
		<div class="data">
			<input type="text" name=""/>
		</div>
		<div class="label">
			Pumper:
		</div>
		<div class="data">
			<select>
				<option>(Please Select One)</option>
			</select>
		</div>
		<div class="label">
			BLM Info:
		</div>
		<div class="data">
			<input type="text" name=""/>
		</div>
	</div>
	<div class="tablerow">
		<div class="label">
			H<sub>2</sub>S:
		</div>
		<div class="data">
			<input type="checkbox" name=""/>
		</div>
		<div class="label">
			Address:
		</div>
		<div class="data">
			<input type="text" name=""/>
		</div>
		<div class="label">
			Legal Description:
		</div>
		<div class="data">
			<input type="text" name=""/>
		</div>
		<div class="label">
			Field:
		</div>
		<div class="data">
			<select>
				<option>(Please Select One)</option>
			</select>
		</div>
	</div>
	<div class="tablerow">
		<div class="label">
			Station:
		</div>
		<div class="data">
			<input type="text" name=""/>
		</div>
		<div class="label">
			City:
		</div>
		<div class="data">
			<input type="text" name=""/>
		</div>
		<div class="label">
			Well API:
		</div>
		<div class="data">
			<input type="text" name=""/>
		</div>
		<div class="label">
			Spud Date:
		</div>
		<div class="data">
			<input type="text" name=""/>
		</div>
	</div>
	<div class="tablerow">
		<div class="label">
			Ticket Type:
		</div>
		<div class="data">
			<select>
				<option>(Please Select One)</option>
			</select>
		</div>
		<div class="label">
			Zip:
		</div>
		<div class="data">
			<input class="datepick" type="date" name=""/>
		</div>
		<div class="label">
			LAT/LON:
		</div>
		<div class="data">
			<input class="latlon" type="text" name=""/> / <input class="latlon" type="text" name=""/>
		</div>
		<div class="label">
			Total Depth:
		</div>
		<div class="data">
			<input type="text" name=""/>
		</div>
	</div>
	<div class="tablerow">
		<div class="label">
			Product(s):
		</div>
		<div class="data">
			<select>
				<option>(Please Select One)</option>
			</select>
		</div>
		<div class="label">
			TimeZone/DST:
		</div>
		<div class="data">
			<select id="timezone">
				<option>(Select One)</option> 
			</select>
			/ <input type="checkbox" name=""/>
		</div>
		<div class="label">
			GeoFence Meters:
		</div>
		<div class="data">
			<input type="text" name=""/>
		</div>
		<div class="label">
			Tax Rate (%):
		</div>
		<div class="data">
			<input type="text" name=""/>
		</div>
	</div>
</div>