﻿@model IEnumerable<DispatchCrude.Models.HosPolicy>
@using DispatchCrude.Core;
@using DispatchCrude.Extensions;

@{
    ViewBag.Title = "Business Rules";
    ViewBag.SubTitle = "HOS Policies";
}

<div class="tabbable TabRepaint">
    <ul class="nav nav-tabs" id="tabmenu">
        @NavigationHelper.PrintTabArray(NavigationHelper.TabSet_BusinessRules, "Tab_HOSPolicies")
    </ul>
    <div class="tab-content">
        <div class="tab-pane in active">

            @(Html.Kendo().Grid(Model)
                .Name("grid")
                .DataSource(ds => ds
                    .Ajax()
                    .Filter(filter => filter.Add(model => model.Active).IsEqualTo(true))
                    .Model(model => model.Id(m => m.ID))
                    .PageSize(Settings.DefaultPageSize)
                    .Sort(sort => { if (Request.QueryString.Keys.Count == 0) { sort.Add("Name").Ascending(); } }) // Initial Sort
                    .Create(create => create.Action("Create", "HOSPolicies"))
                    .Read(read => read.Action("Read", "HOSPolicies"))
                    .Update(update => update.Action("Update", "HOSPolicies"))
                    .Destroy(update => update.Action("Delete", "HOSPolicies"))
                    .Events(events => { events.Error("onDSErrors"); events.RequestEnd("onDSRequestEnd"); })
                )
                .Excel(excel => excel
                    .AllPages(true)
                    .FileName("HOSPolicies.xlsx")
                    .Filterable(true)
                )
                .HtmlAttributes(new { style = "height:800px;", @class = "MVCGridRepaint" })
                .ToolBar(command =>
                {
                    if (User.IsInRole("createHOSPolicy")) command.Create().Text("");
                    command.Excel();
                })
                .Editable(ed => { ed.Mode(GridEditMode.PopUp).TemplateName("Popup_HOSPolicy"); ed.DisplayDeleteConfirmation(false); })
                .Events(e => e.Edit("onEdit"))  //This is required for conditional changing of the popup (like "create" or "edit" in the window title)
                .Pageable(pager => pager
                    .PageSizes(Settings.MvcGridPageSizes)
                    .Refresh(true)
                )
                .Sortable()
                .Scrollable()
                .Filterable(filterable => filterable
                    .Extra(true)   //This extended "filterable" section of code makes the contains filter the default string filter for these grids
                    .Operators(operators => operators
                        .ForString(str => str
                            .Clear()
                            .Contains("Contains")
                            .DoesNotContain("Does not contain")
                            .StartsWith("Starts with")
                            .EndsWith("Ends with")
                            .IsEqualTo("Is equal to")
                            .IsNotEqualTo("Is not equal to")
                        )
                    )
                )
                .Resizable(resizable => resizable.Columns(true))
                .Columns(columns =>
                {
                columns.Template(@<text></text>).ClientTemplate("#= rowCommandsUndelete(data) #").Title("&nbsp;").Width(100);
                    columns.Bound(model => model.Active)
                        .Title("Active?")
                        .ClientTemplate("#= ActiveState(data.Active) #")
                        .Width(85);
                    columns.Bound(model => model.Name).Width(200);
                    
                    columns.Bound(model => model.OnDutyWeeklyLimitHR)
                        .Title("OWL")
                        .HeaderHtmlAttributes(new { @title = "On-Duty Weekly Limit (hrs)" })
                        .Width(80);
                    columns.Bound(model => model.DrivingWeeklyLimitHR)
                        .Title("DWL")
                        .HeaderHtmlAttributes(new { @title = "Driving Weekly Limit (hrs)" })
                        .Width(80);
                    columns.Bound(model => model.OnDutyDailyLimitHR)
                        .Title("ODL")
                        .HeaderHtmlAttributes(new { @title = "On-Duty Daily Limit (hrs)" })
                        .Width(80);
                    columns.Bound(model => model.DrivingDailyLimitHR)
                        .Title("DDL")
                        .HeaderHtmlAttributes(new { @title = "Driving Daily Limit (hrs)" })
                        .Width(80);
                    columns.Bound(model => model.DrivingBreakLimitHR)
                        .Title("BL")
                        .HeaderHtmlAttributes(new { @title = "Break Limit (hrs)" })
                        .Width(80);
                    columns.Bound(model => model.PersonalDailyLimitHR)
                        .Title("PC")
                        .HeaderHtmlAttributes(new { @title = "Personal Conveyance (hrs)" })
                        .Width(80);

                    columns.Bound(model => model.ShiftIntervalDays)
                        .Title ("Shift")
                        .HeaderHtmlAttributes(new { @title = "Shift (days)" })
                        .Width(80);

                    columns.Bound(model => model.WeeklyResetHR)
                        .Title("WR")
                        .HeaderHtmlAttributes(new { @title = "Weekly Reset" })
                        .Width(80);
                    columns.Bound(model => model.DailyResetHR)
                        .Title("DR")
                        .HeaderHtmlAttributes(new { @title = "Daily Reset" })
                        .Width(80);
                    columns.Bound(model => model.SleeperBreakHR)
                        .Title("SB")
                        .HeaderHtmlAttributes(new { @title = "Sleeper Break" })
                        .Width(80);
                    columns.Bound(model => model.DrivingBreakHR)
                        .Title("DB")
                        .HeaderHtmlAttributes(new { @title = "Driving Break" })
                        .Width(80);
                    columns.Bound(model => model.SleeperBerthSplitTotalHR)
                        .Title("SBT")
                        .HeaderHtmlAttributes(new { @title = "Sleeper-Berth Split Total" })
                        .Width(80);
                    columns.Bound(model => model.SleeperBerthSplitMinimumHR)
                        .Title("SBM")
                        .HeaderHtmlAttributes(new { @title = "Sleeper-Berth Split Min" })
                        .Width(80);

                    columns.Bound(model => model.WarnLogoffHR)
                        .Title("Warn X")
                        .HeaderHtmlAttributes(new { @title = "Warn Logoff" })
                        .Width(100);
                    columns.Bound(model => model.ForceLogoffHR)
                        .Title("Force X")
                        .HeaderHtmlAttributes(new { @title = "Force Logoff (hrs)" })
                        .Width(100);

                    columns.Bound(model => model.DriverAppLogRetentionDays)
                        .Title("Mobile Retention Days")
                        .HeaderHtmlAttributes(new { @title = "Driver App Log Retention (days)" })
                        .Width(200);

                    columns.Bound(model => model.CreateDate)
                        .Width(200);
                    columns.Bound(model => model.CreatedByUser)
                        .Width(175);
                    columns.Bound(model => model.LastChangeDate)
                        .Width(200);
                    columns.Bound(model => model.LastChangedByUser)
                        .Width(200);
                    columns.Bound(model => model.DeleteDate)
                        .Width(200);
                    columns.Bound(model => model.DeletedByUser)
                        .Width(200);
                })
            )

            @*These inputs are required for create/edit/deactivate permissions functionality*@
            <input id="allowCreate" type="hidden" value="@UserSupport.Allow.Create.OnPage("HOSPolicy")" />
            <input id="allowEdit" type="hidden" value="@UserSupport.Allow.Edit.OnPage("HOSPolicy")" />
            <input id="allowDelete" type="hidden" value="@UserSupport.Allow.Delete.OnPage("HOSPolicy")" />
        </div>
    </div>
</div>

<script type="text/x-kendo-template" id="validationMessageTemplate">
    # if (messages.length) { #
    # for (var i = 0; i < messages.length; ++i) { #
    <li>#= messages[i] #</li>
    # } #
    # } #
</script>

<script type="text/javascript">
    $(document).ready(function () {

        // customKendoGridButtons() fixes the look of the add new button and
        // excel export button that were not addressed directly in the grid above
        customKendoGridButtons();
    });

    // grid assumes a delete/destroy operation simply removes the record, which might not be the case (since is undeletable), so force "rebind"
    function onDSRequestEnd(e) {
        debugger;
        if (e.type == "destroy") {
            var grid = $("#grid").data("kendoGrid");
            grid.dataSource.read();
        }
    }

    function onDSErrors(args) {
        debugger;
        if (args.errors) {
            var grid = $("#grid").data("kendoGrid");
            var validationTemplate = kendo.template($("#validationMessageTemplate").html());
            grid.one("dataBinding", function (e) {
                e.preventDefault();

                $.each(args.errors, function (propertyName) {
                    debugger;
                    var renderedTemplate = validationTemplate({ field: propertyName, messages: this.errors });
                    /* append these errors to the <ul class="gridErrors> */
                    grid.editable.element.find(".gridErrors").append(renderedTemplate);
                });
            });
        }
    }

    function onEdit(e) {
        //If the model sent to the popup is not new (is an existing record),
        //find and remove the dropdowns for origin and destination.
        //Otherwise, for new records find and remove the disableld textboxes for
        //origin and destination (this is called from the grid edit event above)
        if (!e.model.isNew()) {
            //Do edit mode stuff:
            initDuration("OnDutyWeeklyLimit");
            initDuration("DrivingWeeklyLimit");
            initDuration("OnDutyDailyLimit");
            initDuration("DrivingDailyLimit");
            initDuration("DrivingBreakLimit");
            initDuration("PersonalDailyLimit");
            initDuration("WeeklyReset");
            initDuration("DailyReset");
            initDuration("SleeperBreak");
            initDuration("DrivingBreak");
            initDuration("SleeperBerthSplitTotal");
            initDuration("SleeperBerthSplitMinimum");
            initDuration("WarnLogoff");
            initDuration("ForceLogoff");

        }
        else {
            //Do create mode stuff:

            $(".k-window-title").html("Create"); //Also change the window title to create

        }
    }


    function initDuration(field)
    {
        //Initialize the hour and minute fields of the duration editor
        $("#" + field + "_h").val(Math.floor($("#" + field).val() / 60));
        $("#" + field + "_m").val($("#" + field).val() % 60);

    }
</script>
