﻿@{
    ViewBag.TotalToday = 9;
    ViewBag.TotalWeek = 49;
    ViewBag.TotalAllowed = 100;
    ViewBag.TotalPercent = 49;
}

<div class="databox radius-bordered databox-shadowed databox-graded databox-vertical">
    <div class="databox-top no-padding ">
        <div class="databox-row">
            <div class="databox-cell cell-4 text-align-center bg-orange">
                <span class="databox-number">@ViewBag.TotalToday</span>
                <span class="databox-text">TODAY</span>
            </div>
            <div class="databox-cell cell-4 text-align-center bg-orange">
                <span class="databox-number">@ViewBag.TotalWeek</span>
                <span class="databox-text">THIS WEEK</span>
            </div>
            <div class="databox-cell cell-4 text-align-center bg-darkorange">
                <span class="databox-number">@ViewBag.TotalAllowed</span>
                <span class="databox-text">ALLOWED</span>
            </div>
        </div>
    </div>
    <div class="databox-bottom">
        <span class="databox-text">TOTAL ALLOWED</span>
        <div class="progress progress-sm">
            <div class="progress-bar progress-bar-orange" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width:@(ViewBag.TotalPercent)%">
            </div>
        </div>
    </div>
</div>
