﻿<div class="row">
    <div class="col-lg-9 col-sm-9 col-xs-9">
        @*Html.Partial("_eLog")*@
    </div>
    <div class="col-lg-3 col-sm-3 col-xs-3">
        @Html.Partial("_DriverSummary")
    </div>
</div>