﻿@using DispatchCrude.Extensions;
@{
    ViewBag.Title = "Allocation";
    ViewBag.SubTitle = "Destination Allocation";
}
@section head{
    <script src="~/scripts/jsPDF/jsPDF.js"></script>
    <script src="~/scripts/jsPDF/html2canvas.js"></script>
}
<script src="~/scripts/beyondadmin/charts/flot/jquery.flot.js"></script>
<script src="~/scripts/beyondadmin/charts/flot/jquery.flot.tooltip.js"></script>
<script src="~/scripts/beyondadmin/charts/flot/jquery.flot.stack.js"></script>
<script src="~/scripts/beyondadmin/charts/flot/jquery.flot.resize.js"></script>


<div class="tabbable TabRepaint">
    <ul class="nav nav-tabs" id="tabmenu">
        @NavigationHelper.PrintTabArray(NavigationHelper.TabSet_Allocation, "Tab_DestinationAllocation")
    </ul>
    <div class="tab-content">
        <div class="tab-pane in active">
            <div class="well speedButtonContainer">
                @NavigationHelper.PrintButtonArray(NavigationHelper.ButtonSet_TabAllocation, "Button_AllocationDashboard")
            </div>            
            <div class="DashboardWrapper overflow-y-scroll" style="height:1px;">
                @Html.Action("Allocation")
            </div>            
        </div>
        @*}
            @if (User.IsInRole("viewDriverDashboard") || User.IsInRole("Administrator"))
            {
                <div id="driver" class="tab-pane">
                    @Html.Action("DriverDashboard")
                </div>
            }
            @if (User.IsInRole("viewDispatchDashboard") || User.IsInRole("Administrator"))
            {
                <div id="dispatch" class="tab-pane in active">
                    @Html.Action("DispatchDashboard")
                </div>
            }*@
    </div>
</div>
<div class="horizontal-space"></div>
    
<script>
    function genPDF() {
        var pdf = new jsPDF('l', 'pt', 'a4');
        //pdf.addHTML('<div style="margin:20px"', function () { });
        pdf.addHTML(document.getElementsByClassName("tab-content"), function () {// });
        //pdf.addHTML('</div>', function() {
                pdf.save('Allocations.pdf');
            }
        )
    }

    //Every resize of window make sure that the dashboard content stays inside the tab area
    $(document).ready(ResizeDashboardWrapper);
    $(window).resize(ResizeDashboardWrapper);
    function ResizeDashboardWrapper() {
        var usableSpace = $(".tab-content").innerHeight() - $(".speedButtonContainer").outerHeight() - 50;
        var wrapper = $(".DashboardWrapper");
        wrapper.css("height", usableSpace);
    }
</script>