﻿@using DispatchCrude.Models
@using DispatchCrude.Extensions;
@using DispatchCrude.Core;

@{
    ViewBag.Title = "Commodities";
    ViewBag.Subtitle = "Indexes";
}

<div class="tabbable TabRepaint">
    <ul class="nav nav-tabs" id="tabmenu">        
            @NavigationHelper.PrintTabArray(NavigationHelper.TabSet_Commodities, "Tab_Pricing")        
    </ul>
    <div class="tab-content">
        <div class="tab-pane in active">
            <div class="well speedButtonContainer">
                @NavigationHelper.PrintButtonArray(NavigationHelper.ButtonSet_TabPricing, "Button_Indexes")
            </div>

            @(Html.Kendo().Grid<DispatchCrude.Models.CommodityIndex>()
                .Name("grid")
                .DataSource(dataSource => dataSource
                    .Ajax()
                    .Model(model =>
                    {
                        model.Id(q => q.ID);
                        model.Field(q => q.ID).Editable(false);
                        model.Field(q => q.ProductGroup).DefaultValue(new ProductGroup());
                        model.Field(q => q.Uom).DefaultValue(new Uom());

                    })
                    .Read(read => read.Action("CommodityIndexes", "CommodityPricing"))
                    .Create(create => create.Action("CommodityIndex_Create", "CommodityPricing"))
                    .Update(update => update.Action("CommodityIndex_Update", "CommodityPricing"))
                    //.Destroy(destroy => destroy.Action("CommodityIndex_Destroy", "CommodityPricing"))
                    .Events(events => events.Error("onDSErrors").RequestEnd("onDSRequestEnd"))
                    .PageSize(Settings.DefaultPageSize)
                )
                .Excel(excel => excel
                    .AllPages(true)
                    .FileName("Commodity_Pricing_Indexes.xlsx")
                    .Filterable(true)
                )
                .Events(ev =>
                {
                    ev.ExcelExport("kendoGridExportHelper.ExcelExport");  // This calls Kevin's custom excel functionality
                    ev.Edit("onPopupEdit"); // This just changes the popup's title (Create/Edit). If additional functionality is needed, create a custom function on this page.
                })
                .HtmlAttributes(new { style = "height:800px;", @class = "MVCGridRepaint" })
                .ToolBar(command =>
                {
                    if (User.IsInRole("createCommodityPricing")) command.Create().Text("");
                    command.Excel();
                })
                .Editable(ed => { ed.Mode(GridEditMode.PopUp).TemplateName("Popup_CommodityIndex"); ed.DisplayDeleteConfirmation(false); })
                .Pageable(pager => pager
                        .PageSizes(Settings.MvcGridPageSizes)
                        .Refresh(true)
                )
                .Sortable()
                .Scrollable()
                .Filterable(filterable => filterable
                    .Extra(true)   //This extended "filterable" section of code makes the contains filter the default string filter for these grids
                    .Operators(operators => operators
                        .ForString(str => str
                            .Clear()
                            .Contains("Contains")
                            .DoesNotContain("Does not contain")
                            .StartsWith("Starts with")
                            .EndsWith("Ends with")
                            .IsEqualTo("Is equal to")
                            .IsNotEqualTo("Is not equal to")
                        )
                    )
                )
                .Resizable(resizable => resizable.Columns(true))
                .Columns(columns =>
                {
                columns.Template(@<text></text>).ClientTemplate("#= rowCommandsUndelete(data) #").Title("&nbsp;").Width(100);
                    columns.Bound(q => q.Name)
                        .Width(150);
                    columns.Bound(q => q.ShortName)
                        .Width(150);
                    columns.Bound(q => q.Description)
                        .ClientTemplate("<div class='showEllipsis' data-placement='bottom' title='#= data.Description || '' #'>#= data.Description || '' #</div>")
                        .Width(250);
                    columns.Bound(q => q.ProductGroupID)
                        .ClientTemplate("#= ProductGroup.Name #")
                        .Width(150);
                    columns.Bound(q => q.UomID)
                        .ClientTemplate("#= Uom.Abbrev #")
                        .Width(150);
                })
            )

            @*These inputs are required for create/edit/deactivate permissions functionality*@
            <input id="allowCreate" type="hidden" value="@UserSupport.Allow.Create.OnPage("CommodityPricing")" />
            <input id="allowEdit" type="hidden" value="@UserSupport.Allow.Edit.OnPage("CommodityPricing")" />
            @*<input id="allowDelete" type="hidden" value="@UserSupport.Allow.Delete.OnPage("CommodityPricing")" />*@
        </div>
    </div>
</div>

<script>    
    $(document).ready(function () {
        // customKendoGridButtons() fixes the look of the add new button and
        // excel export button that were not addressed directly in the grid above
        customKendoGridButtons();
    });
        
    function disableLocked()
    {
        var grid = this;
        var model;
    
        grid.tbody.find("tr[role='row']").each(function(){
            model = grid.dataItem(this);
      
            if(model.Locked){
                $(this).find(".k-grid-edit").remove();
            }
        });
    }
</script>

@* These scripts need to be included on every Kendo MVC grid page. They include extra "default" grid functions *@
<script src="~/scripts/kendoExcelExportHelper.js?ver=2.1" type="text/javascript"></script>
<script src="~/scripts/kendoGridErrors.js" type="text/javascript"></script>