﻿@model DispatchCrude.ViewModels.FilterViewModel<DispatchMessageWithDriver>
@using DispatchCrude.Models;
@using DispatchCrude.Core;

@{
    ViewBag.Title = "Dispatch Messaging";
}

<div class="leftpanel">
    <div class="tabbable">
        <ul class="nav nav-tabs">
            <li class="active tab-blue">
                <a data-toggle="tab" href="#Filters" aria-expanded="true">Filters</a>
            </li>
        </ul>

        <div class="tab-content">
            <div id="Filters" class="tab-pane active">      

            @using (Html.BeginForm()) {
                <div class="form-group">
                    @Html.LabelFor(m => m.SearchString)
                    @Html.EditorFor(m => m.SearchString)
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.CarrierID)
                    @Html.DropDownList("CarrierID", null, "(ALL)", htmlAttributes: new { @class = "form-control input-sm" })
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.DriverGroupID)
                    @Html.DropDownList("DriverGroupID", null, "(ALL)", htmlAttributes: new { @class = "form-control input-sm" })
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.DriverID)
                    @Html.DropDownList("DriverID", null, "(ALL)", htmlAttributes: new { @class = "form-control input-sm" })
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.TerminalID)
                    @Html.DropDownList("TerminalID", null, "(ALL)", htmlAttributes: new { @class = "form-control input-sm" })
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.RegionID)
                    @Html.DropDownList("RegionID", null, "(ALL)", htmlAttributes: new { @class = "form-control input-sm" })
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.StateID)
                    @Html.DropDownList("StateID", null, "(ALL)", htmlAttributes: new { @class = "form-control input-sm" })
                </div>


                <div class="form-group">
                    @Html.LabelFor(m => m.StartDate)
                    @Html.EditorFor(m => m.StartDate)
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.EndDate)
                    @Html.EditorFor(m => m.EndDate)
                </div>

                <div>
                    <button id="filterbtn" type="submit" class="btn btn-sm btn-blue shiny">Search</button>
                </div>
            }
            </div>

        </div>
    </div>
</div>




<div id="gridArea" class="GridRepaint">
    @(Html.Kendo().Grid(Model.results)
        .Name("grid")
        .Columns(columns =>
        {
            columns.Bound(v => v.DriverID).Width(100).Filterable(false).Title("").Template(
                @<text>
                    <a href="javascript:showChat('@(item.UserName)')"><i class="fa fa-comments" title="View discussion"></i></a>
                </text>);
            columns.Bound(v => v.Driver);
            columns.Bound(v => v.MessageDateUTC);
            columns.Bound(v => v.Message).Template(
                @<text>
                    @if (string.IsNullOrEmpty(Model.SearchString))
                    {
                        @item.Message
                    }
                    else
                    {
                        @Html.Raw(item.Message.Replace(Model.SearchString, "<mark>" + Model.SearchString + "</mark>"))
                    }
                </text>);
        })
        .Pageable(pager => pager
            .PageSizes(Settings.MvcGridPageSizes)
            .Refresh(true)
        )
        .Filterable(filterable => filterable
            .Extra(true)   //This extended "filterable" section of code makes the contains filter the default string filter for these grids
            .Operators(operators => operators
                .ForString(str => str
                    .Clear()
                    .Contains("Contains")
                    .DoesNotContain("Does not contain")
                    .StartsWith("Starts with")
                    .EndsWith("Ends with")
                    .IsEqualTo("Is equal to")
                    .IsNotEqualTo("Is not equal to")
                )
            )
        )
        .Sortable()
        .Groupable()
        .HtmlAttributes(new { style = "height: 800px;", @class = "MVCGridRepaint" })
        .Scrollable()
        .DataSource(dataSource => dataSource
            .Server()
            .PageSize(Settings.DefaultPageSize)
        )
    )
</div>
<script>
    function showChat(user) {
        // open chatbar if not already open
        if (!$('.page-chatbar').hasClass('open')) {
            $('.page-chatbar').addClass('open');
            $("#chat-link").addClass('open');
        }

        $('.page-chatbar .chatbar-contacts').hide();
        $('.page-chatbar .chatbar-messages').show();

        $.ajax({
            url: "/DispatchMessaging/Messages",
            type: "GET",
            data: { username: user }
        })
        .done(function (result) {
            $(".chatbar-messages").html(result);

            $('.page-chatbar .chatbar-messages .back').on('click', function (e) {
                $('.page-chatbar .chatbar-contacts').show();
                $('.page-chatbar .chatbar-messages').hide();
            });

            $('.messagearea').keydown(function (event) {
                if (event.keyCode == 13) {
                    postMessage(this.form);
                    return false;
                }
            });
        })
    }
</script>