﻿@model IEnumerable<DispatchCrude.Models.Hos>
@using DispatchCrude.Models;
@using DispatchCrude.ViewModels;
@using DispatchCrude.App_Code;
@using DispatchCrude.Core;

@{
    DateTime LogDate = (DateTime)ViewBag.LogDate;
    int DriverID = ViewBag.DriverID;

    double[] totals = { 0, 0, 0, 0 };
    int StartStatus = ViewBag.StartStatus;
    int EndStatus = StartStatus;
    int prevStatus = StartStatus;
    DateTime prevTime = ViewBag.StartDate;

    foreach (var item in Model)
    {
        totals[prevStatus-1] += item.LogDateUTC.Subtract(prevTime).TotalMinutes / 60.0;
        prevStatus = (int)item.HosDriverStatusID;
        prevTime = item.LogDateUTC;
    }
    totals[prevStatus - 1] += ((LogDate == DateTime.Today) ? DateTime.UtcNow : (DateTime)ViewBag.StartDate.AddDays(1)).Subtract(prevTime).TotalMinutes / 60.0;
}
<div class="well with-header">
    <div class="header bordered-blue">
        <div class="col-md-8">
            <i class="fa fa-truck fa-lg"></i>&nbsp;&nbsp;Driver Log - @LogDate.ToString("d")
        </div>
        @if (ViewBag.ShowNavigation)
        {
            <div class="col-md-4">
                <div class="pull-right">
                    <a href="/HOS/Daily/?DriverID=@(DriverID)&StartDate=@LogDate"
                       class="btn btn-blue btn-xs shiny" title="Details"><i class="fa fa-list"></i></a>
                    &nbsp;&nbsp;
                    <button class="btn btn-xs btn-blue shiny" id="btnprev" title="Previous Day" onclick="javascript:refreshDriverLog(-1)">
                        <span class="glyphicon glyphicon-chevron-left"/>
                    </button>
                    <button class="btn btn-xs btn-blue shiny" id="btnnext" title="Next Day" onclick="javascript:refreshDriverLog(1)">
                        <span class="glyphicon glyphicon-chevron-right"/>
                    </button>
                </div>
            </div>
        }
    </div>
    <div class="chart row no-pad">
        <div class="col-sm-11">
            <div id="elog2@(DriverID)@(LogDate.ToString("yyyyMMdd"))" class="chart"></div>
        </div>
        <div class="col-sm-1">
            <div class="text-center">
            <table class="chart chart-summary">
                <tr><td><strong>TOTAL</strong></td></tr>
                @foreach (var i in totals)
                {
                    <tr><td>@(DateHelper.FormatDuration(i))</td></tr>
                }
            </table>
            </div>
        </div>
    </div>
    <div class="row">
            @foreach (HOSViolationDetailViewModel hos in ViewBag.Violations)
            {
                foreach (HOSViolation v in hos.Violations
                    .Where(x => x.ViolationTime >= ViewBag.StartDate && x.ViolationTime < ViewBag.StartDate.AddDays(1) // only list if violation occurs in date range
                                            && x.ViolationTime >= hos.LogDateUTC && x.ViolationTime <= hos.EndDateUTC) // and if violation is this entry (not repeated from earlier)
                    .OrderBy(x => x.ViolationTime))
                {
                    <div class="col-md-12">
                        <span class="label label-danger"><b>@v.Name.ToUpper()</b></span>
                        @Html.DisplayFor(m => v.ViolationTime)
                    </div>
                }
            }
    </div>
    @if (ViewBag.ShowDetails)
    {
        <br />
        <div class="row">
            <div class="col-md-12">
            @if (Model.Any())
            {
                int i = 0;
                <table class="table table-bordered table-condensed">
                    <tr>
                        <td style="width:80px">ID</td>
                        <td style="width:150px">Status</td>
                        <td style="width:150px">Start</td>
                        <td style="width:100px">Duration</td>
                        <td style="width:250px">Location</td>
                        <td style="width:150px">Event</td>
                        <td>Notes</td>
                    </tr>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @if (item.hasPendingChange)
                                {
                                    <span class="glyphicon glyphicon-hourglass" title="Pending change">
                                    </span>
                                }
                                else if (item.isEditable && User.IsInRole("editHOS")
                                    && (ViewBag.ShowOriginal == false || item.hasChanged == false)) // Can edit if viewing current record OR if record is original
                                {
                                    <a href=/HOS/Edit/@item.ID class="btn btn-xs btn-default shiny">
                                        <img src="~/images/edit.png" title="Edit" />
                                    </a>
                                }
                                @if (item.hasChanged)
                                {
                                    <span class="label label-info" data-toggle="tooltip" title="Edited">&nbsp;!&nbsp;</span>
                                }
                            </td>
                            <td>
                                @(Enum.GetName(typeof(HosDriverStatus.Status), item.HosDriverStatusID))
                            </td>
                            <td>
                                @if (item.LogTimeZoneID != null)
                                {
                                    @Html.DisplayFor(modelItem => item.LogDateUTC, new { tzid = item.LogTimeZoneID, tzname = "Driver", custformat = "h:mm tt" })
                                }
                                else
                                {
                                    @Html.DisplayFor(modelItem => item.LogDateUTC, new { custformat = "h:mm tt" })
                                }
                            </td>
                            <td>
                                @{
                                    DateTime endtime = ((i + 1 < Model.Count()) ? Model.ElementAt(i + 1).LogDateUTC : ViewBag.EndDate);
                                }
                                @(DateHelper.FormatDuration(endtime.Subtract(item.LogDateUTC).TotalMinutes / 60.0))
                            </td>
                            <td>
                                @if (item.Lat != 0 && item.Lon != 0)
                                {
                                    @item.LocationDescription<br>
                                    <span class="text-muted">
                                        <small><a target="_blank" href="http://maps.google.com/maps?z=12&t=k&q=loc:@item.Lat,@item.Lon">
                                            @item.Lat, @item.Lon</a></small>
                                    </span>
                                }
                                else if (!string.IsNullOrEmpty(item.LocationDescription))
                                {
                                    @item.LocationDescription
                                }
                                else
                                {
                                    <span class="text-muted">[NOT CAPTURED]</span>
                                }
                            </td>
                            <td>
                                @(item.HosEventType == null ? "" : Enum.GetName(typeof(HosEventType.Type), item.HosEventTypeID))
                            </td>
                            <td>
                                @item.Notes
                            </td>
                        </tr>
                        i++;
                    }
                </table>
            }
            else
            {
                <div>No logs captured for this driver on this date</div>
            }
                </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                @if (ViewBag.HosSignature != null)
                {
                    <img class="img-responsive" src="@(ViewBag.HosSignature.SignatureBlobSrc)" />
                    <div>Signed: @ViewBag.HosSignature.CreateDate</div>
                }
                else
                {
                    <div>Not Signed</div>
                }
            </div>
        </div>
    }

</div>

@*
    ***********************************************************************************************

     In the referring page in a page load script, there must be a call to the plot function 
        elog<xxx><yyyymmdd>() where xxx is the DriverID and yyyymmdd is the date of the graph. 
        The page also contains a refreshDriverLog javascript function, used to update this page 
        using an ajax call.  Script references to the flot files must also be included there.

    ***********************************************************************************************
*@
<script>
    OFFDUTY = 3.5;
    SLEEPER = 2.5;
    DRIVING = 1.5;
    ONDUTY = 0.5;

    var elog@(DriverID)@(LogDate.ToString("yyyyMMdd")) = function () {
            var gridbordercolor = "#eee";
            var d1 = [];
            @if (LogDate <= DateTime.Today)
            {
                <text>
                d1.push([0, @(Enum.GetName(typeof(HosDriverStatus.Status), StartStatus))]); // initial status from previous HOS
                </text>
            }
            else
            {
                <text>
                d1.push([0, null]); // in future so null starting point
                </text>
            }

            @for (int i = 0; i < Model.Count(); i++)
            {

                <text>d1.push([@(Model.ElementAt(i).LogDate.Hour + Model.ElementAt(i).LogDate.Minute / 60.0),
                        @(Enum.GetName(typeof(HosDriverStatus.Status), Model.ElementAt(i).HosDriverStatusID))]);</text>

                if (i == Model.Count() - 1)
                {
                    EndStatus = Model.ElementAt(i).HosDriverStatusID;
                }
            }

            @if ((DateTime) ViewBag.LogDate == DateTime.Today)
            {
                <text>
                d1.push([@(DateTime.Now.Hour + DateTime.Now.Minute / 60.0), @(Enum.GetName(typeof(HosDriverStatus.Status), EndStatus))]); // add point to now
                d1.push([24, null]) // must include 24 to complete graph
                </text>
            }
            else
            {
                <text>
                d1.push([24, @(Enum.GetName(typeof(HosDriverStatus.Status), EndStatus))]); // must include 24 to complete graph (should match prev value or will show peak)
                </text>
            }

                var data1 = [
                    {
                        data: d1,
                        color: themeprimary /* themethirdcolor*/
                    },
                    @foreach (HOSViolationDetailViewModel hos in ViewBag.Violations)
                    {
                        foreach (HOSViolation v in hos.Violations
                            .Where(x => x.ViolationTime >= ViewBag.StartDate && x.ViolationTime < ViewBag.StartDate.AddDays(1)) // only graph if violation occurs in date range
                            .OrderBy(x => x.ViolationTime))
                        {
                            double x = v.ViolationTime.Subtract(ViewBag.StartDate).TotalMinutes / 60.0;

                            <text>
                            {
                                data: [[@x, 4], [@x, 0]],
                                color: '@(PageHelper.BOOTSTRAP_DANGER)'
                            },
                            </text>
                        }
                    }
                ];

                var stack = 0,
                    bars = false,
                    lines = true,
                    steps = true;

                function plotWithOptions() {
                    $.plot($("#elog2@(DriverID)@(LogDate.ToString("yyyyMMdd"))"), data1, {
                        series: {
                            //stack: stack,
                            lines: {
                                lineWidth: 1,
                                show: lines,
                                fill: false,
                                steps: steps
                            },
                            bars: {
                                show: bars,
                                barWidth: 0.4
                            }
                        }
                        ,
                        xaxis: {
                            color: gridbordercolor,
                            ticks: [[0, "M"], [0.5, ""], [1, "1"], [1.5, ""], [2, "2"], [2.5, ""], [3, "3"], [3.5, ""], [4, "4"], [4.5, ""], [5, "5"], [5.5, ""], [6, "6"], [6.5, ""], [7, "7"], [7.5, ""], [8, "8"], [8.5, ""], [9, "9"], [9.5, ""], [10, "10"], [10.5, ""], [11, "11"], [11.5, ""], [12, "N"],
                                    [12.5, ""], [13, "1"], [13.5, ""], [14, "2"], [14.5, ""], [15, "3"], [15.5, ""], [16, "4"], [16.5, ""], [17, "5"], [17.5, ""], [18, "6"], [18.5, ""], [19, "7"], [19.5, ""], [20, "8"], [20.5, ""], [21, "9"], [21.5, ""], [22, "10"], [22.5, ""], [23, "11"], [23.5, ""], [24, "M"]]
                        },
                        yaxis: {
                            color: gridbordercolor,
                            ticks: [[0, ""], [0.5, "On Duty"], [1, ""], [1.5, "Driving"], [2, ""], [2.5, "Sleeper"], [3, ""], [3.5, "Off Duty"], [4, ""]]
                        },
                        grid: {
                            hoverable: true,
                            clickable: false,
                            borderWidth: 0,
                            aboveData: false
                        },
                        legend: {
                            noColumns: 3
                        },
                    });
                }

                $(".stackControls input").click(function (e) {
                    e.preventDefault();
                    stack = $(this).val() == "With stacking" ? true : null;
                    plotWithOptions();
                });
                $(".graphControls input").click(function (e) {
                    e.preventDefault();
                    bars = $(this).val().indexOf("Bars") != -1;
                    lines = $(this).val().indexOf("Lines") != -1;
                    steps = $(this).val().indexOf("steps") != -1;
                    plotWithOptions();
                });

                plotWithOptions();
    };
    function elog()
    {
        elog@(DriverID)@(LogDate.ToString("yyyyMMdd"))();
    }
</script>
