﻿@model DispatchCrude.ViewModels.HOSReportViewModel
@using DispatchCrude.Models;
@using DispatchCrude.ViewModels;
@using DispatchCrude.Core;
@using DispatchCrude.App_Code;

@{
    Layout = null;
    int i = 0;
    int shift = Model.HosPolicy.ShiftIntervalDays;
    string shiftText = Model.HosPolicy.Name;
    DateTime Date = Model.Date;
    Driver driver = Model.Driver;
    HOSViolationDetailViewModel finalstatus = new HOSViolationDetailViewModel();
    int prevStatus = ViewBag.StartStatus;
    decimal[] totals = { 0, 0, 0, 0 };
    DateTime prevTime = Model.StartDate;
}
<!DOCTYPE html>
<html>
<head>
	<title>
		DispatchCrude.com - Driver's Daily Log - @driver.FullName
	</title>	
    @Html.EmbedCss("~/styles/hos.css")
    
</head>
<body>
<div id="pagewrap">
  <div id="printsafe">

    <!-- HEADER -->

  	<div id="header">
        <table style="width:100%">
            <tr>
                <td width="30%">
                    <img src="@(ImageHelper.BlobSrc(
                                ImageHelper.ConvertImageToByteArray(
                                    System.Drawing.Image.FromFile(Server.MapPath("~") + "\\images\\logo_small.png")),
                                    "png"))" style="height:50px">
                </td>
                <td width="40%" style="text-align:center">
                    <strong>DRIVER'S DAILY LOG</strong><br>
                    <small>@shiftText</small>
                </td>
                <td width="30%" style="text-align:right">
                    @Date.ToString("MMMM d, yyyy")
                </td>
            </tr>
        </table>
  	</div>
  		
    <!-- /HEADER -->


    <!-- MAIN INFO -->

    <table class="bordertable">
        <tr>
            <td width="50%">
                <table class="noborder">
                    <tr>
                        <td width="25%"><strong>Driver</strong></td>
                        <td width="75%">@driver.FullName</td>
                    </tr>
                </table>
            </td>
            <td width="50%">
                <table class="noborder">
                    <tr>
                        <td><strong>Co-Drivers</strong></td>
                        <td></td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td width="50%">
                <table class="noborder">
                    <tr>
                        <td width="25%"><strong>Distance</strong></td>
                        <td width="75%"></td>
                    </tr>
                </table>
            </td>
            <td width="50%">
                <table class="noborder">
                    <tr>
                        <td width="25%"><strong>Vehicles</strong></td>
                        <td width="35%">@driver.Truck.IDNumber</td>
                        <td width="20%"><strong>Trailers</strong></td>
                        <td width="20%">@driver.Trailer.IDNumber
                                @(driver.Trailer2 == null ? "" : driver.Trailer2.IDNumber)</td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td width="50%">
                <table class="noborder">
                    <tr>
                        <td width="25%"><strong>Carrier</strong></td>
                        <td width="75%">@driver.Carrier.Name</td>
                    </tr>
                </table>
            </td>
            <td width="50%">
                <table class="noborder">
                    <tr>
                        <td width="25%"><strong>Main Office</strong></td>
                        <td width="75%">
                            @driver.Carrier.Address, 
                            @driver.Carrier.City, @(driver.Carrier.State == null ? "" : driver.Carrier.State.Abbreviation) 
                            @driver.Carrier.Zip
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <table class="noborder">
                    <tr>
                        <td width="12.5%"><strong>Shipping Docs</strong></td>
                        <td width="87.5%">@Model.ShippingDocs</td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>

    <!-- /MAIN INFO -->

    <table>
        <tr>
            <td class="hosgraph">


                <!-- HOS GRAPH -->

                <table>
                    <tr>
                        <td>
                            <table class="hosgraphlabel">
                                <tr><td>OFF DUTY</td></tr>
                                <tr><td>SLEEPER</td></tr>
                                <tr><td>DRIVING</td></tr>
                                <tr><td>ON DUTY</td></tr>
                            </table>
                        </td>
                        <td>
                            <div>
                                <table class="graphheader">
                                    <tr>
                                        <td>M</td>
                                        <td>1</td>
                                        <td>2</td>
                                        <td>3</td>
                                        <td>4</td>
                                        <td>5</td>
                                        <td>6</td>
                                        <td>7</td>
                                        <td>8</td>
                                        <td>9</td>
                                        <td>10</td>
                                        <td>11</td>
                                        <td>N</td>
                                        <td>1</td>
                                        <td>2</td>
                                        <td>3</td>
                                        <td>4</td>
                                        <td>5</td>
                                        <td>6</td>
                                        <td>7</td>
                                        <td>8</td>
                                        <td>9</td>
                                        <td>10</td>
                                        <td>11</td>
                                        <td>M</td>
                                    </tr>
                                </table>
                            </div>
                            <canvas id="xx" width="600" height="150"></canvas>
                            <script>
                                var hr = 24 // pixels for an hour (box width)
                                var lmargin = hr / 2;
                                var status = 32; // pixels for a status (box height)
                                var tmargin = 26;
                                var ctx = document.getElementById('xx').getContext('2d');
                                var img = new Image();
                                img.onload = function () {
                                ctx.drawImage(img, 0, 0, 600, 150);
                                ctx.beginPath();
                                ctx.moveTo(lmargin, (@prevStatus-1) * status + tmargin);
                                @{
                                    foreach (var item in Model.Hoss)
                                    {
                                        double timeofday = item.LogDateUTC.Subtract(Model.StartDate).TotalMinutes / 60.0; // as decimal
                                        totals[item.HosDriverStatusID-1] += item.TotalHours;
                                        // suppress previous status if starting at "midnight", just move
                                <text>
                                ctx.@(timeofday == 0 ? "moveTo" : "lineTo")(@timeofday * hr + lmargin, (@prevStatus-1) * status + tmargin);
                                ctx.@(timeofday == 0 ? "moveTo" : "lineTo")(@timeofday * hr + lmargin, (@item.HosDriverStatusID-1) * status + tmargin);
                                </text>
                                        prevStatus = item.HosDriverStatusID;
                                        prevTime = item.LogDateUTC;
                                    }
                                }
                                ctx.lineTo(@(Model.EndDate.Subtract(Model.StartDate).TotalMinutes / 60.0) * hr + lmargin, (@prevStatus-1) * status + tmargin);
                                ctx.lineWidth = 3;
                                ctx.stroke();

                            @foreach (var v in Model.Violations)
                            {
                                foreach (var vv in v.Violations)
                                {
                                    double timeofday = vv.ViolationTime.Subtract(Model.StartDate).TotalMinutes / 60.0;
                                    if (timeofday >= 0 && timeofday <= 24)
                                    { 
                                        <text>
                                        ctx.beginPath();
                                        ctx.moveTo(@timeofday * hr + lmargin, 0);
                                        ctx.lineTo(@timeofday * hr + lmargin, 150);
                                        ctx.strokeStyle = "#FF0000";
                                        ctx.stroke();
                                        </text>
                                    }
                                }
                                finalstatus = v;
                            }
                                    };
                                img.src = '@(ImageHelper.BlobSrc(
                                                ImageHelper.ConvertImageToByteArray(
                                                    System.Drawing.Image.FromFile(Server.MapPath("~") + "\\images\\hos.png")),
                                                "png"))'
                                </script>
                        </td>
                        <td>
                            <table class="hosgraphtotal">
                                @foreach (var x in totals)
                                {
                                    <tr><td>@(DateHelper.FormatDuration(x))</td></tr>
                                }
                            </table>
                        </td>
                    </tr>
                </table>

                <!-- /HOS GRAPH -->

                <!-- HOS VIOLATIONS -->

                <ul>
                @foreach (var hos in Model.Violations)
                {
                    foreach (var v in hos.Violations
                        .Where(x => x.ViolationTime >= Model.StartDate && x.ViolationTime < Model.StartDate.AddDays(1) // only list if violation occurs in date range
                                                && x.ViolationTime >= hos.LogDateUTC && x.ViolationTime <= hos.EndDateUTC) // and if violation is this entry (not repeated from earlier)
                        .OrderBy(x => x.ViolationTime))
                    {
                        DateTime vtime = DateHelper.ToLocal(v.ViolationTime, DispatchCrudeHelper.GetProfileTimeZone(HttpContext.Current));
                        if (vtime >= Model.StartDate && vtime <= Model.EndDate)
                        {
                            <li>@vtime.ToString("h:mm tt") - @v.Name</li>
                        }
                    }
                }
                </ul>

                <!-- /HOS VIOLATIONS -->

            </td>
            <td rowspan="3" class="topalign">

                <!-- RECAP TABLE -->
                <table class="bordertable recaptable">
                    <tr>
                        <th><strong>RECAP</strong></th>
                    </tr>
                    @foreach (var item in Model.ViolationSummary)
                    {
                        <tr>
                            <td>
                                <table class="noborder condensed">
                                    <tr>
                                        <td><strong>@(item.Date.ToString("MM/dd"))</strong></td>
                                        <td>@(DateHelper.FormatDuration(item.OnDutyHours + item.DrivingHours))</td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    }
                    <tr>
                        <td>
                            <table class="noborder condensed">
                                <tr>
                                    <td><strong>Today</strong></td>
                                    <td>@(DateHelper.FormatDuration(totals[2] + totals[3]))</td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <strong>Hrs Since Restart</strong><br>
                            @if (finalstatus.OnDutyHoursSinceWeeklyReset > 24 * shift)
                            {
                                @("OVER A WEEK")
                            }
                            else
                            {
                                @(DateHelper.FormatDuration(finalstatus.OnDutyHoursSinceWeeklyReset))
                            }
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <strong>Hrs Available Tomorrow</strong><br>
                            @DateHelper.FormatDuration(finalstatus.WeeklyOnDutyHoursLeft)
                        </td>
                    </tr>
                </table>

                <!-- /RECAP TABLE -->

            </td>
        </tr>
        <tr>
            <td class="topalign">

                <!-- HOS DETAILS -->

                <table class="bordertable condensed">
                    <tr>
                        <td>
                            <table class="noborder condensed">
                                <tr>
                                    <td width="6%"><strong>No.</strong></td>
                                    <td width="15%"><strong>Status</strong></td>
                                    <td width="12%" style="text-align:center"><strong>Start</strong></td>
                                    <td width="12%" style="text-align:center"><strong>Duration</strong></td>
                                    <td width="20%"><strong>Location</strong></td>
                                    <td width="35%"><strong>Notes</strong></td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    @foreach (var item in Model.Hoss)
                    {
                    <tr>
                        <td>
                            <table class="noborder">
                                <tr>
                                    <td width="6%">@(++i)</td>
                                    <td width="15%">@(((HosDriverStatus.Status)item.HosDriverStatusID).ToString())</td>
                                    <td width="12%" style="text-align:right;padding-right:3%">@item.LogDate.ToString("h:mm tt")</td>
                                    <td width="12%" style="text-align:right;padding-right:3%">@DateHelper.FormatDuration(item.TotalHours)</td>
                                    <td width="20%">@(item.HOS == null ? "" : item.HOS.LocationDescription)</td>
                                    <td width="35%">@(item.HOS == null ? "" : item.HOS.Notes)</td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    }
                </table>

                <!-- /HOS DETAILS -->
            </td>
        </tr>
    </table>

    <table>
        <tr>
            <td></td>
        </tr>
    </table>

	<!-- BEGIN SIGNATURES -->
    @if (Model.Signed)
    {
    <table>
      <tr>
        <td>
          <div>I certify that these entries are true and correct</div>
        </td>
        <td>
            <img class="signature" src="@(Model.HosSignature.SignatureBlobSrc)"/>
            <br>
            <span class="signaturenote">Signed @Model.HosSignature.CreateDate</span>
        </td>
      </tr>      
    </table>
    }
	<!-- END SIGNATURES -->   


    <!-- START FOOTER -->   
    <div id="footer">        
        <div id="deliveredstatus" style="font-weight:bold;"><!--UNAUDITED--></div>
		<div id="certification">
			    <!--<p>This is to certify that the listed materials are properly classified, described, packaged, marked and labeled and are in proper condition for transportation, according to the applicable regulations of the U.S. Department of Transportation, the U.S. Department of Treasury and all applicable state and local laws or regulations, and Contractor certifies the proper cargo tank supplied for shipment is a proper container for the transportation of the commodity and complies with the applicable regulations of the U.S. Department of Transportation, the U.S. Department of Treasury and all applicable state and local laws or regulations.  Crude delivered hereunder meets the applicable E.P.A. and A.S.T.M. standards for the time and place of loading.</p>-->
		</div>    
		<hr/>
		Copyright &copy; 2016 Capital Technology Solutions, LLC. &bull;&nbsp;
		<a href="https://www.DispatchCrude.com" target="_blank">https://www.DispatchCrude.com</a> &bull; (812) 303-4357
    </div>
    <!-- END FOOTER -->   
  </div>
</div>

</body>
</html>