﻿@model DispatchCrude.ViewModels.FilterViewModel<HOSPersonalConveyanceViewModel>
@using DispatchCrude.ViewModels;
@using DispatchCrude.Core;
@using DispatchCrude.Extensions;
@{
    ViewBag.Title = "Compliance";
    ViewBag.SubTitle = "HOS Personal Conveyance";
}

<div class="tabbable TabRepaint">
    <ul class="nav nav-tabs" id="tabmenu">
        @NavigationHelper.PrintTabArray(NavigationHelper.TabSet_Compliance, "Tab_HOS")
    </ul>
    <div class="tab-content">
        <div class="tab-pane in active">
            <div class="well speedButtonContainer">
                @NavigationHelper.PrintButtonArray(NavigationHelper.ButtonSet_HOS, "Button_PersonalConveyance")
            </div>

            <div class="leftpanel">
                <div class="tabbable">
                    <ul class="nav nav-tabs">
                        <li class="active tab-blue">
                            <a data-toggle="tab" href="#Filters" aria-expanded="true">Filters</a>
                        </li>
                    </ul>

                    <div id="leftTabs" class="tab-content">
                        <div id="Filters" class="tab-pane active">

                            @using (Html.BeginForm("PersonalConveyance", "HOS", FormMethod.Get))
                            {
                                <div class="form-group">
                                    @Html.LabelFor(m => m.CarrierID)
                                    @Html.DropDownList("CarrierID", null, "(ALL)", htmlAttributes: new { @class = "btn-xs", @style = "width:100%" })
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(m => m.DriverID)
                                    @Html.DropDownList("DriverID", null, "(ALL)", htmlAttributes: new { @class = "btn-xs", @style = "width:100%" })
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(m => m.DateFilterName)<br />
                                    @Html.DropDownList("DateFilterName", null, htmlAttributes: new { @class = "btn-xs", @style = "width:100%" })<br />
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(m => m.ShowAll, "Show All")
                                    @Html.EditorFor(m => m.ShowAll, "Switch")
                                </div>
                                <div class="center">
                                    <button id="filterbtn" type="submit" class="btn btn-blue shiny">Refresh</button>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>



            <div id="gridArea" class="GridRepaint">

                @(Html.Kendo().Grid(Model.results)
                    .Name("grid")
                    .Columns(columns =>
                    {
                        columns.Bound(v => v.Date).Width(200).Template(
                            @<text>
                                <a href="~/HOS/Daily/?DriverID=@(item.DriverID)&StartDate=@(item.Date.ToString("M/d/yyyy"))">@item.Date.ToString("M/d/yyyy")</a>
                            </text>);
                        columns.Bound(v => v.Driver).Template(
                            @<text>
                                <a href="~/Drivers/Details/@(item.DriverID)">@item.Driver</a>
                            </text>);
                        columns.Bound(v => v.Carrier);
                        columns.Bound(v => v.TotalHours).Title("Total").Width(150).Template(
                            @<text>
                                @DateHelper.FormatDuration(item.TotalHours)
                                @if (item.Overage) {
                                    <i class="fa fa-close text-danger"></i>
                                }
                            </text>);
                        columns.Bound(v => v.PersonalDailyLimitHR).Title("Allocated").Width(150).Template(
                            @<text>
                                @if (item.PersonalDailyLimitHR != null)
                                {
                                    @DateHelper.FormatDuration(item.PersonalDailyLimitHR.Value)
                                }
                            </text>);
                    })
                    .Pageable(pager => pager
                        .PageSizes(Settings.MvcGridPageSizes)
                        .Refresh(true)
                    )
                    .Filterable(filterable => filterable
                        .Extra(true)   //This extended "filterable" section of code makes the contains filter the default string filter for these grids
                        .Operators(operators => operators
                            .ForString(str => str
                                .Clear()
                                .Contains("Contains")
                                .DoesNotContain("Does not contain")
                                .StartsWith("Starts with")
                                .EndsWith("Ends with")
                                .IsEqualTo("Is equal to")
                                .IsNotEqualTo("Is not equal to")
                            )
                        )
                    )
                    .Sortable()
                    .Groupable()
                    .HtmlAttributes(new { style = "height: 800px;", @class = "MVCGridRepaint" })
                    .Scrollable()
                    .DataSource(dataSource => dataSource
                        .Server()
                        .PageSize(Settings.DefaultPageSize)
                    )
                )
            </div>
        </div>
    </div>
</div>


