﻿@model DispatchCrude.ViewModels.FilterViewModel<HOSViolationSummaryViewModel>
@*@model IEnumerable<DispatchCrude.ViewModels.FilterViewModel<HOSViolationSummaryViewModel>>*@
@using DispatchCrude.ViewModels;
@using DispatchCrude.Core;
@using DispatchCrude.Extensions;
@{
    ViewBag.Title = "Compliance";
    ViewBag.SubTitle = "HOS Violations";
}

<div class="tabbable TabRepaint">
    <ul class="nav nav-tabs" id="tabmenu">
        @NavigationHelper.PrintTabArray(NavigationHelper.TabSet_Compliance, "Tab_HOS")
    </ul>
    <div class="tab-content">
        <div class="tab-pane in active">
            <div class="well speedButtonContainer">
                @NavigationHelper.PrintButtonArray(NavigationHelper.ButtonSet_HOS, "Button_Violations")
            </div>

            <div class="leftpanel">
                <div class="tabbable">
                    <ul class="nav nav-tabs">
                        <li class="active tab-blue">
                            <a data-toggle="tab" href="#Filters" aria-expanded="true">Filters</a>
                        </li>
                    </ul>

                    <div id="leftTabs" class="tab-content">
                        <div id="Filters" class="tab-pane active">

                            @using (Html.BeginForm("Violations", "HOS", FormMethod.Get))
                            {
                                <div class="form-group">
                                    @Html.LabelFor(m => m.CarrierID)
                                    @Html.DropDownList("CarrierID", null, "(ALL)", htmlAttributes: new { @class = "btn-xs", @style = "width:100%" })
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(m => m.DriverID)
                                    @Html.DropDownList("DriverID", null, "(ALL)", htmlAttributes: new { @class = "btn-xs", @style = "width:100%" })
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(m => m.DateFilterName)<br />
                                    @Html.DropDownList("DateFilterName", null, htmlAttributes: new { @class = "btn-xs", @style = "width:100%" })<br />
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(m => m.ShowAll, "Show All")
                                    @Html.EditorFor(m => m.ShowAll, "Switch")
                                </div>
                                <div class="center">
                                    <button id="filterbtn" type="submit" class="btn btn-blue shiny">Refresh</button>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>



            <div id="gridArea" class="GridRepaint">

                @*//TODO: This commented out grid need to replace the server() grid that is actually being used*@

                @*@(Html.Kendo().Grid(Model)
                    .Name("grid")
                    .DataSource(ds => ds
                        .Ajax()
                        .Filter(filter => filter.Add(model => model.Active).IsEqualTo(true))
                        .Model(model => model.Id(m => m.ID))
                        .PageSize(Settings.DefaultPageSize)
                        .Sort(sort => { if (Request.QueryString.Keys.Count == 0) { sort.Add("OrderNumber").Ascending(); } }) // Initial Sort
                        .Read(read => read.Action("Read", "RecalculateVolumes").Data("getParameters"))
                        .Events(events => { events.Error("onDSErrors"); events.RequestEnd("onDSRequestEnd"); })
                    )
                    .Excel(excel => excel
                        .AllPages(true)
                        .FileName("RecalculateVolumes.xlsx")
                        .Filterable(true)
                    )
                    .HtmlAttributes(new { style = "height:800px;", @class = "MVCGridRepaint" })
                    .ToolBar(command =>
                    {
                        command.Excel();
                    })
                    //.Editable(e => { e.Mode(GridEditMode.PopUp).TemplateName("Popup_"); e.DisplayDeleteConfirmation(false); })
                    //.Events(e => e.Edit("onEdit"))  //This is required for conditional changing of the popup (like "create" or "edit" in the window title)
                    .Pageable(pager => pager
                        .PageSizes(Settings.MvcGridPageSizes)
                        .Refresh(true)
                    )
                    .Sortable()
                    .Scrollable()
                    //.Selectable()  //This is actually not necessary.  Turning this on caused the currently selected rows to deselect when the user clicked on a row instead of the checkbox.
                    .Resizable(resizable => resizable.Columns(true))
                    .Columns(columns =>
                    {
                        columns.Bound(model => model.Driver)
                            .ClientTemplate("<a href='~/Drivers/ViolationReport?DriverID=#=data.DriverID#'>#=data.DriverID#</a>")
                            .Width(250);
                        columns.Bound(model => model.Carrier)
                            .Width(250);
                        columns.Bound(model => model.WeeklyDrivingViolations)
                            .Title("Weekly Driving")
                            .Width(150);
                        columns.Bound(model => model.OnDutyViolations)
                            .Title("Daily On Duty")
                            .Width(150);
                        columns.Bound(model => model.DrivingViolations)
                            .Title("Daily Driving")
                            .Width(150);
                        columns.Bound(model => model.BreakViolations)
                            .Title("Break")
                            .Width(150);
                        columns.Bound(model => model.Violations)
                            .Title("Total")
                            .Width(150);
                    })
                    )

                    <script type="text/x-kendo-template" id="validationMessageTemplate">
                        # if (messages.length) { #
                        # for (var i = 0; i < messages.length; ++i) { #
                        <li>#= messages[i] #</li>
                        # } #
                        # } #
                    </script>*@



                @(Html.Kendo().Grid(Model.results)
                    .Name("grid")
                    .Columns(columns =>
                    {
                        columns.Bound(v => v.Driver).Template(
                            @<text>
                                <a href="~/Drivers/ViolationReport?DriverID=@(item.DriverID)">@item.Driver</a>
                            </text>);
                        columns.Bound(v => v.Carrier);
                        columns.Bound(v => v.WeeklyDrivingViolations).Title("Weekly Driving").Width(120);
                        columns.Bound(v => v.WeeklyOnDutyViolations).Title("Weekly On Duty").Width(120);
                        columns.Bound(v => v.OnDutyViolations).Title("Daily On Duty").Width(120);
                        columns.Bound(v => v.DrivingViolations).Title("Daily Driving").Width(120);
                        columns.Bound(v => v.BreakViolations).Title("Break").Width(120);
                        columns.Bound(v => v.UniqueViolations).Title("Unique").Width(120);
                    })
                    .Pageable(pager => pager
                        .PageSizes(Settings.MvcGridPageSizes)
                        .Refresh(true)
                    )
                    .Filterable(filterable => filterable
                        .Extra(true)   //This extended "filterable" section of code makes the contains filter the default string filter for these grids
                        .Operators(operators => operators
                            .ForString(str => str
                                .Clear()
                                .Contains("Contains")
                                .DoesNotContain("Does not contain")
                                .StartsWith("Starts with")
                                .EndsWith("Ends with")
                                .IsEqualTo("Is equal to")
                                .IsNotEqualTo("Is not equal to")
                            )
                        )
                    )
                    .Sortable()
                    .Groupable()
                    .HtmlAttributes(new { style = "height: 800px;", @class = "MVCGridRepaint" })
                    .Scrollable()
                    .DataSource(dataSource => dataSource
                        .Server()
                        .PageSize(Settings.DefaultPageSize)
                    )
                )
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    //TODO: This commented out javascript needs to replace the javascript for the server grid once it's been converted

    //$(document).ready(function () {

    //    // customKendoGridButtons() fixes the look of the add new button and
    //    // excel export button that were not addressed directly in the grid above
    //    customKendoGridButtons();
    //});

    //// grid assumes a delete/destroy operation simply removes the record, which might not be the case (since is undeletable), so force "rebind"
    //function onDSRequestEnd(e) {
    //    debugger;
    //    if (e.type == "destroy") {
    //        var grid = $("#grid").data("kendoGrid");
    //        grid.dataSource.read();
    //    }
    //}

    //function onDSErrors(args) {
    //    debugger;
    //    if (args.errors) {
    //        var grid = $("#grid").data("kendoGrid");
    //        var validationTemplate = kendo.template($("#validationMessageTemplate").html());
    //        grid.one("dataBinding", function (e) {
    //            e.preventDefault();

    //            $.each(args.errors, function (propertyName) {
    //                debugger;
    //                var renderedTemplate = validationTemplate({ field: propertyName, messages: this.errors });
    //                /* append these errors to the <ul class="gridErrors> */
    //                grid.editable.element.find(".gridErrors").append(renderedTemplate);
    //            });
    //        });
    //    }
    //}

    //function onEdit(e) {    //Place popup create vs. edit code here
    //    if (!e.model.isNew()) {
    //        //Do edit mode stuff:
    //    }
    //    else {
    //        //Do create mode stuff:
    //        $(".k-window-title").html("Create"); //change the window title to create
    //    }
    //}


    function error_handler(e) {
        if (e.errors) {
            var message = "Errors:\n";
            $.each(e.errors, function (key, value) {
                if ('errors' in value) {
                    $.each(value.errors, function () {
                        message += this + "\n";
                    });
                }
            });
            alert(message);
        }
    };
    function intNumericFilter(element) {
        element.kendoNumericTextBox({ format: "#" });
    };
</script>

