﻿@using DispatchCrude.Extensions;
@{
    ViewBag.Title = "Imports";
    ViewBag.SubTitle = "Designer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/scripts/toDictionary.js"></script>
<style>
    button.k-grid-edit, button.k-grid-delete, button.k-grid-add[data-command="createchild"] {
        padding-left: 4px !important;
        padding-right: 3px !important;
        min-width: 37px !important;
        max-width: 37px !important;
    }
    button.k-grid-add[data-command="createchild"]:disabled {
        display: none;
    }

    #importCenterID {
        width: 100%;
    }
    #tlFields {
        height: 100%;
        width: 100%;
    }
    .Entry label {
        margin-top: 10px;
    }
    /*override thead dropdownlist width*/
    #importCenterID-list {
        width: 420px !important;
    }
    div.k-header > span {
        font-weight: bold;
    }
    div.dropdown-template {
        width: 100%;
    }
    div.dropdown-template > span {
        display: inline-block;    
    }
    .icdName {
        width: 250px;
    }
    .icdUsers {
        width: 120px;
    }

    div.window table {
        width: 100%;
    }
    #tdWindowCaption {
        min-width: 80px;
    }
    #tdWindowValue {
        width: 100%;
    }
    #windowEdit, #windowImport {
        width: 350px;
    }
    .windowBtn {
        margin-top: 5px;
    }
    #windowImport input, #windowEdit input {
        width: 98%;
        margin: 3px;
    }
    .k-window-titlebar {
        background-color: #2DC3E8 !important;
        color: white;
    }
    .k-window-actions {
        background-color: transparent;
    }
    #divTestResults result_number {
        width:15em;
        text-align: right;
    }
    #divTestResults textarea {
        text-align: left;
        width: 100%;
        height: 150px;
    }
</style>
<div class="tabbable TabRepaint">
    <ul class="nav nav-tabs" id="tabmenu">
        @NavigationHelper.PrintTabArray(NavigationHelper.TabSet_Imports, "Tab_ImportDesigner")
    </ul>
    <div class="tab-content">
        <div class="tab-pane in active">
            <div id="ic-container">
                <div class="leftpanel">
                    <div class="tabbable">
                        <ul class="nav nav-tabs">
                            <li class="active tab-blue">
                                <a data-toggle="tab" href="#Configure" aria-expanded="true">Configure</a>
                            </li>
                            <li class="tab-green">
                                <a data-toggle="tab" href="#Test" aria-expanded="true">Test</a>
                            </li>
                            <li class="tab-yellow">
                                <a data-toggle="tab" href="#Instructions" aria-expanded="true">Instructions</a>
                            </li>
                        </ul>
                        <div id="leftTabs" class="tab-content">
                            <div id="Configure" class="tab-pane active">
                                <div class="Entry">
                                    <label labelfor="rootObjectID" class="Entry">Target Data Object</label>
                                    @(Html.Kendo().DropDownList()
                                    .Name("rootObjectID")
                                    .DataValueField("ID")
                                    .DataTextField("Name")
                                    .HtmlAttributes(new { style = "width: 100%;" })
                                    .Height(400)  // increase the DropDown list height
                                    .DataSource(source =>
                                    {
                                        source.Read(read =>
                                        {
                                            read.Url("/importcenter/objectsroot");
                                            read.Type(HttpVerbs.Get);
                                        });
                                    })
                                    .Events(ev => ev.Change("onRootObjectID_Change"))
                                    )
                                </div>
                                <div class="Entry">
                                    <label labelfor="importCenterID">Import Mapping</label>
                                    <input id="importCenterID" name="importCenterID" style="width: 100%;" />
                                </div>
                                <div class="Entry">
                                    <label labelfor="inputFileName">Input File (sample)</label>
                                    <input id="inputFileName" name="inputFileName" class="k-textbox" style="width: 100%;" disabled />
                                    <div class="spacer5px"></div>
                                    <div id="importButtons" style="text-align: right;">
                                        <button id="btnLoadInputFile" class="kendoButton" onclick="doAction('inputFileStart');">Load New</button>
                                        <button id="btnViewInputFile" class="kendoButton" onclick="doAction('inputFileExport');">View Current</button>
                                    </div>
                                </div>

                                <div class="Entry">
                                    <label labelfor="sbAction" class="Entry">Actions</label>
                                    <ul id="sbAction">
                                        <li class="createButton" onclick="doAction('create');">Add New</li>
                                        <li class="emptyItem">
                                            <span class="empty">&nbsp;</span>
                                            <ul>
                                                <li class="deleteButton" onclick="doAction('delete');">Delete</li>
                                                <li class="updateButton" onclick="doAction('update');">Update</li>
                                                <li class="cloneButton" onclick="doAction('clone');">Clone</li>
                                                <li class="exportButton" onclick="doAction('export');">Export</li>
                                                <li class="importButton" onclick="doAction('importStart');">Import</li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div id="Test" class="tab-pane">
                                <form>
                                    <input type="file" name="dataFile" id="dataFile" />
                                    <div class="spacer10px"></div>
                                    @(Html.Kendo().CheckBox()
                                        .Name("TestFirstRowHeader")
                                        .Checked(true)
                                        .Label("My test file has a header row")
                                    )
                                </form>
                                <div class="spacer20px"></div>
                                <div style="text-align: right;">
                                    <button id="btnExecuteTest" class="kendoButton" onclick="doAction('executeTest');" disabled >Run Test Execution</button>
                                </div>
                                <div class="spacer10px"></div>
                                <div id="divTestResults" class="Entry">
                                    <label class="Entry">Success Count</label><input id="SuccessCount" type="number" name="SuccessCount" data-bind="value: SuccessCount" class="k-textbox" disabled /><br />
                                    <label class="Entry">Error Count</label><input type="number" name="ErrorCount" data-bind="value: ErrorCount" class="k-textbox" disabled /><br />
                                    <label class="Entry">Warning Count</label><input type="number" name="WarningCount" data-bind="value: WarningCount" class="k-textbox result_number" disabled /><br />
                                    <label class="Entry">General Error</label><textarea name="GeneralError" data-bind="value: GeneralError" class="NullValidator" disabled></textarea>
                                </div>
                            </div>
                            <div id="Instructions" class="tab-pane">
                                <ul>
                                    <li>If no import mapping exists or none of the saved mappings are what you need, click the <strong>Add New</strong> button.</li>
                                    <li>Use the <strong>Clone</strong> button to "copy" the currently selected mapping into a new import mapping</li>
                                    <li>Use the <strong>Import</strong> &amp; <strong>Export</strong> buttons to save and create an import mapping using an external xml file</li>
                                    <li>If you want to rename or change user access rights - use the <strong>Update</strong> button to set the Name &amp; UserNames appropriately</li>
                                    <li>Click the <strong>Add new...</strong> button on the grid on the right to begin adding field mappings for the file you uploaded.</li>
                                    <li>When mapping is selected (and defined), use the <strong>Test</strong> tab to run a test import operation</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="ic-right-column ic-inline">
                @*<div id="gridArea" style="min-height: 500px;">*@
                    <b>Import Mapping Definition</b> <br />
                    <div class="fillPageVertical">
                        <div id="tlFields"></div>
                    </div>
                    <div class="clear spacer"></div>

                </div>
                <div style="display: none;">
                    <div id="windowInputFile" class="window">
                        <table>
                            <tr>
                                <td colspan="2">
                                    @(Html.Kendo().Upload()
                                        .Name("inputFile")
                                        .Multiple(false)
                                        .Messages(m => m.Select("Browse..."))
                                        .HtmlAttributes(new { accept = "text/xlsx" })
                                        .Async(a => a.Save("UpdateInputFile", "ImportCenter").AutoUpload(true))
                                        .Events(e => e.Complete("inputFile_Complete"))
                                    )
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    @(Html.Kendo().CheckBox()
                                        .Name("FirstRowHeader")
                                        .Checked(true)
                                        .Label("My file has a header row")
                                    )
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2" align="right">
                                    <button id="inputFileSubmit" class="windowBtn btn btn-xs btn-blue shiny" onclick="doAction('inputFileComplete')" disabled><i class="fa fa-save"></i> Save</button>
                                    <button class="windowBtn btn btn-xs btn-blue shiny" onclick="doAction('inputFileCancel')">Cancel</button>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div id="windowImport" class="window">
                        <table>
                            <tr>
                                <td colspan="2">
                                    @(Html.Kendo().Upload()
                                        .Name("xmlFile")
                                        .Multiple(false)
                                        .Messages(m => m.Select("Browse..."))
                                        .HtmlAttributes(new { accept = "text/xml" })
                                        .Async(a => a.Save("ImportDefinitionXml", "ImportCenter").AutoUpload(true))
                                        .Events(e => e.Complete("xmlFile_Complete"))
                                    )
                                </td>
                            </tr>
                            <tr>
                                <td id="tdWindowCaption">
                                    <label for="ImportName">Name</label>
                                </td>
                                <td id="tdWindowValue">
                                    <input id="ImportName" onkeyup="ImportName_KeyUp()" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label for="UserNames">User Names</label>
                                </td>
                                <td>
                                    <input id="UserNames" />
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2" align="right">
                                    <button id="xmlImportSubmit" class="windowBtn btn btn-xs btn-blue shiny" onclick="doAction('importComplete')" disabled ><i class="fa fa-save"></i> Save</button>
                                    <button class="windowBtn btn btn-xs btn-blue shiny" onclick="doAction('importCancel')">Cancel</button>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div id="windowEdit" class="window">
                        <table>
                            <tr>
                                <td id="tdWindowCaption">
                                    <label for="Edit_ImportName">Name</label>
                                </td>
                                <td id="tdWindowValue">
                                    <input id="Edit_ImportName" onkeyup="Edit_ImportName_KeyUp()" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label for="Edit_UserNames">User Names</label>
                                </td>
                                <td>
                                    <input id="Edit_UserNames" />
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2" align="right">
                                    <button id="editWindowSubmit" class="windowBtn btn btn-xs btn-blue shiny" onclick="doAction('windowEditComplete')" disabled ><i class="fa fa-save"></i> Save</button>
                                    <button class="windowBtn btn btn-xs btn-blue shiny" onclick="doAction('windowEditCancel')">Cancel</button>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var tlFields, importCenterDefinitionDDL, dataSource;
    var objectFields = retrieveJSON("/importcenter/objectfields");
    var importFields = []; // will be retrieved on demand as the ImportCenterID is changed
    var comparisons = retrieveJSON("/importcenter/comparisontypes");

    function findObjectName(id) {
        return arrayFindValueByKey(objectFields, id);
    };
    function filterObjectsByObjectID(id) {
        return objectFields.filter(function(r) {
            return r.ObjectID == id;
        });
    }
    function findComparisonName(id) {
        return arrayFindValueByKey(comparisons, id);
    };

    function objectFieldEditor(container, options) {
        var id = $("#rootObjectID").val(); // default value which will apply if no "overrides" below change it
        // we have a parent "node" so find its ParentObjectID (and use it to find the valid "choices")
        if (options.model.parentId != null && options.model.parent().length > 0) {
            var parentModel = arrayFindByKey(options.model.parent(), "id", options.model.parentId);
            if (parentModel != null) id = parentModel.ParentObjectID;
        }
        $("<input id='ddlTargetField' data-value-field='ID' data-text-field='Name' data-bind='value:" + options.field + "'/>")
        .appendTo(container)
        .kendoDropDownList({
            dataSource: filterObjectsByObjectID(id),
            select: function(e) {
                var ddlImportFields = $("#ddlImportFields").data("kendoMultiSelect");
                if (ddlImportFields != null) {
                    var data = e.sender.dataItem(e.item);
                    // if the selected TargetField has a ParentObjectID value, then it is an FK field (so delete any existing assigned ImportFields)
                    if (data.ParentObjectID != null)
                        ddlImportFields.value({ });
                    // refresh the ddlImportFields choices
                    ddlImportFields.dataSource.filter({ field: "ID", operator: data.ParentObjectID == null ? "neq" : "eq", value: "0" })
                    // refresh the ddlComparison dataSource.filter
                    $("#ddlComparison").data("kendoDropDownList").dataSource.data(filteredComparisons(data.ObjectFieldTypeID));
                    //$("#ddlComparison").data("kendoDropDownList").dataSource.filter(comparisonFilter(data.ObjectFieldTypeID));
                }
            }
        });
    };
    function importFieldEditor(container, options) {
        $("<select id='ddlImportFields' multiple='multiple' class='importFieldEditor' data-value-field='ImportFieldName' data-text-field='ImportFieldName' data-bind='value: Fields'/>")
            .appendTo(container)
            .kendoMultiSelect({
                // if this "Node" has a ParentObjectID, then allow no selection (empty control)
                dataSource: importFields,
                filter: { field: "ID", operator: options.model.ParentObjectID == null ? "neq" : "eq", value: "0" },
            });
    };
    function keyComparisonTypeEditor(container, options) {
        $("<input id='ddlComparison' data-text-field='Name' data-value-field='ID' data-bind='value:" + options.field + "'/>")
        .appendTo(container)
        .kendoDropDownList({
            autoBind: false,
            optionLabel: "(None)",
            // this is required since it is for a null-able field (a value is not required)
            valuePrimitive: true,
            dataSource: new kendo.data.DataSource({
                data: filteredComparisons(options.model.ObjectFieldTypeID), //comparisons,
                schema: {
                    model: {
                        id: "ID",
                        fields: {
                            ID: { type: "number" },
                            Name: { type: "string" },
                            ObjectFieldTypes: { type: "string" },
                        }
                    }
                },
                //filter: comparisonFilter(options.model.ObjectFieldTypeID),
            }),
        });
        var x = $("#ddlComparison").data("kendoDropDownList").dataSource.view();
    };
    function filteredComparisons(objectFieldTypeID) {
        var f = "," + objectFieldTypeID + ",";
        var ret = comparisons.filter(function(n) { return n.ObjectFieldTypes === null || n.ObjectFieldTypes.includes(f); });
        return ret;
    }
    /* TELERIK: why does this not work??
    function comparisonFilter(objectFieldTypeID) {
        debugger;
        var oft = ',' + objectFieldTypeID + ',';
        return {
            logic: "or",
            filters: [
                { field: "ObjectFieldTypes", operator: "isnull" }
                { field: "ObjectFieldTypes", operator: "contains", value: oft },
            ]
        };
    } */
    function enableNewMappingField() {
        var enabled = !!$("#rootObjectID").val() && !!importCenterDefinitionDDL.value() && !!$("#inputFileName").val();
        $("#tlFields > .k-grid-toolbar > .k-grid-add").prop("disabled", !enabled);
    }
    function importCenterDefinition_change() {
        // refresh the tlFields on a timer so the value will already be updated
        setTimeout(function() {
            UpdateInputFileInfo();
            enableNewMappingField();

            if (tlFields != null)
                tlFields.data("kendoTreeList").dataSource.read();

            var enabled = !!importCenterDefinitionDDL.value();

            $("#btnLoadInputFile").data("kendoButton").enable(enabled);
            $("#btnViewInputFile").data("kendoButton").enable(enabled);

            // enable/disable the Clone/Export buttons if an ImportCenterDefinition is selected or not
            var menu = $("#sbAction").data("kendoMenu");
            if (menu) {
                menu.enable(".cloneButton", enabled);
                menu.enable(".deleteButton", enabled);
                menu.enable(".updateButton", enabled);
                menu.enable(".exportButton", enabled);
            }
        }, 50);
    };
    function UpdateInputFileInfo() {
        // default values
        $("#inputFileName").val(null);
        importFields = [];

        var inputFile;
        if ($("#importCenterID").data("kendoDropDownList").dataItem() && (inputFile = $("#importCenterID").data("kendoDropDownList").dataItem().InputFile)) {
            $("#inputFileName").val(inputFile.OriginalFileName);

            // split the CSV into a string array
            importFieldNames = (inputFile.FieldNameCSV || "").split(',');
            // convert the string array into an appropriate "object' arrray
            importFieldNames.map(function(item) {
                importFields.push({ ImportFieldName: item });
            });
        }
        enableNewMappingField();
    }

    function onTLDataBound(e) {
        // disable the + "AddChild" button when not appropriate
        var data = e.sender.dataSource.data();
        for (var i = 0; i < data.length; i++) {
            onItemDataBound(e.sender, data[i]);
        }
        //this.collapse("#tlFields tbody>tr[aria-expanded]");
    };
    function onTLCancel(e) {
        // defer exection of onItemDataBound until the inline edit "form" is replaced with the regular data row
        setTimeout(function() { onItemDataBound(e.sender, e.model); }, 50);
    }
    function onItemDataBound(sender, dataItem) {
        var item = sender.itemFor(dataItem);
        var addButton = item.find(":first .k-button.k-grid-add");
        if (dataItem.ParentObjectID == null)
            addButton.attr("disabled", "disabled").addClass("k-state-disabled");
        else
            addButton.removeAttr("disabled").removeClass("k-state-disabled");
    }
    function refreshImportCenterDefinitions(id) {
        // reload the importcenter definition drop down, then do some followup logic
        importCenterDefinitionDDL.dataSource.read().then(function() {
            if (id) {
                // find and select this new id value
                importCenterDefinitionDDL.select(function(dataItem) {
                    return dataItem.ID == id;
                });
            }
            if (importCenterDefinitionDDL.select() == -1 && importCenterDefinitionDDL.items().length)
                // nothing is selected but at least 1 record exists, select the first record
                importCenterDefinitionDDL.select(0);
            importCenterDefinition_change();
        });
    };
    function onRootObjectID_Change() {
        refreshImportCenterDefinitions();
        enableNewMappingField();
    }
    var windowEditAction = "clone";
    function doAction(action) {
        switch (action) {
            case "clone":
                // can't clone if an importCenterDefinition isn't selected
                if ($("#importCenterID").val()) {
                    windowEditAction = action;
                    $("#windowEdit").kendoWindow({ modal: true, resizable: false }).data("kendoWindow").title("Clone Import Mapping").center().open();
                }
                break;
            case "create":
                windowEditAction = action;
                $("#windowEdit").kendoWindow({ modal: true, resizable: false }).data("kendoWindow").title("Add New Import Mapping").center().open();
                break;
            case "update":
                // can't update if an importCenterDefinition isn't selected
                if ($("#importCenterID").val()) {
                    windowEditAction = action;
                    $("#Edit_ImportName").val($("#importCenterID").data("kendoDropDownList").dataItem().Name);
                    $("#Edit_UserNames").val($("#importCenterID").data("kendoDropDownList").dataItem().UserNames);
                    $("#windowEdit").kendoWindow({ modal: true, resizable: false }).data("kendoWindow").title("Update Import Mapping").center().open();
                }
                break;
            case "windowEditCancel":
                $("#windowEdit").data("kendoWindow").close();
                $("#Edit_ImportName").val(null);
                $("#Edit_UserNames").val(null);
                break;
            case "windowEditComplete":
                // ensure a ImportName value is supplied
                if (!$("#Edit_ImportName").val()) return;
                // always ensure we send a 0 if unavailable (the controller chocks on a missing value
                var icdID = importCenterDefinitionDDL.value();
                if (icdID === "") icdID = "0";
                $.ajax({
                    type: "POST",
                    url: "/importcenter/" + windowEditAction + "definition",
                    dataType: "json",
                    data: { id: icdID, rootObjectID: $("#rootObjectID").val(), name: $("#Edit_ImportName").val(), usernames: $("#Edit_UserNames").val() },
                    success: function(result) {
                        // close this window
                        doAction("windowEditCancel");
                        // reload the importcenter definition drop down
                        refreshImportCenterDefinitions(result.id);
                    }
                });
                break;
            case "delete":
                // can't delete if an importCenterDefinition isn't selected (and the user doesn't explicity confirm)
                if ($("#importCenterID").val() && confirm("Permanently delete this mapping?")) {
                    $.ajax({ // .post() doesn't work since it seems to not accept a non-string "data" payload
                        type: "POST",
                        url: "/importcenter/deletedefinition",
                        data: { id: importCenterDefinitionDDL.value() },
                        success: function() {
                            refreshImportCenterDefinitions();
                        }
                    });
                }
                break;
            case "inputFileStart":
                xmlFileUploaded = false;
                $("#windowInputFile").kendoWindow({ title: "Load Input File", modal: true, resizable: false }).data("kendoWindow").center().open();
                break;
            case "inputFileCancel":
                $(".k-upload-files.k-reset").find("li").parent().remove();
                $(".k-upload-status").remove();
                $("#windowInputFile").data("kendoWindow").close();
                break;
            case "inputFileComplete":
                $.ajax({
                    type: "POST"
                    , url: "/importcenter/saveInputFile"
                    , dataType: "json"
                    , data: { importCenterID: $("#importCenterID").val(), firstRowHeader: $("#FirstRowHeader").prop("checked") }
                    , success: function(data) {
                        // TODO: update the tlFields with resultant data & update any related data on page
                        $("#importCenterID").data("kendoDropDownList").dataItem().InputFile = data.InputFile;
                        UpdateInputFileInfo();
                        doAction("inputFileCancel");
                    }
                });
                break;
            case "inputFileExport":
                // can't export if an importCenterDefinition isn't selected
                if ($("#inputFileName").val()) {
                    window.location.href = "/importcenter/inputFileExport/" + importCenterDefinitionDDL.value();
                }
                break;
            case "export":
                // can't export if an importCenterDefinition isn't selected
                if ($("#importCenterID").val()) {
                    window.location.href = "/importcenter/exportdefinition/" + importCenterDefinitionDDL.value();
                }
                break;
            case "importStart":
                xmlFileUploaded = false;
                $("#windowImport").kendoWindow({ title: "Import XML Definition", modal: true, resizable: false }).data("kendoWindow").center().open();
                break;
            case "importCancel":
                $(".k-upload-files.k-reset").find("li").parent().remove();
                $(".k-upload-status").remove();
                $("#ImportName").val(null);
                $("#UserNames").val(null);
                $("#windowImport").data("kendoWindow").close();
                break;
            case "importComplete":
                $.ajax({
                    type: "POST"
                    , url: "/importcenter/importdefinition"
                    , dataType: "json"
                    , data: { name: $("#ImportName").val(), usernames: $("#UserNames").val() }
                    , success: function(data) {
                        refreshImportCenterDefinitions(data.id);
                        doAction("importCancel");
                    }
                });
                break;
            case "executeTest":
                if (!importCenterDefinitionDDL.value()) return;
                $.ajax({
                    type: "POST",
                    url: "/importcenter/executeTest"
                    , dataType: "json"
                    , data: { importCenterID: importCenterDefinitionDDL.value(), rootObjectID: $("#rootObjectID").val() }
                    , success: function (results) {
                        // display the results
                        debugger;
                        showExecuteResults(results);
                        if (!results.GeneralError) {
                            setTimeout(function () {
                                // retrieve the just downloaded data (as excel)
                                window.location.href = "/importcenter/executeexport";
                            }, 50);
                        }
                    }
                });
                break;
        }
    };

    function showExecuteResults(results) {
        kendo.bind($("#divTestResults"), results);
        $("#divTestResults").show();
    }

    function IntPageResized() {
        if (tlFields) {
            $("#tlFields").resize();
            tlFields.refresh();
        }
    }

    function createTlFields() {
        return $("#tlFields").kendoTreeList({
            dataSource: tlDataSource,
            autoBind: false,
            sortable: {
                mode: "multiple",
                allowUnsort: true
            },
            toolbar: ["create"],
            resizable: true,
            columns: [
                {
                    title: " ",
                    command: [
                        { name: "edit", text: " " },
                        { name: "destroy", text: " " },
                        { name: "createchild", text: " " }
                    ],
                    width: 130,
                    attributes: {
                        style: "text-align: center;"
                    }
                },
                {
                    expandable: true,
                    field: "ObjectFieldID",
                    title: "Target Field",
                    width: "200px",
                    editor: objectFieldEditor,
                    template: "#=findObjectName(ObjectFieldID)#",
                },
                {
                    field: "Fields",
                    title: "Import Fields",
                    width: "200px",
                    editor: importFieldEditor,
                    template: "#= $.map(Fields, function(v){return v == null ? '' : v.ImportFieldName;}).join(', ') #",
                },
                {
                    field: "CSharpExpression",
                    title: "C# Expression",
                    width: "200px",
                },
                {
                    field: "KeyComparisonTypeID",
                    title: "Lookup Type",
                    width: "100px",
                    // a control is necessary due to this being a null-able field (see the function for details)
                    editor: keyComparisonTypeEditor,
                    // this will cause a dropdown editor to be displayed (with these text/value pairs)
                    template: "#=findComparisonName(KeyComparisonTypeID)#",
                },
            ],
            messages: {
                commands: {
                    create: "Add new Import field mapping"
                }
            },
            dataBound: onTLDataBound,
            editable: { editable: true, mode: "inline" },
            edit: function(e) {
                // set default value for ImportCenterDefinitionID
                if (e.model.isNew()) {
                    e.model.ImportCenterDefinitionID = importCenterDefinitionDDL.value();
                }
            },
            cancel: onTLCancel,
        });
    }
    var xmlFileUploaded = false;
    function xmlFile_Complete(e) {
        xmlFileUploaded = true;
        ImportName_KeyUp();
    }
    function ImportName_KeyUp() {
        var enabled = xmlFileUploaded && $("#ImportName").val();
        $("#xmlImportSubmit").prop("disabled", !enabled);
    }
    function Edit_ImportName_KeyUp() {
        $("#editWindowSubmit").prop("disabled", !$("#Edit_ImportName").val());
    }
    function inputFile_Complete(e) {
        $("#inputFileSubmit").prop("disabled", false);
    }
    function dataFile_Complete(e) {
        $("#btnExecuteTest").data("kendoButton").enable(true);
    }
    function onDataFileUpload(e) {
        e.data = { firstRowHeader: $("#TestFirstRowHeader").prop("checked"), rootObject: $("#rootObjectID").data("kendoDropDownList").text() };
    }

    // -----------------------PAGE STARTUP SCRIPT ------------------------------------------
    $(function () {
        $(".kendoButton").kendoButton();

        $("#dataFile").kendoUpload({
            multiple: false
            , async: {
                saveUrl: "/importcenter/UpdateDataFile"
                , autoUpload: true
            }
            , localization: {
                select: "Browse..."
            }
            , validation: {
                allowedExtensions: [".xlsx", ".csv"]
                , maxFileSize: 4000000
            }
            , complete: dataFile_Complete
            , upload: onDataFileUpload
        });

        $("#importCenterID").kendoDropDownList({
            dataValueField: "ID"
            , dataTextField: "Name"
            , dataSource: {
                transport:
                {
                    read: {
                        url: "/importcenter/importdefinitions"
                        , dataType: "json"
                        , type: "GET"
                    }
                    , parameterMap: function(data, type) {
                        if (type === "read") return { rootObjectID: $("#rootObjectID").val() || "0" };
                    }
                }
            }
            , index: 0
            , change: importCenterDefinition_change
            , autoWidth: true
            , headerTemplate: "<div class='dropdown-template k-widget k-header'><span class='icdName'>Mapping Name</span><span class='icdUsers'>Users</span></div>"
            , template: "<div class='dropdown-template k-state-default'><span class='icdName'>#:data.Name#</span><span class='icdUsers'>#:data.UserNames || 'All'#</span></div>"
            , valueTemplate: "<div>#:data.Name#</div>"
        });
        importCenterDefinitionDDL = $("#importCenterID").data("kendoDropDownList");

        // part of simulating a split button #sbAction
        $("#sbAction").kendoMenu({
            openOnClick: true,
        });
        tlDataSource = new kendo.data.TreeListDataSource({
            transport: {
                read: {
                    datatype: "json",
                    url: "/importcenter/importfields",
                    type: "GET"
                },
                create: {
                    url: "/importcenter/createfield",
                    type: "POST"
                },
                update: {
                    url: "/importcenter/updatefield",
                    type: "POST"
                },
                destroy: {
                    url: "/importcenter/destroyfield",
                    type: "POST"
                },
                parameterMap: function(data, operation) {
                    if (operation != "read") {
                        if (data.hasOwnProperty("models"))
                            return $.toDictionary(data.models);
                        else
                            return $.toDictionary(data);
                    } else {
                        var id = importCenterDefinitionDDL.value();
                        if (id == null || id == "") id = 0;
                        return "id=" + id;
                    }
                }
            },
            schema: {
                model: {
                    id: "ID",
                    parentId: "ParentFieldID",
                    fields: {
                        ID: { editable: false, nullable: true, type: "number" },
                        ParentFieldID: { nullable: true, type: "number" },
                        /* this hard-coded default value is replaced in the tlFields.edit event handler (dynamically) */
                        ImportCenterDefinitionID: { defaultValue: 1, validation: { required: true } },
                        ObjectFieldID: {
                            validation: {
                                required: { message: "Target Field is required" }
                            }
                        },
                        CSharpExpression: { validation: { required: false } },
                        Fields: { },
                        KeyComparisonTypeID: { },
                    },
                    expanded: true,
                }
            }
        });
        // reload the tlFields and do related logic
        refreshImportCenterDefinitions();

        tlFields = createTlFields();

        /* indicate changes to grid cell value [similar to kendogrid()] with a red triangle in top left corner */
        $("#tlFields").on("change", "input,select", function() {
            var parentTD = $(this).closest("td");
            parentTD.addClass("k-dirty-cell");
            parentTD.children(":first").before('<span class="k-dirty"></span>');
        });
        $(".k-grid-toolbar .k-grid-add").on("click", function () {
            // ignore tlFields "Add New Record" button clicks until a mapping is selected & importField records are available
            return !!importCenterDefinitionDDL.value() && importFields && importFields.length > 0;
        });
    });
</script>