﻿@model DispatchCrude.Models.OrderTicket

@{
    ViewBag.Title = "Dispatch";
    ViewBag.Subtitle = "Ticket Add/Edit - Order #" + @ViewBag.OrderNum;
    string UOMFormat = "{0:" + ViewBag.UOMFormat + "}";
}

@if (ViewData.ModelState.Any(x => x.Value.Errors.Any()) || ViewBag.Error != null)
{
    <div class="alert alert-danger">
        <span class="glyphicon glyphicon-exclamation-sign"></span> @ViewBag.Error
        @Html.ValidationSummary(false)
    </div>
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.ID)
    @Html.HiddenFor(m => m.UID)
    @Html.HiddenFor(m => m.UomID)
    @Html.HiddenFor(m => m.OrderID)
    @Html.HiddenFor(m => m.TicketTypeID)

    <div class="well with-header inline-block">
        <div class="header bordered-blue">Order #@ViewBag.OrderNum</div>
        <table>
            <tr>
                <td class="txtAlignRight">
                    @Html.LabelFor(m => m.CarrierTicketNum, "Ticket #"):&nbsp;&nbsp;&nbsp;&nbsp;
                </td>
                <td>
                    @Html.TextBoxFor(m => m.CarrierTicketNum, new { @class = "form-control required" })
                    <div class="spacer10px"></div>
                </td>
                <td></td>
                <td>
                    <div class="center">
                        <strong>Ticket Type:</strong> @ViewBag.TicketType
                    </div>
                    <div class="spacer10px"></div>
                </td>
            </tr>
            <tr>
                <td class="txtAlignRight">
                    @Html.LabelFor(m => m.DispatchConfirmNum, "Shipper PO"):&nbsp;&nbsp;&nbsp;&nbsp;
                </td>
                <td>
                    @Html.TextBoxFor(m => m.DispatchConfirmNum, new { @class = "form-control @shipper_po_required" })
                    <div class="spacer10px"></div>
                </td>
            </tr>
            <tr>
                <td class="txtAlignRight">
                    @Html.LabelFor(m => m.OriginTankID, "Tank #"):&nbsp;&nbsp;&nbsp;&nbsp;
                </td>
                <td>
                    @Html.DropDownList("OriginTankID", null, "-- Select Tank --", htmlAttributes: new { @class = "form-control" })
                    <div class="spacer10px"></div>
                </td>
            </tr>
            <tr>
                <td class="txtAlignRight">
                    @Html.LabelFor(m => m.GrossUnits, "Estimated Volume"):&nbsp;&nbsp;&nbsp;&nbsp;
                </td>
                <td colspan="3">
                    <div class="input-group">
                        @Html.TextBoxFor(m => m.GrossUnits, UOMFormat, new { @class = "form-control", @type = "number", step = ViewBag.UOMStep, placeholder = ViewBag.UOMFormat })
                        <span class="input-group-addon">@ViewBag.UOM</span>
                    </div>
                    <div class="spacer10px"></div>
                </td>
            </tr>            
            <tr>
                <td colspan="4" class="center">
                    <div class="spacer20px"></div>

                    <button type="submit" id="saveticket" class="btn btn-blue shiny">Complete Ticket</button>

                    &nbsp;&nbsp;<a class="btn btn-blue shiny" href="~/Orders/Edit/@Model.OrderID">Cancel</a>
                </td>
            </tr>
        </table>
    </div>
}