﻿@model IPagedList<DispatchCrude.Models.OrderTicket>

@using PagedList;
@using PagedList.Mvc;
@using DispatchCrude.Models;


@{
    ViewBag.Title = "Index";
    OrderTicket t = new OrderTicket();
}

<div id="gridArea" style="height:95%">

    @if (TempData["error"] != null)
    {
        <div class="alert alert-danger">
            <span class="glyphicon glyphicon-exclamation-sign"></span> @TempData["error"]
            @Html.ValidationSummary(false)
        </div>
    }
    @ViewBag.Success
    @ViewBag.Message

    <div class="row">
        <div class="col-sm-6">
            @Html.PagedListPager(Model,
                page => Url.Action("Index", "Tickets", new { page, currentFilter = ViewBag.currentFilter, SortOrder = ViewBag.CurrentSort }))
        </div>
        <div class="col-sm-4">
        @using (Html.BeginForm())
        {
            <div class="input-group">
                @Html.TextBox("searchString", ViewBag.currentFilter as string, new { @class = "form-control", placeholder = "Search ticket #, order #, shipper PO, BOL #, or ticket type" })
                <span class="input-group-btn">
                    <input type="submit" value="Go!" class="btn btn-primary">
                </span>
            </div>
        }
        </div>
        <div class="col-sm-2">
            Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
            (@Model.TotalItemCount records)
        </div>
    </div>

    <table class="table table-striped table-condensed">
        <tr>
            <th></th>
            <th>
                <a href="@Url.Action("Index", "Tickets", new { sortOrder = ViewBag.CarrierTicketNumSort, currentFilter = ViewBag.currentFilter })">@Html.DisplayNameFor(model => t.CarrierTicketNum)</a>
            </th>
            <th>
                <a href="@Url.Action("Index", "Tickets", new { sortOrder = ViewBag.TicketTypeSort, currentFilter = ViewBag.currentFilter })">@Html.DisplayNameFor(model => t.TicketTypeID)</a>
            </th>
            <th>
                <a href="@Url.Action("Index", "Tickets", new { sortOrder = ViewBag.OrderNumSort, currentFilter = ViewBag.currentFilter })">@Html.DisplayNameFor(model => t.OrderID)</a>
            </th>
            <th>
                <a href="@Url.Action("Index", "Tickets", new { sortOrder = ViewBag.DispatchConfirmNumSort, currentFilter = ViewBag.currentFilter })">@Html.DisplayNameFor(model => t.DispatchConfirmNum)</a>
            </th>
            <th>
                <a href="@Url.Action("Index", "Tickets", new { sortOrder = ViewBag.BOLNumSort, currentFilter = ViewBag.currentFilter })">@Html.DisplayNameFor(model => t.BOLNum)</a>
            </th>

            <th>
                @Html.DisplayNameFor(model => t.OriginTankText)
            </th>
            <th>
                @Html.DisplayNameFor(model => t.GrossUnits)
            </th>
            <th>
                @Html.DisplayNameFor(model => t.GrossStdUnits)
            </th>
            <th>
                @Html.DisplayNameFor(model => t.NetUnits)
            </th>
            <th>
                @Html.DisplayNameFor(model => t.UomID)
            </th>

            <th>
                @Html.DisplayNameFor(model => t.Rejected)
            </th>
            <th>
                @Html.DisplayNameFor(model => t.Deleted)
            </th>
            <th>
                @Html.DisplayNameFor(model => t.FromMobileApp)
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a href=/Tickets/Details/@item.ID class="btn btn-xs btn-info">
                        <span class="glyphicon glyphicon-list-alt whitelink"></span>
                    </a>
                    @if (User.IsInRole("editOrders"))
                    {
                        <a href=/Tickets/Edit/@item.ID class="btn btn-xs btn-warning">
                            <span class="glyphicon glyphicon-pencil whitelink"></span>
                        </a>

                        <a href=/Tickets/Delete/@item.ID class="btn btn-xs btn-danger">
                            <span class="glyphicon glyphicon-remove whitelink"></span>
                        </a>
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CarrierTicketNum)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TicketType.Name)
                </td>
                <td>
                    <a href="~/Orders/Details/@item.OrderID">@Html.DisplayFor(modelItem => item.Order.OrderNum)</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DispatchConfirmNum)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BOLNum)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OriginTankText)
                </td>

                <td>
                    <div class="pull-right">@Html.DisplayFor(modelItem => item.GrossUnits)</div>
                </td>
                <td>
                    <div class="pull-right">@Html.DisplayFor(modelItem => item.GrossStdUnits)</div>
                </td>
                <td>
                    <div class="pull-right">@Html.DisplayFor(modelItem => item.NetUnits)</div>
                </td>
                <td>
                    @item.Order.OriginUOM.Abbrev
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Rejected)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Deleted)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FromMobileApp)
                </td>
            </tr>
        }

    </table>
</div>