﻿@model DispatchCrude.Models.OrderTicket

@{
    ViewBag.Title = "Dispatch";
    ViewBag.Subtitle = "Ticket Add/Edit - Order #" + @ViewBag.OrderNum;
    string UOMFormat = "{0:" + ViewBag.UOMFormat + "}";
}

@if (ViewData.ModelState.Any(x => x.Value.Errors.Any()) || ViewBag.Error != null)
{
    <div class="alert alert-danger">
        <span class="glyphicon glyphicon-exclamation-sign"></span> @ViewBag.Error
        @Html.ValidationSummary(false)
    </div>
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.ID)
    @Html.HiddenFor(m => m.UID)
    @Html.HiddenFor(m => m.UomID)
    @Html.HiddenFor(m => m.OrderID)
    @Html.HiddenFor(m => m.TicketTypeID)

    <div class="well with-header inline-block">
        <div class="header bordered-blue">Order #@ViewBag.OrderNum</div>
        <table>
            <tr>
                <td class="txtAlignRight">
                    @Html.LabelFor(m => m.CarrierTicketNum, "Ticket #"):&nbsp;&nbsp;&nbsp;&nbsp;
                </td>
                <td>
                    @Html.TextBoxFor(m => m.CarrierTicketNum, new { @class = "form-control required" })
                    <div class="spacer10px"></div>
                </td>
                <td></td>
                <td>
                    <div class="center">
                        <strong>Ticket Type:</strong> @ViewBag.TicketType
                    </div>
                    <div class="spacer10px"></div>
                </td>
            </tr>
            <tr>
                <td class="txtAlignRight">
                    @Html.LabelFor(m => m.DispatchConfirmNum, "Shipper PO"):&nbsp;&nbsp;&nbsp;&nbsp;
                </td>
                <td>
                    @Html.TextBoxFor(m => m.DispatchConfirmNum, new { @class = "form-control" })
                    <div class="spacer10px"></div>
                </td>
            </tr>
            <tr>
                <td class="txtAlignRight">
                    @Html.LabelFor(m => m.BOLNum, "BOL #"):&nbsp;&nbsp;&nbsp;&nbsp;
                </td>
                <td>
                    @Html.TextBoxFor(m => m.BOLNum, new { @class = "form-control" })
                    <div class="spacer10px"></div>
                </td>
            </tr>            
            <tr>
                <td class="txtAlignRight">
                    @Html.LabelFor(m => m.WeightGrossUnits):&nbsp;&nbsp;&nbsp;&nbsp;
                </td>
                <td colspan="3">
                    <div class="input-group">
                        @Html.TextBoxFor(m => m.WeightGrossUnits, UOMFormat, new { @class = "form-control", @type = "number", step = ViewBag.UOMStep, placeholder = ViewBag.UOMFormat })
                        <span class="input-group-addon">@ViewBag.UOM</span>
                    </div>
                    <div class="spacer10px"></div>
                </td>
            </tr>
            <tr>
                <td class="txtAlignRight">
                    @Html.LabelFor(m => m.WeightTareUnits):&nbsp;&nbsp;&nbsp;&nbsp;
                </td>
                <td colspan="3">
                    <div class="input-group">
                        @Html.TextBoxFor(m => m.WeightTareUnits, UOMFormat, new { @class = "form-control", @type = "number", step = ViewBag.UOMStep, placeholder = ViewBag.UOMFormat })
                        <span class="input-group-addon">@ViewBag.UOM</span>
                    </div>
                    <div class="spacer10px"></div>
                </td>
            </tr>
            <tr>
                <td class="txtAlignRight">
                    @Html.LabelFor(m => m.WeightNetUnits):&nbsp;&nbsp;&nbsp;&nbsp;
                </td>
                <td colspan="3">
                    <div class="input-group">
                        @Html.TextBoxFor(m => m.WeightNetUnits, UOMFormat, new { @class = "form-control", @type = "number", step = ViewBag.UOMStep, placeholder = ViewBag.UOMFormat })
                        <span class="input-group-addon">@ViewBag.UOM</span>
                    </div>
                    <div class="spacer10px"></div>
                </td>
            </tr>
            <tr>
                <td class="txtAlignRight">
                    @Html.LabelFor(model => model.Rejected, "Rejected?"):&nbsp;&nbsp;&nbsp;&nbsp;
                </td>
                <td>
                    @Html.CheckBoxFor(model => model.Rejected)
                    <div class="spacer10px"></div>
                </td>
                <td colspan="2">
                    @Html.DropDownList("RejectReasonID", null, "-- Select Reason --", htmlAttributes: new { @class = "form-control" })
                    <div class="spacer10px"></div>
                </td>
            </tr>

            <tr>
                <td class="txtAlignRight">
                    @Html.LabelFor(model => model.RejectNotes):&nbsp;&nbsp;&nbsp;&nbsp;
                </td>
                <td colspan="3">
                    @Html.TextAreaFor(model => model.RejectNotes, new { @class = "form-control" })
                </td>
            </tr>
            <tr>
                <td colspan="4" class="center">
                    <div class="spacer20px"></div>

                    @if (Model.Rejected)
                    {
                        <button type="submit" id="saveticket" class="btn btn-black">Reject Ticket</button>
                    }
                    else
                    {
                        <button type="submit" id="saveticket" class="btn btn-blue shiny">Complete Ticket</button>
                    }
                    &nbsp;&nbsp;<a class="btn btn-blue shiny" href="~/Orders/Edit/@Model.OrderID">Cancel</a>
                </td>
            </tr>
        </table>
    </div>
}
<script>
    // This switches the Complete/Reject button
    $("#Rejected").click(function () {
        $("#saveticket").toggleClass("btn-blue btn-black")
        $("#saveticket").toggleClass(" shiny")
        $("#saveticket").text(function (i, text) {
            return text == "Complete Ticket" ? "Reject Ticket" : "Complete Ticket";
        })
    });

    $(function () {
        $("#WeightGrossUnits").change(setNet);
        $("#WeightTareUnits").change(setNet);
    });

    function setNet() {
        gross = $("#WeightGrossUnits").val();
        tare = $("#WeightTareUnits").val();
        if (gross && tare)
            $("#WeightNetUnits").val(gross - tare);
        else
            $("#WeightNetUnits").val("");
    }
</script>
