﻿@using DispatchCrude.Models;

@model DriverSettlementStatementEmail

@*These hidden fields are required for updating to work properly*@
@Html.HiddenFor(model => model.ID)

@* NOTE: This script section must be at the top of the page for the pop-up to function properly. It cannot be moved to the bottom of the page. *@
<script>
    $(function () {
        /* Use DC style buttons instead of default Kendo buttons - NOTE: you can't use the inline comment syntax here
        (TELERIK seems to "minify" the text so everything following becomes a comment) */
        customKendoPopupButtons();
    });

    /* this function must be defined before it is referenced so this script block needs to be at the top of the file */
    function onUpload(e) {
        /* since the upload is not "bound" to the model, we need to manually inform kendo that the data is changed (dirty)
        so hitting "Save" will submit to the server */
        var grid = $("#grid").data("kendoGrid");
        var id = $("#ID").val();
        grid.dataSource.get(id).dirty = true;
    };    

</script>
<style>
    .k-widget.k-window {
        width: 520px !important;
    }
    .editor-label {
        width: 130px !important;
    }
    .editor-field {
        width: 350px !important;
    }
    .k-widget, .k-textbox {
        width: 100% !important;
    }
</style>
<div class="popup-editor-container">
    @Html.ValidationSummary(true)
    <ul class="gridErrors NullValidator"></ul>

    <div class="editor-label">
        <span style="color:red;">*</span>@Html.LabelFor(model => model.DriverSettlementStatementEmailDefinitionID, "Email Definition")
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.DriverSettlementStatementEmailDefinitionID, new { activeOnly = false, Table = "DriverSettlementStatementEmailDefinition" })
    </div>

    <div class="editor-label">
        <span style="color:red;">*</span>@Html.LabelFor(model => model.PdfExportID)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.PdfExportID, new { activeOnly = false, Table = "PdfExport", OtherParams = "PdfExportType=1" })
    </div>

    <div class="editor-label">
        <span id="docReqStar" style="color:red;">*</span>@Html.LabelFor(model => model.EmailAddress)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.EmailAddress)
    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.CCEmailAddress)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.CCEmailAddress)
    </div>

    <div class="editor-label">
        <span id="docReqStar" style="color:red;">*</span>@Html.LabelFor(model => model.QueueEmailSend)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.QueueEmailSend)
    </div>
</div>