﻿@{
    Layout = "~/Views/Shared/_RazorLayout.cshtml";
}

<h2>
    Welcome to @System.Web.Configuration.WebConfigurationManager.AppSettings["SiteTitle"]!
</h2>
<p>
    Please choose a menu item.&nbsp; If you need assistance, contact the FuelHelpDesk at 
    <b>1 (812) 303-4357</b>.
</p>