﻿@model IEnumerable<DispatchCrude.ViewModels.DCUserViewModel>
@using DispatchCrude.Extensions;
@using DispatchCrude.Core;

@{
    ViewBag.Title = "Security";
    ViewBag.Subtitle = "User Management";
}

<div class="tabbable TabRepaint">
    <ul class="nav nav-tabs" id="tabmenu">
        @NavigationHelper.PrintTabArray(NavigationHelper.TabSet_Security, "Tab_Users")
    </ul>
    <div class="tab-content">
        <div class="tab-pane in active">

            @(Html.Kendo().Grid(Model)
                .Name("grid")
                .DataSource(ds => ds
                    .Ajax()
                    .Filter(filter => filter.Add(group => group.Active).IsEqualTo(true))
                    .Model(model =>
                    {
                        model.Id(m => m.Id);
                        model.Field(m => m.Id).DefaultValue(new Guid());
                    })
                    .PageSize(Settings.DefaultPageSize)
                    .Sort(sort => { if (Request.QueryString.Keys.Count == 0) { sort.Add("UserName").Ascending(); } }) // Initial Sort
                    .Create(create => create.Action("Create", "DCUsers"))
                    .Read(read => read.Action("Read", "DCUsers"))
                    .Destroy(update => update.Action("Delete", "DCUsers"))
                    .Events(events => { events.Error("onDSErrors"); events.RequestEnd("onDSRequestEnd"); })
                )
                .Excel(excel => excel
                    .AllPages(true)
                    .FileName("Users.xlsx")
                    .Filterable(true)
                )
                .Events(ev =>
                {
                    ev.ExcelExport("kendoGridExportHelper.ExcelExport");  // This line/function call is only needed when you need to replace an ID in the export with the actual display value (state ID in this grid)
                    ev.Edit("onPopupEdit"); //This is required for conditional changing of the popup (like "create" or "edit" in the window title)
                })
                .HtmlAttributes(new { style = "height:800px;", @class = "MVCGridRepaint" })
                .ToolBar(command =>
                {
                    if (User.IsInRole("createUsers")) command.Create().Text("");  //Read only if user does not have manage permission
                    command.Excel();
                })
                .Editable(ed => { ed.Mode(GridEditMode.PopUp).TemplateName("Popup_User"); ed.DisplayDeleteConfirmation(false); })                
                .Pageable(pager => pager
                    .PageSizes(Settings.MvcGridPageSizes)
                    .Refresh(true)
                )
                .Sortable()
                .Scrollable()
                .Filterable(filterable => filterable
                    .Extra(true)   //This extended "filterable" section of code makes the contains filter the default string filter for these grids
                    .Operators(operators => operators
                        .ForString(str => str
                            .Clear()
                            .Contains("Contains")
                            .DoesNotContain("Does not contain")
                            .StartsWith("Starts with")
                            .EndsWith("Ends with")
                            .IsEqualTo("Is equal to")
                            .IsNotEqualTo("Is not equal to")
                        )
                    )
                )
                .Resizable(resizable => resizable.Columns(true))
                .Columns(columns =>
                {
                columns.Template(@<text></text>).ClientTemplate("#= rowCommandsUndelete(data) #").Title("&nbsp;").Width(100);
                    columns.Bound(u => u.Active)
                        .Title("Active?")
                        .ClientTemplate("#if (data.Active) {# <div class='center'><input type='checkbox' checked='checked' disabled></input></div> #}else{# <div class='center'><input type='checkbox' disabled></input></div> #}#")
                        .Width(85);
                    columns.Bound(u => u.UserName)
                        .Title("Username")
                        .Width(200);
                    columns.Bound(u => u.FullName)
                        .Title("Name")
                        .Width(200);
                    columns.Bound(u => u.GroupCount)
                        .Title("Groups")
                        .ClientTemplate("#if(data.GroupCount != null){#<div title='Details'><a href='DCUsers/UserProfile/#=data.Id#'><span class='glyphicon glyphicon-list-alt' /> #=data.GroupCount#</a></div>#}#")
                        .Width(100);
                    columns.Bound(u => u.Email)
                        .ClientTemplate("#if(data.Email != null){#<div title='Send mail to: #=data.Email#'><a href='mailto:#=data.Email#'>#=data.Email#</a></div>#}#")
                        .Width(250);
                    columns.Bound(u => u.Comment)
                        .Width(350);
                    columns.Bound(u => u.LastLoginDateUTC)
                        .Title("Last Login Date (UTC)")
                        //the MVC wrapper is calling HttpUtility.UrlDecode on all templates before it renders them to JS.
                        //So to escape your +sign(or any other reserved URL character), use percent encoding.In this case % 2B
                        //http://stackoverflow.com/a/24370964/5152586
                        .ClientTemplate("#=(data.LastLoginDateUTC.getMonth() %2B 1)#/#=data.LastLoginDateUTC.getDate()#/#=data.LastLoginDateUTC.getFullYear()#")
                        .Width(200);
                    columns.Bound(u => u.CreateDate)
                        .Width(200);
                    columns.Bound(u => u.CreatedByUser)
                        .Width(175);
                    columns.Bound(u => u.LastChangeDate)
                        .Width(200);
                    columns.Bound(u => u.LastChangedByUser)
                        .Width(200);
                    columns.Bound(u => u.DeleteDate)
                        .Width(200);
                    columns.Bound(u => u.DeletedByUser)
                        .Width(200);
                })
            )

            @*These inputs are required for create/edit/deactivate permissions functionality*@
            <input id="allowCreate" type="hidden" value="@UserSupport.Allow.Create.OnPage("Users")" />
            <input id="allowEdit" type="hidden" value="@UserSupport.Allow.Edit.OnPage("Users")" alt="DCUsers/UserProfile/" />
            <input id="allowDelete" type="hidden" value="@UserSupport.Allow.Delete.OnPage("Users")" />
            <input id="isAdmin" type="hidden" value="@UserSupport.IsInGroup("_DCAdministrator")" />
            <input id="isSysMgr" type="hidden" value="@UserSupport.IsInGroup("_DCSystemManager")" />
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {

        // customKendoGridButtons() fixes the look of the add new button and
        // excel export button that were not addressed directly in the grid above
        customKendoGridButtons();
    });
</script>

@* These scripts need to be included on every Kendo MVC grid page. They include extra "default" grid functions *@
<script src="~/scripts/kendoExcelExportHelper.js?ver=2.1" type="text/javascript"></script>
<script src="~/scripts/kendoGridErrors.js" type="text/javascript"></script>