﻿@using DispatchCrude.Models;
@using DispatchCrude.Core;
@using DispatchCrude.ViewModels;
@using DispatchCrude.Extensions;
@model DCUserViewModel

@{
    Layout = "../Shared/_Layout.cshtml";
    ViewBag.Title = "Security";
    ViewBag.Subtitle = "User Profile";
}

@Html.Hidden("UserID", Model.Id)  @*TODO:  Check if this is necessary since there is already a field for this on line 38*@

@if (TempData["success"] != null)
{
    <script>
        $(document).ready(function () {
            Notify('@TempData["success"]', 'top-right', '5000', 'success', 'fa-check-circle white', true);
        })
    </script>
}
@if (TempData["error"] != null)
{
    <script>
        $(document).ready(function () {
            Notify('@TempData["error"]', 'top-right', '5000', 'danger', 'fa-close white', true);
        })
    </script>
}
<div class="tabbable">
    <ul class="nav nav-tabs" id="tabmenu">        
            @NavigationHelper.PrintTabArray(NavigationHelper.TabSet_Security, "Tab_Users")        
    </ul>
    <div class="tab-content" style="overflow:hidden;">
        @*Overflow hidden makes the tab-content div expand to fit the content*@
        @using (Html.BeginForm("UserProfile", "DCUsers", FormMethod.Post, new { id = "userProfile" }))
        {
            @Html.HiddenFor(m => Model.Id) @*Hidden field so that the save function can be passed the correct userId*@
            @Html.HiddenFor(m => Model.UserName) @*Hidden field so that the save function can be passed the correct username*@

            <div id="Profile" class="tab-pane active">
                <div class="well speedButtonContainer">
                    @NavigationHelper.PrintButtonArray(NavigationHelper.ButtonSet_TabUsers, null)
                </div>

                @if (User.IsInRole("editUsers"))
                {

                    if (UserSupport.IsInGroup("_DCAdministrator", Model.UserName) && !UserSupport.IsInGroup("_DCAdministrator"))
                    {
                        //if the user is an admin and you are not, you may not edit this user
                    }
                    else if (UserSupport.IsInGroup("_DCSystemManager", Model.UserName) && !UserSupport.IsInGroup("_DCAdministrator"))
                    {
                        //if the user is a manager and you are not an admin, you may not edit this user
                    }
                    else if (UserSupport.IsInGroup("_DCSupport", Model.UserName) && (!UserSupport.IsInGroup("_DCAdministrator") && !UserSupport.IsInGroup("_DCSystemManager")))
                    {
                        //if the user is a support user and you are not a manager or an admin, you may not edit this user
                    }
                    else
                    {
                        <input type="submit" class="btn btn-blue shiny pull-right" value="Save Changes" />
                    }
                }

                <h1>User: @Model.FullName (@Model.UserName)</h1>
                <div class="spacer20px"></div>
                <div class="col-md-7">
                    <div class="col-md-6">
                        <div class="widget">
                            <div class="widget-header bordered-bottom bordered-blue">
                                <span class="widget-caption">Basic Information</span>
                            </div>
                            <div class="widget-body">
                                <table class="width100 form-layout">
                                    <tr>
                                        <td align="right">@Html.DisplayNameFor(model => model.FullName) &nbsp;</td>
                                        <td align="left">
                                            @Html.TextBoxFor(model => model.FullName, new { @class = "width100 form-control" })
                                        </td>
                                    </tr>
                                    <tr>
                                        <td align="right">@Html.DisplayNameFor(model => model.Email) &nbsp;</td>
                                        <td align="left">
                                            @Html.TextBoxFor(model => model.Email, new { @class = "width100 form-control" })
                                        </td>
                                    </tr>
                                    <tr>
                                        <td align="right">@Html.DisplayNameFor(model => model.Comment) &nbsp;</td>
                                        <td align="left">
                                            @Html.TextBoxFor(model => model.Comment, new { @class = "width100 form-control" })
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <div class="widget">
                            <div class="widget-header bordered-bottom bordered-blue">
                                <span class="widget-caption">Account Actions</span>
                            </div>
                            <div class="widget-body">
                                <table class="width100 form-layout">
                                    <tr>
                                        <td align="right">@Html.DisplayNameFor(model => model.IsApproved) &nbsp;</td>
                                        <td align="left" valign="middle">@Html.EditorFor(m => Model.IsApproved)</td>
                                    </tr>
                                    <tr>
                                        <td align="right">@Html.DisplayNameFor(model => model.IsLockedOut) &nbsp;</td>
                                        <td align="left" valign="middle">
                                            @*This is necessary because the @Html.EditorFor cannot use the "disabled" attribute*@
                                            @if (Model.IsLockedOut)
                                            {
                                                @Html.EditorFor(m => Model.IsLockedOut)
                                            }
                                            else
                                            {
                                                <label>
                                                    <input class="checkbox-slider slider-icon yesno colored-blue" type="checkbox" checked="@Model.IsLockedOut" value="lockout_checkbox_@Model.Id" name="IsLockedOut" disabled>
                                                    <span style="top:5px;" class="text"></span>
                                                </label>
                                            }
                                        </td>
                                    </tr>
                                    <tr>
                                        <td align="right">New Password &nbsp;</td>
                                        <td>
                                            <div class="form-group">
                                                <input type="password" class="width100 form-control" name="Password1"
                                                       placeholder="(Leave blank to keep current)"
                                                       data-bv-stringlength="true"
                                                       data-bv-stringlength-min="6"
                                                       data-bv-stringlength-message="The password must be more than 6 characters long"
                                                       data-bv-identical="true"
                                                       data-bv-identical-field="Password2"
                                                       data-bv-identical-message="The passwords do not match" />
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td align="right">Confirm New Password &nbsp;</td>
                                        <td>
                                            <div class="form-group">
                                                <input type="password" class="width100 form-control" name="Password2"
                                                       data-bv-identical="true"
                                                       data-bv-stringlength="true"
                                                       data-bv-stringlength-min="6"
                                                       data-bv-stringlength-message="The password must be more than 6 characters long"
                                                       data-bv-identical-field="Password1"
                                                       data-bv-identical-message="The passwords do not match" />
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="widget">
                            <div class="widget-header  bordered-bottom bordered-blue">
                                <span class="widget-caption">User Settings</span>
                            </div>
                            <div class="widget-body">
                                <table class="width100 form-layout">
                                    <tr>
                                        <td align="right">Carrier &nbsp;</td>
                                        <td align="left">@Html.DropDownList("CarrierID", null, "(Not A Carrier)", htmlAttributes: new { @class = "form-control" })</td>
                                    </tr>
                                    <tr>
                                        @*TODO: When this dropdown is changed the carrier dropdown needs to change to match the selected driver's carrier*@
                                        <td align="right">Driver &nbsp;</td>
                                        <td align="left">@Html.DropDownList("DriverID", null, "(Not A Driver)", htmlAttributes: new { @class = "form-control" })</td>
                                    </tr>
                                    <tr>
                                        <td align="right">Gauger &nbsp;</td>
                                        <td align="left">@Html.DropDownList("GaugerID", null, "(Not A Gauger)", htmlAttributes: new { @class = "form-control" })</td>
                                    </tr>
                                    <tr>
                                        <td align="right">Shipper &nbsp;</td>
                                        <td align="left">@Html.DropDownList("ShipperID", null, "(Not A Shipper)", htmlAttributes: new { @class = "form-control" })</td>
                                    </tr>
                                    <tr>
                                        <td align="right">Producer &nbsp;</td>
                                        <td align="left">@Html.DropDownList("ProducerID", null, "(Not A Producer)", htmlAttributes: new { @class = "form-control" })</td>
                                    </tr>
                                    <tr>
                                        <td align="right">Region &nbsp;</td>
                                        <td align="left">@Html.DropDownList("RegionID", null, "(None)", htmlAttributes: new { @class = "form-control" })</td>
                                    </tr>
                                    <tr>
                                        <td align="right" width="80">Time Zone &nbsp;</td> @*This label was breaking the column alignment so the width attribute is required*@
                                        <td align="left">@Html.DropDownList("TimeZoneID", null, "(Specifiy Time Zone)", htmlAttributes: new { @class = "form-control" })</td>
                                    </tr>
                                    <tr>
                                        <td align="right" width="80">Terminal &nbsp;</td> @*This label was breaking the column alignment so the width attribute is required*@
                                        <td align="left">@Html.DropDownList("TerminalID", null, "(All Terminals)", htmlAttributes: new { @class = "form-control" })</td>
                                    </tr>
                                    <tr>
                                        <td align="right">Use DST? &nbsp;</td>
                                        <td align="left">@Html.EditorFor(m => Model.UseDST)</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="widget">
                            <div class="widget-header  bordered-bottom bordered-blue">
                                <span class="widget-caption">Informational</span>
                            </div>
                            <div class="widget-body">
                                <table class="width100 form-layout">
                                    <tr>
                                        <td align="right">Created: &nbsp;</td>
                                        <td align="left" style="padding:6px 12px;">@Html.DisplayFor(m => Model.CreateDateUTC)</td>
                                    </tr>
                                    <tr>
                                        <td align="right">Created by: &nbsp;</td>
                                        <td align="left" style="padding:6px 12px;">@Html.DisplayFor(m => Model.CreatedByUser)</td>
                                    </tr>
                                    <tr>
                                        <td align="right">Last changed: &nbsp;</td>
                                        <td align="left" style="padding:6px 12px;">@Html.DisplayFor(m => Model.LastChangeDateUTC)</td>
                                    </tr>
                                    <tr>
                                        <td align="right">Last changed by: &nbsp;</td>
                                        <td align="left" style="padding:6px 12px;">@Html.DisplayFor(m => Model.LastChangedByUser)</td>
                                    </tr>
                                    <tr>
                                        <td align="right">Deactivated: &nbsp;</td>
                                        <td align="left" style="padding:6px 12px;">@Html.DisplayFor(m => Model.DeleteDateUTC)</td>
                                    </tr>
                                    <tr>
                                        <td align="right">Deactivated by: &nbsp;</td>
                                        <td align="left" style="padding:6px 12px;">@Html.DisplayFor(m => Model.DeletedByUser)</td>
                                    </tr>
                                    <tr>
                                        <td align="right">Last Login: &nbsp;</td>
                                        <td align="left" style="padding:6px 12px;">@Html.DisplayFor(m => Model.LastLoginDateUTC)</td>
                                    </tr>
                                    <tr>
                                        <td align="right">Last Activity: &nbsp;</td>
                                        <td align="left" style="padding:6px 12px;">@Html.DisplayFor(m => Model.LastActivityDateUTC)</td>
                                    </tr>
                                    <tr>
                                        <td align="right">Last Password Lockout: &nbsp;</td>
                                        <td align="left" style="padding:6px 12px;">
                                            @if (Model.LastLockoutDateUTC.Year > 2010)  //The aspnet_Membership table defaults to "1754-01-01 00:00:00.000" for this field for some strange reason
                                            {
                                                @Html.DisplayFor(m => Model.LastLockoutDateUTC)
                                            }
                                        </td>
                                    </tr>
                                    <tr>
                                        <td align="right">Last Password Change: &nbsp;</td>
                                        <td align="left" style="padding:6px 12px;">@Html.DisplayFor(m => Model.LastPasswordChangedDateUTC)</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="widget">
                        <div class="widget-header bordered-bottom bordered-blue">
                            <span class="widget-caption">User Groups</span>
                        </div>
                        <div class="widget-body no-padding">
                            <div class="widget-main ">
                                <div class="panel-group accordion" id="accordion_groups">
                                    @{
                                        foreach (var item in (IEnumerable<DCGroup>)ViewBag.AllGroups)
                                        {
                                            if (item.GroupName == "_DCAdministrator" && !UserSupport.IsInGroup("_DCAdministrator"))
                                            {
                                                continue;
                                            }
                                            else if (item.GroupName == "_DCSystemManager" && !UserSupport.IsInGroup("_DCAdministrator"))
                                            {
                                                continue;
                                            }
                                            else if (item.GroupName == "_DCSupport" && !UserSupport.IsInGroup("_DCAdministrator") && !UserSupport.IsInGroup("_DCSystemManager"))
                                            {
                                                continue;
                                            }

                                            IEnumerable<DCGroup> userGroups = (IEnumerable<DCGroup>)ViewBag.UserGroups;
                                            var selected = userGroups.Any(g => g.GroupId == item.GroupId);

                                            <div class="panel panel-default">
                                                <div class="panel-heading ">
                                                    <h4 class="panel-title">
                                                        <label style="float:right;margin:7px 40px 0px auto;">
                                                            <input class="checkbox-slider slider-icon yesno colored-blue" type="checkbox" checked="@selected" value="@item.GroupId" name="SelectedGroups">
                                                            <span class="text"></span>
                                                        </label>
                                                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion_groups" href="#detail_@item.GroupId">
                                                            @item.GroupName
                                                        </a>
                                                    </h4>
                                                </div>
                                                <div id="detail_@item.GroupId" class="panel-collapse collapse" aria-expanded="false">
                                                    <div class="panel-body">
                                                        <b>Description:</b>
                                                        <p>
                                                            @item.Description
                                                        </p>
                                                        <br />
                                                        <p>
                                                            <b>Permissions in this group:</b>
                                                            <table>
                                                                <thead>
                                                                    <tr>
                                                                        <th>
                                                                            Category
                                                                        </th>
                                                                        <th></th>
                                                                        <th>
                                                                            Permission
                                                                        </th>
                                                                    </tr>
                                                                </thead>
                                                                @{string lastCategory = "";}
                                                                @foreach (var permission in item.Permissions.OrderBy(c => c.Category))
                                                                {
                                                                    if (permission.Category != lastCategory)
                                                                    {
                                                                        <tr><td colspan="3">&nbsp;</td></tr>
                                                                        <tr>
                                                                            <td>
                                                                                @permission.Category
                                                                                @{ lastCategory = permission.Category; }
                                                                            </td>
                                                                            <td>&nbsp;&nbsp;&nbsp;</td>
                                                                            <td>
                                                                                @if (string.IsNullOrEmpty(permission.FriendlyName))
                                                                                {
                                                                                    @permission.RoleName
                                                                                }
                                                                                else
                                                                                {
                                                                                    @permission.FriendlyName
                                                                                }
                                                                            </td>
                                                                        </tr>
                                                                                    }
                                                                                    else
                                                                                    {
                                                                                        <tr>
                                                                                            <td>
                                                                                                &nbsp;
                                                                                            </td>
                                                                                            <td>&nbsp;&nbsp;&nbsp;</td>
                                                                                            <td>
                                                                                                @if (string.IsNullOrEmpty(permission.FriendlyName))
                                                                                                {
                                                                                                    @permission.RoleName
                                                                                                }
                                                                                                else
                                                                                                {
                                                                                                    @permission.FriendlyName
                                                                                                }
                                                                                            </td>
                                                                                        </tr>
                                                                                        }
                                                                                    }
                                                            </table>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                                                                    }
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                                                                                    }
    </div>
</div>
<script>
    $(document).ready(function () {

        $("#userProfile").bootstrapValidator(
            {
                feedbackIcons: {
                    valid: 'glyphicon glyphicon-ok',
                    invalid: 'glyphicon glyphicon-remove',
                    validating: 'glyphicon glyphicon-refresh'
                }
            });       

    });

    $("#CarrierID").change(function () {
        refreshDrivers();
    });

    $("#DriverID").change(function () {
        refreshCarriers();
    });
    
    function refreshCarriers() {
        debugger;
        $.ajax({
            cache: false,
            type: "GET",
            url: "/Drivers/getCarrierJSON/",
            data: {
                "DriverID": $("#DriverID").val(),
            },
            success: function (data) {
                $("#CarrierID").val(data.id, data.name);
            },
            // error:
        });
    }

    function refreshDrivers() {
        debugger;
        $.ajax({
            cache: false,
            type: "GET",
            url: "/Carriers/getDriversJSON/",
            data: {
                "CarrierID": $("#CarrierID").val(),
            },
            success: function (data) {
                $("#DriverID").html('<OPTION value="0">(Not A Driver)</OPTION>');
                $.each(data, function (id, option) {
                    $("#DriverID").append($('<OPTION></OPTION>').val(option.id).html(option.name));                    
                });
            },
            // error:
        });
    }
</script>