﻿@model IEnumerable<DispatchCrude.Models.DriverEquipment>
@using DispatchCrude.Core;
@using DispatchCrude.Extensions;

@{
    ViewBag.Title = "Resources";
    ViewBag.SubTitle = "Driver Equipment";
}

<div class="tabbable TabRepaint">
    <ul class="nav nav-tabs" id="tabmenu">
        @NavigationHelper.PrintTabArray(NavigationHelper.TabSet_Resources, "Tab_Equipment")
    </ul>
    <div class="tab-content">
        <div class="tab-pane in active">
            <div class="well speedButtonContainer">
                @NavigationHelper.PrintButtonArray(NavigationHelper.ButtonSet_TabEquipment, "Button_Equipment")
            </div>

            @(Html.Kendo().Grid(Model)
                .Name("grid")
                .DataSource(ds => ds
                    .Ajax()
                    .Filter(filter => filter.Add(model => model.Active).IsEqualTo(true))
                    .Model(model => model.Id(m => m.ID))
                    .PageSize(Settings.DefaultPageSize)
                    .Sort(sort =>
                    {
                        if (Request.QueryString.Keys.Count == 0)
                        {
                            sort.Add("DriverEquipmentType.Name").Ascending();
                        }
                    }) // Initial Sort
                    .Create(create => create.Action("Create", "DriverEquipment"))
                    .Read(read => read.Action("Read", "DriverEquipment"))
                    .Update(update => update.Action("Update", "DriverEquipment"))
                    .Destroy(update => update.Action("Delete", "DriverEquipment"))
                    .Events(events => { events.Error("onDSErrors"); events.RequestEnd("onDSRequestEnd"); })
                )
                .Excel(excel => excel
                    .AllPages(true)
                    .FileName("Driver_Equipment.xlsx")
                    .Filterable(true)
                )
                .Events(ev =>
                {
                    ev.ExcelExport("kendoGridExportHelper.ExcelExport");  // This calls Kevin's custom excel functionality
                    ev.Edit("onPopupEdit"); // This just changes the popup's title (Create/Edit). If additional functionality is needed, create a custom function on this page.                                        
                })
                .HtmlAttributes(new { style = "height:800px;", @class = "MVCGridRepaint" })
                .ToolBar(command =>
                {
                    if (User.IsInRole("createDriverEquipment")) command.Create().Text("");
                    command.Excel();
                })
                .Editable(ed => {
                    ed.Mode(GridEditMode.PopUp).TemplateName("Popup_DriverEquipment");
                    ed.DisplayDeleteConfirmation(false);
                })
                .Pageable(pager => pager
                    .PageSizes(Settings.MvcGridPageSizes)
                    .Refresh(true)
                )
                .Sortable()
                .Scrollable()
                .Filterable(filterable => filterable
                    .Extra(true)   //This extended "filterable" section of code makes the contains filter the default string filter for these grids
                    .Operators(operators => operators
                        .ForString(str => str
                            .Clear()
                            .Contains("Contains")
                            .DoesNotContain("Does not contain")
                            .StartsWith("Starts with")
                            .EndsWith("Ends with")
                            .IsEqualTo("Is equal to")
                            .IsNotEqualTo("Is not equal to")
                        )
                    )
                )
                .Resizable(resizable => resizable.Columns(true))
                .Columns(columns =>
                {
                columns.Template(@<text></text>).ClientTemplate("#= rowCommandsUndelete(data) #").Title("&nbsp;").Width(100);
                    columns.Bound(model => model.Active)
                        .Title("Active?")
                        .ClientTemplate("#= ActiveState(data.Active) #")
                        .Width(85);
                    columns.Bound(m => m.DriverEquipmentType.Name)
                        .Title("Equipment Type")
                        .ClientTemplate("#= ellipseDivDrill(data, 'DriverEquipmentType.Name') #")
                        .Width(150);
                    columns.Bound(m => m.DriverEquipmentManufacturer.Name)
                        .Title("Manufacturer")
                        .ClientTemplate("#= ellipseDivDrill(data, 'DriverEquipmentManufacturer.Name') #")
                        .Width(200);
                    columns.Bound(m => m.ModelNum)
                        .Width(120);
                    columns.Bound(m => m.SerialNum)
                        .Width(150);
                    columns.Bound(m => m.PhoneNum)
                        .Width(120);
                    columns.Bound(m => m.AndroidOSVersion.NameAndVersion)
                        .Title("Android Version")
                        .ClientTemplate("#= ellipseDivDrill(data, 'AndroidOSVersion.NameAndVersion') #")
                        .Width(150);
                    columns.Bound(m => m.CreateDate)
                        .Width(200);
                    columns.Bound(m => m.CreatedByUser)
                        .Width(175);
                    columns.Bound(m => m.LastChangeDate)
                        .Width(200);
                    columns.Bound(m => m.LastChangedByUser)
                        .Width(200);
                    columns.Bound(model => model.DeleteDate)
                        .Width(200);
                    columns.Bound(model => model.DeletedByUser)
                        .Width(200);
                })
            )

            @*These inputs are required for create/edit/deactivate permissions functionality*@
            <input id="allowCreate" type="hidden" value="@UserSupport.Allow.Create.OnPage("DriverEquipment")" />
            <input id="allowEdit" type="hidden" value="@UserSupport.Allow.Edit.OnPage("DriverEquipment")" />
            <input id="allowDelete" type="hidden" value="@UserSupport.Allow.Delete.OnPage("DriverEquipment")" />
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        // customKendoGridButtons() fixes the look of the add new button and
        // excel export button that were not addressed directly in the grid above
        customKendoGridButtons();
    });
</script>

@* These scripts need to be included on every Kendo MVC grid page. They include extra "default" grid functions *@
<script src="~/scripts/kendoExcelExportHelper.js?ver=2.1" type="text/javascript"></script>
<script src="~/scripts/kendoGridErrors.js" type="text/javascript"></script>