﻿@using DispatchCrude.Models;
@using DispatchCrude.Core;
@model IEnumerable<DispatchCrude.Models.Setting>

@{
    Layout = "../Shared/_Layout.cshtml";
    ViewBag.Title = "System Settings";
    ViewBag.Subtitle = "";
}

@if (TempData["success"] != null)
{
    <script>
        $(document).ready(function () {
            Notify('@TempData["success"]', 'top-right', '5000', 'success', 'fa-check-circle white', true);
        })
    </script>
}

@if (TempData["fail"] != null)
{
    <script>
        $(document).ready(function () {
            Notify('@TempData["fail"]', 'top-right', '10000', 'danger', 'fa-times-circle white', true);
        })
    </script>
}


@using (Html.BeginForm("Update", "Settings", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="col-md-8">
        <div class="widget">
            <div class="widget-header bordered-bottom bordered-blue">
                <span class="widget-caption">Settings</span>
                <span class="pull-right">
                    <label><input id="expandAll" type="checkbox" style="top:5px;" name="expandAll" />Expand All</label>&nbsp; &nbsp;
                    <label style="padding-top:5px;padding-right:10px;">
                        @if (User.IsInRole("editSystemSettings"))
                        {
                            <input type="submit" class="btn btn-xs btn-blue shiny pull-right" value="Save Changes" />
                        }
                    </label>                    
                </span>
            </div>
            <div class="widget-body no-padding">
                <div class="widget-main ">
                    <div class="panel-group accordion" id="accordion_groups">
                        @foreach (var category in Model.GroupBy(c => c.Category))
                        {
                            string isExpanded = "false";
                            string collapsedState = "collapsed";
                            string panelCollapseState = "collapse";

                            if (ViewBag.ExpandedCategories != null)
                            {
                                foreach (string id in ViewBag.ExpandedCategories)
                                {
                                    if (category.Key.Replace(" ", "_") == id)
                                    {
                                        isExpanded = "true";
                                        collapsedState = "";
                                        panelCollapseState = "collapse in";
                                        break;
                                    }
                                }
                            }

                            <div class="panel panel-default">
                                <div class="panel-heading ">
                                    <h4 class="panel-title">
                                        <a class="accordion-toggle @collapsedState" data-toggle="collapse" href="#category_@category.Key.Replace(" ", "_")" aria-expanded="@isExpanded" onclick="trackExpanded('@category.Key.Replace(" ", "_").ToString()')">
                                            @category.Key
                                        </a>
                                        <input type="hidden" id="input_@category.Key.Replace(" ", "_")" name="ExpandedCategories" class="hiddenInput" @if (isExpanded == "true") { <text>value="@category.Key.Replace(" ", "_")"</text> }/>
                                    </h4>
                                </div>
                                <div id="category_@category.Key.Replace(" ", "_")" class="panel-collapse @panelCollapseState" aria-expanded="@isExpanded">
                                    <div class="panel-body">
                                        <div>
                                            @foreach (var item in category.OrderBy(n => n.Name))
                                            {                                             
                                                <div class="row">
                                                    <div class="col-md-6 col-sm-6 col-xs-12">                                                                                                                
                                                        @if (@item.Description != null)
                                                        {
                                                            <img src="~/images/info.png" title="@item.Description" data-toggle="tooltip" class="inline" />
                                                        }
                                                        @item.Name                                                        
                                                        @if (item.ID == 0 && UserSupport.IsInGroup("_DCAdministrator"))
                                                        {
                                                            // Add db version edit button for admins only
                                                            <text>&nbsp;&nbsp;</text>
                                                            <img id="dbVersionEdit" src="~/images/edit.png" class="btn btn-xs btn-default shiny inline" title="Admin 'read only' override" />                                                            
                                                        }
                                                    </div>                                                                                       
                                                    <div class="col-md-5 col-sm-5 col-xs-11">
                                                        @if (item.ReadOnly == false)
                                                        {
                                                            switch (item.SettingTypeID)
                                                            {
                                                                case (byte)SettingType.TYPE.Bool:
                                                                    {
                                                                        <label class="form-control" style="border:none !important;background-color:#eee !important;box-shadow:none !important;-webkit-box-shadow:none !important;">
                                                                            <input id="@item.ID" class="checkbox-slider slider-icon yesno colored-blue" type="checkbox" checked="@Convert.ToBoolean(item.Value)" value="@item.ID" name="SelectedBooleans">
                                                                            <span class="text"></span>
                                                                        </label>                                                                                                                                                
                                                                        <div class="spacer10px"></div>
                                                                    }
                                                                    break;
                                                                case (byte)SettingType.TYPE.String:
                                                                    {
                                                                        <div class="input-group">                                                                            
                                                                            <input id="@item.ID" name="@item.ID" type="text" class="form-control" value="@item.Value">
                                                                            <span class="input-group-addon">@item.SettingType.Name</span>
                                                                            @if (ViewData.ModelState.ContainsKey(@item.ID.ToString()))
                                                                            {
                                                                                string message = ViewData.ModelState[@item.ID.ToString()].Errors[0].ErrorMessage;
                                                                                <span class="pull-right"><i class="fa fa-exclamation-circle text-danger inline" title="@message" data-toggle="tooltip" style="font-size:24px;"></i></span>
                                                                            }
                                                                        </div>
                                                                        <div class="spacer10px"></div>
                                                                    }
                                                                    break;
                                                                case (byte)SettingType.TYPE.Int:
                                                                    {
                                                                        <div class="input-group">
                                                                            <input id="@item.ID" name="@item.ID" type="text" class="form-control" value="@item.Value">
                                                                            <span class="input-group-addon">@item.SettingType.Name</span>
                                                                            @if (ViewData.ModelState.ContainsKey(@item.ID.ToString()))
                                                                            {
                                                                                string message = ViewData.ModelState[@item.ID.ToString()].Errors[0].ErrorMessage;
                                                                                <span class="pull-right"><i class="fa fa-exclamation-circle text-danger inline" title="@message" data-toggle="tooltip" style="font-size:24px;"></i></span>
                                                                            }
                                                                        </div>
                                                                        <div class="spacer10px"></div>
                                                                    }
                                                                    break;
                                                                case (byte)SettingType.TYPE.Double:
                                                                    {                                                                        
                                                                        <div class="input-group">
                                                                            <input id="@item.ID" name="@item.ID" type="text" class="form-control" value="@item.Value">
                                                                            <span class="input-group-addon">Decimal</span>     
                                                                            @if (ViewData.ModelState.ContainsKey(@item.ID.ToString()))
                                                                            {
                                                                                string message = ViewData.ModelState[@item.ID.ToString()].Errors[0].ErrorMessage;
                                                                                <span class="pull-right"><i class="fa fa-exclamation-circle text-danger inline" title="@message" data-toggle="tooltip" style="font-size:24px;"></i></span>
                                                                            }                                                                       
                                                                        </div>
                                                                        <div class="spacer10px"></div>
                                                                    }
                                                                    break;
                                                                case (byte)SettingType.TYPE.Html:
                                                                    {
                                                                        <textarea id="@item.ID" name="@item.ID" class="emailbody">@item.Value</textarea>
                                                                        <div class="spacer10px"></div>
                                                                    }
                                                                    break;
                                                            }
                                                        }
                                                        else
                                                        {
                                                            switch (item.SettingTypeID)
                                                            {
                                                                case (byte)SettingType.TYPE.Bool:
                                                                    {
                                                                        <label class="form-control" style="border:none !important;background-color:#eee !important;box-shadow:none !important;-webkit-box-shadow:none !important;">
                                                                            <input id="@item.ID" class="checkbox-slider slider-icon yesno colored-black" type="checkbox" checked="@Convert.ToBoolean(item.Value)" value="@item.ID" name="SelectedBooleans" disabled="disabled">
                                                                            <span class="text"></span>
                                                                        </label>
                                                                        <div class="spacer10px"></div>
                                                                    }
                                                                    break;
                                                                case (byte)SettingType.TYPE.String:
                                                                    {
                                                                        <div class="input-group">
                                                                            <input id="@item.ID" name="@item.ID" type="text" class="form-control" value="@item.Value" disabled="disabled">
                                                                            <span class="input-group-addon">@item.SettingType.Name</span>
                                                                        </div>
                                                                        <div class="spacer10px"></div>
                                                                    }
                                                                    break;
                                                                case (byte)SettingType.TYPE.Int:
                                                                    {
                                                                        <div class="input-group">
                                                                            <input id="@item.ID" name="@item.ID" type="text" class="form-control" value="@item.Value" disabled="disabled">
                                                                            <span class="input-group-addon">@item.SettingType.Name</span>
                                                                        </div>
                                                                        <div class="spacer10px"></div>
                                                                    }
                                                                    break;
                                                                case (byte)SettingType.TYPE.Double:
                                                                    {
                                                                        <div class="input-group">
                                                                            <input id="@item.ID" name="@item.ID" type="text" class="form-control" value="@item.Value" disabled="disabled">
                                                                            <span class="input-group-addon">Decimal</span>
                                                                        </div>
                                                                        <div class="spacer10px"></div>
                                                                    }
                                                                    break;
                                                                case (byte)SettingType.TYPE.Html:
                                                                    {
                                                                        <textarea id="@item.ID" name="@item.ID" class="emailbody" readonly>@item.Value</textarea>
                                                                        <div class="spacer10px"></div>
                                                                    }
                                                                    break;
                                                            }
                                                        }
                                                    </div>
                                                    <div class="col-md-1 col-sm-1 col-xs-1">
                                                        <div class="spacer10px"></div>
                                                        @{ 
                                                            DateTime? lastchangeutc = item.LastChangeDateUTC ?? item.CreateDateUTC;
                                                            string lastchangeuser = item.LastChangedByUser ?? item.CreatedByUser;
                                                        }
                                                        @Html.DisplayFor(m => lastchangeutc, "LastChangeInfo", new { LastChangedByUser = lastchangeuser})
                                                    </div>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<script>
    $(document).ready(function () {
        // Disable email body html editor based upon readonly class setting
        if ($(".emailbody").hasClass("readonly"))
            $(".note-editable").attr("contenteditable", "false");        

        //Check "Expand All" on page load if the user had updated with Expand All checked
        var expandedCount = 0;
        $(".hiddenInput").each(function () {
            if (this.getAttribute("value") == this.getAttribute("id").substring(6)) {
                expandedCount += 1;
            }
        })

        if (expandedCount == $(".hiddenInput").length)
            $("#expandAll").attr("checked", "checked");         
    })

    // Initialize the email body setting's html editor
    $('.emailbody').summernote({ height: 300 });

    // Expand and collapse all permission categories (activated by checkbox)
    document.getElementById("expandAll").onclick = function () {
        //If the user wants to collapse all sections
        if (this.checked == false) {
            //Collapse any divs that are not already collapsed
            $(".panel-collapse").collapse('hide');

            //update expansion tracking for all inputs
            //if ($(".hiddenInput").attr("value").length() > 1)
                $(".hiddenInput").removeAttr("value");
        }
        else //If the user wants to expand all sections
        {
            //Expand any divs that are not already expanded
            $(".panel-collapse").collapse('show');

            //update expansion tracking for all inputs
            //Note: .each() is needed here since each input will have a different id
            $(".hiddenInput").each(function () {
                this.setAttribute("value", this.getAttribute("id").substring(6));
            })            
        }
    };

    // Allow administrators to edit the db version field from the front end
    $("#dbVersionEdit").click(function () {    
        $("input[name=0]").removeAttr('disabled');
        $("#dbVersionEdit").remove();
    });

    //Provides values to send to the controller which then are sent back on update
    //allowing the users' opened categories to be re-opened on the page refresh
    function trackExpanded(CategoryID) {
        if ($("#input_" + CategoryID).attr("value") == "")
        {
            $("#input_" + CategoryID).attr("value", CategoryID);
        }
        else
        {
            $("#input_" + CategoryID).removeAttr("value");
        }
    }
</script>