﻿@model IEnumerable<DispatchCrude.Models.ImportCenterGroup>
@using DispatchCrude.Extensions;
@{
    ViewBag.Title = "Imports";
    ViewBag.SubTitle = "Import Groups";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="tabbable TabRepaint">
    <ul class="nav nav-tabs" id="tabmenu">
        @NavigationHelper.PrintTabArray(NavigationHelper.TabSet_Imports, "Tab_ImportGroups")
    </ul>
    <div class="tab-content">
        <div class="tab-pane in active">
            <div id="gridArea">
                @(Html.Kendo().Grid(Model)
                    .Name("grid")
                    .HtmlAttributes(new { style = "height:800px;", @class = "MVCGridRepaint" })
                    .DataSource(ds => ds
                        .Ajax()
                        .Model(model =>
                        {
                            model.Id(m => m.ID);
                            model.Field(p => p.ID).DefaultValue(0);
                            model.Field(p => p.CreateDate).Editable(false);
                            model.Field(p => p.CreatedByUser).Editable(false);
                            model.Field(p => p.LastChangeDate).Editable(false);
                            model.Field(p => p.LastChangedByUser).Editable(false);
                        })
                        .Sort(sort => { sort.Add("Name").Ascending(); }) // Initial Sort
                        .Read(read => read.Action("Read", "ImportCenterGroup"))
                        .Create(create => create.Action("Update", "ImportCenterGroup"))
                        .Update(update => update.Action("Update", "ImportCenterGroup"))
                        .Destroy(update => update.Action("Delete", "ImportCenterGroup"))
                        .ServerOperation(false)
                    )
                    .Columns(columns =>
                    {
                        columns.Command(command => { command.Edit(); command.Destroy(); command.Custom("Execute").Click("executeImport"); }).Width(260);
                        columns.Bound(model => model.Name)
                            .Width(250);
                        columns.Bound(model => model.UserNames)
                            .Width(200);
                        columns.Bound(model => model.Steps)
                            .Width(400)
                            .Title("Imports")
                            .ClientTemplate("#= concatSteps(data) #")
                            .EditorTemplateName("_GroupSteps");
                        columns.Bound(model => model.CreateDate)
                            .Width(100)
                            .Title("Created");
                        columns.Bound(model => model.CreatedByUser)
                            .Width(120)
                            .Title("Created By");
                        columns.Bound(model => model.LastChangeDate)
                            .Width(100)
                            .Title("Changed");
                        columns.Bound(model => model.LastChangedByUser)
                            .Width(120)
                            .Title("Changed By");
                    })
                    .ToolBar(command => command.Create())
                    .Editable(ed => ed.Mode(GridEditMode.InLine))
                    .Pageable(pager => pager
                        .PageSizes(new int[] { 50, 100, 250 })
                        .Refresh(true)
                    )
                    .Sortable()
                    .Scrollable()
                    .Filterable()
                )
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {

        // customKendoGridButtons() fixes the look of the add new button and
        // excel export button that were not addressed directly in the grid above
        customKendoGridButtons();
    });

    function concatSteps(data) {
        var ret = "";
        if (typeof data.Steps !== "undefined") {
            for (var i = 0; i < data.Steps.length; i++) ret += ', ' + data.Steps[i].Name;
        }
        return ret.substring(1, 1000);
    }

    function executeImport(e) {
        e.preventDefault();

        debugger;
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        var url = "/importcentergroup/dialogExecute/" + dataItem.ID;
        // dynamically create the modal dialog
        $(document.body).append('<div id="dialogImport"></div>');
        $('#dialogImport').kendoWindow({
            title: "Import Group Execution",
            modal: true,
            resizable: false,
            width: 600,
            content: url,
            close: function () {
                setTimeout(function () {
                    $('#dialogImport').kendoWindow('destroy');
                }, 200);
            }
        }).data('kendoWindow').center();
    }
</script>
