﻿@model DateTime?
@using DispatchCrude.Core;

@if (Model.HasValue)
{
    // get the local time zone from the profile
    string myTimeZone = DispatchCrudeHelper.GetProfileTimeZone(HttpContext.Current);
    string myTZ = DispatchCrudeHelper.GetProfileTimeZoneAbbrev(HttpContext.Current);
    int tzid;

    DateTime? LocalDateTime = DateHelper.ToLocal(Model.Value, myTimeZone); ;
    string format = "";
    if (ViewData["custformat"] != null) { format = ViewData["custformat"].ToString(); }


    // Build the HTML for the tooltip
    string html = "Local: " + LocalDateTime + " " + myTZ + "<BR>";

    // if an additional Time Zone was sent add it to the tooltip
    if (ViewData["tzid"] != null && int.TryParse(ViewData["tzid"].ToString(), out tzid))
    {
        html += ViewData["tzname"] + ": " +
                DateHelper.ToLocal(Model.Value, Converter.SplitCamelCase(DispatchCrude.Models.TimeZone.GetName(tzid))) + " " +
                DispatchCrude.Models.TimeZone.GetAbbrev(tzid) + "<BR>";
    }

    html += "UTC: " + Model + " UTC";

    <text>
        @LocalDateTime.Value.ToString(format) @myTZ <span class="glyphicon glyphicon-time datetooltip" title="@html" data-html="true" data-toggle="tooltip"></span>
    </text>
}