﻿@using DispatchCrude.Models
@model DriverShiftType

@*These hidden fields are required for updating to work properly*@
@Html.HiddenFor(model => model.ID)
@Html.HiddenFor(model => model.Deleted)

@* NOTE: This script section must be at the top of the page for the pop-up to function properly. It cannot be moved to the bottom of the page. *@
<script>
    $(function () {
        /* Use DC style buttons instead of default Kendo buttons - NOTE: you can't use the inline comment syntax here
        (TELERIK seems to "minify" the text so everything following becomes a comment) */
        customKendoPopupButtons();

        $("#DayCount").on("change", onDayCountChange);
    });

    function onDayCountChange() {
        debugger;
        var newCount = $("#DayCount").val()
            , ds = $("#dayGrid").data("kendoGrid").dataSource
            , data = ds.data();
        if (data.length > newCount) {
            for (var i = data.length - 1; i >= newCount; i--)
                ds.remove(data[i]);
        } else if (data.length < newCount) {
            for (var i = data.length+1; i <= newCount; i++)
                ds.add({ ID: 0, DriverShiftTypeID: 0, Position: i, StatusID: 1, Status: { ID: 1, Name: "Undefined", Abbrev: "??", Utilized: false, OnDuty: false } });
        }
    }
    function onDSChange(e) {
        /* ensure the Status object is sync'ed with the changed StatusID value */
        if (e.action == "itemchange" && e.field && e.field == "StatusID" && e.items && e.items.length > 0 && getStatus) {
            e.items[0].Status = getStatus(e.items[0].StatusID);
        }
    }
</script>

<div class="popup-editor-container">
    @Html.ValidationSummary(true)
    <ul class="gridErrors NullValidator"></ul>
    <div class="popup-editor-column">
        <div style="height: 80px">
            <div class="editor-label">
                @Html.RequiredLabelFor(m => m.Name)
            </div>
            <div class="editor-field">
                @Html.EditorFor(m => m.Name)
                <br />
                <div class="text-danger">
                    @Html.ValidationMessageFor(m => m.Name)
                </div>
            </div>

            <div class="editor-label">
                @Html.RequiredLabelFor(m => m.DayCount)
            </div>
            <div class="editor-field">
                @Html.EditorFor(m => m.DayCount)
                <br />
                <div class="text-danger">
                    @Html.ValidationMessageFor(m => m.DayCount)
                </div>
            </div>
        </div>
        @(Html.Kendo().Grid<DriverShiftTypeDay>()
            .Name("dayGrid")
            .HtmlAttributes(new { style = "min-height: 250px;" })
            .Sortable()
            .Columns(cols =>
            {
                cols.Bound(d => d.Position).Title("Day").Width(80).Sortable(false);
                cols.Bound(b => b.StatusID).Title("Status").Width(200).EditorTemplateName("DriverScheduleStatusDDL").ClientTemplate("#= data.Status.Name #").Sortable(false);
                cols.Bound(b => b.StartHours).Title("Start").Width(120).EditorTemplateName("StartHoursDDL").ClientTemplate("#= data.StartHours ? moment('2016-01-01').hours(data.StartHours).format('h:mm A') : '' #").Sortable(false);
                cols.Bound(b => b.DurationHours).Title("Hours").Width(120).Sortable(false);
            })
            .Editable(ed => ed.Mode(GridEditMode.InCell))
            .AutoBind(false)
            .DataSource(ds =>
            {
                ds.Ajax().Model(mo =>
                {
                    mo.Id(m => m.ID);
                    mo.Field(f => f.ID).Editable(false);
                    mo.Field(f => f.Position).Editable(false);
                });
                ds.Ajax().Events(ev => ev.Change("onDSChange"));
            })
            .ToClientTemplate()
        )
    </div>
</div>