﻿@model DispatchCrude.Models.PdfExportType

@*These hidden fields are required for updating to work properly*@
@Html.HiddenFor(model => model.ID)
@Html.HiddenFor(model => model.Deleted)

@* NOTE: This script section must be at the top of the page for the pop-up to function properly. It cannot be moved to the bottom of the page. *@
<script>
    $(function () {
        /* Use DC style buttons instead of default Kendo buttons - NOTE: you can't use the inline comment syntax here
        (TELERIK seems to "minify" the text so everything following becomes a comment) */
        customKendoPopupButtons();
    });
</script>
<style>
    .k-widget.k-window {
        width: 500px !important;
    }

    .editor-label {
        width: 110px !important;
    }

    .editor-field {
        width: 350px !important;
    }

    .k-widget, .k-textbox {
        width: 100% !important;
    }
</style>
<div class="popup-editor-container">
    @Html.ValidationSummary(true)
    <ul class="gridErrors NullValidator"></ul>    

    <div class="editor-label">
        <span style="color:red;">*</span>@Html.LabelFor(model => model.Name)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.Name)
        @Html.ValidationMessageFor(model => model.Name)
    </div>

</div>