﻿@model IEnumerable<DispatchCrude.Models.Route>
@using DispatchCrude.Core;
@using DispatchCrude.Extensions;

@{
    ViewBag.Title = "Route Rates";
    ViewBag.SubTitle = "Routes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="tabbable TabRepaint">
    <ul class="nav nav-tabs" id="tabmenu">
        @NavigationHelper.PrintTabArray(NavigationHelper.TabSet_RouteRates, "Tab_RouteMaintenance")
    </ul>
    <div class="tab-content">
        <div class="tab-pane in active">

            @(Html.Kendo().Grid(Model)
                .Name("grid")
                .DataSource(ds => ds
                    .Ajax()
                    .Filter(filter => filter.Add(model => model.Active).IsEqualTo(true))
                    .Model(model => model.Id(m => m.ID))
                    .PageSize(Settings.DefaultPageSize)
                    .Sort(sort => { if (Request.QueryString.Keys.Count == 0) { sort.Add("Origin.Name").Ascending(); } }) // Initial Sort
                    .Create(create => create.Action("Create", "Routes"))
                    .Read(read => read.Action("Read", "Routes"))
                    .Update(update => update.Action("Update", "Routes"))
                    //.Destroy(update => update.Action("Delete", "Routes"))
                    .Events(events => { events.Error("onDSErrors"); events.RequestEnd("onDSRequestEnd"); })
                )
                .Excel(excel => excel
                    .AllPages(true)
                    .FileName("Routes.xlsx")
                    .Filterable(true)
                )
                .HtmlAttributes(new { style = "height:800px;", @class = "MVCGridRepaint" })
                .ToolBar(command =>
                {
                    if (User.IsInRole("createRouteMaintenance")) command.Create().Text("");
                    command.Excel();
                })
                .Editable(ed => { ed.Mode(GridEditMode.PopUp).TemplateName("Popup_Route"); ed.DisplayDeleteConfirmation(false); })
                .Events(e => { e.Edit("onEdit"); })  //This is required for conditional changing of the popup (like "create" or "edit" in the window title)
                .Pageable(pager => pager
                    .PageSizes(Settings.MvcGridPageSizes)
                    .Refresh(true)
                )
                .Sortable()
                .Scrollable()
                .Filterable(filterable => filterable
                    .Extra(true)   //This extended "filterable" section of code makes the contains filter the default string filter for these grids
                    .Operators(operators => operators
                        .ForString(str => str
                            .Clear()
                            .Contains("Contains")
                            .DoesNotContain("Does not contain")
                            .StartsWith("Starts with")
                            .EndsWith("Ends with")
                            .IsEqualTo("Is equal to")
                            .IsNotEqualTo("Is not equal to")
                        )
                    )
                )
                .Resizable(resizable => resizable.Columns(true))
                .Columns(columns =>
                {
                columns.Template(@<text></text>).ClientTemplate("#= rowCommandsUndelete(data) #").Title("&nbsp;").Width(50);
                columns.Bound(model => model.Active)
                    .Title("Active?")
                    .ClientTemplate("#= ActiveState(data.Active) #")
                    .Width(85);
                columns.Bound(model => model.Origin.Name)
                    .Title("Origin")
                    .ClientTemplate(@"# if (!data.Origin) {#  #}
                                            else if(data.Origin.Active)
                                            {# #=data.Origin.Name# #}
                                            else
                                            {# <div><span class='label label-warning' data-toggle='tooltip' title='Deactivated'><i class='fa fa-close'></i></span>
                                            &nbsp; #=data.Origin.Name#</div> #}#")
                    .Width(300);
                columns.Bound(model => model.Destination.Name)
                    .Title("Destination")
                    .ClientTemplate(@"# if (!data.Destination) {#  #}
                                            else if(data.Destination.Active)
                                            {# #=data.Destination.Name# #}
                                            else
                                            {# <div><span class='label label-warning' data-toggle='tooltip' title='Deactivated'><i class='fa fa-close'></i></span>
                                            &nbsp; #=data.Destination.Name#</div> #}#")
                    .Width(300);
                columns.Bound(model => model.ActualMiles)
                    .Width(120);
                columns.Bound(model => model.ECOT)
                    .Width(150);
                columns.Bound(model => model.ECOTLocked)
                    .ClientTemplate("#= ActiveState(data.ECOTLocked) #")
                    .Width(150);
                columns.Bound(model => model.WRMSVUnits)
                    .Width(150);
                columns.Template(@<text></text>)
                        .Title("Route Map Link")
                        .ClientTemplate(@"# if(!data.Origin) {#  #}
                                            else if(data.Origin.LAT && data.Origin.LON && data.Destination.LAT && data.Destination.LON)
                                            {# <div class='center'><a href='https://www.google.com/maps/dir/#=data.Origin.LAT#,#=data.Origin.LON#/#=data.Destination.LAT#,#=data.Destination.LON#'
                                                    target='_blank'>View Map</a></div>#}
                                            else if((!data.Origin.LAT || !data.Origin.LON) && (data.Destination.LAT && data.Destination.LON))
                                            {# <div class='center'><span class='label label-warning' data-toggle='tooltip' title='Missing Origin GPS'><i class='fa fa-warning'></i></span></div> #}
                                            else if((data.Origin.LAT && data.Origin.LON) && (!data.Destination.LAT || !data.Destination.LON))
                                            {# <div class='center'><span class='label label-warning' data-toggle='tooltip' title='Missing Destination GPS'><i class='fa fa-warning'></i></span></div> #}
                                            else if((!data.Origin.LAT || !data.Origin.LON) && (!data.Destination.LAT || !data.Destination.LON))
                                            {# <div class='center'><span class='label label-warning' data-toggle='tooltip' title='Missing Origin and Destination GPS'><i class='fa fa-warning'></i></span></div> #}
                                            #")
                        .Width(150);
                    columns.Bound(model => model.WRMSVUom.Name)
                        .Title("WRMSV Uom")
                        .ClientTemplate("#= data.WRMSVUomID ? data.WRMSVUom.Name : '' #")
                        .Width(150);
                    columns.Bound(model => model.CreateDate)
                        .Width(200);
                    columns.Bound(model => model.CreatedByUser)
                        .Width(175);
                    columns.Bound(model => model.LastChangeDate)
                        .Width(200);
                    columns.Bound(model => model.LastChangedByUser)
                        .Width(200);
                    columns.Bound(model => model.DeleteDate)
                        .Width(200);
                    columns.Bound(model => model.DeletedByUser)
                        .Width(200);
                })
            )

            @*These inputs are required for create/edit/deactivate permissions functionality*@
            <input id="allowCreate" type="hidden" value="@UserSupport.Allow.Create.OnPage("RouteMaintenance")" />
            <input id="allowEdit" type="hidden" value="@UserSupport.Allow.Edit.OnPage("RouteMaintenance")" />
        </div>
    </div>
</div>
@*//***************
    // Per Maverick, this functionality should be tied to the activation/deactivation
    // of the origins and destinations, not managed manually on the routes page
    //***************
    <input id="allowDelete" type="hidden" value="@UserSupport.Allow.Delete.OnPage("RouteMaintenance")" />*@

<script type="text/x-kendo-template" id="validationMessageTemplate">
    # if (messages.length) { #
    # for (var i = 0; i < messages.length; ++i) { #
    <li>#= messages[i] #</li>
    # } #
    # } #
</script>

<script type="text/javascript">
    $(document).ready(function () {

        // customKendoGridButtons() fixes the look of the add new button and
        // excel export button that were not addressed directly in the grid above
        customKendoGridButtons();
    });

    // grid assumes a delete/destroy operation simply removes the record, which might not be the case (since is undeletable), so force "rebind"
    function onDSRequestEnd(e) {
        debugger;
        if (e.type == "destroy") {
            var grid = $("#grid").data("kendoGrid");
            grid.dataSource.read();
        }
    }

    function onDSErrors(args) {
        debugger;
        if (args.errors) {
            var grid = $("#grid").data("kendoGrid");
            var validationTemplate = kendo.template($("#validationMessageTemplate").html());
            grid.one("dataBinding", function (e) {
                e.preventDefault();

                $.each(args.errors, function (propertyName) {
                    debugger;
                    var renderedTemplate = validationTemplate({ field: propertyName, messages: this.errors });
                    /* append these errors to the <ul class="gridErrors> */
                    grid.editable.element.find(".gridErrors").append(renderedTemplate);
                });
            });
        }
    }

    function onEdit(e) {
        //If the model sent to the popup is not new (is an existing record),
        //find and remove the dropdowns for origin and destination.
        //Otherwise, for new records find and remove the disableld textboxes for
        //origin and destination (this is called from the grid edit event above)
        if (!e.model.isNew()) {
            //Do edit mode stuff:

            //Find the dropdown fields and remove them to prevent the user from changing the data
            //the e.container is the PopUp window
            e.container.find("#OriginID").remove();
            e.container.find("#DestinationID").remove();

            //Initialize the hour and minute fields of the duration editor
            $("#ECOT_h").val(Math.floor($("#ECOT").val() / 60));
            $("#ECOT_m").val($("#ECOT").val() % 60);

        }
        else {
            //Do create mode stuff:

            $(".k-window-title").html("Create"); //Also change the window title to create

            //Find the textboxes and remove them so only the dropdown controls remain
            e.container.find(".txtOrigin").remove();
            e.container.find(".txtDestination").remove();

            //Initializes select2 dropdowns for origins
            $("#OriginID").select2();
            $("#DestinationID").select2();
            //This puts the select2 dropdowns on top of the telerik popup window.  Otherwise they show up behind it.
            $(".select2-drop").css("z-index", "11000");
        }
    }
</script>
