﻿@model DispatchCrude.Models.DriverScheduleStatus

@*These hidden fields are required for updating to work properly*@
@Html.HiddenFor(model => model.ID)
@Html.HiddenFor(model => model.Deleted)

@* NOTE: This script section must be at the top of the page for the pop-up to function properly. It cannot be moved to the bottom of the page. *@
<script>
    $(function () {
        /* Use DC style buttons instead of default Kendo buttons - NOTE: you can't use the inline comment syntax here
        (TELERIK seems to "minify" the text so everything following becomes a comment) */
        customKendoPopupButtons();
    });
</script>

<div class="popup-editor-container">
    <div class="popup-editor-column">
        @Html.ValidationSummary(true)
        <ul class="gridErrors NullValidator"></ul>
        <div class="editor-label">
            @Html.RequiredLabelFor(m => m.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(m => m.Name)
            <br />
            <div class="text-danger">
                @Html.ValidationMessageFor(m => m.Name)
            </div>
        </div>

        <div class="editor-label">
            @Html.RequiredLabelFor(m => m.Abbrev)
        </div>
        <div class="editor-field">
            @Html.EditorFor(m => m.Abbrev)
            <br />
            <div class="text-danger">
                @Html.ValidationMessageFor(m => m.Abbrev)
            </div>
        </div>
    </div>
    <div class="popup-editor-column">
        <div class="editor-label">
            @Html.LabelFor(m => m.OnDuty)
        </div>
        <div class="editor-field">
            @Html.CheckBoxFor(m => m.OnDuty)
        </div>

        <div class="editor-label">
            @Html.LabelFor(m => m.Utilized)
        </div>
        <div class="editor-field">
            @Html.CheckBoxFor(m => m.Utilized)
        </div>
    </div>
</div>