﻿@using DispatchCrude.Core;
@using DispatchCrude.Models;
@using AlonsIT;
@**************************************************************************************************@
@*  Generates MVC pages using the beyond admin template                                           *@
@**************************************************************************************************@

@{ 
    System.Web.Profile.ProfileBase UserProfile = new DispatchCrude.App_Code.DispatchCrudeProfilePresenter().GetProfile(User.Identity.Name);
    string Name = (UserProfile.GetPropertyValue("FullName") != null) ? UserProfile.GetPropertyValue("FullName").ToString() : User.Identity.Name;
}
<!DOCTYPE html>
<!-- Head -->
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">    
    <meta name="description" content="blank page">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>    
        @if (!string.IsNullOrEmpty(ViewBag.Title))
        { 
            @ViewBag.Title 

            if (!string.IsNullOrEmpty(ViewBag.Subtitle))
            { <text> > @ViewBag.SubTitle </text> }
        }
        else
        {
            <text>Dispatch Crude</text>
        }
    </title>

    <link rel="shortcut icon" href="~/favicon.ico" type="image/x-icon">
    
    <!--Basic Styles-->
    @*Styles.Render("~/css/bootstrap")*@
    <link href="~/Content/beyondadmin/bootstrap.min.css" rel="stylesheet">
    <link id="bootstrap-rtl-link" href="" rel="stylesheet" />

    <!--Fonts-->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,600,700,300"
          rel="stylesheet" type="text/css">

    <!--Beyond styles-->
    @*Styles.Render("~/css/beyond")*@
    <link href="~/Content/beyondadmin/beyond.min.css" rel="stylesheet" />
    <link href="~/Content/beyondadmin/demo.min.css" rel="stylesheet" />
    <link href="~/Content/beyondadmin/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/beyondadmin/typicons.min.css" rel="stylesheet" />
    <link href="~/Content/beyondadmin/weather-icons.min.css" rel="stylesheet" />
    <link href="~/Content/beyondadmin/animate.min.css" rel="stylesheet" />
    <link href="~/styles/beyondadmin/dataTables.bootstrap.css" rel="stylesheet" />
    <link id="skin-link" href="" rel="stylesheet" type="text/css" />

    <!-- Telerik Styles -->
    <link href="~/styles/telerik.mvc/kendo.common.min.css?version=2017.1.118" rel="stylesheet" type="text/css" />
    <link href="~/styles/telerik.mvc/kendo.dataviz.min.css?version=2017.1.118" rel="stylesheet" type="text/css" />
    <link href="~/styles/telerik.mvc/kendo.rtl.min.css?version=2017.1.118" rel="stylesheet" type="text/css" />
    <link href="~/styles/telerik.mvc/kendo.dataviz.default.min.css?version=2017.1.118" rel="stylesheet" type="text/css" />
    
    <!-- Telerik Blue Opal skin-->
    <link href="~/styles/telerik.mvc/kendo.blueopal.min.css?version=2017.1.118" rel="stylesheet" type="text/css" />

    <script type="text/javascript" src="~/scripts/beyondadmin/jquery.min.js"></script>
    <script type='text/javascript' src='~/scripts/jquery-migrate-1.2.1.min.js'></script>

    <!--Basic Scripts-->
    <script type="text/javascript" src="~/scripts/beyondadmin/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/scripts/beyondadmin/slimscroll/jquery.slimscroll.min.js"></script>
    <script type="text/javascript" src='~/scripts/toDictionary.js'></script>
    <script type="text/javascript" src='~/scripts/MainFormSize.js?version=1.14'></script>
    <script type="text/javascript" src="~/scripts/beyondadmin/select2/select2.min.js"></script>
    <script type="text/javascript" src="~/scripts/beyondadmin/datetime/bootstrap-datepicker.js"></script>
    <script type="text/javascript" src="~/scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script type="text/javascript" src="~/scripts/beyondadmin/toastr/toastr.js"></script>
    <script type="text/javascript" src="~/scripts/moment.js"></script>
    <script type="text/javascript" src="~/scripts/beyondadmin/validation/bootstrapValidator.js"></script>
    <script type="text/javascript" src="~/scripts/beyondadmin/editors/summernote/summernote.js"></script>
    <script type="text/javascript" src="~/scripts/jsonSupport.js?ver=1.1.1"></script>


    @*
        //this already exists in the beyond admin package...do we keep this commented out for now?
        <script type="text/javascript" src="~/scripts/bootstrap.min.js"></script>
        
    *@


    <!-- Telerik Scripts (must be in header?) -->
    <!--<script type="text/javascript" src="~/scripts/telerik.mvc/jquery.min.js"></script>-->
    <script type="text/javascript" src="~/scripts/telerik.mvc/kendo.web.min.js?version=2017.1.118"></script>
    <script type="text/javascript" src="~/scripts/telerik.mvc/kendo.aspnetmvc.min.js?version=2017.1.118"></script>
    <script type="text/javascript" src="~/scripts/telerik.mvc/kendo.modernizr.custom.js"></script>
    <script type="text/javascript" src="~/scripts/telerik.mvc/jszip.min.js"></script>
        
    <!--Skin Script: Place this script in head to load scripts for skins and rtl support-->
    @*Scripts.Render("~/bundles/skin")*@
    <script src="~/scripts/beyondadmin/skins.min.js"></script>

    <!-- Custom DC stylesheet including overrides (update the version number each time a change is made to avoid the need for users pressing Ctrl + F5) -->
    <link href="~/Content/dispatchcrude.css?ver=1.06" rel="stylesheet">

    <!-- Custom DC stylesheet for login landing page -->
    <link href="~/Content/landingpage.css?ver=1.00" rel="stylesheet">

    <!-- Custom DC script for Telerik Kendo MVC grids -->
    <script type="text/javascript" src="~/scripts/customKendoButtons.js?version=1.02"></script>

    <!-- Custom DC script to get/set sidebar menu state -->
    <script type="text/javascript" src="~/scripts/persistSidebarState.js"></script>

    <!-- Custom DC functions -->
    <script type="text/javascript" src="~/scripts/dispatchcrude.js?version=1.02"></script>

    @RenderSection("head", required: false)
</head>
<!-- /Head -->
<!-- Body -->
<body>
    @{
        //Detect Internet Explorer / Edge browsers and force user to get another browser before using DC *@
        string browserName = Request.Browser.Browser;
        string userAgent = Request.UserAgent;
        if (browserName == "InternetExplorer" || (userAgent.IndexOf("Edge") > -1))
        {
            Response.Redirect("~/noIESupport.html");
        }
    }

    <script>
        // Call grid resize functions on pages that use the "GridRepaint" class in their grids
        $(document).ready(function ()
        {
            sizeContentReady();
            //Every resize of window
            $(window).resize(function ()
            {
                resizeContent();
            })
        });
    </script>

    <!-- Loading Container -->
    <div class="loading-container loading-inactive">
        <div class="loader"></div>
    </div>
    <!--  /Loading Container -->
    <!-- Navbar -->
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner @System.Configuration.ConfigurationManager.AppSettings["skin"]">
            <div class="navbar-container">
                <!-- Navbar Barnd -->
                <div class="navbar-header pull-left">
                    <a href="/" class="navbar-brand">
                        <small>
                            <img src="~/Content/images/logo.png" alt="">
                        </small>
                    </a>
                </div>
                <!-- /Navbar Barnd -->
                <!-- Sidebar Collapse -->
                <div class="sidebar-collapse active" id="sidebar-collapse">
                    <i class="collapse-icon fa fa-bars"></i>
                </div>
                <!-- /Sidebar Collapse -->                
                <div class="header-title" style="margin-top:12px;margin-left:50px;font-size:14px;float:left;color:white;font-weight:bold;">
                    <div>
                        @ViewBag.Title                        
                        <i class="fa fa-angle-right"></i>
                        @ViewBag.SubTitle                        
                    </div>
                </div>
                <!-- Customer Name Area-->
                <div class="center customer-name">
                    @System.Configuration.ConfigurationManager.AppSettings["SiteTitle"]
                </div>
                <!-- Customer Name Area-->
                <!-- Account Area and Settings --->
                <div class="navbar-header pull-right">
                    <div class="navbar-account">
                        <ul class="account-area">
                            @*<li>
                                <a class=" dropdown-toggle" data-toggle="dropdown" title="Help" href="#">
                                    <i class="icon fa fa-warning"></i>
                                </a>
                                <!--Notification Dropdown-->
                                <ul class="pull-right dropdown-menu dropdown-arrow dropdown-notifications">
                                    <li>
                                        <a href="#">
                                            <div class="clearfix">
                                                <div class="notification-icon">
                                                    <i class="fa fa-phone bg-themeprimary white"></i>
                                                </div>
                                                <div class="notification-body">
                                                    <span class="title">Skype meeting with Patty</span>
                                                    <span class="description">01:00 pm</span>
                                                </div>
                                                <div class="notification-extra">
                                                    <i class="fa fa-clock-o themeprimary"></i>
                                                    <span class="description">office</span>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <div class="clearfix">
                                                <div class="notification-icon">
                                                    <i class="fa fa-check bg-darkorange white"></i>
                                                </div>
                                                <div class="notification-body">
                                                    <span class="title">Uncharted break</span>
                                                    <span class="description">03:30 pm - 05:15 pm</span>
                                                </div>
                                                <div class="notification-extra">
                                                    <i class="fa fa-clock-o darkorange"></i>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <div class="clearfix">
                                                <div class="notification-icon">
                                                    <i class="fa fa-gift bg-warning white"></i>
                                                </div>
                                                <div class="notification-body">
                                                    <span class="title">Kate birthday party</span>
                                                    <span class="description">08:30 pm</span>
                                                </div>
                                                <div class="notification-extra">
                                                    <i class="fa fa-calendar warning"></i>
                                                    <i class="fa fa-clock-o warning"></i>
                                                    <span class="description">at home</span>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <div class="clearfix">
                                                <div class="notification-icon">
                                                    <i class="fa fa-glass bg-success white"></i>
                                                </div>
                                                <div class="notification-body">
                                                    <span class="title">Dinner with friends</span>
                                                    <span class="description">10:30 pm</span>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="dropdown-footer ">
                                        <span>
                                            Today, March 28
                                        </span>
                                        <span class="pull-right">
                                            10°c
                                            <i class="wi wi-cloudy"></i>
                                        </span>
                                    </li>
                                </ul>
                                <!--/Notification Dropdown-->
                            </li>*@
                            @*<li>
                                <a class="dropdown-toggle" data-toggle="dropdown" title="Tasks" href="#">
                                    <i class="icon fa fa-tasks"></i>
                                    <span class="badge">4</span>
                                </a>
                                <!--Tasks Dropdown-->
                                <ul class="pull-right dropdown-menu dropdown-tasks dropdown-arrow ">
                                    <li class="dropdown-header bordered-darkorange">
                                        <i class="fa fa-tasks"></i>
                                        4 Tasks In Progress
                                    </li>
                                    <li>
                                        <a href="#">
                                            <div class="clearfix">
                                                <span class="pull-left">Account Creation</span>
                                                <span class="pull-right">65%</span>
                                            </div>
                                            <div class="progress progress-xs">
                                                <div style="width:65%" class="progress-bar"></div>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <div class="clearfix">
                                                <span class="pull-left">Profile Data</span>
                                                <span class="pull-right">35%</span>
                                            </div>
                                            <div class="progress progress-xs">
                                                <div style="width:35%" class="progress-bar progress-bar-success"></div>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <div class="clearfix">
                                                <span class="pull-left">Updating Resume</span>
                                                <span class="pull-right">75%</span>
                                            </div>
                                            <div class="progress progress-xs">
                                                <div style="width:75%" class="progress-bar progress-bar-darkorange"></div>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <div class="clearfix">
                                                <span class="pull-left">Adding Contacts</span>
                                                <span class="pull-right">10%</span>
                                            </div>
                                            <div class="progress progress-xs">
                                                <div style="width:10%" class="progress-bar progress-bar-warning"></div>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="dropdown-footer">
                                        <a href="#">
                                            See All Tasks
                                        </a>
                                        <button class="btn btn-xs btn-default shiny darkorange icon-only pull-right"><i class="fa fa-check"></i></button>
                                    </li>
                                </ul>
                                <!--/Tasks Dropdown-->
                            </li>*@
                            @if (Settings.SettingsID.DispatchMessaging.AsBool())
                            {
                                int MessageCount = DispatchMessage.UnreadMessageCount();
                                <li>
                                    <a class="@(MessageCount >= 1 ? "wave in" : "")" id="chat-link" title="Chat" href="#">
                                        <i class="icon glyphicon glyphicon-comment"></i>
                                    </a>
                                </li>
                            }
                            <li>
                                <a class="login-area dropdown-toggle" data-toggle="dropdown">
                                    <!--
                                    <div class="avatar" title="View your public profile">
                                        <img src="./Blank Page_files/adam-jansen.jpg">
                                    </div>
                                    -->
                                    <section>
                                        <h2><span class="profile"><span><i class="fa fa-user fa-lg"></i> Welcome @Name</span></span></h2>
                                    </section>
                                </a>
                                <!--Login Area Dropdown-->
                                <ul class="pull-right dropdown-menu dropdown-arrow dropdown-login-area">
                                    <li class="username"><a>@User.Identity.Name</a></li>
                                    <li><a>@User.Identity.Name</a></li>
                                    @*<li class="email"><a>[My email]</a></li>*@
                                    <!--Avatar Area-->
                                    <!--
                                    <li>
                                        <div class="avatar-area">
                                            <img src="./Blank Page_files/adam-jansen.jpg" class="avatar">
                                            <span class="caption">Change Photo</span>
                                        </div>
                                    </li>
                                    -->
                                    <!--Avatar Area-->
                                    @*<li class="edit">                                        
                                        @if (UserSupport.IsInGroup("_DCAdministrator") || UserSupport.IsInGroup("_DCSystemManager") || UserSupport.IsInGroup("_DCSupport"))
                                        {
                                            <a href="/Account/SwitchUser" class="pull-right">Switch User</a>
                                        }
                                    </li>*@
                                    <!--Theme Selector Area-->
                                    @*<li class="theme-area">
                                        <ul class="colorpicker" id="skin-changer">
                                            <li><a class="colorpick-btn" href="#" style="background-color:#5DB2FF;" rel="/Content/beyondadmin/skins/blue.min.css"></a></li>
                                            <li><a class="colorpick-btn" href="#" style="background-color:#2dc3e8;" rel="/Content/beyondadmin/skins/azure.min.css"></a></li>
                                            <li><a class="colorpick-btn" href="#" style="background-color:#03B3B2;" rel="/Content/beyondadmin/skins/teal.min.css"></a></li>
                                            <li><a class="colorpick-btn" href="#" style="background-color:#53a93f;" rel="/Content/beyondadmin/skins/green.min.css"></a></li>
                                            <li><a class="colorpick-btn" href="#" style="background-color:#FF8F32;" rel="/Content/beyondadmin/skins/orange.min.css"></a></li>
                                            <li><a class="colorpick-btn" href="#" style="background-color:#cc324b;" rel="/Content/beyondadmin/skins/pink.min.css"></a></li>
                                            <li><a class="colorpick-btn" href="#" style="background-color:#AC193D;" rel="/Content/beyondadmin/skins/darkred.min.css"></a></li>
                                            <li><a class="colorpick-btn" href="#" style="background-color:#8C0095;" rel="/Content/beyondadmin/skins/purple.min.css"></a></li>
                                            <li><a class="colorpick-btn" href="#" style="background-color:#0072C6;" rel="/Content/beyondadmin/skins/darkblue.min.css"></a></li>
                                            <li><a class="colorpick-btn" href="#" style="background-color:#585858;" rel="/Content/beyondadmin/skins/gray.min.css"></a></li>
                                            <li><a class="colorpick-btn" href="#" style="background-color:#474544;" rel="/Content/beyondadmin/skins/black.min.css"></a></li>
                                            <li><a class="colorpick-btn" href="#" style="background-color:#001940;" rel="/Content/beyondadmin/skins/deepblue.min.css"></a></li>
                                        </ul>
                                    </li>*@
                                    <!--/Theme Selector Area-->
                                    <li class="dropdown-footer">
                                        <a href="/Account/ChangePassword">Change Password</a>
                                        @if (UserSupport.IsInGroup("_DCAdministrator") 
                                            || UserSupport.IsInGroup("_DCSystemManager") 
                                            || UserSupport.IsInGroup("_DCSupport") 
                                            || !string.IsNullOrEmpty(DBHelper.ToString(Session["SESSION_ADMIN_SWITCHED_USER"])))
                                        {
                                            <br /><a href="/Account/SwitchUser">Switch User</a>
                                        }
                                        <br /><a href="/Account/LogOff">Sign out</a>
                                    </li>
                                </ul>
                                <!--/Login Area Dropdown-->
                            </li>
                            <li>
                                <a class="refresh" id="refresh-toggler" title="Refresh Page" href="">
                                    <i class="icon fa fa-refresh"></i>
                                </a>
                            </li>
                            <li>
                                <a class="fullscreen" id="fullscreen-toggler" title="Fullscreen" href="#">
                                    <i class="icon glyphicon glyphicon-fullscreen"></i>
                                </a>
                            </li>
                            <!-- /Account Area -->
                            <!--Note: notice that setting div must start right after account area list.
                            no space must be between these elements-->
                            <!-- Settings -->
                        </ul>
                        @*<div class="setting">
                            <a id="btn-setting" title="Setting" href="#">
                                <i class="icon glyphicon glyphicon-cog"></i>
                            </a>
                        </div>
                        <div class="setting-container">
                            <label>
                                <input type="checkbox" id="checkbox_fixednavbar">
                                <span class="text">Fixed Navbar</span>
                            </label>
                            <label>
                                <input type="checkbox" id="checkbox_fixedsidebar">
                                <span class="text">Fixed SideBar</span>
                            </label>
                            <label>
                                <input type="checkbox" id="checkbox_fixedbreadcrumbs">
                                <span class="text">Fixed BreadCrumbs</span>
                            </label>
                            <label>
                                <input type="checkbox" id="checkbox_fixedheader">
                                <span class="text">Fixed Header</span>
                            </label>
                        </div>*@
                        <!-- Settings -->
                    </div>                    
                </div>
                <!-- /Account Area and Settings -->                
            </div>
        </div>
    </div>
    <!-- /Navbar -->
    <!-- Main Container -->
    <div class="main-container container-fluid">
        <!-- Page Container -->
        <div class="page-container">
            <!-- Page Sidebar -->
            <div class="page-sidebar sidebar-fixed menu-compact" id="sidebar">
                <!-- Page Sidebar Header-->
                <div class="sidebar-header-wrapper">
                    @using (Html.BeginForm("Details", "Orders", FormMethod.Get, new { id = "ordernumsearch" }))
                    {
                        <input type="text" name="ordernum" class="searchinput">
                        <i class="searchicon fa fa-search"></i>
                        <div class="searchhelper">Search Order #</div>
                    }
                </div>
                <!-- /Page Sidebar Header -->
                <!-- Sidebar Menu -->
                
                    <ul class="nav sidebar-menu">
                        @Html.Raw(DispatchCrude.App_Code.SiteMap.Menu(ViewBag.Title))
                    </ul>
                
                    <!-- /Sidebar Menu -->
            </div>

            <!-- /Page Sidebar -->


            @if (Settings.SettingsID.DispatchMessaging.AsBool())
            {
                <!-- Chat Bar -->
                <div id="chatbar" class="page-chatbar">
                    @Html.Partial("_ChatBar", DispatchMessage.Contacts())
                </div>
                <!-- /Chat Bar -->
            }

            <!-- Page Content -->
            <div class="page-content">
                <!-- Page Breadcrumb -->
                @*<div class="page-breadcrumbs">
                    <ul class="breadcrumb">
                        @Html.Raw(DispatchCrude.App_Code.SiteMap.BreadCrumbs(ViewBag.Title))
                    </ul>
                </div>*@
                <!-- /Page Breadcrumb -->
                <!-- Page Header -->
                <div class="page-header position-relative page-header-fixed">                    
                </div>
                <!-- /Page Header -->
                <!-- Page Body -->
                <div class="page-body">
                    <!-- Your Content Goes Here -->
                    @RenderBody()

                </div>
                <!-- /Page Body -->
            </div>
            <!-- /Page Content -->
        </div>
        <!-- /Page Container -->
        <!-- Main Container -->
    </div>



    <!--Beyond Scripts-->
    <script type="text/javascript" src="~/scripts/beyondadmin/beyond.js"></script>
    <!--Bootstrap Tags Input-->
    <script type="text/javascript" src="~/scripts/beyondadmin/tagsinput/bootstrap-tagsinput.js"></script>

    <!--Page Related Scripts-->
    @RenderSection("scripts", required: false)
    <!--  /Body -->
    <script>
        $(document).ready(function () {
            //Get current sidebar menu collapsed/open state from user cookie.
            // - The menu will be auto-expanded if cookie = "expanded"
            // - When the user clicks on the expand collapse button that will be the new cookie setting
            checkMenuStateCookie();
        })
    </script>
</body>
