﻿@model System.Web.Mvc.HandleErrorInfo

<hgroup class="title">
    <h2 class="error">An error occurred while processing your request.</h2>
</hgroup>
@if(Model != null && Model.ControllerName != null && Model.ActionName != null && Model.Exception != null)
{    
    <h1>Error Details:</h1>
    <ul>
        <li>Controller Name: @Model.ControllerName</li>
        <li>Action Name: @Model.ActionName</li>
        <li>Error Message: @Model.Exception.Message</li>
    </ul>
}
