﻿@using AlonsIT;
@using System.Data;
@using DispatchCrude.Extensions;
@model DataTable

@{
    ViewBag.Title = "Resources";
    ViewBag.SubTitle = "Scheduling Report";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/kendoCheckbox.css" rel="stylesheet" />
<style type="text/css">
    div.leftpanel > input, label {
        display: block;
    }

    th.k-header[colspan='4'] {
        text-align: center;
    }
</style>
<div class="tabbable TabRepaint">
    <ul class="nav nav-tabs" id="tabmenu">
        @NavigationHelper.PrintTabArray(NavigationHelper.TabSet_Resources, "Tab_Drivers")
    </ul>
    <div class="tab-content">
        <div class="tab-pane in active">
            <div class="well speedButtonContainer">
                @NavigationHelper.PrintButtonArray(NavigationHelper.ButtonSet_TabDrivers, "Button_SchedulingReport")
            </div>

            <div class="leftpanel">
                <div class="tabbable">
                    <ul class="nav nav-tabs">
                        <li class="active tab-blue">
                            <a data-toggle="tab" href="#Filter" aria-expanded="true">Filter</a>
                        </li>
                        <li class="tab-green">
                            <a data-toggle="tab" href="#Export" aria-expanded="true">Export</a>
                        </li>
                    </ul>
                    <div id="leftTabs" class="tab-content">
                        <div id="Filter" class="tab-pane active">
                            @* using a Form here to force the Refresh submit button to do a full postback (the grid is dynamic, easiest to just reload) *@
                            @using (@Html.BeginForm("Index", "DriverSchedulingReport", FormMethod.Post))
                            {
                                <div class="Entry">
                                    @Html.Label("Terminal")
                                    @(Html.Kendo().DropDownList()
                                        .Name("TerminalID")
                                        .DataValueField("ID")
                                        .DataTextField("Name")
                                        .HtmlAttributes(new { style = "width: 100%;" })
                                        .DataSource(source =>
                                        {
                                            source.Read(read =>
                                            {
                                                read.Url("/DriverScheduling/Terminals");
                                                read.Type(HttpVerbs.Get);
                                            });
                                        })
                                        .Value(ViewBag.TerminalID.ToString())
                                    )
                                </div>
                                <div class="Entry">
                                    @Html.Label("Region")
                                    @(Html.Kendo().DropDownList()
                                        .Name("RegionID")
                                        .DataValueField("ID")
                                        .DataTextField("Name")
                                        .HtmlAttributes(new { style = "width: 100%;" })
                                        .DataSource(source =>
                                        {
                                            source.Read(read =>
                                            {
                                                read.Url("/DriverScheduling/Regions");
                                                read.Type(HttpVerbs.Get);
                                            });
                                        })
                                        .Value(ViewBag.RegionID.ToString())
                                    )
                                </div>
                                <div class="Entry">
                                    @Html.Label("Carrier")
                                    @(Html.Kendo().DropDownList()
                                        .Name("CarrierID")
                                        .DataValueField("ID")
                                        .DataTextField("Name")
                                        .HtmlAttributes(new { style = "width: 100%;" })
                                        .DataSource(source =>
                                        {
                                            source.Read(read =>
                                            {
                                                read.Url("/DriverScheduling/Carriers");
                                                read.Type(HttpVerbs.Get);
                                            });
                                        })
                                        .Value(ViewBag.CarrierID.ToString())
                                    )
                                </div>
                                <div class="Entry">
                                    @Html.Label("Driver Group")
                                    @(Html.Kendo().DropDownList()
                                        .Name("DriverGroupID")
                                        .DataValueField("ID")
                                        .DataTextField("Name")
                                        .HtmlAttributes(new { style = "width: 100%;" })
                                        .DataSource(source =>
                                        {
                                            source.Read(read =>
                                            {
                                                read.Url("/DriverScheduling/DriverGroups");
                                                read.Type(HttpVerbs.Get);
                                            });
                                        })
                                        .Value(ViewBag.DriverGroupID.ToString())
                                    )
                                </div>
                                <div class="Entry">
                                    @Html.Label("Driver")
                                    @(Html.Kendo().DropDownList()
                                        .Name("DriverID")
                                        .DataValueField("ID")
                                        .DataTextField("Name")
                                        .HtmlAttributes(new { style = "width: 100%;" })
                                        .DataSource(source =>
                                        {
                                            source.Read(read =>
                                            {
                                                read.Url("/DriverScheduling/Drivers");
                                                read.Type(HttpVerbs.Get);
                                            });
                                        })
                                        .Value(ViewBag.DriverID.ToString())
                                    )
                                </div>
                                <div class="Entry">
                                    @Html.Label("Start")
                                    @(Html.Kendo().DatePicker()
                                        .Name("StartDate")
                                        .Value(ViewBag.StartDate)
                                    )
                                </div>
                                <div class="Entry">
                                    @Html.Label("End")
                                    @(Html.Kendo().DatePicker()
                                        .Name("EndDate")
                                        .Value(ViewBag.EndDate)
                                    )
                                </div>
                                <div class="spacer10px"></div>
                                <div class="Entry" style="width: 100%;">
                                    <div class="center">
                                        <input type="submit" id="btnRefresh" class="btn btn-blue shiny" value="Refresh" />
                                    </div>
                                </div>
                            }
                        </div>
                        <div id="Export" class="tab-pane">
                            <div class="center">
                                <input type="button" id="Export" Value="Export to Excel" class="btn btn-blue shiny" onclick="export_Click()" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="gridArea" style="height: 100%; min-height: 500px;">
                @(@Html.Kendo().Grid<dynamic>()
                    .Name("Grid")
                    .HtmlAttributes(new { style = "height:800px;", @class = "MVCGridRepaint" })
                    .Excel(excel => excel.FileName("Driver Scheduling Report").Filterable(true))
                    .Scrollable(scroll => scroll.Enabled(true))
                    .Columns(columns =>
                    {
                        columns.Bound("Carrier").Locked(true).Width(200);
                        columns.Bound("Driver").Locked(true).Width(170);
                        columns.Bound("MobilePhone").Title("Mobile Phone").Width(120);
                        columns.Bound("TotalOpenCount").Title("Order Count").Width(120);
                        foreach (DataColumn col in Model.Columns)
                        {
                            if (col.ColumnName.StartsWith("SD") && col.ColumnName.Contains("_"))
                            {
                                columns.Group(group => group
                                    .Title(DBHelper.ToDateTime(col.ColumnName.Substring(2).Replace("_", "/")).ToString("ddd M/d/yy"))
                                    .Columns(groupColumns =>
                                    {
                                        groupColumns.Bound(col.ColumnName)
                                            .Width(55)
                                            .Locked(false)
                                            .Lockable(false)
                                            .Title("Status");
                                        groupColumns.Bound(col.ColumnName.Replace("SD", "SH"))
                                            .Width(60)
                                            .Locked(false)
                                            .Lockable(false)
                                            .Title("Start");
                                        groupColumns.Bound(col.ColumnName.Replace("SD", "DH"))
                                            .Width(45)
                                            .Locked(false)
                                            .Lockable(false)
                                            .Title("Hrs");
                                        groupColumns.Bound(col.ColumnName.Replace("SD", "OC"))
                                            .Width(30)
                                            .Locked(false)
                                            .Lockable(false)
                                            .Title("#");
                                    })
                                );
                            }
                        }
                    })
                    .Resizable(r => r.Columns(true))
                    .DataSource(ds => ds
                        .Ajax()
                        .Model(model =>
                        {
                            model.Id("DriverID");
                        })
                        .Read(read =>
                        {
                            read.Action("Read", "DriverSchedulingReport");
                            read.Data("getDataParameters");
                            read.Type(HttpVerbs.Post);
                        })
                    )
                )
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    function getDataParameters() {
        var data = { terminalid: $("#TerminalID").val(), regionid: $("#RegionID").val(), carrierid: $("#CarrierID").val(), drivergroupid: $("#DriverGroupID").val(), driverid: $("#DriverID").val(), startdate: $("#StartDate").val(), enddate: $("#EndDate").val() };
        return data;
    }
    function export_Click() {
        var grid = $("#Grid").data("kendoGrid");
        debugger;
        grid.options.excel.fileName = "Driver Scheduling Report (" + kendo.toString($("#StartDate").data("kendoDatePicker").value(), "yyyy-MM-dd") + " to " + kendo.toString($("#EndDate").data("kendoDatePicker").value(), "yyyy-MM-dd") + ").xlsx";
        grid.saveAsExcel();
    }
</script>
