﻿@model IEnumerable<DispatchCrude.Models.Trailer>
@{
    Layout = "~/Views/Shared/_Empty.cshtml";
    var jquery = "";
    int i = 0;
}

@section head
{
    <style>
        body {
            width: 8.5in;
            margin: .29675in 0in 0in .3125in;
        }

        .label {
            /* Avery labels -- 22806, 22816, 22922, 22921, 22960, 80510, 60506, 60526 */
            width: 2.0625in;
            height: 2.0625in;
            padding: .175in;
            margin-left: .3125in; /* 1/2 horizontal gutter */
            margin-right: .3125in; /* 1/2 horizontal gutter */
            margin-top: .29675in; /* 1/2 vertical gutter */
            margin-bottom: .29675in; /* 1/2 vertical gutter */
            color: black;
            text-align: center;
            overflow: hidden;
        }

        .page-break {
            clear: left;
            display: block;
            margin-bottom: .29675in;
            page-break-before: always;
        }
    </style>
}

<div class="alert alert-info fade in">
    <button class="close" data-dismiss="alert">
        ×
    </button>
    <i class="fa fa-pull-left fa-lg fa-info-circle"></i>
    This page conforms to Avery's 2x2 labels (templates 22806, 22816, 22922, 22921, 22960, 80510, 60506, 60526).
    Be sure to set <strong>Margins</strong> to <setting>None</setting> (under <strong>More Settings</strong> from the print page).
    Currently supported only in Chrome.
    <a class="btn btn-xs" onclick="javascript:$('.alert').hide();window.print()" data-dismiss="alert">Print</a>
</div>


@foreach (var item in Model)
{

    <div class="label">
        <div id="qrTrailer@(item.ID)"></div>
        <br>Trailer #: @item.IDNumber
    </div>

    if (++i % 12 == 0)
    {
        <div class="page-break"></div>
    }

    // build up QR definitions (kendo)
    jquery +=

    "$('#qrTrailer" + item.ID + "').kendoQRCode({ " +
        "value: '" + item.QRCode.ToString() + "', " +
        "errorCorrection: 'Q', " +
        "border: { " +
            "color: '#000000', " +
            "width: 5 " +
        "} " +
    "});";
}


<script type="text/javascript">
    $(document).ready(function () {

        @Html.Raw(jquery)
    });

</script>

@section scripts{
    <script type="text/javascript" src="~/scripts/telerik.mvc/kendo.all.min.js"></script>
}
