﻿@model IEnumerable<DispatchCrude.Models.OriginTankDefinition>
@using DispatchCrude.Core;
@using DispatchCrude.Extensions;

@{
    ViewBag.Title = "Locations";
    ViewBag.SubTitle = "Origin Tank Definitions";
}

<div class="tabbable TabRepaint">
    <ul class="nav nav-tabs" id="tabmenu">
        @NavigationHelper.PrintTabArray(NavigationHelper.TabSet_Locations, "Tab_OriginTanks")
    </ul>
    <div class="tab-content">
        <div class="tab-pane in active">
            <div class="well speedButtonContainer">
                @NavigationHelper.PrintButtonArray(NavigationHelper.ButtonSet_TabOriginTanks, "Button_OriginTankDefinitions")
            </div>

            @(Html.Kendo().Grid(Model)
                .Name("grid")
                .DataSource(ds => ds
                    .Ajax()
                    .Filter(filter => filter.Add(m => m.Active).IsEqualTo(true))
                    .Model(model => model.Id(m => m.ID))
                    .PageSize(Settings.DefaultPageSize)
                    .Sort(sort => { if (Request.QueryString.Keys.Count == 0) { sort.Add("Name").Ascending(); } }) // Initial Sort
                    .Create(create => create.Action("Create", "OriginTankDefinitions"))
                    .Read(read => read.Action("Read", "OriginTankDefinitions"))
                    .Update(update => update.Action("Update", "OriginTankDefinitions"))
                    .Destroy(update => update.Action("Delete", "OriginTankDefinitions"))
                    .Events(events => { events.Error("onDSErrors"); events.RequestEnd("onDSRequestEnd"); })
                )
                .Excel(excel => excel
                    .AllPages(true)
                    .FileName("Origin_Tank_Definitions.xlsx")
                    .Filterable(true)
                )
                .Events(ev =>
                {
                    ev.ExcelExport("kendoGridExportHelper.ExcelExport");  // This calls Kevin's custom excel functionality
                    ev.Edit("onPopupEdit"); // This just changes the popup's title (Create/Edit). If additional functionality is needed, create a custom function on this page.
                })
                .HtmlAttributes(new { style = "height:800px;", @class = "MVCGridRepaint" })
                .ToolBar(command =>
                {
                    if (User.IsInRole("viewOriginTanks")) command.Create().Text("");
                    command.Excel();
                })
                .Editable(ed => { ed.Mode(GridEditMode.PopUp).TemplateName("Popup_OriginTankDefinition"); ed.DisplayDeleteConfirmation(false); })
                .Pageable(pager => pager
                    .PageSizes(new int[] { Settings.DefaultPageSize, 50, 100, 250 })
                    .Refresh(true)
                )
                .Sortable()
                .Scrollable()
                .Filterable(filterable => filterable
                    .Extra(true)   //This extended "filterable" section of code makes the contains filter the default string filter for these grids
                    .Operators(operators => operators
                        .ForString(str => str
                            .Clear()
                            .Contains("Contains")
                            .DoesNotContain("Does not contain")
                            .StartsWith("Starts with")
                            .EndsWith("Ends with")
                            .IsEqualTo("Is equal to")
                            .IsNotEqualTo("Is not equal to")
                        )
                    )
                )
                .Resizable(resizable => resizable.Columns(true))
                .Columns(columns =>
                {
                columns.Template(@<text></text>).ClientTemplate("#= rowCommandsUndelete(data) #").Title("&nbsp;").Width(100);
                    columns.Bound(m => m.Active)
                        .Title("Active?")
                        .ClientTemplate("#= ActiveState(data.Active) #")
                        .Width(85);
                    columns.Bound(m => m.Name)
                        .Width(250);
                    columns.Bound(m => m.BottomFeet)
                        .Width(120);
                    columns.Bound(m => m.BottomInches)
                        .Width(130);
                    columns.Bound(m => m.BottomQ)
                        .Width(120);
                    columns.Bound(m => m.TopFeet)
                        .Width(100);
                    columns.Bound(m => m.TopInches)
                        .Width(120);
                    columns.Bound(m => m.TopQ)
                        .Width(100);
                    columns.Bound(m => m.TopBPQ)
                        .Title("BPQ")
                        .Width(120);
                    columns.Bound(m => m.TopBPQ)
                        .Title("BBLS")
                        .ClientTemplate("#= calculateTotalBBLS(data.TopFeet, data.TopInches, data.TopQ, data.TopBPQ) #")
                        .Filterable(false)  //The filtering doesn't work as expected on this template column and there really is no need to filter on this column anyway.
                        .Width(120);
                    columns.Bound(m => m.CreateDate)
                        .Width(200);
                    columns.Bound(m => m.CreatedByUser)
                        .Width(175);
                    columns.Bound(m => m.LastChangeDate)
                        .Width(200);
                    columns.Bound(m => m.LastChangedByUser)
                        .Width(200);
                    columns.Bound(m => m.DeleteDate)
                        .Width(200);
                    columns.Bound(m => m.DeletedByUser)
                        .Width(200);
                })
            )

            @*These inputs are required for create/edit/deactivate permissions functionality*@
            <input id="allowCreate" type="hidden" value="@UserSupport.Allow.Create.OnPage("OriginTankDefinitions")" />
            <input id="allowEdit" type="hidden" value="@UserSupport.Allow.Edit.OnPage("OriginTankDefinitions")" />
            <input id="allowDelete" type="hidden" value="@UserSupport.Allow.Delete.OnPage("OriginTankDefinitions")" />
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        // customKendoGridButtons() fixes the look of the add new button and
        // excel export button that were not addressed directly in the grid above
        customKendoGridButtons();
    });

    //Calculate the total bbls for each record (no need for this to be stored in the db)
    function calculateTotalBBLS(feet, inch, q, bpq) {
        return (bpq * (q + inch * 4 + feet * 48)).toFixed(4);
    }
</script>

@* These scripts need to be included on every Kendo MVC grid page. They include extra "default" grid functions *@
<script src="~/scripts/kendoExcelExportHelper.js?ver=2.1" type="text/javascript"></script>
<script src="~/scripts/kendoGridErrors.js" type="text/javascript"></script>