﻿/* ========== Text Styles ========== */
hr { color: #000000}
body, table, span.rvts0 /* Normal text */
{
 font-size: 10pt;
 font-family: 'Arial', 'Helvetica', sans-serif;
 font-style: normal;
 font-weight: normal;
 color: #000000;
 text-decoration: none;
}
span.rvts1 /* Heading */
{
 font-weight: bold;
 color: #0000ff;
}
span.rvts2 /* Subheading */
{
 font-weight: bold;
 color: #000080;
}
span.rvts3 /* Keywords */
{
 font-style: italic;
 color: #800000;
}
a.rvts4, span.rvts4 /* Jump 1 */
{
 color: #008000;
 text-decoration: underline;
}
a.rvts5, span.rvts5 /* Jump 2 */
{
 color: #008000;
 text-decoration: underline;
}
span.rvts6
{
}
span.rvts7
{
 font-weight: bold;
 color: #0000ff;
}
span.rvts8
{
 font-weight: bold;
 color: #000080;
}
span.rvts9
{
 font-style: italic;
 color: #800000;
}
a.rvts10, span.rvts10
{
 color: #008000;
 text-decoration: underline;
}
a.rvts11, span.rvts11
{
 font-weight: bold;
 color: #0000ff;
 text-decoration: underline;
}
span.rvts12
{
 font-size: 11pt;
 font-family: 'Microsoft Sans Serif';
 font-weight: bold;
 color: #000000;
}
span.rvts13
{
 font-size: 11pt;
 font-family: 'Times New Roman', 'Times', serif;
 font-weight: bold;
 color: #000000;
}
a.rvts14, span.rvts14
{
 font-size: 12pt;
 font-weight: bold;
 color: #0000ff;
 text-decoration: underline;
}
span.rvts15
{
 font-size: 11pt;
}
span.rvts16
{
 font-size: 11pt;
 font-family: 'Microsoft Sans Serif';
 color: #000000;
}
span.rvts17
{
 font-size: 16pt;
 font-weight: bold;
 color: #000000;
}
span.rvts18
{
 font-size: 20pt;
 font-weight: bold;
 color: #000000;
}
span.rvts19
{
 font-size: 11pt;
 font-weight: bold;
 color: #365f91;
}
a.rvts20, span.rvts20
{
 font-size: 11pt;
 color: #0000ff;
 text-decoration: underline;
}
span.rvts21 /* Font Style */
{
 font-family: 'Tahoma', 'Geneva', sans-serif;
 font-style: italic;
 color: #c0c0c0;
}
a.rvts22, span.rvts22 /* Font Style */
{
 font-family: 'Tahoma', 'Geneva', sans-serif;
 font-style: italic;
 color: #6666ff;
 text-decoration: underline;
}
span.rvts23
{
 font-weight: bold;
}
span.rvts24
{
 font-style: italic;
}
a.rvts25, span.rvts25
{
 color: #0000ff;
 text-decoration: underline;
}
span.rvts26
{
 font-size: 13pt;
 font-weight: bold;
 color: #4f81bd;
}
span.rvts27
{
 font-size: 13pt;
 font-weight: bold;
 color: #4f81bd;
 text-decoration: underline;
}
span.rvts28
{
 font-weight: bold;
 text-decoration: underline;
}
span.rvts29
{
 font-size: 13pt;
 font-weight: bold;
 color: #4f81bd;
 text-decoration: underline;
}
span.rvts30
{
 font-size: 13pt;
 font-weight: bold;
 color: #4f81bd;
}
span.rvts31
{
 font-size: 13pt;
 font-weight: bold;
 color: #4f81bd;
}
a.rvts32, span.rvts32
{
 font-size: 13pt;
 font-weight: bold;
 color: #4f81bd;
 text-decoration: underline;
}
span.rvts33
{
 font-size: 11pt;
 font-weight: bold;
 color: #4f81bd;
}
span.rvts34
{
 font-size: 14pt;
}
span.rvts35
{
 font-size: 14pt;
 font-style: italic;
 font-weight: bold;
 text-decoration: underline;
}
span.rvts36
{
 font-size: 14pt;
 font-style: italic;
}
span.rvts37
{
 font-size: 18pt;
 color: #000000;
}
span.rvts38
{
 font-size: 18pt;
 font-weight: bold;
 color: #000000;
}
span.rvts39
{
 font-size: 13pt;
 font-weight: bold;
 color: #4f81bd;
 text-decoration: underline;
}
span.rvts40
{
 font-weight: bold;
 text-decoration: underline;
}
span.rvts41
{
}
a.rvts42, span.rvts42
{
 font-size: 16pt;
 font-weight: bold;
 color: #0000ff;
 text-decoration: underline;
}
span.rvts43
{
 font-size: 16pt;
 font-weight: bold;
}
span.rvts44
{
 font-weight: bold;
 background-color: #ffff00;
}
span.rvts45
{
 background-color: #ffff00;
}
span.rvts46
{
 font-size: 11pt;
 color: #0000ff;
}
span.rvts47
{
 font-size: 11pt;
 font-weight: bold;
}
span.rvts48
{
 font-size: 11pt;
 font-family: 'Times New Roman', 'Times', serif;
}
span.rvts49
{
 font-family: 'Arial Unicode MS', 'Lucida Sans Unicode', 'Arial', 'Helvetica', sans-serif;
}
span.rvts50
{
 font-size: 7pt;
 font-family: 'Times New Roman', 'Times', serif;
}
span.rvts51
{
 font-weight: bold;
}
span.rvts52
{
 font-size: 12pt;
 font-weight: bold;
}
/* ========== Para Styles ========== */
p,ul,ol /* Paragraph Style */
{
 text-align: left;
 text-indent: 0px;
 padding: 0px 0px 0px 0px;
 margin: 0px 0px 0px 0px;
}
.rvps1 /* Centered */
{
 text-align: center;
}
.rvps2
{
}
.rvps3
{
 text-align: center;
}
.rvps4
{
 text-align: center;
 text-indent: 0px;
 padding: 0px 0px 0px 0px;
 margin: 0px 0px 0px 0px;
}
.rvps5
{
 text-align: center;
 text-indent: 0px;
 padding: 0px 0px 0px 0px;
 margin: 0px 0px 0px 0px;
}
.rvps6
{
 text-align: center;
 text-indent: 48px;
 padding: 0px 0px 0px 0px;
 margin: 0px 0px 0px 0px;
}
.rvps7
{
 text-align: left;
 text-indent: 0px;
 padding: 0px 0px 0px 0px;
 margin: 0px 0px 0px 0px;
}
.rvps8 /* Paragraph Style */
{
 text-align: center;
 border-color: #c0c0c0;
 border-style: solid;
 border-width: 1px;
 border-right: none;
 border-left: none;
 padding: 2px 0px 2px 0px;
 margin: 7px 0px 7px 0px;
}
.rvps9
{
 margin: 0px 0px 0px 24px;
}
.rvps10
{
 text-align: left;
 text-indent: 0px;
 padding: 0px 0px 0px 0px;
 margin: 0px 0px 0px 0px;
}
.rvps11
{
}
.rvps12
{
 text-align: left;
 text-indent: 0px;
 padding: 0px 0px 0px 0px;
 margin: 0px 0px 0px 0px;
}
.rvps13
{
 text-align: justify;
}
.rvps14
{
 text-align: right;
}
.rvps15
{
}
.rvps16
{
 margin: 0px 0px 0px 48px;
}
.rvps17
{
 margin: 0px 0px 0px 17px;
}
.rvps18
{
 text-indent: 48px;
}
.rvps19
{
 text-indent: -24px;
 margin: 7px 0px 32px 48px;
}
.rvps20
{
 margin: 7px 0px 32px 0px;
}
.rvps21
{
 margin: 7px 0px 0px 0px;
}
.rvps22
{
 margin: 7px 0px 32px 24px;
}
.rvps23
{
 text-indent: -24px;
 margin: 0px 0px 0px 48px;
}
.rvps24
{
 margin: 0px 0px 0px 48px;
}
/* ========== Lists ========== */
.list0 {text-indent: 0px; margin-left: 24px; list-style-position: outside; list-style-type: disc;}
.list1 {text-indent: 0px; margin-left: 48px; list-style-position: outside; list-style-type: circle;}
.list2 {text-indent: 0px; margin-left: 48px; list-style-position: outside; list-style-type: square;}
.list3 {text-indent: 0px; margin-left: 48px; list-style-position: outside; list-style-type: disc;}
.list4 {text-indent: 17px; margin-left: 24px; list-style-position: inside; list-style-type: disc;}
.list5 {text-indent: 0px; margin-left: 24px; list-style-position: outside; list-style-type: decimal;}
.list6 {text-indent: 0px; margin-left: 48px; list-style-position: outside; list-style-type: decimal;}
.list7 {text-indent: 0px; margin-left: 48px; list-style-position: outside; list-style-type: lower-alpha;}
.list8 {text-indent: 0px; margin-left: 48px; list-style-position: outside; list-style-type: lower-roman;}
