﻿@model IEnumerable<DispatchCrude.ViewModels.RecalculateVolumesViewModel>
@using DispatchCrude.Core;
@using DispatchCrude.Extensions;

@{
    ViewBag.Title = "Tools";
    ViewBag.SubTitle = "Recalculate Volumes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (TempData["success"] != null)
{
    <script>
        $(document).ready(function () {
            Notify('@TempData["success"]', 'top-right', '5000', 'success', 'fa-check-circle white', true);
        })
    </script>
}

<div class="tabbable TabRepaint">
    <ul class="nav nav-tabs" id="tabmenu">        
        @NavigationHelper.PrintTabArray(NavigationHelper.TabSet_Tools, "Tab_RecalculateVolumes")
    </ul>
    <div class="tab-content">
        <div class="tab-pane in active">

            <div class="col-lg-3 col-md-4 col-sm-5">
                <div class="tabbable">
                    <ul class="nav nav-tabs">
                        <li class="active tab-blue">
                            <a data-toggle="tab" href="#FiltersTab" aria-expanded="true">Filters</a>
                        </li>
                        <li class="tab-yellow">
                            <a data-toggle="tab" href="#RecalculateTab" aria-expanded="false">Recalculate</a>
                        </li>
                    </ul>
                    <div id="leftTabs" class="tab-content">
                        <div id="FiltersTab" class="tab-pane active">
                            @using (Html.BeginForm("Filter", "RecalculateVolumes"))
                            {
                                @Html.AntiForgeryToken()
                                <div>Order Number</div>
                                <div>
                                    @Html.TextBox("OrderNum", null, htmlAttributes: new { @class = "form-control" })
                                </div>
                                <div class="spacer10px"></div>
                                <div>Status</div>
                                <div>
                                    @Html.DropDownList("StatusID", null, "(Both)")
                                </div>
                                <div class="spacer10px"></div>
                                <div>Ticket Type</div>
                                <div>
                                    @Html.DropDownList("TicketTypeID", null, "(All)")
                                </div>
                                <div class="spacer10px"></div>
                                <div>Origin</div>
                                <div>
                                    @Html.DropDownList("OriginID", null, "(All)")
                                </div>
                                <div class="spacer10px"></div>
                                <div>Destination</div>
                                <div>
                                    @Html.DropDownList("DestinationID", null, "(All)")
                                </div>
                                <div class="spacer10px"></div>
                                <div>Driver</div>
                                <div>
                                    @Html.DropDownList("DriverID", null, "(All)")
                                </div>
                                <div class="spacer10px"></div>
                                <div>Producer</div>
                                <div>
                                    @Html.DropDownList("ProducerID", null, "(All)")
                                </div>
                                <div class="spacer20px"></div>
                                <div style="overflow:auto;">
                                    <div class="pull-right">
                                        End:
                                        @(Html.Kendo().DatePicker()
                                            .Name("enddate")
                                            .Value(DateTime.Now)  //This should always default to Now/today
                                            .HtmlAttributes(new { style = "width: 110px" })
                                        )
                                    </div>
                                    <div class="pull-left">
                                        Start:
                                        @(Html.Kendo().DatePicker()
                                            .Name("startdate")
                                            .Value(DateTime.Now.AddDays(-30))  //This should be kept in sync with the default start date limit in the controller Read() function
                                            .HtmlAttributes(new { style = "width: 110px" })
                                        )
                                    </div>
                                </div>
                                <div class="spacer20px"></div>
                                <div class="center">
                                    <input type="submit" id="btnRefresh" class="btn btn-blue shiny" value="Refresh" />
                                </div>
                            }
                        </div>
                        <div id="RecalculateTab" class="tab-pane">
                            @using (Html.BeginForm("Recalculate", "RecalculateVolumes", FormMethod.Post, new { id = "RecalculateForm" }))
                            {
                                @Html.AntiForgeryToken()
                                @Html.Hidden("orderIdCSV")
                                @Html.Hidden("StartDate")
                                @Html.Hidden("EndDate")
                                @Html.Hidden("OrderNum")
                                @Html.Hidden("StatusID")
                                @Html.Hidden("TicketTypeID")
                                @Html.Hidden("OriginID")
                                @Html.Hidden("DestinationID")
                                @Html.Hidden("DriverID")
                                @Html.Hidden("ProducerID")

                                if (TempData["systemsetting"].ToString().ToUpper() == "FALSE")
                                {
                                    <div class="alert alert-warning fade in">
                                        <i class="fa fa-warning">&nbsp;</i><strong>WARNING: &nbsp;</strong>The system setting <strong>"Allow Audited Record Update (temp only)"</strong>
                                        is set to <strong>FALSE</strong>. &nbsp;Audited orders will not be recalculated.
                                        @if (User.IsInRole("viewSystemSettings"))
                                        {
                                            <div class="spacer10px"></div><div class="txtAlignRight"><a href="/Common/Settings.aspx" class="btn btn-blue btn-sm shiny">System Settings</a></div>
                                        }
                                    </div>
                                }
                                else if (TempData["systemsetting"].ToString().ToUpper() == "TRUE")
                                {
                                    <div class="alert alert-success fade in">
                                        System setting <strong>"Allow Audited Record Update (temp only)"</strong> is set to <strong>TRUE</strong>. &nbsp;Audited orders will be recalculated.
                                    </div>
                                }
                                else
                                {
                                    <div class="alert alert-danger fade in">
                                        <strong>ERROR: </strong> System setting <strong>"Allow Audited Record Update (temp only)"</strong> incorrectly configured.
                                        @if (User.IsInRole("viewSystemSettings"))
                                        {
                                            <div class="spacer10px"></div><div class="txtAlignRight"><a href="/Common/Settings.aspx" class="btn btn-blue btn-sm shiny">System Settings</a></div>
                                        }
                                    </div>
                                }

                                <div class="center"><a href="javascript:submitOrderIdCSV()" class="btn btn-blue shiny">Recalculate</a></div>
                            }
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-9 col-md-8 col-sm-7">
                @(Html.Kendo().Grid(Model)
                    .Name("grid")
                    .DataSource(ds => ds
                        .Ajax()
                        .Filter(filter => filter.Add(model => model.Active).IsEqualTo(true))
                        .Model(model => model.Id(m => m.ID))
                        .PageSize(Settings.DefaultPageSize)
                        .Sort(sort => { if (Request.QueryString.Keys.Count == 0) { sort.Add("OrderNumber").Ascending(); } }) // Initial Sort
                        .Read(read => read.Action("Read", "RecalculateVolumes").Data("getParameters"))
                        .Events(events => { events.Error("onDSErrors"); events.RequestEnd("onDSRequestEnd"); })
                    )
                    .Excel(excel => excel
                        .AllPages(true)
                        .FileName("RecalculateVolumes.xlsx")
                        .Filterable(true)
                    )
                    .HtmlAttributes(new { style = "height:800px;", @class = "MVCGridRepaint" })
                    .ToolBar(command =>
                    {
                        command.Excel();
                    })
		    //.Editable(e => { e.Mode(GridEditMode.PopUp).TemplateName("Popup_"); e.DisplayDeleteConfirmation(false); })
		    //.Events(e => e.Edit("onEdit"))  //This is required for conditional changing of the popup (like "create" or "edit" in the window title)
                    .Pageable(pager => pager
                        .PageSizes(Settings.MvcGridPageSizes)
                        .Refresh(true)
                    )
                    .Sortable()
                    .Scrollable()
                    //.Selectable()  //This is actually not necessary.  Turning this on caused the currently selected rows to deselect when the user clicked on a row instead of the checkbox.
                    .Resizable(resizable => resizable.Columns(true))
                    .Columns(columns =>
                    {
                    columns.Template(@<text></text>)
                            .ClientTemplate("<input id='#=data.OrderId#' type='checkbox' name='rowSelect' class='checkbox' onclick='checkboxClicked(#=data.OrderId#)' />")
                            .Title("<input id='checkAll' type='checkbox' class='checkbox' onclick='checkAll()' />")
                            .Width(32);
                        columns.Bound(model => model.OrderStatus)
                            .Width(90);
                        columns.Bound(model => model.Date)
                            .Width(100);
                        columns.Bound(model => model.OrderNumber)
                            .Width(100);
                        columns.Bound(model => model.GOV)
                            .Width(100);
                        columns.Bound(model => model.GSV)
                            .Width(100);
                        columns.Bound(model => model.NSV)
                            .Width(100);
                        columns.Bound(model => model.OriginName)
                            .Width(275);
                        columns.Bound(model => model.DestinationName)
                            .Width(275);
                        columns.Bound(model => model.ProducerName)
                            .Width(275);
                        columns.Bound(model => model.TicketTypeName)
                            .Width(175);
                        columns.Bound(model => model.DriverName)
                            .Width(150);
                    })
                )
            </div>
        </div>
    </div>
</div>

<script type="text/x-kendo-template" id="validationMessageTemplate">
    # if (messages.length) { #
    # for (var i = 0; i < messages.length; ++i) { #
    <li>#= messages[i] #</li>
    # } #
    # } #
</script>

<script type="text/javascript">
    $(document).ready(function () {

        // customKendoGridButtons() fixes the look of the add new button and
        // excel export button that were not addressed directly in the grid above
        customKendoGridButtons();

        //Initializes select2 dropdowns
        $("#StatusID").select2();
        $("#TicketTypeID").select2();
        $("#OriginID").select2();
        $("#DestinationID").select2();
        $("#DriverID").select2();
        $("#ProducerID").select2();
        //this makes the dropdowns with:100% without the unwanted "double box" effect produced by the "form-control" class
        $(".select2-container").addClass("width100");
    });

    // grid assumes a delete/destroy operation simply removes the record, which might not be the case (since is undeletable), so force "rebind"
    function onDSRequestEnd(e) {
        debugger;
        if (e.type == "destroy") {
            var grid = $("#grid").data("kendoGrid");
            grid.dataSource.read();
        }
    }

    function onDSErrors(args) {
        debugger;
        if (args.errors) {
            var grid = $("#grid").data("kendoGrid");
            var validationTemplate = kendo.template($("#validationMessageTemplate").html());
            grid.one("dataBinding", function (e) {
                e.preventDefault();

                $.each(args.errors, function (propertyName) {
                    debugger;
                    var renderedTemplate = validationTemplate({ field: propertyName, messages: this.errors });
                    /* append these errors to the <ul class="gridErrors> */
                    grid.editable.element.find(".gridErrors").append(renderedTemplate);
                });
            });
        }
    }

    function onEdit(e) {    //Place popup create vs. edit code here        
        if (!e.model.isNew()) {
            //Do edit mode stuff:
        }
        else {
            //Do create mode stuff:     
            $(".k-window-title").html("Create"); //change the window title to create
        }
    }

    function getParameters() {
        //This gets the filter values for the grid from the left panel filters
        return {
            OriginID: $("#OriginID").val()
            , DestinationID: $("#DestinationID").val()
            , StatusID: $("#StatusID").val()
            , TicketTypeID: $("#TicketTypeID").val()
            , DriverID: $("#DriverID").val()
            , ProducerID: $("#ProducerID").val()
            , OrderNum: $("#OrderNum").val()
            , StartDate: $("#startdate").val()
            , EndDate: $("#enddate").val()
        };
    }

    function checkboxClicked(orderId) {
        //When user checks the box, select that row (or deselect when the box is unchecked)
        checkbox = $("input[id=" + orderId + "]");
        isChecked = $("input[id=" + orderId + "]:checked").length > 0;
        row = checkbox.closest("tr");

        if (isChecked == true) {
            row.addClass("k-state-selected");
        }
        else {
            row.removeClass("k-state-selected");
        }
    }

    function checkAll() {
        //Check or uncheck all the rows
        isChecked = $("input[id=checkAll]:checked").length > 0;
        $("input[name=rowSelect]").attr("checked", isChecked);
        if (isChecked == true) {
            $("input[name=rowSelect]").closest("tr").addClass("k-state-selected");
        }
        else {
            $("input[name=rowSelect]").closest("tr").removeClass("k-state-selected");
        }
    }

    function submitOrderIdCSV() {
        //Create CSV of orders to recalculate
        var checkbox = $("input[name=rowSelect]");
        var list = $("#orderIdCSV");
        list.val(""); //Prevent "undefined"

        //For each checkbox in the grid...
        checkbox.each(function () {
            var box = $(this);
            var checked = false;

            //Check for undefined (unchecked) state
            if (typeof box.attr("checked") === "undefined") {
                //not checked
            } else {
                checked = true;
            }

            //Add the order ID's of checked rows to the CSV list
            if (checked == true) {
                if (list.val().length > 0) {
                    //If this is not the first item, insert a comma
                    list.val(list.val() + "," + box.attr("id"));
                }
                else {
                    //If this is the first item, leave out the comma
                    list.val(list.val() + box.attr("id"));
                }
            }
        })

        if (list.val().length < 1) {
            //If the user hasn't selected anything, let them know
            alert("No orders have been selected!");
        } else {
            //Send the CSV list of order ID's to the controller
            document.forms["RecalculateForm"].submit();
        }
    }
</script>