﻿<div style="width: 50%;min-width: 350px;margin-left:auto; margin-right:auto;">
@using (Html.BeginForm("DDData", "JSonData", null, FormMethod.Post, new { @data_ajax = "false" }))
{
    @Html.ValidationSummary()

    <ul data-role="listview" data-inset="true">
        <li data-role="fieldcontain">
            @Html.Label("Table")
            @Html.TextBox("Table")
        </li>

        <li data-role="fieldcontain">
            @Html.Label("Include All")
            @Html.TextBox("IncludeAll", "true")
        </li>
        <li data-role="fieldcontain">
            @Html.Label("All ID")
            @Html.TextBox("AllID", "-1")            
        </li>
        <li data-role="fieldcontain">
            @Html.Label("All Text")
            @Html.TextBox("AllText", "(All)")
        </li>
        <li data-role="fieldcontain">
            @Html.Label("Text Col")
            @Html.TextBox("TextCol", "Name")
        </li>
        <li data-role="fieldcontain">
            @Html.Label("Text Name")
            @Html.TextBox("TextName", "Name")
        </li>
        <li data-role="fieldcontain">
            @Html.Label("Omit Deleted")
            @Html.CheckBox("OmitDeleted", false)
        </li>
        <li data-role="fieldcontain">
            @Html.Label("Deleted Suffix")
            @Html.TextBox("DeletedSuffix", "Deleted: ")
        </li>
        <li>
            <input type="submit" value="Retrieve Json" />
        </li>
    </ul>
}
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}