﻿@model IEnumerable<DispatchCrude.Models.Consignee>
@using DispatchCrude.Core;
@using DispatchCrude.Extensions;

@{
    ViewBag.Title = "Locations";
    ViewBag.SubTitle = "Consignee";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="tabbable TabRepaint">
    <ul class="nav nav-tabs" id="tabmenu">
        @NavigationHelper.PrintTabArray(NavigationHelper.TabSet_Locations, "Tab_Consignees")
    </ul>
    <div class="tab-content">
        <div class="tab-pane in active">
            <div class="well speedButtonContainer">
                @NavigationHelper.PrintButtonArray(NavigationHelper.ButtonSet_TabConsignees, "Button_Consignees")
            </div>

            @(Html.Kendo().Grid(Model)
                .Name("grid")
                .DataSource(ds => ds
                    .Ajax()
                    .Filter(filter =>
                    {
                        filter.Add(m => m.Active).IsEqualTo(true);
                        //If an consignee has been specified in the url filter by its name
                        if (ViewBag.ConsigneeName != null) { filter.Add(m => m.Name).IsEqualTo(ViewBag.ConsigneeName); }
                    })
                    .Model(model => model.Id(m => m.ID))
                    .PageSize(Settings.DefaultPageSize)
                    .Sort(sort => { if (Request.QueryString.Keys.Count == 0) { sort.Add("Name").Ascending(); } }) // Initial Sort
                    .Create(create => create.Action("Create", "Consignees"))
                    .Read(read => read.Action("Read", "Consignees"))
                    .Update(update => update.Action("Update", "Consignees"))
                    .Destroy(update => update.Action("Delete", "Consignees"))
                    .Events(events => { events.Error("onDSErrors"); events.RequestEnd("onDSRequestEnd"); })
                )
                .Excel(excel => excel
                    .AllPages(true)
                    .FileName("Consignees.xlsx")
                    .Filterable(true)
                )
                .Events(ev => {
                    ev.ExcelExport("kendoGridExportHelper.ExcelExport");  // This line/function call is only needed when you need to replace an ID in the export with the actual display value (state ID in this grid)                    
                })  
                .HtmlAttributes(new { style = "height:800px;", @class = "MVCGridRepaint" })
                .ToolBar(command =>
                {
                    if (User.IsInRole("createConsignees")) command.Create().Text("");
                    command.Excel();
                })
                .Editable(ed => { ed.Mode(GridEditMode.PopUp).TemplateName("Popup_Consignee"); ed.DisplayDeleteConfirmation(false); })
                .Events(e =>
                {
                    e.ExcelExport("kendoGridExportHelper.ExcelExport");  // This calls Kevin's custom excel functionality
                    e.Edit("onPopupEdit");  //This is required for conditional changing of the popup (like "create" or "edit" in the window title)
                })
                .Pageable(pager => pager
                    .PageSizes(Settings.MvcGridPageSizes)
                    .Refresh(true)
                )
                .Sortable()
                .Scrollable()
                .Filterable(filterable => filterable
                    .Extra(true)   //This extended "filterable" section of code makes the contains filter the default string filter for these grids
                    .Operators(operators => operators
                        .ForString(str => str
                            .Clear()
                            .Contains("Contains")
                            .DoesNotContain("Does not contain")
                            .StartsWith("Starts with")
                            .EndsWith("Ends with")
                            .IsEqualTo("Is equal to")
                            .IsNotEqualTo("Is not equal to")
                        )
                    )
                )
                .Resizable(resizable => resizable.Columns(true))
                .Columns(columns =>
                {
                columns.Template(@<text></text>).ClientTemplate("#= rowCommandsUndelete(data) #").Title("&nbsp;").Width(100);
                    columns.Bound(m => m.Active)
                        .Title("Active?")
                        .ClientTemplate("#= ActiveState(data.Active) #")
                        .Width(85);
                    columns.Bound(m => m.Name)
                        .Width(250);
                    columns.Bound(m => m.Address)
                        .Width(200);
                    columns.Bound(m => m.City)
                        .Width(200);
                    columns.Bound(m => m.StateID)
                        .Title("State")
                        .EditorTemplateName("_StateDDL")
                        .ClientTemplate("#= data.State ? data.State.Abbreviation : '' #")
                        .Filterable(false)
                        .Width(85);
                    columns.Bound(m => m.Zip)
                        .Width(85);
                    columns.Bound(m => m.ContactName)
                        .Width(200);
                    columns.Bound(m => m.ContactEmail)
                        .ClientTemplate("#if(data.ContactEmail != null){#<div title='Send mail to: #=data.ContactEmail#'><a href='mailto:#=data.ContactEmail#'>#=data.ContactEmail#</a></div>#}#")
                        .Width(200);
                    columns.Bound(m => m.ContactPhone)
                        .ClientTemplate("#if(data.ContactPhone != null){# #=FormatUSAPhoneNumber(data.ContactPhone, true)# #}#")
                        .Width(175);
                    columns.Bound(m => m.Notes)
                        .ClientTemplate("#= ellipseDiv(Notes) #")
                        .Width(250);
                    columns.Bound(m => m.CreateDate)
                        .Width(200);
                    columns.Bound(m => m.CreatedByUser)
                        .Width(175);
                    columns.Bound(m => m.LastChangeDate)
                        .Width(200);
                    columns.Bound(m => m.LastChangedByUser)
                        .Width(200);
                    columns.Bound(m => m.DeleteDate)
                        .Width(200);
                    columns.Bound(m => m.DeletedByUser)
                        .Width(200);
                })
            )

            @*These inputs are required for create/edit/deactivate permissions functionality*@
            <input id="allowCreate" type="hidden" value="@UserSupport.Allow.Create.OnPage("consignees")" />
            <input id="allowEdit" type="hidden" value="@UserSupport.Allow.Edit.OnPage("consignees")" />
            <input id="allowDelete" type="hidden" value="@UserSupport.Allow.Delete.OnPage("consignees")" />
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        // customKendoGridButtons() fixes the look of the add new button and
        // excel export button that were not addressed directly in the grid above
        customKendoGridButtons();
        
	// Remove the incoming URL parameter filter if it exists (This does leave the grid filter intact)
        if ("@ViewBag.ClearUrl" == "True")
            RegexReplaceUrl(/\?id\=\d+/, "");
    });
</script>

@* These scripts need to be included on every Kendo MVC grid page. They include extra "default" grid functions *@
<script src="~/scripts/kendoExcelExportHelper.js?ver=2.1" type="text/javascript"></script>
<script src="~/scripts/kendoGridErrors.js" type="text/javascript"></script>
