﻿<div style="width: 50%;min-width: 350px;margin-left:auto; margin-right:auto;">
@using (Html.BeginForm("ChangePassword", "DriverApp", null, FormMethod.Post, new { @data_ajax = "false" }))
{
    @Html.ValidationSummary()

    <ul data-role="listview" data-inset="true">
        <li data-role="list-divider">Change Password (test page)</li>
        <li data-role="header">Please enter your user name and old | new passwords.</li>
        <li data-role="fieldcontain">
            @Html.Label("UserName")
            @Html.TextBox("UserName")            
        </li>

        <li data-role="fieldcontain">
            @Html.Label("OldPassword")
            @Html.Password("OldPassword")
        </li>

        <li data-role="fieldcontain">
            @Html.Label("NewPassword")
            @Html.Password("NewPassword")
        </li>

        <li>
            <input type="submit" value="Change Password" />
        </li>
    </ul>
}
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}