﻿@using DispatchCrude.Core;
@model DispatchCrude.Models.DCGroup

@Html.Hidden("GroupID", (Guid)ViewBag.GroupID)

<div class="widget">
    <div class="widget-header bordered-bottom bordered-blue">
        <span class="widget-caption">Users (@Model.Users.Count())</span>
    </div>
    <div class="widget-body">
        @if (UserSupport.IsInRole("editGroups"))
        { //TODO: Still need to display this based on group level too (Admin/Mgr/Support) so user cannot add people to higher level group.
            <span>
                @Html.DropDownList("AvailableUsers", null, new { multiple = "multiple", @style = "width:80%;", placeholder = "(Select one or more users)" })
                <input type="button" class="btn btn-sm btn-blue shiny inline" onclick="addUsers('@Model.GroupId')" value="Add User(s)" />                
            </span>
            if (!string.IsNullOrEmpty(ViewBag.RemovedUser))
            {
                <div class="alert alert-warning"><i class="fa-fw fa fa-warning"></i><strong>@ViewBag.RemovedUser &nbsp;Removed from group</strong></div>
            }
            else
            {
                <div class="spacer10px"></div>
            }
        }        
        <div style="max-height:600px;overflow-y:scroll;">            
            <table class="width100 form-layout">
                <thead>
                    <tr>
                        <th>&nbsp;</th>
                        <th>Name</th>
                        <th>Username</th>
                    </tr>
                </thead>
                @foreach (var item in Model.Users.OrderBy(u => u.UserName))
                {
                    string FullName = DispatchCrude.ViewModels.DCUserViewModel.getFullName(item.UserName);
                    <tr>
                        <td align="left">
                            @if (User.IsInRole("editGroups"))
                            {
                                if (Model.GroupName == "_DCAdministrator" || Model.GroupName == "_DCSystemManager" || Model.GroupName == "_DCSupport")
                                {
                                    if (UserSupport.IsInGroup("_DCAdministrator") && (Model.GroupName == "_DCAdministrator"))
                                    {
                                        <a href="#" class="k-grid-delete"><img src="/images/delete.png" title="Remove User" class="btn btn-xs btn-default shiny" onclick="removeUser('@item.UserId', '@Model.GroupId')"></a>
                                    }

                                    if (UserSupport.IsInGroup("_DCAdministrator") && (Model.GroupName == "_DCSystemManager" || Model.GroupName == "_DCSupport"))
                                    {
                                        <a href="#" class="k-grid-delete"><img src="/images/delete.png" title="Remove User" class="btn btn-xs btn-default shiny" onclick="removeUser('@item.UserId', '@Model.GroupId')"></a>
                                    }

                                    if (UserSupport.IsInGroup("_DCSystemManager") && Model.GroupName == "_DCSupport")
                                    {
                                        <a href="#" class="k-grid-delete"><img src="/images/delete.png" title="Remove User" class="btn btn-xs btn-default shiny" onclick="removeUser('@item.UserId', '@Model.GroupId')"></a>
                                    }
                                }
                                else
                                {
                                    <a href="#" class="k-grid-delete"><img src="/images/delete.png" title="Remove User" class="btn btn-xs btn-default shiny" onclick="removeUser('@item.UserId', '@Model.GroupId')"></a>                                    
                                }
                            }
                        </td>
                        <td align="left">
                            @if (User.IsInRole("viewUsers"))
                            {
                                <a href="/DCUsers/UserProfile/@item.UserId">@FullName</a>
                            }
                            else
                            {
                                @FullName
                            }
                        </td>
                        <td align="left">
                            @if (User.IsInRole("viewUsers"))
                            {
                                <a href="/DCUsers/UserProfile/@item.UserId">(@item.UserName)</a>
                            }
                            else
                            {
                                <text>(@item.UserName)</text>
                            }
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
</div>