﻿@using DispatchCrude.Models;
@using DispatchCrude.Core;
@using DispatchCrude.Extensions;
@model DispatchCrude.Models.DCGroup

@{
    Layout = "../Shared/_Layout.cshtml";
    ViewBag.Title = "Security";
    ViewBag.Subtitle = "Group Details";
}

@Html.Hidden("GroupID", (Guid)ViewBag.GroupID) @*TODO:  Check if this is necessary since there is already a field for this on line 32*@

@if (TempData["success"] != null)
{
    <script>
        $(document).ready(function () {
            Notify('@TempData["success"]', 'top-right', '5000', 'success', 'fa-check-circle white', true);
        })
    </script>
}

@if (TempData["fail"] != null)
{
    <script>
        $(document).ready(function () {
            Notify('@TempData["fail"]', 'top-right', '10000', 'danger', 'fa-times-circle white', true);
        })
    </script>
}

<div class="tabbable">
    <ul class="nav nav-tabs" id="tabmenu">
        @NavigationHelper.PrintTabArray(NavigationHelper.TabSet_Security, "Tab_Groups")
    </ul>
    <div class="tab-content" style="overflow:hidden;">
        @*Overflow hidden makes the tab-content div expand to fit the content*@
        @using (Html.BeginForm())
        {
            @Html.HiddenFor(m => Model.GroupId) @*Hidden field so that the save function can be passed the correct groupId*@

            <div id="Profile" class="tab-pane active">
                <div class="well speedButtonContainer">
                    @NavigationHelper.PrintButtonArray(NavigationHelper.ButtonSet_TabGroups, null)
                </div>

                @if (User.IsInRole("editGroups"))
                {
                    if (Model.GroupName == "_DCAdministrator" || Model.GroupName == "_DCSystemManager" || Model.GroupName == "_DCSupport")
                    {
                        //only show save button for  sysmgr and support groups if you have the appropriate permissions
                        if (UserSupport.IsInGroup("_DCAdministrator") && (Model.GroupName == "_DCSystemManager" || Model.GroupName == "_DCSupport"))
                        {
                            <input type="submit" class="btn btn-blue shiny pull-right" value="Save Changes" />
                        }

                        if (UserSupport.IsInGroup("_DCSystemManager") && Model.GroupName == "_DCSupport")
                        {
                            <input type="submit" class="btn btn-blue shiny pull-right" value="Save Changes" />
                        }
                    }
                    else
                    {
                        <input type="submit" class="btn btn-blue shiny pull-right" value="Save Changes" />
                    }
                }

                <h1>Group: @Model.GroupName</h1>
                <div class="spacer20px"></div>
                <div class="col-md-4">
                    <div class="widget">
                        <div class="widget-header bordered-bottom bordered-blue">
                            <span class="widget-caption">Basic Information</span>
                        </div>
                        <div class="widget-body">
                            <table class="width100 form-layout">
                                <tr>
                                    <td align="right">@Html.DisplayNameFor(model => model.GroupName) &nbsp;</td>
                                    <td align="left">
                                        @if (Model.GroupName == "_DCAdministrator"
                    || Model.GroupName == "_DCSystemManager"
                    || Model.GroupName == "_DCSupport"
                    || Model.GroupName == "_Driver"
                    || Model.GroupName == "_Gauger")
                                        {
                                            @Html.TextBoxFor(model => model.GroupName, new { @class = "width100 form-control", disabled = "disabled" })
                                            @Html.ValidationMessageFor(model => model.GroupName, null, new { @class = "text-danger" })

                                            @* This is required to be able to save changes for the Support and Management groups.
                                                we discovered that disabled fields are not sent in the post. *@
                                            @Html.HiddenFor(model => model.GroupName)
                                        }
                                        else
                                        {
                                            @Html.TextBoxFor(model => model.GroupName, new { @class = "width100 form-control" })
                                            @Html.ValidationMessageFor(model => model.GroupName, null, new { @class = "text-danger" })
                                        }
                                    </td>
                                </tr>
                                <tr>
                                    <td align="right">@Html.DisplayNameFor(model => model.Description) &nbsp;</td>
                                    <td align="left">
                                        @if (Model.GroupName == "_DCAdministrator"
                    || Model.GroupName == "_DCSystemManager"
                    || Model.GroupName == "_DCSupport"
                    || Model.GroupName == "_Driver"
                    || Model.GroupName == "_Gauger")
                                        {
                                            @Html.TextAreaFor(model => model.Description, new { @class = "width100 form-control", rows = 4, disabled = "disabled" })
                                            @Html.ValidationMessageFor(model => model.Description, null, new { @class = "text-danger" })

                                            @* This is required to be able to save changes for the Support and Management groups.
                                                we discovered that disabled fields are not sent in the post. *@
                                            @Html.HiddenFor(model => model.Description)
                                        }
                                        else
                                        {
                                            @Html.TextAreaFor(model => model.Description, new { @class = "width100 form-control", rows = 4 })
                                            @Html.ValidationMessageFor(model => model.Description, null, new { @class = "text-danger" })
                                        }
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div id="UserList">
                        @Html.Partial("_GroupUsers")
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="widget">
                        <div class="widget-header bordered-bottom bordered-blue">
                            <span class="widget-caption">Group Permissions</span>
                            <span class="pull-right">
                                <label><input id="expandAll" type="checkbox" style="top:5px;" name="expandAll" />Expand All</label>&nbsp; &nbsp;
                            </span>
                        </div>
                        <div class="widget-body no-padding">
                            <div class="widget-main ">
                                <div class="panel-group accordion" id="accordion_groups">
                                    @{
                                        foreach (var category in ((IEnumerable<DCPermission>)ViewBag.AllPermissions).GroupBy(c => c.Category).OrderBy(c => c.Key))
                                        {
                                            IEnumerable<DCPermission> groupPermissions = (IEnumerable<DCPermission>)ViewBag.GroupPermissions;

                                            <div class="panel panel-default">
                                                <div class="panel-heading ">
                                                    <h4 class="panel-title">
                                                        <a class="accordion-toggle collapsed" data-toggle="collapse" href="#category_@category.Key.Replace(" ", "_")">
                                                            @category.Key
                                                        </a>
                                                    </h4>
                                                </div>
                                                <div id="category_@category.Key.Replace(" ", "_")" class="panel-collapse collapse" aria-expanded="false">
                                                    <div class="panel-body">
                                                        <div>
                                                            @foreach (var item in category)
                                                            {
                                                                var selected = groupPermissions.Any(p => p.RoleId == item.RoleId);
                                                                <div class="row">
                                                                    <div class="col-md-3 col-sm-4 col-xs-12">
                                                                        @(string.IsNullOrEmpty(item.FriendlyName) ? item.RoleName : item.FriendlyName)
                                                                    </div>
                                                                    <div class="col-md-6 col-sm-4 col-xs-12">
                                                                        @(string.IsNullOrEmpty(item.Description) ? Html.Raw("<i style='color:#bbb;'>No description provided</i>") : Html.Raw(item.Description))
                                                                    </div>
                                                                    <div class="col-md-3 col-sm-4 col-xs-12">
                                                                        <label style="float:right;margin:0px 40px 0px auto;">
                                                                            <input class="checkbox-slider slider-icon yesno colored-blue" type="checkbox" checked="@selected" value="@item.RoleId" name="SelectedPermissions">
                                                                            <span class="text"></span>
                                                                        </label>
                                                                    </div>
                                                                </div>
                                                            }
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                                        }
    </div>
</div>

<script>
    // Expand and collapse all permission categories (activated by checkbox)
    document.getElementById("expandAll").onclick = function () {
        //If the user wants to collapse all sections
        if (this.checked == false) {
            //Collapse any divs that are not already collapsed
            $(".panel-collapse").collapse('hide')
        }
        else //If the user wants to expand all sections
        {
            //Expand any divs that are not already expanded
            $(".panel-collapse").collapse('show');
        }
    };

    //Initializes "fancy" multi-selecte dropdown for adding users to a group
    $("#AvailableUsers").select2();

    //Add users to the group on this page (AJAX)
    function addUsers(groupId) {
        debugger;
        $.ajax({
            cache: false,
            type: "POST",
            url: "/DCGroups/addUsersToGroup/",
            data: {
                "Usernames": $("#AvailableUsers").val(),
                "GroupId": groupId,
            },
        })
        .done(function (result) {
            // return the html from the partial view but updated with the new users included
            $("#UserList").html(result);
            $("#AvailableUsers").select2();
        });
    };

    //Remove user from the group
    function removeUser(userId, groupId) {
        if (confirm("Remove user from group?"))
        {
            debugger;
            $.ajax({
                cache: false,
                type: "POST",
                url: "/DCGroups/removeUserFromGroup/",
                data: {
                    "userId": userId,
                    "groupId": groupId
                },
            })
            .done(function (result) {
                // return the html from the partial view but updated with the removed use excluded
                $("#UserList").html(result);
                $("#AvailableUsers").select2();
            });
        }
    };
</script>