﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Custom Data";
    ViewBag.Subtitle = "Custom Data Fields";
}
@using DispatchCrude.Core;
@using DispatchCrude.Extensions;

<style>
    /* required to ensure the buttons pre-format are too large to fit the table cell, which causes a big, and annoying flicker */
    .k-button-icontext {
        padding-left: 0px !important;
        padding-right: 0px !important;
        min-width: 24px !important;
        width: 24px !important;
    }
</style>
@Html.AntiForgeryToken()
<div class="tabbable TabRepaint">
    <ul class="nav nav-tabs" id="tabmenu">
        @NavigationHelper.PrintTabArray(NavigationHelper.TabSet_CustomData, "Tab_CustomFields")
    </ul>
    <div class="tab-content">
        <div class="tab-pane in active">
            <ul class="gridErrorList NullValidator"></ul>
            <div class="fillParentVertical">
                <div id="grid" style="height: 800px;"></div>
            </div>
        </div>
    </div>
</div>

<script src="~/scripts/kendoGridErrors.js"></script>
<script>
    var baseUrl = "/objectfield/",
        objects = retrieveJSON(baseUrl + "objects"),
        fieldTypes = retrieveJSON(baseUrl + "fieldTypes"),
        allowNulls = retrieveJSON(baseUrl + "allowNulls");

    // startup script
    $(function () {
        debugger;
        var dataSource = createGridDataSource();
        configureGrid(dataSource);
        customKendoGridButtons();
    });

    function createGridDataSource() {
        return new kendo.data.DataSource({
            transport: {
                read: baseUrl + "read",
                update: { type: "POST", headers: verificationTokenHeader(), url: baseUrl + "update", dataType: "json" },
                destroy: { type: "POST", headers: verificationTokenHeader(), url: baseUrl + "delete", dataType: "json" },
                create: { type: "POST", headers: verificationTokenHeader(), url: baseUrl + "update", dataType: "json" },
                parameterMap: function (options, operation) {
                    if (operation !== "read") {
                        return options.models[0];
                    }
                },
            },
            batch: true,
            schema: {
                data: "Data",
                errors: "Errors",
                model: {
                    id: "ID",
                    fields: {
                        ID: { editable: false, defaultValue: 0 },
                        ObjectDefID: {
                            type: "number",
                            validation: {
                                // the only way I could figure out how to make this a require field
                                custom: function (input) {
                                    // TELERIK: WHY IS THIS CALLED FOR OTHER FIELDS??
                                    if (input.attr("data-bind") === "value:ObjectDefID") {
                                        input.attr("data-custom-msg", "Object must be selected");
                                        return input.val() > 0;
                                    }
                                    return true;
                                }
                            }
                        },
                        Name: { validation: { required: true } },
                        FieldName: { },
                        ObjectFieldTypeID: {
                            type: "number",
                            validation: {
                                // the only way I could figure out how to make this a require field
                                custom: function (input) {
                                    // TELERIK: WHY IS THIS CALLED FOR OTHER FIELDS??
                                    if (input.attr("data-bind") === "value:ObjectFieldTypeID") {
                                        input.attr("data-custom-msg", "Field Type must be selected");
                                        return input.val() > 0;
                                    }
                                    return true;
                                }
                            }
                        },
                        DefaultValue: { },
                        ReadOnly: { type: "boolean", defaultValue: false },
                        AllowNullID: {
                            type: "number",
                            defaultValue: 1,
                            validation: {
                                // the only way I could figure out how to make this a require field
                                custom: function (input) {
                                    // TELERIK: WHY IS THIS CALLED FOR OTHER FIELDS??
                                    if (input.attr("data-bind") === "value:AllowNullID") {
                                        input.attr("data-custom-msg", "Allow Null value must be selected");
                                        return input.val() > 0;
                                    }
                                    return true;
                                }
                            }
                        },
                        IsKey: { type: "boolean", defaultValue: false },
                        IsCustom: { editable: false, type: "boolean", defaultValue: true },
                    }
                }
            },
            serverSorting: false,
            error: onDSErrors,
            pageSize: @Settings.DefaultPageSize,
        });
    }
    function configureGrid(dataSource) {
        $("#grid").kendoGrid({
            dataSource: dataSource
            , pageable: {
                refresh: true,
                pageSizes: true,
                buttonCount: 5,
            }
            , toolbar: [{ name: "create", text: "&nbsp;" }]
            ,filterable: true
            ,editable: "inline"
            ,sortable: { mode: "multiple", allowUnsort: true }
            ,resizable: true
            ,scrollable: true
            ,columns: [
                { command: [{name: "edit", text:{edit: "Edit", update: "Save", cancel: "Cancel"} }, "destroy"], title: "&nbsp;", width: "42px" },
                { field: "ID", editable: "false", width: "45px" },
                { field: "ObjectDefID", title: "Object", width: "150px", editor: objectEditor, template: "#=findObject(ObjectDefID)#", },
                { field: "Name", title: "Name", width: "150px" },
                { field: "ObjectFieldTypeID", title: "Field Type", width: "140px", editor: fieldTypeEditor, template: "#=findFieldType(ObjectFieldTypeID)#", },
                { field: "AllowNullID", title: "Allow Null?", width: "75px", editor: allowNullEditor, template: "#=findAllowNull(AllowNullID)#", },
                { field: "IsCustom", title: "Custom?", width: "45px", filterable: false, template: "#= checkboxTemplate('IsCustom', IsCustom)#" },
            ]
            , dataBound: customKendoGridButtons
            , edit: customKendoInlineButtons
            , cancel: grid_cancel
            , error: onDSErrors
    })
    }

    function grid_cancel() {
        clearKendoValidationErrors($(".gridErrorList"));
        customKendoGridButtons_Delay();
    }
    function isArray(obj) {
        return obj.constructor === Array;
    };
    function intNumberEditor(container, options) {
        $('<input id="txt' + options.field + '" data-bind="value:' + options.field + '" />')
        .appendTo(container)
        .kendoNumericTextBox({ format: "#", min: 0, max: 23 });
    };
    function objectEditor(container, options) {
        // don't allow editing of this attribute for LOCKED object fields
        var disabled = options.model != null && options.model.get("Locked") ? "disabled='disabled'" : "";
        $('<input id="ddlObject" required data-value-field="ID" data-text-field="Name" data-bind="value:' + options.field + '" ' + disabled + '/>')
        .appendTo(container)
        .kendoDropDownList({
            autoBind: false,
            optionLabel: "(Select)",
            valuePrimitive: true,
            dataSource: new kendo.data.DataSource({ type: "json", data: objects }),
        });
    };
    function fieldTypeEditor(container, options) {
        // don't allow editing of this attribute for LOCKED object fields
        var disabled = options.model != null && options.model.get("Locked") ? "disabled='disabled'" : "";
        $('<input id="ddlFieldType" required data-value-field="ID" data-text-field="Name" data-bind="value:' + options.field + '" ' + disabled + '/>')
        .appendTo(container)
        .kendoDropDownList({
            autoBind: false,
            optionLabel: "(Select)",
            valuePrimitive: true,
            dataSource: new kendo.data.DataSource({ type: "json", data: fieldTypes }),
        });
    };
    function allowNullEditor(container, options) {
        $('<input id="ddlAllowNull" required data-value-field="ID" data-text-field="Name" disabled="disabled" data-bind="value:' + options.field + '" />')
        .appendTo(container)
        .kendoDropDownList({
            autoBind: false,
            optionLabel: "(Select)",
            valuePrimitive: true,
            dataSource: new kendo.data.DataSource({ type: "json", data: allowNulls }),
        });
    };
    function checkboxTemplate(name, checked) {
        //debugger;
        return '<input name="' + name + '" type="checkbox" ' + (checked ? 'checked="checked" ' : ' ') + 'disabled="disabled" >';
    };
    function findObject(id) {
        return arrayFindValueByKey(objects, id);
    };
    function findFieldType(id) {
        return arrayFindValueByKey(fieldTypes, id);
    };
    function findAllowNull(id) {
        return arrayFindValueByKey(allowNulls, id);
    };

</script>
