﻿@model IEnumerable<DispatchCrude.Models.DriverComplianceType>
@using DispatchCrude.Core;
@using DispatchCrude.Extensions;

@{
    ViewBag.Title = "Compliance";
    ViewBag.SubTitle = "Driver Compliance Types";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="tabbable TabRepaint">
    <ul class="nav nav-tabs" id="tabmenu">
        @NavigationHelper.PrintTabArray(NavigationHelper.TabSet_Compliance, "Tab_DriverDocs")
    </ul>
    <div class="tab-content">
        <div class="tab-pane in active">
            <div class="well speedButtonContainer">
                @NavigationHelper.PrintButtonArray(NavigationHelper.ButtonSet_DriverDocs, "Button_ComplianceTypes")
            </div>
            @(Html.Kendo().Grid(Model)
                .Name("grid")
                .DataSource(ds => ds
                    .Ajax()
                    .Filter(filter => filter.Add(model => model.Active).IsEqualTo(true))
                    .Model(model => model.Id(m => m.ID))
                    .PageSize(Settings.DefaultPageSize)
                    .Sort(sort => {
                        if (Request.QueryString.Keys.Count == 0)
                        {
                            sort.Add("DriverComplianceCategory.Name").Ascending();
                            sort.Add("Name").Ascending();
                        }
                    }) // Initial Sort
                    .Create(create => create.Action("Create", "DriverComplianceTypes"))
                    .Read(read => read.Action("Read", "DriverComplianceTypes"))
                    .Update(update => update.Action("Update", "DriverComplianceTypes"))
                    .Destroy(update => update.Action("Delete", "DriverComplianceTypes"))
                    .Events(events => { events.Error("onDSErrors"); events.RequestEnd("onDSRequestEnd"); })
                )
                .Excel(excel => excel
                    .AllPages(true)
                    .FileName("DriverComplianceTypes.xlsx")
                    .Filterable(true)
                )
                .HtmlAttributes(new { style = "height:800px;", @class = "MVCGridRepaint" })
                .ToolBar(command =>
                {
                    if (User.IsInRole("createDriverComplianceTypes")) command.Create().Text("");
                    command.Excel();
                })
                .Editable(ed => { ed.Mode(GridEditMode.PopUp).TemplateName("Popup_DriverComplianceType"); ed.DisplayDeleteConfirmation(false); })
                .Events(e => e.Edit("onEdit"))  //This is required for conditional changing of the popup (like "create" or "edit" in the window title)
                .Pageable(pager => pager
                    .PageSizes(Settings.MvcGridPageSizes)
                    .Refresh(true)
                )
                .Sortable()
                .Scrollable()
                .Filterable(filterable => filterable
                    .Extra(true)   //This extended "filterable" section of code makes the contains filter the default string filter for these grids
                    .Operators(operators => operators
                        .ForString(str => str
                            .Clear()
                            .Contains("Contains")
                            .DoesNotContain("Does not contain")
                            .StartsWith("Starts with")
                            .EndsWith("Ends with")
                            .IsEqualTo("Is equal to")
                            .IsNotEqualTo("Is not equal to")
                        )
                    )
                )
                .Resizable(resizable => resizable.Columns(true))
                .Columns(columns =>
                {
                    columns.Template(@<text></text>).ClientTemplate("#= rowCommandsUndelete(data) #").Title("&nbsp;").Width(100);
                    columns.Bound(model => model.Active)
                        .Title("Active?")
                        .ClientTemplate("#= ActiveState(data.Active) #")
                        .Width(85);
                    columns.Bound(model => model.Name)
                        .Width(300);
                    columns.Bound(model => model.DriverComplianceCategory.Name)
                        .Title("Category")
                        .ClientTemplate("# if (data.DriverComplianceCategory != null) {# #=data.DriverComplianceCategory.Name# #} #")
                        .Width(120);
                    columns.Bound(model => model.IsSystem)
                        .ClientTemplate("#= ActiveState(data.IsSystem) #")
                        .Width(120);
                    columns.Bound(model => model.IsRequired)
                        .ClientTemplate("#= ActiveState(data.IsRequired) #")
                        .Width(120);
                    columns.Bound(model => model.RequiresDocument)
                        .Title("Requires Doc?")
                        .ClientTemplate("#= ActiveState(data.RequiresDocument) #")
                        .Width(130);
                    columns.Bound(model => model.ExpirationLength)
                        .Width(200);
                    columns.Bound(model => model.CreateDate)
                        .Width(200);
                    columns.Bound(model => model.CreatedByUser)
                        .Width(175);
                    columns.Bound(model => model.LastChangeDate)
                        .Width(200);
                    columns.Bound(model => model.LastChangedByUser)
                        .Width(200);
                    columns.Bound(model => model.DeleteDate)
                        .Width(200);
                    columns.Bound(model => model.DeletedByUser)
                        .Width(200);
                })
            )

            @*These inputs are required for create/edit/deactivate permissions functionality*@
            <input id="allowCreate" type="hidden" value="@UserSupport.Allow.Create.OnPage("DriverComplianceTypes")" />
            <input id="allowEdit" type="hidden" value="@UserSupport.Allow.Edit.OnPage("DriverComplianceTypes")" />
            <input id="allowDelete" type="hidden" value="@UserSupport.Allow.Delete.OnPage("DriverComplianceTypes")" />
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        // customKendoGridButtons() fixes the look of the add new button and
        // excel export button that were not addressed directly in the grid above
        customKendoGridButtons();
    });

    function onEdit(e) {
        //If the model sent to the popup is not new (is an existing record),
        //find and remove the dropdowns for origin and destination.
        //Otherwise, for new records find and remove the disableld textboxes for
        //origin and destination (this is called from the grid edit event above)
        if (e.model.isNew()) {
            //Do create mode stuff:
            $(".k-window-title").html("Create"); // Change the window title to create
        }
        else {
            //Do edit mode stuff:
            if (e.model.IsSystem) {
                $("#Name").attr("readonly", true);
                $("#Name").addClass("k-state-disabled");
            }
        }
    }
</script>

@* These scripts need to be included on every Kendo MVC grid page. They include extra "default" grid functions *@
<script src="~/scripts/kendoExcelExportHelper.js?ver=2.1" type="text/javascript"></script>
<script src="~/scripts/kendoGridErrors.js" type="text/javascript"></script>