﻿@model IEnumerable<Terminal>
@using DispatchCrude.Core;
@using DispatchCrude.Models;
@using DispatchCrude.Extensions;

@{
    ViewBag.Title = "Locations";
    ViewBag.SubTitle = "Terminals";
}

<div class="tabbable TabRepaint">
    <ul class="nav nav-tabs" id="tabmenu">
        @NavigationHelper.PrintTabArray(NavigationHelper.TabSet_Locations, "Tab_Terminals")
    </ul>

    <div class="tab-content">
        <div class="tab-pane in active">

            @(Html.Kendo().Grid(Model)
                .Name("grid")
                .DataSource(ds => ds
                    .Ajax()
                    .Filter(filter =>
                    {
                        filter.Add(d => d.Active).IsEqualTo(true);
                        //If a Terminal was specified in the incoming url add a filter for that record
                        if (ViewBag.TerminalName != null) { filter.Add(m => m.Name).IsEqualTo(ViewBag.TerminalName); }
                    })
                    .Model(model => { model.Id(m => m.ID); })
                    .PageSize(Settings.DefaultPageSize)
                    .Sort(sort => { if (Request.QueryString.Keys.Count == 0) { sort.Add("Name").Ascending(); } }) // Initial Sort
                    .Create(create => create.Action("Create", "Terminals"))
                    .Read(read => read.Action("Read", "Terminals"))
                    .Update(update => update.Action("Update", "Terminals"))
                    .Destroy(update => update.Action("Delete", "Terminals"))
                    .Events(events => { events.Error("onDSErrors"); events.RequestEnd("onDSRequestEnd"); })
                )
                .Excel(excel => excel
                    .AllPages(true)
                    .FileName("Terminals.xlsx")
                    .Filterable(true)
                )
                .HtmlAttributes(new { style = "height:800px;", @class = "MVCGridRepaint" })
                .ToolBar(command =>
                {
                    if (User.IsInRole("createTerminals")) command.Create().Text("");  //Read only if user does not have create permission
                    command.Excel();
                })
                .Editable(ed => { ed.Mode(GridEditMode.PopUp).TemplateName("Popup_Terminal"); ed.DisplayDeleteConfirmation(false); })
                .Events(e =>
                {
                    e.ExcelExport("kendoGridExportHelper.ExcelExport");  // This calls Kevin's custom excel functionality
                    e.Edit("onPopupEdit");  //This is required for conditional changing of the popup (like "create" or "edit" in the window title)
                })
                .Pageable(pager => pager
                    .PageSizes(Settings.MvcGridPageSizes)
                    .Refresh(true)
                )
                .Sortable()
                .Scrollable()
                .Filterable(filterable => filterable
                    .Extra(true)   //This extended "filterable" section of code makes the contains filter the default string filter for these grids
                    .Operators(operators => operators
                        .ForString(str => str
                            .Clear()
                            .Contains("Contains")
                            .DoesNotContain("Does not contain")
                            .StartsWith("Starts with")
                            .EndsWith("Ends with")
                            .IsEqualTo("Is equal to")
                            .IsNotEqualTo("Is not equal to")
                        )
                    )
                )
                .Resizable(resizable => resizable.Columns(true))
                .Columns(columns =>
                {
                columns.Template(@<text></text>).ClientTemplate("#= rowCommandsUndelete(data) #").Title("&nbsp;").Width(100);
                    columns.Bound(m => m.Active)
                        .Title("Active?")
                        .ClientTemplate("#= ActiveState(data.Active) #")
                        .Width(85);
                    columns.Bound(m => m.Name)
                        .Width(250);
                    columns.Bound(m => m.Address)
                        .Width(200);
                    columns.Bound(m => m.City)
                        .Width(200);
                    columns.Bound(m => m.State.Abbreviation)
                        .Title("State")
                        .ClientTemplate("#= drillToValue(data, 'State.Abbreviation') #")
                        .Width(85);
                    columns.Bound(m => m.Zip)
                        .Width(85);
                    columns.Bound(m => m.OfficePhone)
                        .ClientTemplate("#if(data.OfficePhone != null){# #=FormatUSAPhoneNumber(data.OfficePhone, true)# #}#")
                        .Width(175);
                    columns.Bound(m => m.GPS.TextFormat)
                        .Title("GPS")
                        .ClientTemplate("#= ellipseDivDrill(data, 'GPS.LinkFormat') #")
                        .Width(175);
                    columns.Bound(m => m.CreateDate)
                        .Width(200);
                    columns.Bound(m => m.CreatedByUser)
                        .Width(175);
                    columns.Bound(m => m.LastChangeDate)
                        .Width(200);
                    columns.Bound(m => m.LastChangedByUser)
                        .Width(200);
                    columns.Bound(m => m.DeleteDate)
                        .Width(200);
                    columns.Bound(m => m.DeletedByUser)
                        .Width(200);
                })
            )

            @*These inputs are required for create/edit/deactivate permissions functionality*@
            <input id="allowCreate" type="hidden" value="@UserSupport.Allow.Create.OnPage("Terminals")" />
            <input id="allowEdit" type="hidden" value="@UserSupport.Allow.Edit.OnPage("Terminals")" />
            <input id="allowDelete" type="hidden" value="@UserSupport.Allow.Delete.OnPage("Terminals")" />
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        // customKendoGridButtons() fixes the look of the add new button and
        // excel export button that were not addressed directly in the grid above
        customKendoGridButtons();
    });
</script>

@* These scripts need to be included on every Kendo MVC grid page. They include extra "default" grid functions *@
<script src="~/scripts/kendoExcelExportHelper.js?ver=2.1" type="text/javascript"></script>
<script src="~/scripts/kendoGridErrors.js" type="text/javascript"></script>