﻿@using DispatchCrude.Models;

@model CarrierCompliance

@*These hidden fields are required for updating to work properly*@
@Html.HiddenFor(model => model.ID)
@Html.HiddenFor(model => model.Deleted)

@* NOTE: This script section must be at the top of the page for the pop-up to function properly. It cannot be moved to the bottom of the page. *@
<script>
    $(function () {
        /* Use DC style buttons instead of default Kendo buttons - NOTE: you can't use the inline comment syntax here
        (TELERIK seems to "minify" the text so everything following becomes a comment) */
        customKendoPopupButtons();
    });

    /* this function must be defined before it is referenced so this script block needs to be at the top of the file */
    function onUpload(e) {
        /* since the upload is not "bound" to the model, we need to manually inform kendo that the data is changed (dirty)
        so hitting "Save" will submit to the server */
        var grid = $("#grid").data("kendoGrid");
        var id = $("#ID").val();
        grid.dataSource.get(id).dirty = true;
    };    

    function filterCarrierComplianceTypeID() {
        return {
            CarrierID: $("#CarrierID").val()
        };
    }

    /* Set the required field star for the expiration date and document fields based upon the selcted type */
    $("#CarrierComplianceTypeID").on("change", function () { getTypeRequirements(); });

    /* Clear the compliance type requirements when the carrier changes */
    $("#CarrierID").on("change", function () { clearTypeRequirements(); });
</script>
<style>
    div.popup-editor-container {
        width: 500px;
    }
</style>
<div class="popup-editor-container">
    <div class="popup-editor-column">
        @Html.ValidationSummary(true)
        <ul class="gridErrors NullValidator"></ul>

        <div class="editor-label">
            <span style="color:red;">*</span>@Html.LabelFor(model => model.CarrierID)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CarrierID, new { activeOnly = false })
        </div>

        <div class="editor-label">
            <span style="color:red;">*</span>@Html.LabelFor(model => model.CarrierComplianceTypeID)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CarrierComplianceTypeID, new { activeOnly = false, Table = "CarrierComplianceType", cascade = "CarrierID" })
        </div>

        <div class="editor-label">
            <span style="color:red;">*</span>@Html.LabelFor(model => model.DocumentDate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DocumentDate)
        </div>

        <div class="editor-label">
            <span id="expDateStar" style="color:red;" hidden="hidden">*</span>@Html.LabelFor(model => model.ExpirationDate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ExpirationDate)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Notes)
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.Notes, new { style = "width:235px;height:40px" })
        </div>

        <div class="editor-label">
            <span id="docReqStar" style="color:red;" hidden="hidden">*</span>@Html.LabelFor(model => model.Document)
        </div>
        <div class="editor-field">
            @(Html.Kendo().Upload()
                .Name("Document")
                .Multiple(false)
                .Messages(m => m.Select("Browse..."))
                .HtmlAttributes(new { accept = ".pdf, .jpg, .png, .bmp" })
                .Async(a => a.Save("SaveDocument", "CarrierCompliance").AutoUpload(true))
                .Events(e => e.Upload("onUpload"))
            )
        </div>
    </div>
</div>