﻿@model IEnumerable<DispatchCrude.Models.Order>
@{ 
    string oicon = "https://maps.google.com/mapfiles/ms/icons/blue-dot.png";
    string dicon = "https://maps.google.com/mapfiles/ms/icons/yellow-dot.png";
}
<ul class="list-group">
@foreach (var item in Model)
{
    string Driver = (item.Driver == null) ? "" : item.Driver.FullName;
    <li id="dispatch@(item.ID)" class="list-group-item orders"
            onclick="highlightOrder(@(item.ID))"
            data-id=@item.ID
            data-ordernum=@item.OrderNum
            data-driverid=@(item.DriverID ?? 0)
            data-driver="@(Driver.Replace("\"", ""))"
            data-origin="@(item.Origin.Name.Replace("\"", ""))"
            data-olat=@(item.Origin.LAT ?? "0")
            data-olon=@(item.Origin.LON ?? "0")
            data-dest="@(item.Destination.Name.Replace("\"", ""))"
            data-dlat=@(item.Destination.LAT ?? "0")
            data-dlon=@(item.Destination.LON ?? "0")>
        <div>
            <h5>
                <strong>@(item.OrderNum)</strong>
                <span class="pull-right label label-info">@(item.Status.Name)</span>
            </h5>
        </div>

        <div>
            <img class="mapicon" src="@oicon">
            @item.Origin.Name 
            @if (item.Origin.LAT == null || item.Origin.LON == null)
            {
                <a href="/Site/TableMaint/Origins.aspx?id=@item.OriginID"><span class="label label-warning" data-toggle="tooltip" title="Needs GPS"><i class="fa fa-warning"></i></span></a>
            }
        </div>
        <div>
            <i class="fa fa-arrow-right"></i>
            <img class="mapicon" src="@dicon">
            @item.Destination.Name
            @if (item.Destination.LAT == null || item.Destination.LON == null)
            {
                <a href="/Site/TableMaint/Destinations.aspx?id=@item.DestinationID"><span class="label label-warning" data-toggle="tooltip" title="Needs GPS"><i class="fa fa-warning"></i></span></a>
            }
        </div>

        @if (item.DispatchConfirmNum != null)
        {
            <div>
                Shipper PO: #@item.DispatchConfirmNum
            </div>
        }
        @if (item.Driver != null)
        {
            <div>
                Driver: @item.Driver.FullName
            </div>
        }
        <div class="addlinfo">
            <div>
                Carrier: @(item.Carrier == null ? "" : item.Carrier.Name)
            </div>
            <div>
                Due Date: @(item.DueDate.ToString("d"))  @if (item.PastDue) { <span class="label label-danger"><b>!</b></span> }
            </div>
            <div>
                Priority: @(item.Priority.PriorityNum)
            </div>
        </div>
    </li>
}
</ul>

<script>
    var activeOrder = null;
    var activeOrderNum = null;
    var activeDriverID = null;
    var activeDriver = null;

    function highlightOrder(id)
    {
        activeOrder = id;
        activeOrderNum = $("#dispatch"+id).data("ordernum");
        activeDriverID = $("#dispatch" + id).data("driverid");
        activeDriver = $("#dispatch" + id).data("driver");
        orig = $("#dispatch" + id).data("origin");
        olat = $("#dispatch" + id).data("olat");
        olon = $("#dispatch" + id).data("olon");
        dest = $("#dispatch" + id).data("dest");
        dlat = $("#dispatch" + id).data("dlat");
        dlon = $("#dispatch" + id).data("dlon");

        // highlight record set class to active (clear others first)
        $(".orders").removeClass("active")
        $("#dispatch" + id).addClass("active")

        // show additional information (clear others first)
        $(".orders").children('.addlinfo').hide();
        $("#dispatch" + id).children('.addlinfo').show()

        if (originMarker != null)
            originMarker.setMap(null); // clear origin marker
        if (destMarker != null)
            destMarker.setMap(null); // clear destination marker

        if (olat == 0 || olon == 0 || dlat == 0 || dlon == 0)
        {
            Notify("No route for this order.  Please click on the icon next to the origin and/or destination to update.",
                        "top-right", "5000", "warning", "fa-warning", true);
            directionsDisplay.setMap(null); // clear route from map
        }
        else
        {
            // graph route
            Route(olat, olon, dlat, dlon);

            // add origin marker
            originMarker = new google.maps.Marker({
                position: new google.maps.LatLng(olat, olon),
                title: "Origin",
                icon: '@oicon',
                map: map,
            });
            var oWindow = new google.maps.InfoWindow({
                content: '<div>Origin: ' + orig + '</div>'
            });
            google.maps.event.addListener(originMarker, 'click', function () {
                oWindow.open(map, originMarker);
            });
            oWindow.open(map, originMarker);

            // add destination marker
            destMarker = new google.maps.Marker({
                position: new google.maps.LatLng(dlat, dlon),
                title: "Destination",
                icon: '@dicon',
                map: map,
            });
            var dWindow = new google.maps.InfoWindow({
                content: '<div>Destination: ' + dest + '</div>'
            });
            google.maps.event.addListener(destMarker, 'click', function () {
                dWindow.open(map, destMarker);
            });
            dWindow.open(map, destMarker);

            // map.setCenter(originMarker.getPosition()); // center at origin NOT WORKING

            for (var n in drivers)
            {
                refreshDriverPopup(n, olat, olon);
            }
        }
    }

    // Dispatch saved
    @if (TempData["success"] != null)
    { <text>Notify("@(TempData["success"])", "top-right", "0", "success", "fa-check", true);</text> }
    @if (TempData["error"] != null)
    { <text>Notify("@(TempData["error"])", "top-right", "0", "danger", "fa-warning", true);</text> }
</script>
