﻿@model IEnumerable<DispatchCrude.Models.Order>
@using DispatchCrude.Models;
@using DispatchCrude.Core;

@{ 
    decimal prevLat = ViewBag.lat;
    decimal prevLon = ViewBag.lon;
    int driverscore = ViewBag.driverscore;
    bool fromTerminal = ViewBag.fromTerminal;
}
<ul class="list-inline driverloads" style="width:100%;height:100px;overflow:auto;overflow-y:hidden;margin-bottom:0px;border-left:1px #808080 solid; white-space:nowrap;" 
    @(driverscore > 0 ? Html.Raw("ondrop=\"dispatch(event)\" ondragover=\"allowDrop(event)\"") : Html.Raw(""))>
@foreach (var item in Model)
{
    string Driver = (item.Driver == null) ? "" : item.Driver.FullName.Replace("'", "");
    int traveltime = (item.Route != null) ? Math.Max(item.Route.getECOT(),150) : 150; // pad to at least 150 for card spacing
    string travelicon = fromTerminal ? "fa-home" : "fa-road";
    string traveltitle = fromTerminal ? "From terminal" : "Deadhead miles";
    string bgcolor = (item.StatusID == (int)OrderStatus.STATUS.Delivered || item.StatusID == (int)OrderStatus.STATUS.Audited) ? "background-color:#a0d2a1;" : ""; // show delivered orders in green

    int deadheadtime = 60;
    string deadheadtime_label = "xx";
    if (item.StatusID == (int)OrderStatus.STATUS.PickedUp || item.StatusID == (int)OrderStatus.STATUS.Delivered || item.StatusID == (int)OrderStatus.STATUS.Audited)
    {
        deadheadtime = 0;
    }
    else if (prevLat != 0 && prevLon != 0 && item.Origin.LAT != null && item.Origin.LON != null)
    {
        // distance from previous order 
        deadheadtime = (int)LocationHelper.getMiles(prevLat, prevLon, decimal.Parse(item.Origin.LAT), decimal.Parse(item.Origin.LON));
        deadheadtime_label = deadheadtime.ToString() + " mi";
        if (deadheadtime < 50)
        {
            deadheadtime_label = deadheadtime.ToString(); // crop "mi" off label
        }
        if (deadheadtime < 25 && deadheadtime > 2)
        {
            deadheadtime = 25; // default min size, anything less than two miles will be considered 'on site'
        }
    }



    <li id="order@(item.ID)"
        @if (item.StatusID == (int)OrderStatus.STATUS.PickedUp) { <text> class="list-group-item order locked" </text> }
        else if (item.StatusID == (int)OrderStatus.STATUS.Delivered || item.StatusID == (int)OrderStatus.STATUS.Audited) { <text> class="list-group-item order locked delivered" </text> }
        else if (!User.IsInRole("editDispatchBoard")) { <text> class="list-group-item order locked" </text> }
        else if (item.StatusID == (int)OrderStatus.STATUS.Dispatched) { <text> class="list-group-item order unaccepted" draggable="true" ondragstart="drag(event)" </text> }
        else { <text> class="list-group-item order" draggable="true" ondragstart="drag(event)" </text> }
        style="width: @(traveltime)px;height:100%;position:relative;margin-left:@(deadheadtime)px;@(bgcolor)"
            data-id=@(item.ID)
            data-driver=@(item.DriverID )
            data-duedate=@(item.DueDate.ToString("yyyyMMdd"))
            data-priority=@(item.Priority.PriorityNum)
            data-ecot=@(item.Route.getECOT())
            data-olat=@(item.Origin.LAT ?? "0")
            data-olon=@(item.Origin.LON ?? "0")
            data-dlat=@(item.Destination.LAT ?? "0")
            data-dlon=@(item.Destination.LON ?? "0")>
        
        @if (item.StatusID == (int)OrderStatus.STATUS.PickedUp || item.StatusID == (int)OrderStatus.STATUS.Delivered || item.StatusID == (int)OrderStatus.STATUS.Audited) {
            <span class="badge bg-danger badge-upper-right"> <i class="fa fa-lock"></i></span>
            <div class="traveltime text-muted text-center" style="position:absolute;left:0px;bottom:20px;"></div>
            <div class="returntrip text-muted text-center" style="position:absolute;right:0px;bottom:20px;"></div>
        }
        else
        {
            @*<div class="traveltime text-muted text-center" style="background:black;position:absolute;left:-@(deadheadtime/2 + 25)px;bottom:20px;">*@
            <div class="traveltime text-muted text-center" style="top:0px;position:absolute;width:@(deadheadtime+4)px;height:100%;left:-@(deadheadtime+4)px;padding-top:30px;">
                @if (deadheadtime > 2) // don't show traveltimes that are close enough to be considered onsite (within 2 miles)
                {
                    <i class="fa @travelicon" title="@traveltitle"></i><br>
                    <text>&sim;@(deadheadtime_label)</text>
                }
            </div>
            <div class="returntrip text-muted text-center" style="top:0px;position:absolute;width:0px;height:100%;right:0px;padding-top:30px;"></div>
        }
        <div class="details">
            <div>
                <strong>@(item.OrderNum)</strong>
                <span class="pull-right label label-info">@(item.Status.Name)</span>
            </div>

            <div style="overflow:hidden;text-overflow:ellipsis">
                <span title="@item.Origin.Name">@item.Origin.Name @*(@item.Origin.LAT, @item.Origin.LON)*@</span>
            </div>
            <div style="overflow:hidden;text-overflow:ellipsis">
                <i class="fa fa-arrow-right"></i>
                <span title="@item.Destination.Name">@item.Destination.Name @*(@item.Destination.LAT, @item.Destination.LON)*@</span>
            </div>

            <div>
                @item.DueDate.ToString("M/d") @if (item.PastDue) { <span class="label label-danger"><b>!</b></span> }
                #@item.Priority.PriorityNum
                ECOT @DateHelper.TimeFromMinutes(@item.Route.getECOT())
            </div>
        </div>
    </li>
    prevLat = decimal.Parse(item.Destination.LAT ?? "0");
    prevLon = decimal.Parse(item.Destination.LON ?? "0");
    fromTerminal = false; @* applies to first order only *@
}
</ul>
