﻿@model DispatchCrude.Models.Order

@{ 
    bool editable = User.IsInRole("editOrders");
}

<table class="table table-condensed table-striped">
    <tr>
        @if (editable)
        {
            <th></th>
            <th>Image</th>
        }
    </tr>
    
    @* Origin Arrive *@
@if (ViewBag.Filter == "" || ViewBag.Filter == "ORIGIN")
{
    <tr>
        @if (Model.OriginArrivePhoto != null)
        {
            if (editable)
            {
                <td>
                    <a href="@Url.Action("AddPhoto", new { id = Model.ID, type = "OriginArrive" })" class="btn btn-xs btn-default shiny" title="Edit">
                        <img src="~/images/edit.png" />
                    </a>
                </td>
            }
            <td>
                <a href="@Url.Action("showPhoto", new { id = Model.OriginArrivePhoto.ID })">
                    Origin Arrive
                    <span class="glyphicon glyphicon-picture" />
                </a>
            </td>
        }
        else
        {
            if (editable)
            {
                <td>
                    <a href="@Url.Action("AddPhoto", new { id = Model.ID, type = "OriginArrive" })" class="btn btn-xs btn-default shiny" title="Add">
                        <span class="glyphicon glyphicon-plus" />
                    </a>
                </td>
            }
            <td>Origin Arrive</td>
        }
    </tr>

    @* Origin *@
    <tr>
        @if (Model.OriginPhoto != null)
        {
            if (editable)
            {
                <td>
                    <a href="@Url.Action("AddPhoto", new { id = Model.ID, type = "Origin" })" class="btn btn-xs btn-default shiny" title="Edit">
                        <img src="~/images/edit.png" />
                    </a>
                </td>
            }
            <td>
                <a href="@Url.Action("showPhoto", new { id = Model.OriginPhoto.ID })">
                    Origin (BOL)
                    <span class="glyphicon glyphicon-picture" />
                </a>
            </td>
        }
        else
        {
            if (editable)
            {
                <td>
                    <a href="@Url.Action("AddPhoto", new { id = Model.ID, type = "Origin" })" class="btn btn-xs btn-default shiny" title="Add">
                        <span class="glyphicon glyphicon-plus" />
                    </a>
                </td>
            }
            <td>Origin (BOL)</td>
        }
    </tr>

    @* Origin 2 *@
    <tr>
        @if (Model.OriginPhoto2 != null)
        {
            if (editable)
            {
                <td>
                    <a href="@Url.Action("AddPhoto", new { id = Model.ID, type = "Origin2" })" class="btn btn-xs btn-default shiny" title="Edit">
                        <img src="~/images/edit.png" />
                    </a>
                </td>
            }
            <td>
                <a href="@Url.Action("showPhoto", new { id = Model.OriginPhoto2.ID })">
                    Origin #2
                    <span class="glyphicon glyphicon-picture" />
                </a>
            </td>
        }
        else
        {
            if (editable)
            {
                <td>
                    <a href="@Url.Action("AddPhoto", new { id = Model.ID, type = "Origin2" })" class="btn btn-xs btn-default shiny" title="Add">
                        <span class="glyphicon glyphicon-plus" />
                    </a>
                </td>
            }
            <td>Origin #2</td>
        }
    </tr>

    @* Origin Depart *@
    <tr>
        @if (Model.OriginDepartPhoto != null)
        {
            if (editable)
            {
                <td>
                    <a href="@Url.Action("AddPhoto", new { id = Model.ID, type = "OriginDepart" })" class="btn btn-xs btn-default shiny" title="Edit">
                        <img src="~/images/edit.png" />
                    </a>
                </td>
            }
            <td>
                <a href="@Url.Action("showPhoto", new { id = Model.OriginDepartPhoto.ID })">
                    Origin Depart
                    <span class="glyphicon glyphicon-picture" />
                </a>
            </td>
        }
        else
        {
            if (editable)
            {
                <td>
                    <a href="@Url.Action("AddPhoto", new { id = Model.ID, type = "OriginDepart" })" class="btn btn-xs btn-default shiny" title="Add">
                        <span class="glyphicon glyphicon-plus" />
                    </a>
                </td>
            }
            <td>Origin Depart</td>
        }
    </tr>

    @* Reject *@
    <tr>
        @if (Model.RejectPhoto != null)
        {
            if (editable)
            {
                <td>
                    <a href="@Url.Action("AddPhoto", new { id = Model.ID, type = "Reject" })" class="btn btn-xs btn-default shiny" title="Edit">
                        <img src="~/images/edit.png" />
                    </a>
                </td>
            }
            <td>
                <a href="@Url.Action("showPhoto", new { id = Model.RejectPhoto.ID })">
                    Reject
                    <span class="glyphicon glyphicon-picture" />
                </a>
            </td>
        }
        else
        {
            if (editable)
            {
                <td>
                    <a href="@Url.Action("AddPhoto", new { id = Model.ID, type = "Reject" })" class="btn btn-xs btn-default shiny" title="Add">
                        <span class="glyphicon glyphicon-plus" />
                    </a>
                </td>
            }
            <td>Reject</td>
        }
    </tr>
}

@if (ViewBag.Filter == "" || ViewBag.Filter == "DESTINATION")
{
    @* Destination Arrive *@
    <tr>
        @if (Model.DestArrivePhoto != null)
        {
            if (editable)
            {
                <td>
                    <a href="@Url.Action("AddPhoto", new { id = Model.ID, type = "DestArrive" })" class="btn btn-xs btn-default shiny" title="Edit">
                        <img src="~/images/edit.png" />
                    </a>
                </td>
            }
            <td>
                <a href="@Url.Action("showPhoto", new { id = Model.DestArrivePhoto.ID })">
                    Destination Arrive
                    <span class="glyphicon glyphicon-picture" />
                </a>
            </td>
        }
        else
        {
            if (editable)
            {
                <td>
                    <a href="@Url.Action("AddPhoto", new { id = Model.ID, type = "DestArrive" })" class="btn btn-xs btn-default shiny" title="Add">
                        <span class="glyphicon glyphicon-plus" />
                    </a>
                </td>
            }
            <td>Destination Arrive</td>
        }
    </tr>

    @* Destination *@
    <tr>
        @if (Model.DestinationPhoto != null)
        {
            if (editable)
            {
                <td>
                    <a href="@Url.Action("AddPhoto", new { id = Model.ID, type = "Destination" })" class="btn btn-xs btn-default shiny" title="Edit">
                        <img src="~/images/edit.png" />
                    </a>
                </td>
            }
            <td>
                <a href="@Url.Action("showPhoto", new { id = Model.DestinationPhoto.ID })">
                    Destination (BOL)
                    <span class="glyphicon glyphicon-picture" />
                </a>
            </td>
        }
        else
        {
            if (editable)
            {
                <td>
                    <a href="@Url.Action("AddPhoto", new { id = Model.ID, type = "Destination" })" class="btn btn-xs btn-default shiny" title="Add">
                        <span class="glyphicon glyphicon-plus" />
                    </a>
                </td>
            }
            <td>Destination (BOL)</td>
        }
    </tr>

    @* Destination 2 *@
    <tr>
        @if (Model.DestinationPhoto2 != null)
        {
            if (editable)
            {
                <td>
                    <a href="@Url.Action("AddPhoto", new { id = Model.ID, type = "Destination2" })" class="btn btn-xs btn-default shiny" title="Edit">
                        <img src="~/images/edit.png" />
                    </a>
                </td>
            }
            <td>
                <a href="@Url.Action("showPhoto", new { id = Model.DestinationPhoto2.ID })">
                    Destination #2
                    <span class="glyphicon glyphicon-picture" />
                </a>
            </td>
        }
        else
        {
            if (editable)
            {
                <td>
                    <a href="@Url.Action("AddPhoto", new { id = Model.ID, type = "Destination2" })" class="btn btn-xs btn-default shiny" title="Add">
                        <span class="glyphicon glyphicon-plus" />
                    </a>
                </td>
            }
            <td>Destination #2</td>
        }
    </tr>

    @* Destination Depart *@
    <tr>
        @if (Model.DestDepartPhoto != null)
        {
            if (editable)
            {
                <td>
                    <a href="@Url.Action("AddPhoto", new { id = Model.ID, type = "DestDepart" })" class="btn btn-xs btn-default shiny" title="Edit">
                        <img src="~/images/edit.png" />
                    </a>
                </td>
            }
            <td>
                <a href="@Url.Action("showPhoto", new { id = Model.DestDepartPhoto.ID })">
                    Destination Depart
                    <span class="glyphicon glyphicon-picture" />
                </a>
            </td>
        }
        else
        {
            if (editable)
            {
                <td>
                    <a href="@Url.Action("AddPhoto", new { id = Model.ID, type = "DestDepart" })" class="btn btn-xs btn-default shiny" title="Add">
                        <span class="glyphicon glyphicon-plus" />
                    </a>
                </td>
            }
            <td>Destination Depart</td>
        }
    </tr>
}
</table>



