﻿@model DispatchCrude.Models.OrderPhoto
@{
    ViewBag.Title = "Add Photo";
    ViewBag.Subtitle = "Order #" + @ViewBag.OrderNum;
}

@using (Html.BeginForm("AddPhoto", "Orders", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(false)
    @Html.Hidden("OrderID", (object)ViewBag.OrderID)
    @Html.Hidden("PhotoTypeID", (object)ViewBag.PhotoTypeID)
    @Html.Hidden("OriginID", (object)ViewBag.OriginID)
    @Html.Hidden("DestinationID", (object)ViewBag.DestinationID)

    <div class="well with-header inline-block">
        <div class="header bordered-blue">Add @ViewBag.PhotoType Photo</div>
        <div class="editor-field">
            <input type="file" name="Upload">
            <div class="spacer20px"></div>
        </div>
        <p>
            <input type="submit" value="Save" class="btn btn-blue shiny" />
        </p>
    </div>
}

@*What does this do?*@
<script type="text/javascript">
    $(function () {
        debugger;
        $('#FormMain').attr('action', '/Orders/AddPhoto');
        $('#FormMain').attr('enctype', 'multipart/form-data');
    });
</script>
