﻿@model DispatchCrude.Models.Order
@using DispatchCrude.Models;
@using DispatchCrude.Core;
@using System.Data;
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
	<title>
		DispatchCrude.com - eBOL - Order @Model.OrderNum
	</title>	
    @Html.EmbedCss("~/styles/bol/bolstyle.css")
</head>
<body>
<div id="pagewrap">
  <div id="printsafe">
  	<div id="header">
  		<img id="headerimg" src="@Model.Customer.BOLHeaderImageSrc" />
  	</div>
    <br />	
    <!-- BEGIN TICKET TYPE -->
    @if (Model.AuditNotes != null)
    {
        <div id="ticket-type">@Model.TicketType.Name.ToUpper() TICKET - CORRECTION</div>
    }
    else
    { 
        <div id="ticket-type">@Model.TicketType.Name.ToUpper() TICKET</div>
    }
    <!-- END TICKET TYPE -->
	<!-- BEGIN ORDER INFORMATION -->
    <table>
      <tr>
        <!-- Row 1 Column 1 -->
        <td>
          <div class="ticket_col_1">DATE:&nbsp;</div>@String.Format("{0:M/d/yyyy}", Model.OrderDate)
        </td>
        <!-- Row 1 Column 2 -->
        <td>
        @if (Model.TicketTypeID != 9)  //Mineral Run
        {
          <div class="ticket_col_2">@(DispatchCrude.Core.DispatchCrudeHelper.IsEstimatedVolume(Model.TicketTypeID) ? "EST GOV:" : "GOV:")&nbsp;
          </div>if(Model.OriginGrossUnits != null && Model.OriginGrossUnits > 0){@String.Format("{0:#,##0.000} {1}", Model.OriginGrossUnits, Model.Origin.UOM.Abbrev)}
        }
        else
        {
            // This may be desired by a customer eventually so it's just commented out for now.
          @*<div class="ticket_col_2">GROSS WEIGHT:&nbsp;
          </div>if(Model.OriginGrossUnits != null && Model.ActiveTicket(1).WeightGrossUnits > 0){@String.Format("{0:#,#0} {1}", Model.ActiveTicket(1).WeightGrossUnits, Model.Origin.UOM.Abbrev)}*@
        }
        </td>
      </tr>
      <tr>
        <!-- Row 2 Column 1 -->
        <td>
          <div class="ticket_col_1">CARRIER ORDER #:&nbsp;</div>@Model.OrderNum
        </td>
        <!-- Row 2 Column 2 -->
        <td>
        @if (Model.TicketTypeID != 9)
        { 
          <div class="ticket_col_2">@(DispatchCrude.Core.DispatchCrudeHelper.IsEstimatedVolume(Model.TicketTypeID) ? "EST GSV:" : "GSV:")&nbsp;
          </div>if(Model.OriginGrossStdUnits != null && Model.OriginGrossStdUnits > 0){@String.Format("{0:#,#0.000} {1}", Model.OriginGrossStdUnits, Model.Origin.UOM.Abbrev)}
        }
        else
        {
            //Do not display GSV for Mineral Run
        }
        </td>
      </tr>
      <tr>
        <!-- Row 3 Column 1 -->
        <td>
          <div class="ticket_col_1">SHIPPER PO #:&nbsp;</div>@Model.DispatchConfirmNum
        </td>
        <!-- Row 3 Column 2 -->
        <td>        
        @if (Model.TicketTypeID != 9) //Mineral Run
        {
            <div class="ticket_col_2">@(DispatchCrude.Core.DispatchCrudeHelper.IsEstimatedVolume(Model.TicketTypeID) ? "EST NSV:" : "NSV:")&nbsp;
            </div>if(Model.OriginNetUnits != null && Model.OriginNetUnits > 0){@String.Format("{0:#,#0.000} {1}", Model.OriginNetUnits, Model.Origin.UOM.Abbrev)}
        }
        else
        {
            <div class="ticket_col_2">NET WEIGHT:&nbsp;
            </div>if(Model.OriginWeightNetUnits != null && Model.ActiveTicket(1).WeightNetUnits > 0){@String.Format("{0:#,#0} {1}", Model.OriginWeightNetUnits, Model.Origin.UOM.Abbrev)}
        }
        </td>
      </tr>
      <tr>
        <!-- Row 4 Column 1 -->
        <td>
          <div class="ticket_col_1">PRODUCT:&nbsp;</div>@Model.Product.Name
        </td>
        <!-- Row 4 Column 2 -->
        <td>
          <div class="ticket_col_2">AUTHORITY:&nbsp;</div>@Model.Carrier.Authority
        </td>
      </tr>
	  <tr>
        <!-- Row 5 Column 1 -->
        <td>
          <div class="ticket_col_1">DRIVER:&nbsp;</div>@(Model.OrderTransfer == null ? Model.Driver.FullName : Model.OrderTransfer.OriginDriver.FullName)<div class="tab">DRIVER #:&nbsp;</div>@(Model.Driver.IDNumber)
        </td>
        <!-- Row 5 Column 2 -->
        <td>
          <div class="ticket_col_2">TRUCK:&nbsp;</div>@(Model.OrderTransfer == null ? Model.Truck.IDNumber : Model.OrderTransfer.OriginTruck.IDNumber) @if (Model.Truck.MeterType != null){<div class="tab">METER TYPE:&nbsp;</div>@Model.Truck.MeterType}
        </td>
      </tr>
	  <tr>
        <!-- Row 6 Column 1 -->
        <td>
          @if (Equals(Model.ChainUp,true) || Equals(Model.DestChainUp, true))
          {
            <div class="ticket_col_1">ORIGIN CHAIN-UP?:&nbsp;</div>@(Equals(Model.ChainUp,true) ? "Yes" : "No")
            <div class="tab">DESTINATION CHAIN-UP?:&nbsp;</div>@(Equals(Model.DestChainUp, true) ? "Yes" : "No")
          }
        </td>
        <!-- Row 6 Column 2 -->
        <td>
          <div class="ticket_col_2">TRAILER:&nbsp;</div>@Model.Trailer.IDNumber @if (Model.Trailer.MeterType != null){<div class="tab">METER TYPE:&nbsp;</div>@Model.Trailer.MeterType}
        </td>
      </tr>
    </table>
	<!-- END ORDER INFORMATION -->
   	<hr/>
   	<!-- BEGIN PICKUP INFORMATION -->
    <table>
      <tr>
        <!-- Row 1 Column 1 -->
        <td>
          <div class="ticket_col_1">ORIGIN:&nbsp;</div>@Model.Origin.Name
        </td>
        <!-- Row 1 Column 2 -->
        <td>
            @if (Model.TicketTypeID == 9) //Mineral Run
            {
    
            }
            else
            { 
                <div class="ticket_col_2">OPERATOR:&nbsp;</div>@(Model.Operator == null ? "" : Model.Operator.Name)
            }
        </td>
      </tr>
      <tr>
        <!-- Row 2 Column 1 -->
        <td>
          @if (Model.TicketTypeID == 9) //Mineral Run
            {

            }
            else
            {
                <div class="ticket_col_1">LEASE #:&nbsp;</div>@Model.Origin.LeaseNum<div class="tab">STATION:&nbsp;</div>@Model.Origin.Station
            }
        </td>
        <!-- Row 2 Column 2 -->
        <td>
          <div class="ticket_col_2">PRODUCER:&nbsp;</div>@(Model.Producer == null ? "" : Model.Producer.Name)
        </td>
      </tr>
      <tr>
        <!-- Row 3 Column 1 -->
        <td>
          @if (Model.TicketTypeID == 9) //Mineral Run
            {

            }
            else
            {
                <div class="ticket_col_1">API:&nbsp;</div>@Model.Origin.WellAPI <br />
            }

            @if (Model.Origin.NDM != null){<div class="tab">BLM Info:&nbsp;</div>@Model.Origin.NDM} @if (Model.Origin.CA != null){<br /><div class="tab">CA:&nbsp;</div>@Model.Origin.CA}
        </td>
        <!-- Row 3 Column 2 -->
        <td>
          <div class="ticket_col_2">SHIPPER:&nbsp;</div>@Model.Customer.Name
        </td>
      </tr>
      <tr>
        <!-- Row 4 Column 1 -->
        <td>
          <div class="ticket_col_1">@(DispatchCrude.Core.DispatchCrudeHelper.Equals(Model.TicketType.Name.ToUpper(),"CAN METER RUN") ? "LSD:" : "LEGAL DESC:")&nbsp;</div>@Model.Origin.LegalDescription @if (Model.Origin.NDICFileNum != null){<div class="tab">NDIC:&nbsp;</div>@Model.Origin.NDICFileNum} @if (DispatchCrude.Core.DispatchCrudeHelper.Equals(Model.Rejected, true)){<div class="tab">REJECTED?:&nbsp;</div>@(DispatchCrude.Core.DispatchCrudeHelper.Equals(Model.Rejected,true) ? "Yes" : "No")}
        </td>
        <!-- Row 4 Column 2 -->
        <td>
          <div class="ticket_col_2">STATE/PROVINCE:&nbsp;</div>@Model.Origin.State.FullName
        
            @if (Model.TicketTypeID == 9) //Mineral Run
            {

            }
            else
            {
                <div class="tab">COUNTY:&nbsp;</div>@Model.Origin.County
            }
        </td>
      </tr>
      <tr>
        <!-- Row 5 Column 1 -->
        <td>
          <div class="ticket_col_1">REJECT NOTES:&nbsp;</div>@(Model.RejectReason == null ? "" : Model.RejectReason.NumDesc)  @(Model.RejectNotes == null ? "" : Model.RejectNotes)
        </td>
        <!-- Row 5 Column 2 -->
        <td>
          <div class="ticket_col_2">ARRIVE:&nbsp;</div>@String.Format("{0:M/d/yyyy hh:mm tt}", Model.OriginArriveTime)
        </td>
      </tr>
	  <tr>
        <!-- Row 6 Column 1 -->
        <td>
          <div class="ticket_col_1">WAIT NOTES:&nbsp;</div>@(Model.OriginWaitReason == null ? "" : Model.OriginWaitReason.NumDesc) <br/> @(Model.OriginWaitNotes == null ? "" : Model.OriginWaitNotes)
        </td>
        <!-- Row 6 Column 2 -->
        <td>
          <div class="ticket_col_2">DEPART:&nbsp;</div>@String.Format("{0:M/d/yyyy hh:mm tt}", Model.OriginDepartTime)
        </td>
      </tr>
      <tr>
        <!-- Row 7 Column 1 -->
        <td colspan="2">
          <div class="ticket_col_1">DRIVER NOTES:&nbsp;</div>@Model.PickupDriverNotes
        </td>
      </tr>
    </table>
	<!-- END PICKUP INFORMATION -->
    <!-- TICKETS (first 4)-->
    @foreach (var ticket in Model.ActiveTickets.OrderBy(t => t.CarrierTicketNum).Take(4))
    {
        <table class="ticket">
            <tr>
                <!-- Row 1 Column 1 -->
                <td>
                    <div class="ticket_col_1">TICKET:&nbsp;</div>@(ticket.CarrierTicketNum)<div class="tab">SHIPPER PO #:&nbsp;</div>@(ticket.DispatchConfirmNum)
                </td>
                <!-- Row 1 Column 2 -->
                <td>
                    @if (Model.TicketTypeID == 9) // Mineral Run
                    {
                        <div class="ticket_col_2">TARE WEIGHT: </div>@(String.Format("{0:#,#0} {1}", ticket.WeightTareUnits, Model.Origin.UOM.Abbrev))
                    }
                    else
                    {
                        <div class="ticket_col_2">TEMPERATURES:&nbsp;</div><div class="tab">OPEN:&nbsp;</div>@(String.Format("{0:0.0}", ticket.ProductHighTemp))@:&deg;F <div class="tab">CLOSE:&nbsp;</div>@(String.Format("{0:0.0}", ticket.ProductLowTemp))&deg;F<div class="tab">OBS.:&nbsp;</div>@(String.Format("{0:0.0}", ticket.ProductObsTemp))&deg;F
                    }
                </td>
            </tr>
            <tr>
                <!-- Row 2 Column 1 -->
                <td>
                    @if (Model.TicketTypeID == 4 || Model.TicketTypeID == 5)
                    {
                        <div class="ticket_col_1">BOL #:&nbsp;</div>@(ticket.BOLNum) if (ticket.MeterFactor != null) {<div class="tab">FACTOR:&nbsp;</div> @(ticket.MeterFactor)}
                    }
                    @if (Model.TicketTypeID == 3)
                    {
                        <div class="ticket_col_1">METER ID #:&nbsp;</div>@(ticket.OriginTankText) if (ticket.MeterFactor != null) {<div class="tab">FACTOR:&nbsp;</div> @(ticket.MeterFactor)}
                    }
                    @if (Model.TicketTypeID == 9) //Mineral Run
                    {
                        <div class="ticket_col_1">GROSS WEIGHT: </div>@(String.Format("{0:#,#0} {1}", ticket.WeightGrossUnits, Model.Origin.UOM.Abbrev))
                    }
                    else if (Model.TicketTypeID == (int)TicketType.TYPE.Propane_With_Scale)
                    {
                        <div class="ticket_col_2">SCALE TICKET: </div>@(String.Format("{0:#,#0}", ticket.ScaleTicketNum))
                    }
                    else if (Model.TicketTypeID == (int)TicketType.TYPE.Asphalt)
                    {
                        <div class="ticket_col_2">POUNDS PER GAL: </div>@(String.Format("{0:#,#0.000}", ticket.ProductObsSpecificWeight))
                    }
                    else
                    {
                        <div class="ticket_col_1">TANK #:&nbsp;</div>@(ticket.OriginTankText) if (ticket.MeterFactor != null){<<div class="tab">FACTOR:&nbsp;</div> @(ticket.MeterFactor)} if (ticket.OriginTank != null) {<div class="tab">CAPACITY: &nbsp;</div>@ticket.OriginTank.TankDescription}
                    }
                </td>
                <!-- Row 2 Column 2 -->
                <td>
                    @if (Model.TicketTypeID == 9) //Mineral Run
                    {
                        <div class="ticket_col_2">NET WEIGHT: </div>@(String.Format("{0:#,#0} {1}", ticket.WeightNetUnits, Model.Origin.UOM.Abbrev))
                    }
                    else if (Model.TicketTypeID == (int) TicketType.TYPE.Propane_With_Scale
                        || Model.TicketTypeID == (int) TicketType.TYPE.Asphalt)
                    {
                        <div class="ticket_col_2">WEIGHT: </div>
                        <div class="tab">GROSS:&nbsp;</div>@(String.Format("{0:#,#0}", ticket.WeightGrossUnits))
                        <div class="tab">TARE:&nbsp;</div>@(String.Format("{0:#,#0}", ticket.WeightTareUnits))
                        <div class="tab">NET:&nbsp;</div>@(String.Format("{0:#,#0}", ticket.WeightNetUnits))
                    }
                    else
                    {
                        <!-- Hide this for now since there is no variable available -->
                        <!-- <div class="ticket_col_2">TANK SIZE:&nbsp;</div>NO VARIABLE -->
                    }
                </td>
            </tr>

            @if (Model.TicketTypeID != 9)
            {
                <tr>
                    <!-- Row 3 Column 1 -->
                    <td>
                        @if (Model.TicketTypeID == 1 || Model.TicketTypeID == 7 || Model.TicketTypeID == 12)
                        {
                            <div class="ticket_col_1">BOTTOM (In.):&nbsp;</div>@(ticket.BottomInches == null ? "" : Convert.ToString(ticket.BottomInches) + "\" ") <div class="tab">OPEN:&nbsp;</div>@(String.Format("{0:0}", ticket.OpeningGaugeFeet) + "\' ") @(String.Format("{0:0}", ticket.OpeningGaugeInch) + "\" ") @(String.Format("{0:0}", ticket.OpeningGaugeQ) + "Q") <div class="tab">CLOSE:&nbsp;</div>@(String.Format("{0:0}", ticket.ClosingGaugeFeet) + "\' ") @(String.Format("{0:0}", ticket.ClosingGaugeInch) + "\" ") @(String.Format("{0:0}", ticket.ClosingGaugeQ) + "Q")
                        }

                        <!-- TODO: This should also be on the canada meter run ticket, just need to know the text to match against -->
                        @if (Model.TicketTypeID == 3)
                        {
                            <div class="ticket_col_1">OPEN:&nbsp;</div>@(String.Format("{0:0.00}", ticket.OpenMeterUnits))<div class="tab">CLOSE:&nbsp;</div>@(String.Format("{0:0.00}", ticket.CloseMeterUnits))
                        }
                        else if (Model.TicketTypeID == (int) TicketType.TYPE.Propane_With_Scale)
                        {
                            <div class="ticket_col_1">METER ID #:&nbsp;</div>@(ticket.OriginTankText) if (ticket.MeterFactor != null) {<div class="tab">FACTOR:&nbsp;</div> @(ticket.MeterFactor)}
                        }
                        else
                        {

                        }
                    </td>
                    <!-- Row 3 Column 2 -->
                    <td>
                        <div class="ticket_col_2">BSW%:&nbsp;</div>@(String.Format("{0:0.000}%", ticket.ProductBSW))<div class="tab">OBS GRAVITY:&nbsp;</div>@(String.Format("{0:0.00}", ticket.ProductObsGravity))<div class="tab">GRAVITY 60&deg;F:&nbsp;</div>@(String.Format("{0:0.00}", ticket.Gravity60F))
                    </td>
                </tr>
            }
            else
            {
                //Do not display row 3 for mineral run
            }

            @if (Model.TicketTypeID != 9)
            {
                <tr>
                    <!-- Row 4 Column 1 -->
                    <td>
                        <div class="ticket_col_1">SEAL OFF:&nbsp;</div>@(ticket.SealOff)<div class="tab">SEAL ON:&nbsp;</div>@(ticket.SealOn) @if (DispatchCrude.Core.DispatchCrudeHelper.Equals(ticket.Rejected, true)) {<div class="tab">REJECTED?:&nbsp;</div>@(ticket.Rejected ? "Yes" : "No")}
                    </td>
                    <!-- Row 4 Column 2 -->
                    <td>
                        <div class="ticket_col_2">@(DispatchCrude.Core.DispatchCrudeHelper.IsEstimatedVolume(Model.TicketTypeID) ? "EST GOV:" : "GOV:")&nbsp;</div>@(String.Format("{0:0.000}", ticket.GrossUnits))<div class="tab">@(DispatchCrude.Core.DispatchCrudeHelper.IsEstimatedVolume(Model.TicketTypeID) ? "EST GSV:" : "GSV:")&nbsp;</div>@(String.Format("{0:0.000}", ticket.GrossStdUnits))<div class="tab">@(DispatchCrude.Core.DispatchCrudeHelper.IsEstimatedVolume(Model.TicketTypeID) ? "EST NSV:" : "NSV:")&nbsp;</div> @(String.Format("{0:0.000}", ticket.NetUnits))
                    </td>
                </tr>
            }
            else
            {
                // Do not display row 4 for mineral run
            }
            <tr>
                <!-- Row 5 Column 1 -->
                <td colspan="2">
                    @if (DispatchCrude.Core.DispatchCrudeHelper.Equals(ticket.Rejected, true)) {<div class="ticket_col_1">REJECT NOTES:&nbsp;</div>@ticket.RejectReason  @ticket.RejectNotes}
                </td>
            </tr>
        </table>
    }
    <!-- END TICKETS -->
    <hr /> 
	<!-- BEGIN DELIVERY INFORMATION -->
    <table>
      <tr>
        <!-- Row 1 Column 1 -->
        <td>
          <div class="ticket_col_1">DESTINATION:&nbsp;</div>@Model.Destination.Name<div class="tab">STATION:&nbsp;</div>@Model.Destination.Station
        </td>
        <!-- Row 1 Column 2 -->
        <td>
          <div class="ticket_col_2">BOL #:&nbsp;</div>@Model.DestBOLNum
        </td>
      </tr>
      <tr>
        <!-- Row 2 Column 1 -->
        <td>
          <!-- Meter ID and Factor values hidden for now until we get the variables added -->
          
          @if (Model.Destination.TicketType.Name.ToUpper() == "VISUAL METER")
          {
            <!-- <div class="ticket_col_1">METER ID:&nbsp;</div> <div class="tab">FACTOR:&nbsp;</div> -->
          }
          else if (Model.Destination.TicketType.Name.ToUpper() == "BOL AVAILABLE")
          {
            <div class="ticket_col_1">API DENSITY:&nbsp;</div>@Model.DestProductGravity<div class="tab">TEMPERATURE:&nbsp;</div>@String.Format("{0:0.0}", Model.DestProductTemp)<div class="tab">BS&W:&nbsp;</div>@String.Format("{0:0.000}%", Model.DestProductBSW)
          }
          else if (Model.TicketTypeID == 9) // Mineral Run
          {
            <div class="ticket_col_1">TARE WEIGHT:&nbsp;
            </div>@(Model.DestWeightTareUnits == null ? "" : String.Format("{0:#,#0} {1}", Model.DestWeightTareUnits, Model.Destination.UOM.Abbrev))
          }
          else
          {
            <div class="ticket_col_1"></div>
          }
        </td>
        <!-- Row 2 Column 2 -->
        <td>
          <div class="ticket_col_2">ARRIVE:&nbsp;</div>@String.Format("{0:M/d/yyyy hh:mm tt}", Model.DestArriveTime)
        </td>
      </tr>
      <tr>
        <!-- Row 3 Column 1 -->
        <td>
          @if (Model.Destination.TicketType.Name.ToUpper() == "VISUAL METER")
          {
            <div class="ticket_col_1">OPEN METER:&nbsp;</div>@String.Format("{0:#0.00}", Model.DestOpenMeterUnits)<div class="tab">CLOSE METER:&nbsp;</div>@String.Format("{0:#0.00}", Model.DestCloseMeterUnits)
          }
        </td>
        <!-- Row 3 Column 2 -->
        <td>
          <div class="ticket_col_2">DEPART:&nbsp;</div>@String.Format("{0:M/d/yyyy hh:mm tt}", Model.DestDepartTime)
        </td>
      </tr>
      <tr>
        <!-- Row 4 Column 1 -->
        <td>
          <div class="ticket_col_1">WAIT NOTES:&nbsp;</div>@(Model.DestinationWaitReason == null ? "" : Model.DestinationWaitReason.NumDesc)  @(Model.DestWaitNotes == null ? "" : Model.DestWaitNotes)
        </td>
        <!-- Row 4 Column 2 -->
        <td>
            @if (Model.TicketTypeID != 9) // Mineral Run
            { 
                <div class="ticket_col_2">@(DispatchCrude.Core.DispatchCrudeHelper.IsEstimatedVolume(Model.TicketTypeID) ? "EST GOV:" : "GOV:")&nbsp;
                </div>if(Model.DestGrossUnits != null){@String.Format("{0:#,##0.000} {1}", Model.DestGrossUnits, Model.Destination.UOM.Abbrev)}            
                <div class="tab">@(DispatchCrude.Core.DispatchCrudeHelper.IsEstimatedVolume(Model.TicketTypeID) ? "EST NSV:" : "NSV:")&nbsp;
                </div>if(Model.DestNetUnits != null){@String.Format("{0:#,#0.000} {1}", Model.DestNetUnits, Model.Destination.UOM.Abbrev)}
            }
            else
            {
                <div class="ticket_col_2">GROSS WEIGHT:&nbsp;
                </div>@(Model.DestWeightGrossUnits == null ? "" : String.Format("{0:#,#0} {1}", Model.DestWeightGrossUnits, Model.Destination.UOM.Abbrev))
                <div class="tab">NET WEIGHT:&nbsp;
                </div>@(Model.DestWeightNetUnits == null ? "" : String.Format("{0:#,#0} {1}", Model.DestWeightNetUnits, Model.Destination.UOM.Abbrev))
            }
        </td>
      </tr>
	  <tr>
        <!-- Row 5 Column 1 -->
        <td>
          <div class="ticket_col_1">DRIVER NOTES:&nbsp;</div>@Model.DeliverDriverNotes
        </td>
        <!-- Row 5 Column 2 -->
        <td>
            <div class="ticket_col_2">CONSIGNEE:&nbsp;</div>@(Model.Consignee == null ? "" : Model.Consignee.Name)
        </td>
      </tr>
    </table>
	<!-- END DELIVERY INFORMATION -->	
	<!-- BEGIN REROUTE INFO -->
    @if(Model.FirstReroute != null)
    {
    <table class="reroute">
      <tr>
        <!-- Row 1 Column 1 -->
        <td>
          <div class="ticket_col_1">ORIGINAL DESTINATION:&nbsp;</div>@(Model.FirstReroute == null ? "" : Model.FirstReroute.PreviousDestination.Name)
        </td>
        <!-- Row 1 Column 2 -->
        <td>
          <div class="ticket_col_2">REROUTE NOTES:&nbsp;</div>@(Model.FirstReroute == null ? "" : Model.FirstReroute.Notes)
        </td>
      </tr>      
    </table>
    }
	<!-- END REROUTE INFO -->	
	<!-- BEGIN SIGNATURES -->
    <table>
      <tr>
        <!-- Row 1 Column 1 -->
        <td>
          <div class="ticket_col_1">ORIGIN DRIVER:</div> @(Model.OrderTransfer == null ? Model.Driver.FullName : Model.OrderTransfer.OriginDriver.FullName)
            <br/><br/><img class="signature" src="@(Model.OriginSignature == null ? "" : Model.OriginSignature.SignatureBlobSrc)"/>
        </td>
        <!-- Row 1 Column 2 -->
        <td>
          <div class="ticket_col_2">DESTINATION DRIVER:</div> @Model.Driver.FullName
            <br/><br/><img class="signature" src="@(Model.DestinationSignature == null ? "" : Model.DestinationSignature.SignatureBlobSrc)"/>
        </td>
      </tr>      
    </table>
	<!-- END SIGNATURES -->   

    <!-- START CUSTOM FIELDS -->   
    @{
    int totalRows = 0;
    foreach (DataRow row in @ViewBag.CustomFields.Rows)
        {totalRows += 1;}
    if (totalRows > 0)
    { 
    <table>
        <tr>
            <td>
                <div class="custom-field-label"><U>MISC. DETAILS</U></div>
            </td>
        </tr>
        <tr>
            <td>
                @{
                    int rowCount = 0;
                    bool isNull = false;
                    string field = "";
                    string allFields = "";
                    string value = "";
                    foreach (DataRow row in @ViewBag.CustomFields.Rows)
                    {
                        //Check for sub field syntax (Model.Field.SubField)...these fields have to be checked for null by the Field only 
                        if (row["DataField"].ToString().IndexOf(".") > 0)
                        {
                            string firstField = row["DataField"].ToString().Substring(0, row["DataField"].ToString().IndexOf("."));
                            isNull = ModelHelper.GetPropValue(firstField, Model, Model.GetType()) == null;
                        }
                        else //if no sub field syntax is found, check the field for null directly
                        {
                            isNull = ModelHelper.GetPropValue(row["DataField"].ToString(), Model, Model.GetType()) == null;
                        }
                        
                        //Set value for custom field based on the null check above
                        value = (isNull ? "N/A" : ModelHelper.GetPropValue(row["DataField"].ToString(), Model, Model.GetType()).ToString());
                        
                        //if this is not the first field in the list add a comma...
                        if (rowCount != 0)
                        {
                            field = ", <div class='custom-field-label'>" + @row["DataLabel"].ToString().ToUpper() + "</div>: " + value;
                        }
                        else
                        {
                            field = "<div class='custom-field-label'>" + @row["DataLabel"].ToString().ToUpper() + "</div>: " + value;
                        }

                        allFields += field;

                        rowCount += 1;
                    }

                    @Html.Raw(allFields)
                }                
            </td>
        </tr>
    </table>
    }}
    <!-- END CUSTOM FIELDS -->   

    <!-- START FOOTER -->   
    <div id="footer">        
        @if (Model.StatusID == 3)
        {
            <div id="deliveredstatus" style="font-weight:bold;">UNAUDITED</div>
        }
        @if (Model.AuditNotes != null)
        {
            <div id="corrections"><b>CORRECTIONS:</b> @Model.AuditNotes</div>
        }            	
		<div id="certification">
			@*@if (DispatchCrude.Core.DispatchCrudeHelper.IsEstimatedVolume(Model.TicketTypeID))  // DCWEB-1951: Per Maverick, display this footer text on all ticket types...but keep the code just in case we have to put this back ;-)
			{*@
			    <p>This is to certify that the herein-named materials are properly classified, described, packaged, marked and labeled, and are in proper condition for transportation according to the applicable regulations of the Department of Transportation, the U.S. Department of Treasury and all applicable state and local laws or regulations, and Contractor certifies the proper cargo tank supplied for shipment is a proper container for the transportation of the commodity and complies with the applicable regulations of the U.S. Department of Transportation, the U.S. Department of Treasury and all applicable state and local laws or regulations.  Crude delivered hereunder meets the applicable E.P.A. and A.S.T.M. standards for the time and place of loading.</p>
			@*}*@
		</div>    
		<hr/>
		Copyright &copy; 2013 Capital Technology Solutions, LLC. &bull;&nbsp;
		<a href="https://www.DispatchCrude.com" target="_blank">https://www.DispatchCrude.com</a> &bull; (812) 303-4357
    </div>
    <!-- END FOOTER -->   
  </div>
</div>
</body>
</html>