﻿@model DispatchCrude.Models.Order
@using DispatchCrude.Models;

@{
    ViewBag.Title = "Order Deliver";
    ViewBag.Subtitle = "#" + @ViewBag.OrderNum;
    string UOMFormat = "{0:" + ViewBag.UOMFormat + "}";
}

@if (ViewData.ModelState.Any(x => x.Value.Errors.Any()) || ViewBag.Error != null)
{
    <div class="alert alert-danger">
        <span class="glyphicon glyphicon-exclamation-sign"></span> @ViewBag.Error
        @Html.ValidationSummary(false)
    </div>
}

@{
using (Html.BeginForm())
{
    @Html.AntiForgeryToken();
    @Html.HiddenFor(m => m.ID)

    <div class="well with-header inline-block">
        <div class="header bordered-blue">Delivery Details - #@ViewBag.OrderNum</div>
        <div class="center">
            <h4>
                @ViewBag.Origin
                @if (ViewBag.OriginH2S)
                {
                    <span class="label label-danger">H2S</span>
                }
                <span class="glyphicon glyphicon-arrow-right"></span>
                @ViewBag.Destination
            </h4>
        </div>
        <div class="spacer20px"></div>
        <table>
            <tr>
                <td class="txtAlignRight">
                    @Html.LabelFor(m => m.Destination.TicketTypeID)&nbsp;&nbsp;&nbsp;&nbsp;
                </td>
                <td>
                    @ViewBag.TicketType
                    <div class="spacer10px"></div>
                </td>
            </tr>
            <tr>
                <td class="txtAlignRight">
                    @Html.LabelFor(m => m.DestArriveTime)&nbsp;&nbsp;&nbsp;&nbsp;
                </td>
                <td>
                    @Html.EditorFor(m => m.DestArriveTime, null)
                    <div class="spacer10px"></div>
                </td>
            </tr>
            <tr>
                <td class="txtAlignRight">
                    @Html.LabelFor(m => m.DestChainUp)&nbsp;&nbsp;&nbsp;&nbsp;
                </td>
                <td>
                    @Html.EditorFor(m => m.DestChainUp)
                </td>
            </tr>

            @if (ViewBag.TicketTypeID == (int)DestTicketType.TYPE.Basic
                || ViewBag.TicketTypeID == (int)DestTicketType.TYPE.Propane
                || ViewBag.TicketTypeID == (int)DestTicketType.TYPE.BOLAvailable)
            {
                <tr>
                    <td class="txtAlignRight">
                        @Html.LabelFor(m => m.DestBOLNum, "BOL #")&nbsp;&nbsp;&nbsp;&nbsp;
                    </td>
                    <td>
                        @Html.TextBoxFor(m => m.DestBOLNum, new { @class = "form-control" })
                        <div class="spacer10px"></div>
                    </td>
                </tr>
                <tr>
                    <td class="txtAlignRight">
                        @Html.LabelFor(m => m.DestGrossUnits, "Gross Vol")&nbsp;&nbsp;&nbsp;&nbsp;
                    </td>
                    <td>
                        <div class="input-group">
                            @Html.TextBoxFor(m => m.DestGrossUnits, UOMFormat, new { @class = "form-control", @type = "number", step = ViewBag.UOMStep, placeholder = ViewBag.UOMFormat })
                            <span class="input-group-addon">@ViewBag.UOM</span>                            
                        </div>
                        <div class="spacer10px"></div>
                    </td>
                </tr>
                <tr>
                    <td class="txtAlignRight">
                        @Html.LabelFor(m => m.DestNetUnits, "Net Vol")&nbsp;&nbsp;&nbsp;&nbsp;
                    </td>
                    <td>
                        <div class="input-group">
                            @Html.TextBoxFor(m => m.DestNetUnits, UOMFormat, new { @class = "form-control", @type = "number", step = ViewBag.UOMStep, placeholder = ViewBag.UOMFormat })
                            <span class="input-group-addon">@ViewBag.UOM</span>                            
                        </div>
                        <div class="spacer10px"></div>
                    </td>
                </tr>
            }
            
            @if (ViewBag.TicketTypeID == (int)DestTicketType.TYPE.VisualMeterBOL)
            {
                <tr>
                    <td class="txtAlignRight">
                        @Html.LabelFor(m => m.DestBOLNum, "BOL #")&nbsp;&nbsp;&nbsp;&nbsp;
                    </td>
                    <td>
                        @Html.TextBoxFor(m => m.DestBOLNum, new { @class = "form-control" })
                        <div class="spacer10px"></div>
                    </td>
                </tr>
            }
            
            @if (ViewBag.TicketTypeID == (int)DestTicketType.TYPE.BOLAvailable)
            {
                <tr>
                    <td class="txtAlignRight">
                        @Html.LabelFor(m => m.DestProductTemp, "Temp (F°)")&nbsp;&nbsp;&nbsp;&nbsp;
                    </td>
                    <td>
                        <div class="input-group">
                            @Html.TextBoxFor(m => m.DestProductTemp, "{0:0.0}", new { @class = "form-control", @type = "number", step = "0.1", placeholder = "0.0" })
                            <span class="input-group-addon">&deg;F</span>
                        </div>
                        <div class="spacer10px"></div>
                    </td>
                </tr>
                <tr>
                    <td class="txtAlignRight">
                        @Html.LabelFor(m => m.DestProductGravity, "API Density")&nbsp;&nbsp;&nbsp;&nbsp;
                    </td>
                    <td>
                        @Html.TextBoxFor(m => m.DestProductGravity, "{0:0.0}", new { @class = "form-control", @type = "number", step = "0.1", placeholder = "0.0" })
                        <div class="spacer10px"></div>
                    </td>
                </tr>
                <tr>
                    <td class="txtAlignRight">
                        @Html.LabelFor(m => m.DestProductBSW, "Sediment & Water %")&nbsp;&nbsp;&nbsp;&nbsp;
                    </td>
                    <td>
                        <div class="input-group">
                            @Html.TextBoxFor(m => m.DestProductBSW, "{0:0.000}", new { @class = "form-control", @type = "number", step = "0.001", placeholder = "0.000" })
                            <span class="input-group-addon">%</span>
                        </div>
                        <div class="spacer10px"></div>
                    </td>
                </tr>
            }
            
            @if (ViewBag.TicketTypeID == (int)DestTicketType.TYPE.VisualMeter || ViewBag.TicketTypeID == (int)DestTicketType.TYPE.VisualMeterBOL)
            {
                <tr>
                    <td class="txtAlignRight">
                        @Html.LabelFor(m => m.DestOpenMeterUnits, "Opening Meter")&nbsp;&nbsp;&nbsp;&nbsp;
                    </td>
                    <td>
                        @Html.TextBoxFor(m => m.DestOpenMeterUnits, UOMFormat, new { @class = "form-control", @type = "number", step = ViewBag.UOMStep, placeholder = ViewBag.UOMFormat })
                        <div class="spacer10px"></div>
                    </td>
                </tr>
                <tr>
                    <td class="txtAlignRight">
                        @Html.LabelFor(m => m.DestCloseMeterUnits, "Closing Meter")&nbsp;&nbsp;&nbsp;&nbsp;
                    </td>
                    <td>
                        @Html.TextBoxFor(m => m.DestCloseMeterUnits, UOMFormat, new { @class = "form-control", @type = "number", step = ViewBag.UOMStep, placeholder = ViewBag.UOMFormat })
                        <div class="spacer10px"></div>
                    </td>
                </tr>
                if (Model.CalculateVM() == false)
                {
                    <tr>
                        <td class="txtAlignRight">
                            @Html.LabelFor(m => m.DestGrossUnits, "Gross Vol")&nbsp;&nbsp;&nbsp;&nbsp;
                        </td>
                        <td>
                            <div class="input-group">
                                @Html.TextBoxFor(m => m.DestGrossUnits, UOMFormat, new { @class = "form-control", @type = "number", step = ViewBag.UOMStep, placeholder = ViewBag.UOMFormat })
                                <span class="input-group-addon">@ViewBag.UOM</span>
                            </div>
                            <div class="spacer10px"></div>
                        </td>
                    </tr>                    
                }

                <tr>
                    <td class="txtAlignRight">
                        @Html.LabelFor(m => m.DestNetUnits, "Net Vol")&nbsp;&nbsp;&nbsp;&nbsp;
                    </td>
                    <td>
                        <div class="input-group">
                            @Html.TextBoxFor(m => m.DestNetUnits, UOMFormat, new { @class = "form-control", @type = "number", step = ViewBag.UOMStep, placeholder = ViewBag.UOMFormat })
                            <span class="input-group-addon">@ViewBag.UOM</span>
                        </div>
                        <div class="spacer10px"></div>
                    </td>
                </tr>
            }

            @if (ViewBag.TicketTypeID == (int)DestTicketType.TYPE.Propane)
            {
                <tr>
                    <td class="txtAlignRight">
                        @Html.LabelFor(m => m.DestRailCarNum)&nbsp;&nbsp;&nbsp;&nbsp;
                    </td>
                    <td>
                        @Html.TextBoxFor(m => m.DestRailCarNum, new { @class = "form-control" })
                        <div class="spacer10px"></div>
                    </td>
                </tr>
                <tr>
                    <td class="txtAlignRight">
                        @Html.LabelFor(m => m.DestTrailerWaterCapacity)&nbsp;&nbsp;&nbsp;&nbsp;
                    </td>
                    <td>
                        @Html.TextBoxFor(m => m.DestTrailerWaterCapacity, new { @class = "form-control", @type = "number", step = "1", placeholder = "0" })
                        <div class="spacer10px"></div>
                    </td>
                </tr>
            }

            @if (ViewBag.TicketTypeID == (int)DestTicketType.TYPE.CAN_Basic)
            {
                <tr>
                    <td class="txtAlignRight">
                        @Html.LabelFor(m => m.DestBOLNum, "Delivery Receipt #")&nbsp;&nbsp;&nbsp;&nbsp;
                    </td>
                    <td>
                        @Html.TextBoxFor(m => m.DestBOLNum, new { @class = "form-control" })
                        <div class="spacer10px"></div>
                    </td>
                </tr>
                <tr>
                    <td class="txtAlignRight">
                        @Html.LabelFor(m => m.DestGrossUnits, "Actual Volume")&nbsp;&nbsp;&nbsp;&nbsp;
                    </td>
                    <td>
                        <div class="input-group">
                            @Html.TextBoxFor(m => m.DestGrossUnits, UOMFormat, new { @class = "form-control", @type = "number", step = ViewBag.UOMStep, placeholder = ViewBag.UOMFormat })
                            <span class="input-group-addon">@ViewBag.UOM</span>
                        </div>
                        <div class="spacer10px"></div>
                    </td>
                </tr>
                <tr>
                    <td class="txtAlignRight">
                        @Html.LabelFor(m => m.DestNetUnits, "Net Volume")&nbsp;&nbsp;&nbsp;&nbsp;
                    </td>
                    <td>
                        <div class="input-group">
                            @Html.TextBoxFor(m => m.DestNetUnits, UOMFormat, new { @class = "form-control", @type = "number", step = ViewBag.UOMStep, placeholder = ViewBag.UOMFormat })
                            <span class="input-group-addon">@ViewBag.UOM</span>
                        </div>
                        <div class="spacer10px"></div>
                    </td>
                </tr>
                <tr>
                    <td class="txtAlignRight">
                        @Html.LabelFor(m => m.DestProductTemp, "Temp (C°)")&nbsp;&nbsp;&nbsp;&nbsp;
                    </td>
                    <td>
                        <div class="input-group">
                            @Html.TextBoxFor(m => m.DestProductTemp, "{0:0.0}", new { @class = "form-control", @type = "number", step = "0.1", placeholder = "0.0" })
                            <span class="input-group-addon">&degC</span>
                        </div>
                        <div class="spacer10px"></div>
                    </td>
                </tr>
                <tr>
                    <td class="txtAlignRight">
                        @Html.LabelFor(m => m.DestProductGravity, "Density")&nbsp;&nbsp;&nbsp;&nbsp;
                    </td>
                    <td>
                        @Html.TextBoxFor(m => m.DestProductGravity, "{0:0.0}", new { @class = "form-control", @type = "number", step = "0.1", placeholder = "0.0" })
                        <div class="spacer10px"></div>
                    </td>
                </tr>
                <tr>
                    <td class="txtAlignRight">
                        @Html.LabelFor(m => m.DestProductBSW, "Water Cut")&nbsp;&nbsp;&nbsp;&nbsp;
                    </td>
                    <td>
                        <div class="input-group">
                            @Html.TextBoxFor(m => m.DestProductBSW, "{0:0.000}", new { @class = "form-control", @type = "number", step = "0.001", placeholder = "0.000" })
                            <span class="input-group-addon">%</span>
                        </div>
                        <div class="spacer10px"></div>
                    </td>
                </tr>
            }

            @if (ViewBag.TicketTypeID == (int)DestTicketType.TYPE.MineralRun)
            {
                <tr>
                    <td class="txtAlignRight">
                        @Html.LabelFor(m => m.DestBOLNum, "BOL #")&nbsp;&nbsp;&nbsp;&nbsp;
                    </td>
                    <td>
                        @Html.TextBoxFor(m => m.DestBOLNum, new { @class = "form-control" })
                        <div class="spacer10px"></div>
                    </td>
                </tr>
                <tr>
                    <td class="txtAlignRight">
                        @Html.LabelFor(m => m.DestWeightGrossUnits)&nbsp;&nbsp;&nbsp;&nbsp;
                    </td>
                    <td>
                        <div class="input-group">
                            @Html.TextBoxFor(m => m.DestWeightGrossUnits, UOMFormat, new { @class = "form-control", @type = "number", step = ViewBag.UOMStep, placeholder = ViewBag.UOMFormat })
                            <span class="input-group-addon">@ViewBag.UOM</span>
                        </div>
                        <div class="spacer10px"></div>
                    </td>
                </tr>
                <tr>
                    <td class="txtAlignRight">
                        @Html.LabelFor(m => m.DestWeightTareUnits)&nbsp;&nbsp;&nbsp;&nbsp;
                    </td>
                    <td>
                        <div class="input-group">
                            @Html.TextBoxFor(m => m.DestWeightTareUnits, UOMFormat, new { @class = "form-control", @type = "number", step = ViewBag.UOMStep, placeholder = ViewBag.UOMFormat })
                            <span class="input-group-addon">@ViewBag.UOM</span>
                        </div>
                        <div class="spacer10px"></div>
                    </td>
                </tr>
                <tr>
                    <td class="txtAlignRight">
                        @Html.LabelFor(m => m.DestWeightNetUnits)&nbsp;&nbsp;&nbsp;&nbsp;
                    </td>
                    <td>
                        <div class="input-group">
                            @Html.TextBoxFor(m => m.DestWeightNetUnits, UOMFormat, new { @class = "form-control", @type = "number", step = ViewBag.UOMStep, placeholder = ViewBag.UOMFormat })
                            <span class="input-group-addon">@ViewBag.UOM</span>
                        </div>
                        <div class="spacer10px"></div>
                    </td>
                </tr>
            }

            @if (ViewBag.TicketTypeID == (int)DestTicketType.TYPE.VisualMeterBOL)
            {
                <tr>
                    <td class="txtAlignRight">
                        @Html.LabelFor(m => m.DestProductTemp, "Temp")&nbsp;&nbsp;&nbsp;&nbsp;
                    </td>
                    <td>
                        <div class="input-group">
                            @Html.TextBoxFor(m => m.DestProductTemp, "{0:0.0}", new { @class = "form-control", @type = "number", step = "0.1", placeholder = "0.0" })
                            <span class="input-group-addon">&degF</span>
                        </div>
                        <div class="spacer10px"></div>
                    </td>
                </tr>
                <tr>
                    <td class="txtAlignRight">
                        @Html.LabelFor(m => m.DestProductGravity, "API Density")&nbsp;&nbsp;&nbsp;&nbsp;
                    </td>
                    <td>
                        @Html.TextBoxFor(m => m.DestProductGravity, "{0:0.0}", new { @class = "form-control", @type = "number", step = "0.1", placeholder = "0.0" })
                        <div class="spacer10px"></div>
                    </td>
                </tr>
                <tr>
                    <td class="txtAlignRight">
                        @Html.LabelFor(m => m.DestProductBSW, "BS&W")&nbsp;&nbsp;&nbsp;&nbsp;
                    </td>
                    <td>
                        <div class="input-group">
                            @Html.TextBoxFor(m => m.DestProductBSW, "{0:0.000}", new { @class = "form-control", @type = "number", step = "0.001", placeholder = "0.000" })
                            <span class="input-group-addon">%</span>
                        </div>
                        <div class="spacer10px"></div>
                    </td>
                </tr>
            }

            @if (ViewBag.TicketTypeID == (int)DestTicketType.TYPE.BOLGrossOnly)
            {
                <tr>
                    <td class="txtAlignRight">
                        @Html.LabelFor(m => m.DestBOLNum, "BOL #")&nbsp;&nbsp;&nbsp;&nbsp;
                    </td>
                    <td>
                        @Html.TextBoxFor(m => m.DestBOLNum, new { @class = "form-control" })
                        <div class="spacer10px"></div>
                    </td>
                </tr>
                <tr>
                    <td class="txtAlignRight">
                        @Html.LabelFor(m => m.DestGrossUnits, "Gross Vol")&nbsp;&nbsp;&nbsp;&nbsp;
                    </td>
                    <td>
                        <div class="input-group">
                            @Html.TextBoxFor(m => m.DestGrossUnits, UOMFormat, new { @class = "form-control", @type = "number", step = ViewBag.UOMStep, placeholder = ViewBag.UOMFormat })
                            <span class="input-group-addon">@ViewBag.UOM</span>                            
                        </div>
                        <div class="spacer10px"></div>
                    </td>
                </tr>
            }
           
            @if (ViewBag.TicketTypeID == (int)DestTicketType.TYPE.Propane_With_Scale)
            {
                <tr>
                    <td class="txtAlignRight">
                        @Html.LabelFor(m => m.DestBOLNum, "BOL #")&nbsp;&nbsp;&nbsp;&nbsp;
                    </td>
                    <td>
                        @Html.TextBoxFor(m => m.DestBOLNum, new { @class = "form-control" })
                        <div class="spacer10px"></div>
                    </td>
                </tr>
                <tr>
                    <td class="txtAlignRight">
                        @Html.LabelFor(m => m.DestGrossUnits, "Gross Vol")&nbsp;&nbsp;&nbsp;&nbsp;
                    </td>
                    <td>
                        <div class="input-group">
                            @Html.TextBoxFor(m => m.DestGrossUnits, UOMFormat, new { @class = "form-control", @type = "number", step = ViewBag.UOMStep, placeholder = ViewBag.UOMFormat })
                            <span class="input-group-addon">@ViewBag.UOM</span>
                        </div>
                        <div class="spacer10px"></div>
                    </td>
                </tr>
                <tr>
                    <td class="txtAlignRight">
                        @Html.LabelFor(m => m.DestNetUnits, "Net Vol")&nbsp;&nbsp;&nbsp;&nbsp;
                    </td>
                    <td>
                        <div class="input-group">
                            @Html.TextBoxFor(m => m.DestNetUnits, UOMFormat, new { @class = "form-control", @type = "number", step = ViewBag.UOMStep, placeholder = ViewBag.UOMFormat })
                            <span class="input-group-addon">@ViewBag.UOM</span>
                        </div>
                        <div class="spacer10px"></div>
                    </td>
                </tr>
                <tr>
                    <td class="txtAlignRight">
                        @Html.LabelFor(m => m.DestWeightGrossUnits)&nbsp;&nbsp;&nbsp;&nbsp;
                    </td>
                    <td>
                        @Html.TextBoxFor(m => m.DestWeightGrossUnits, UOMFormat, new { @class = "form-control", @type = "number", step = ViewBag.UOMStep, placeholder = ViewBag.UOMFormat })
                        <div class="spacer10px"></div>
                    </td>
                </tr>
                <tr>
                    <td class="txtAlignRight">
                        @Html.LabelFor(m => m.DestWeightTareUnits)&nbsp;&nbsp;&nbsp;&nbsp;
                    </td>
                    <td>
                        @Html.TextBoxFor(m => m.DestWeightTareUnits, UOMFormat, new { @class = "form-control", @type = "number", step = ViewBag.UOMStep, placeholder = ViewBag.UOMFormat })
                        <div class="spacer10px"></div>
                    </td>
                </tr>
                <tr>
                    <td class="txtAlignRight">
                        @Html.LabelFor(m => m.DestWeightNetUnits)&nbsp;&nbsp;&nbsp;&nbsp;
                    </td>
                    <td>
                        @Html.TextBoxFor(m => m.DestWeightNetUnits, UOMFormat, new { @class = "form-control", @type = "number", step = ViewBag.UOMStep, placeholder = ViewBag.UOMFormat })
                        <div class="spacer10px"></div>
                    </td>
                </tr>
            }

            <tr>
                <td class="txtAlignRight">
                    @Html.LabelFor(m => m.DestDepartTime, "Depart Time")&nbsp;&nbsp;&nbsp;&nbsp;
                </td>
                <td>
                    @Html.EditorFor(m => m.DestDepartTime, new { @class = "form-control timecalc" })
                    <div id="DestMinutes"></div>
                    <div class="spacer10px"></div>
                </td>
            </tr>
            <tr>
                <td class="txtAlignRight">
                    @Html.LabelFor(m => m.DestTruckMileage, "Odometer Reading")&nbsp;&nbsp;&nbsp;&nbsp;
                </td>
                <td>
                    @Html.TextBoxFor(m => m.DestTruckMileage, new { type = "number", @class = "form-control" })
                    <div class="spacer10px"></div>
                </td>
            </tr>
            <tr>
                <td class="txtAlignRight">
                    @Html.LabelFor(m => m.DestRackBay)&nbsp;&nbsp;&nbsp;&nbsp;
                </td>
                <td>
                    @Html.TextBoxFor(m => m.DestRackBay, new { @class = "form-control" })
                    <div class="spacer10px"></div>
                </td>
            </tr>
            <tr>
                <td class="txtAlignRight">
                    @Html.LabelFor(m => m.DeliverDriverNotes)&nbsp;&nbsp;&nbsp;&nbsp;
                </td>
                <td>
                    @Html.TextAreaFor(m => m.DeliverDriverNotes, new { type = "number", @class = "form-control", style = "width:450px;height:80px" })
                    <div class="spacer10px"></div>
                </td>
            </tr>
            <tr>
                <td class="txtAlignRight">
                    @Html.LabelFor(m => m.DestWaitReasonID)&nbsp;&nbsp;&nbsp;&nbsp;
                </td>
                <td>
                    @Html.DropDownList("DestWaitReasonID", null, "-- Select Wait Reason (if any) --", htmlAttributes: new { @class = "form-control" })
                    <div class="spacer10px"></div>
                </td>
            </tr>
            <tr>
                <td class="txtAlignRight">
                    @Html.LabelFor(m => m.DestWaitNotes)&nbsp;&nbsp;&nbsp;&nbsp;
                </td>
                <td>
                    @Html.TextAreaFor(m => m.DestWaitNotes, new { type = "number", @class = "form-control", style = "width:450px;height:80px" })
                    <div class="spacer10px"></div>
                </td>
            </tr>
            <tr>
                <td colspan="2" class="center">
                    <div class="spacer20px"></div>
                    <input type="submit" class="btn btn-blue shiny" value="Complete Delivery">
                    <a class="btn btn-default shiny" href="~/Orders/Details/@Model.ID">Cancel</a>
                </td>
            </tr>
        </table>
    </div>
}
}

<script type="text/javascript">
    $(function () {
        $("#DestArriveTime").change(setWaitMin);
        $("#DestArriveTime").blur(setWaitMin); // kendo datetimepikcer needs this too
        $("#DestDepartTime").change(setWaitMin);
        $("#DestDepartTime").blur(setWaitMin); // kendo datetimepicker needs this too
    });

    function setWaitMin() {
        arrive = $("#DestArriveTime").val();
        depart = $("#DestDepartTime").val();
        if (arrive && depart) {
            var wait = (new Date(depart) - new Date(arrive)) / 1000 / 60
            $("#DestMinutes").html(wait + " minutes");
        }
    }
    /*
        var ComputeMeterGrossUnits = function () {
            debugger;
            var open = $("#DestOpenMeterUnits").val() || '';
            var close = $("#DestCloseMeterUnits").val() || '';
            $("#DestGrossUnits").val(open == '' || close == '' ? 0 : Math.round((close - open) * 1000) / 1000);
        };

                // add logic to compute DestNetUnits (only valid for "VisualMeter" dest ticket types)
                if ($("#DestOpenMeterUnits").length > 0) {
                    $("#DestOpenMeterUnits").change(ComputeMeterGrossUnits);
                    $("#DestCloseMeterUnits").change(ComputeMeterGrossUnits);
                }
    */
</script>
