﻿@using DispatchCrude.ViewModels;
@using DispatchCrude.Core;
@using DispatchCrude.Extensions;
@model FilterViewModel<OrderDemurrage>
@{
    ViewBag.Title = "Reports";
    ViewBag.SubTitle = "Wait Audit Report";
}

<div class="tabbable TabRepaint">
    <ul class="nav nav-tabs" id="tabmenu">
        @NavigationHelper.PrintTabArray(NavigationHelper.TabSet_Reports, "Tab_WaitAudit")
    </ul>
    <div class="tab-content">
        <div class="tab-pane in active">
            <div class="leftpanel">
                <div class="well with-header">
                    <div class="header bordered-blue">Filters</div>
                    <div>
                        @using (Html.BeginForm("DemurrageReport", "Orders", FormMethod.Get, new { id = "filterForm", role = "form" }))
                        {
                            @Html.Hidden("grid-sort", Request.QueryString["grid-sort"])
                            @Html.Hidden("grid-group", Request.QueryString["grid-group"])
                            @Html.Hidden("grid-page", 1)
                            @Html.Hidden("grid-pageSize", Request.QueryString["grid-pageSize"] ?? Settings.DefaultPageSize.ToString())

                            <div class="form-group">
                                @Html.LabelFor(m => m.CarrierID)
                                @Html.DropDownList("CarrierID", null, "(ALL)", htmlAttributes: new { @class = "form-control input-sm" })
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(m => m.DriverID)
                                @Html.DropDownList("DriverID", null, "(ALL)", htmlAttributes: new { @class = "form-control input-sm" })
                            </div>

                            <div class="form-group">
                                @Html.Label("Limits")
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="input-group">
                                            @Html.TextBoxFor(m => m.DistanceLimit, new { @class = "form-control input-sm" })
                                            <span class="input-group-addon">mi</span>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="input-group">
                                            @Html.TextBoxFor(m => m.TimeLimit, new { @class = "form-control input-sm" })
                                            <span class="input-group-addon">min</span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.Label("Date")
                                <div class="row">
                                    <div class="col-sm-6">
                                        @Html.EditorFor(m => m.StartDate)
                                    </div>
                                    <div class="col-sm-6">
                                        @Html.EditorFor(m => m.EndDate)
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                Include orders with no billable wait
                                <div class="row">
                                    <div class="col-sm-12">
                                        @Html.EditorFor(m => m.CustomFlag, "Switch")
                                    </div>
                                </div>
                            </div>


                            <div class="row">
                                <div class="col-sm-12 text-center">
                                    <button id="filterbtn" type="submit" class="btn btn-sm btn-blue shiny">Refresh</button>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
            <div id="gridArea">
                @(Html.Kendo().Grid(Model.results)
                    .Name("grid")
                    .Columns(columns =>
                    {
                        columns.Bound(o => o.OrderNum).Title("Order #").Template(
                            @<text>
                                <a href=/Orders/Details/@item.ID>@item.OrderNum</a>
                            </text>).Width(100);
                        columns.Bound(o => o.Driver).Title("Driver").Width(200);
                        columns.Bound(o => o.OrderDate).Title("Order Date").Width(100);
                        columns.Bound(o => o.ID).Title("Issue(s)").Sortable(false).Template(
                @<text>
                        @if (item.OriginArriveEarly)
                    {
                            <div>
                                <span class="danger">
                                    <i class="fa fa-warning"></i>
                                    Driver said he/she arrived at origin @(item.OriginArriveDelta) minutes earlier than actually did
                                </span>
                            </div>
                        }
                        else if (item.OriginArriveLate)
                        {
                            <div>
                                <span class="warning">
                                    <i class="fa fa-warning"></i>
                                    Driver said he/she arrived at origin later than actually did
                                </span>
                            </div>
                        }
                        @if (item.OriginArriveTooFar)
                    {
                            <div>
                                <span class="danger">
                                    <i class="fa fa-warning"></i>
                                    Driver was  @(String.Format("{0:0}", item.OriginArriveActualDist)) miles away from origin when he/she said arrived
                                </span>
                            </div>
                        }

                        @if (item.OriginDepartEarly)
                    {
                            <div class="warning"><i class="fa fa-warning"></i>Driver said he/she left origin earlier than actually did</div>
                        }
                        else if (item.OriginDepartLate)
                        {
                            <div class="danger">
                                <i class="fa fa-warning"></i>
                                Driver said he/she left origin @(-item.OriginDepartDelta) minutes later than actually did
                            </div>
                        }
                        @if (item.OriginDepartTooFar)
                    {
                            <div>
                                <span class="danger">
                                    <i class="fa fa-warning"></i>
                                    Driver was @(String.Format("{0:0}", item.OriginDepartActualDist)) miles away from origin when he/she said departed
                                </span>
                            </div>
                        }

                        @if (item.DestArriveEarly)
                    {
                            <div>
                                <span class="danger">
                                    <i class="fa fa-warning"></i>
                                    Driver said he/she arrived at destination @(item.DestArriveDelta) minutes earlier than actually did
                                </span>
                            </div>
                        }
                        else if (item.DestArriveLate)
                        {
                            <div>
                                <span class="warning">
                                    <i class="fa fa-warning"></i>
                                    Driver said he/she arrived at destination later than actually did
                                </span>
                            </div>
                        }
                        @if (item.DestArriveTooFar)
                    {
                            <div>
                                <span class="danger">
                                    <i class="fa fa-warning"></i>
                                    Driver was @(String.Format("{0:0}", item.DestArriveActualDist)) miles away from destination when he/she said arrived
                                </span>
                            </div>
                        }

                        @if (item.DestDepartLate)
                    {
                            <div class="danger">
                                <i class="fa fa-warning"></i>
                                Driver said he/she left destination @(-item.DestDepartDelta) minutes later than actually did
                            </div>
                        }
                        else if (item.DestDepartEarly)
                        {
                            <div>
                                <span class="warning">
                                    <i class="fa fa-warning"></i>
                                    Driver said he/she left destination earlier than actually did
                                </span>
                            </div>
                        }
                        @if (item.DestDepartTooFar)
                    {
                            <div>
                                <span class="danger">
                                    <i class="fa fa-warning"></i>
                                    Driver was @(String.Format("{0:0}", item.DestDepartActualDist)) miles away from destination when he/she said departed
                                </span>
                            </div>
                        }

                    </text>);
        })
        .DetailTemplate(@<text>

                <table class="table table-condensed table-bordered">
                    <thead class="bordered-blueberry">
                        <tr>
                            <td>Event</td>
                            <td>Time (logged by driver)</td>
                            <td>Time (captured by mobile app)</td>
                            <td>Discrepancy (min)
                            <td>Distance (mi)</td>
                            <td width="400">Explanation</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Origin Arrive</td>
                            <td>@Html.DisplayFor(model => item.OriginArriveTimeUTC)</td>
                            <td>@Html.DisplayFor(model => item.OriginArriveActualTimeUTC)</td>
                            <td class="@(item.OriginArriveEarly ? " danger" : (item.OriginArriveLate ? "warning" : "" ))">@Html.DisplayFor(model => item.OriginArriveDelta)</td>
                            <td class="@(item.OriginArriveTooFar ? " danger" : "" )">@Html.DisplayFor(model => item.OriginArriveActualDist)</td>
                            <td>
                                @if (item.OriginArriveEarly)
                                {
                                    if (item.OriginArriveTooFar)
                                    {
                                        <div>
                                            <span class="warning"><i class="fa fa-warning"></i></span>
                                            The driver entered an early arrive time but did not appear to be at the origin.  It is likely he/she was on the
                                            road before updating the ticket.
                                        </div>
                                    }
                                    else
                                    {
                                        <div>
                                            The driver entered an early arrive time earlier than recorded by the mobile app.
                                            He/she appeared to be at the origin and possibly updated the arrive time before departing.
                                        </div>
                                    }
                                }
                                else if (item.OriginArriveLate)
                                {
                                    if (item.OriginArriveTooFar)
                                    {
                                        <div>
                                            <span class="warning"><i class="fa fa-warning"></i></span>
                                            The driver said he/she arrived at origin later than actually did but did not appear to be near the origin.
                                            The driver may have guessed on his arrive time before arriving at the origin.
                                        </div>
                                    }
                                    else
                                    {
                                        <div>
                                            The driver said he/she arrived at origin later than actually did, but was at or near the pickup.
                                            The driver may have begun loading before entering data, or the arrive time may have changed
                                            at some point since the pickup.
                                        </div>
                                    }
                                }
                                else if (item.OriginArriveTooFar) // too far and times match
                                {
                                    <div>
                                        <span class="danger"><i class="fa fa-warning"></i></span>
                                        The driver did not appear to be at the origin and may have been falsifying the origin arrive time.
                                        Other possible causes are that the GPS location is approximate or that the value in the origin record is not accurate.
                                    </div>
                                }
                            </td>
                        </tr>
                        <tr>
                            <td>Origin Depart</td>
                            <td>@Html.DisplayFor(model => item.OriginDepartTimeUTC)</td>
                            <td>@Html.DisplayFor(model => item.OriginDepartActualTimeUTC)</td>
                            <td class="@(item.OriginDepartLate ? " danger" : (item.OriginDepartEarly ? "warning" : "" ))">@Html.DisplayFor(model => item.OriginDepartDelta)</td>
                            <td class="@(item.OriginDepartTooFar ? " danger" : "" )">@Html.DisplayFor(model => item.OriginDepartActualDist)</td>
                            <td>
                                @if (item.OriginDepartEarly)
                                {
                                    if (item.OriginDepartTooFar)
                                    {
                                        <div>
                                            <span class="warning"><i class="fa fa-warning"></i></span>
                                            The driver entered an early depart time and did not appear to be at the origin.  It is likely he/she was on the
                                            road before updating the ticket.
                                        </div>
                                    }
                                    else
                                    {
                                        <div>
                                            <span class="warning"><i class="fa fa-warning"></i></span>
                                            The driver was at the origin when he/she entered the depart time which was earlier than recorded by the mobile app.
                                            It is possible the driver simply did not credit for full time at origin
                                        </div>
                                    }
                                }
                                else if (item.OriginDepartLate)
                                {
                                    if (item.OriginDepartTooFar)
                                    {
                                        // to test
                                        <div>
                                            <span class="danger"><i class="fa fa-warning"></i></span>
                                            The driver said he/she departed later than actually did, but was not near the origin.
                                            The driver may have forgot to enter departure or may be padding time.
                                        </div>
                                    }
                                    else
                                    {
                                        <div>
                                            <span class="danger"><i class="fa fa-warning"></i></span>
                                            The driver said he/she departed from the origin later than actually did.  It is possible that the driver was padding time.
                                        </div>
                                    }
                                }
                                else if (item.OriginDepartTooFar) // too far and times match
                                {
                                    <div>
                                        <span class="danger"><i class="fa fa-warning"></i></span>
                                        The driver did not appear to be at the origin and may have been falsifying the origin depart time.
                                        Other possible causes are that the GPS location is approximate or that the value in the origin record is not accurate.
                                    </div>
                                }
                            </td>
                        </tr>
                        <tr>
                            <td>Pickup Print</td>
                            <td></td>
                            <td>@Html.DisplayFor(model => item.OriginPickupActualTimeUTC)</td>
                            <td>@Html.DisplayFor(model => item.OriginPickupDelta)</td>
                            <td>@Html.DisplayFor(model => item.OriginPickupActualDist)</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Destination Arrive</td>
                            <td>@Html.DisplayFor(model => item.DestArriveTimeUTC)</td>
                            <td>@Html.DisplayFor(model => item.DestArriveActualTimeUTC)</td>
                            <td class="@(item.DestArriveEarly ? " danger" : (item.DestArriveLate ? "warning" : "" ))">@Html.DisplayFor(model => item.DestArriveDelta)</td>
                            <td class="@(item.DestArriveTooFar ? " danger" : "" )">@Html.DisplayFor(model => item.DestArriveActualDist)</td>
                            <td>
                                @if (item.DestArriveEarly)
                                {
                                    if (item.DestArriveTooFar)
                                    {
                                        <div>
                                            <span class="warning"><i class="fa fa-warning"></i></span>
                                            The driver entered an early arrive time but did not appear to be at the destination.  It is likely he/she was on the
                                            road before updating the ticket.
                                        </div>
                                    }
                                    else
                                    {
                                        <div>
                                            The driver entered an early arrive time much earlier than recorded by the mobile app.
                                            He/she appeared to be at the destination and possibly updated the arrive time before departing.
                                        </div>
                                    }
                                }
                                else if (item.DestArriveLate)
                                {
                                    if (item.DestArriveTooFar)
                                    {
                                        // to test
                                        <div>
                                            x2
                                            The driver said he/she arrived at origin later than actually did but did not appear to be near the delivery.
                                            The driver may have guessed on his arrive time before arriving at the destination.
                                        </div>
                                    }
                                    else
                                    {
                                        <div>
                                            The driver said he/she arrived at destination later than actually did, but was at or near the delivery.
                                            The driver may have begun unloading before entering data, or the arrive time may have changed
                                            at some point since delivery.
                                        </div>
                                    }
                                }
                                else if (item.DestArriveTooFar) // too far and times match
                                {
                                    <div>
                                        <span class="danger"><i class="fa fa-warning"></i></span>
                                        The driver did not appear to be at the destination and may have been falsifying the destination arrive time.
                                        Other possible causes are that the GPS location is approximate or that the value in the destination record is not accurate.
                                    </div>
                                }
                            </td>
                        </tr>
                        <tr>
                            <td>Destination Depart</td>
                            <td>@Html.DisplayFor(model => item.DestDepartTimeUTC)</td>
                            <td>@Html.DisplayFor(model => item.DestDepartActualTimeUTC)</td>
                            <td class="@(item.DestDepartLate ? " danger" : (item.DestDepartEarly ? "warning" : "" ))">@Html.DisplayFor(model => item.DestDepartDelta)</td>
                            <td class="@(item.DestDepartTooFar ? " danger" : "" )">@Html.DisplayFor(model => item.DestDepartActualDist)</td>
                            <td>
                                @if (item.DestDepartEarly)
                                {
                                    if (item.DestDepartTooFar)
                                    {
                                        <div>
                                            <span class="warning"><i class="fa fa-warning"></i></span>
                                            The driver entered an early depart time and did not appear to be at the destination.  It is likely he/she was on the
                                            road before updating the ticket.
                                        </div>
                                    }
                                    else
                                    {
                                        // to test
                                        <div>
                                            The driver was at the destination when he/she entered the depart time.  an Depart time much earlier than recorded by the mobile app.
                                            Possible causes or simply did not credit for full time at destination
                                        </div>
                                    }
                                }
                                else if (item.DestDepartLate)
                                {
                                    if (item.DestDepartTooFar)
                                    {
                                        <div>
                                            <span class="danger"><i class="fa fa-warning"></i></span>
                                            The driver said he/she departed later than actually did, but was not near the delivery.
                                            The driver may have forgot to enter departure or may be padding time.
                                        </div>
                                    }
                                    else
                                    {
                                        <div>
                                            <span class="danger"><i class="fa fa-warning"></i></span>
                                            Driver said he/she departed from the destination later than actually did.  It is possible that the driver was padding time.
                                        </div>
                                    }
                                }
                                else if (item.DestDepartTooFar) // too far and times match
                                {
                                    <div>
                                        <span class="danger"><i class="fa fa-warning"></i></span>
                                        The driver did not appear to be at the destination and may have been falsifying the destination depart time.
                                        Other possible causes are that the GPS location is approximate or that the value in the destination record is not accurate.
                                    </div>
                                }
                            </td>
                        </tr>
                        <tr>
                            <td>Delivery Print</td>
                            <td></td>
                            <td>@Html.DisplayFor(model => item.DestDeliverActualTimeUTC)</td>
                            <td>@Html.DisplayFor(model => item.DestDeliverDelta)</td>
                            <td>@Html.DisplayFor(model => item.DestDeliverActualDist)</td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>


            </text>)
        .Pageable(pager => pager
            .PageSizes(Settings.MvcGridPageSizes)
            .Refresh(true)
        )
        //        .Filterable()
        .Sortable()
        .Groupable()
        .HtmlAttributes(new { style = "height: 800px;", @class = "MVCGridRepaint" })
        .Scrollable()
        .DataSource(dataSource => dataSource
            .Server()
            .Model(model => model.Id(o => o.ID))
            .PageSize(Settings.DefaultPageSize)
        )
                )
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    function error_handler(e) {
        if (e.errors) {
            var message = "Errors:\n";
            $.each(e.errors, function (key, value) {
                if ('errors' in value) {
                    $.each(value.errors, function () {
                        message += this + "\n";
                    });
                }
            });
            alert(message);
        }
    };
    $(document).ready(function () {
        $(".k-datepicker").css("width", "120px");
    });
</script>
