﻿@model DispatchCrude.Models.Order
@using DispatchCrude.Extensions;
@using DispatchCrude.Core;
@using DispatchCrude.Models;
@{
    //    var tz = (DispatchCrude.Models.TimeZone) ViewBag.tz;
    ViewBag.Title = "Dispatch";
    ViewBag.Subtitle = "Order Edit - #" + Model.OrderNum;
    string OriginUOMFormat = "{0:" + ViewBag.OriginUOMFormat + "}";
    string DestUOMFormat = "{0:" + ViewBag.DestUOMFormat + "}";
    bool Merica = Settings.IsCountryUSA;
}
@*
    @ViewBag.MyTZ
    @tz.ID
    @tz.Name
    @tz.SystemName
    @tz.StandardAbbrev
    @tz.DaylightAbbrev
    @tz.StandardOffsetHours
    @tz.DaylightOffsetHours
*@



@if (TempData["success"] != null)
{
    <div class="alert alert-success">
        <span class="glyphicon glyphicon-exclamation-sign"></span> @TempData["success"]
    </div>
}
@if (TempData["message"] != null)
{
    <div class="alert alert-warning">
        <span class="glyphicon glyphicon-exclamation-sign"></span> @TempData["message"]
    </div>
}
@if (TempData["error"] != null)
{
    <div class="alert alert-danger">
        <span class="glyphicon glyphicon-exclamation-sign"></span> @TempData["error"]
    </div>
}


<div class="tabbable">
    <ul class="nav nav-tabs" id="tabmenu">        
        @NavigationHelper.PrintTabArray(NavigationHelper.TabSet_Dispatch, "Tab_EnterEdit")        
    </ul>
    <div class="tab-content">
        <div class="tab-pane in active">

            @*Begin Actions Bar*@
            <div class="well speedButtonContainer">               
                                    
                    @if ((User.IsInRole("editOrders")) && !Model.Settled && !Model.Deleted)
                    {
                        <a class="btn btn-xs btn-blue shiny" href="~/Orders/Edit/@Model.ID">
                            <span class="glyphicon glyphicon-pencil"></span> Edit
                        </a>
                        <text>&nbsp;&nbsp;&nbsp;&nbsp;</text>
                    }
                    @{
                        if (!Model.Settled)
                        {
                            if (Model.Deleted)
                            {
                                if (User.IsInRole("editOrders"))
                                {
                                    <a class="btn btn-xs btn-blue shiny" href="~/OrderUndelete/">
                                        <span class="fa fa-mail-reply"></span> Undelete
                                    </a><text>&nbsp;&nbsp;</text>
                                }
                            }
                            else
                            {
                                switch (Model.Status.Name)
                                {
                                    case "Gauger":
                                        if (User.IsInRole("editOrders"))
                                        {
                                            <button class="btn btn-xs btn-blue shiny">Gauge / Create</button>
                                        }
                                        break;

                                    case "Generated":
                                        if (User.IsInRole("editOrders"))
                                        {
                                            <a class="btn btn-xs btn-blue shiny" href="~/Site/Orders/Orders_Creation.aspx">
                                                <span class="fa fa-mail-forward"></span> Assign
                                            </a><text>&nbsp;</text>
                                            <a class="btn btn-xs btn-blue shiny" href="~/Orders/Dispatch/@Model.ID">
                                                <span class="glyphicon glyphicon-forward"></span> Dispatch
                                            </a><text>&nbsp;</text>
                                            <text>&nbsp;&nbsp;&nbsp;&nbsp;</text>
                                            <a class="btn btn-xs btn-blue shiny" href="~/Site/Orders/Orders_Creation.aspx">
                                                <span class="fa fa-close"></span> Delete
                                            </a><text>&nbsp;</text>
                                        }
                                        break;

                                    case "Assigned":
                                        if (User.IsInRole("Dispatch3P") || User.IsInRole("editOrders"))
                                        {
                                            <a class="btn btn-xs btn-blue shiny" href="~/Orders/Dispatch/@Model.ID">
                                                <span class="fa fa-mail-forward"></span> Dispatch
                                            </a><text>&nbsp;</text>
                                        }
                                        if (User.IsInRole("editOrders"))
                                        {
                                            <a class="btn btn-xs btn-blue shiny" href="~/Orders/Decline/@Model.ID">
                                                <span class="glyphicon glyphicon-thumbs-down"></span> Decline
                                            </a><text>&nbsp;</text>
                                        }
                                        break;

                                    case "Dispatched":
                                        if (User.IsInRole("editOrders"))
                                        {
                                            <a class="btn btn-xs btn-blue shiny" href="~/Orders/Decline/@Model.ID">
                                                <span class="fa fa-mail-reply"></span> Decline
                                            </a><text>&nbsp;</text>
                                            <a class="btn btn-xs btn-blue shiny" href="~/Orders/Accept/@Model.ID">
                                                <span class="fa fa-mail-forward"></span> Accept
                                            </a><text>&nbsp;</text>
                                        }
                                        if (User.IsInRole("Dispatch3P") || User.IsInRole("editOrders"))
                                        {
                                            <text>&nbsp;&nbsp;&nbsp;&nbsp;</text>
                                            <a class="btn btn-xs btn-blue shiny" href="~/Orders/Reassign/@Model.ID">
                                                <span class="glyphicon glyphicon-user"></span> Reassign
                                            </a><text>&nbsp;</text>
                                        }                                        
                                        break;

                                    case "Delivered":
                                        if (User.IsInRole("editOrders"))
                                        {
                                            if (Model.Rejected)
                                            {
                                                <a class="btn btn-xs btn-blue shiny" href="~/Orders/Unreject/@Model.ID">
                                                    <span class="fa fa-mail-reply"></span> Unreject
                                                </a><text>&nbsp;</text>
                                            }
                                            else
                                            {
                                                <a class="btn btn-xs btn-blue shiny" href="~/Orders/Undeliver/@Model.ID">
                                                    <span class="fa fa-mail-reply"></span> Edit Delivery
                                                </a><text>&nbsp;</text>
                                            }
                                            <a class="btn btn-xs btn-blue shiny" href="~/Site/Orders/Orders_Audit.aspx">
                                                <span class="fa fa-mail-forward"></span> Audit
                                            </a><text>&nbsp;</text>
                                        }
                                        break;

                                    case "Accepted":
                                        if (User.IsInRole("editOrders"))
                                        {
                                            <a class="btn btn-xs btn-blue shiny" href="~/Orders/Unaccept/@Model.ID">
                                                <span class="fa fa-mail-reply"></span> Edit Acceptance
                                            </a><text>&nbsp;</text>
                                            <a class="btn btn-xs btn-blue shiny" href="~/Orders/Pickup/@Model.ID">
                                                <span class="fa fa-mail-forward"></span> Pickup
                                            </a><text>&nbsp;</text>                                            
                                            <text>&nbsp;&nbsp;&nbsp;&nbsp;</text>
                                            <a class="btn btn-xs btn-blue shiny" href="~/Orders/Decline/@Model.ID">
                                                <span class="glyphicon glyphicon-thumbs-down"></span> Decline
                                            </a><text>&nbsp;</text>
                                            <a class="btn btn-xs btn-blue shiny" href="~/Orders/Reject/@Model.ID">
                                                <span class="glyphicon glyphicon-ban-circle"></span> Reject
                                            </a><text>&nbsp;</text>                                            
                                        }
                                        if (User.IsInRole("Dispatch3P") || User.IsInRole("editOrders"))
                                        {
                                            <a class="btn btn-xs btn-blue shiny" href="~/Orders/Reassign/@Model.ID">
                                                <span class="glyphicon glyphicon-user"></span> Reassign
                                            </a><text>&nbsp;</text>
                                        }
                                        break;

                                    case "Picked Up":
                                        if (User.IsInRole("editOrders"))
                                        {
                                            <a class="btn btn-xs btn-blue shiny" href="~/Orders/Unpickup/@Model.ID">
                                                <span class="fa fa-mail-reply"></span> Edit Pickup
                                            </a><text>&nbsp;</text>
                                            <a class="btn btn-xs btn-blue shiny" href="~/Orders/Deliver/@Model.ID">
                                                <span class="fa fa-mail-forward"></span> Deliver / Complete
                                            </a>

                                            <text>&nbsp;&nbsp;&nbsp;&nbsp;</text>
                                            if (User.IsInRole("rerouteOrders"))
                                            {
                                                <a class="btn btn-xs btn-blue shiny" href="~/Orders/Reroute/@Model.ID">
                                                    <span class="glyphicon glyphicon-transfer"></span> Reroute
                                                </a><text>&nbsp;</text>
                                            }

                                            if (User.IsInRole("transferOrders"))
                                            {
                                                if (!Model.IsTransfer)
                                                {
                                                    <a class="btn btn-xs btn-blue shiny" href="~/Orders/Transfer/@Model.ID">
                                                        <span class="glyphicon glyphicon-user"></span> Transfer
                                                    </a><text>&nbsp;</text>
                                                }
                                                else
                                                {
                                                    <a class="btn btn-xs btn-blue shiny" href="~/Orders/Untransfer/@Model.ID">
                                                        <span class="glyphicon glyphicon-user"></span> Untransfer
                                                    </a><text>&nbsp;</text>
                                                }
                                            }
                                        }
                                        break;

                                    case "Declined":
                                        if (User.IsInRole("editOrders"))
                                        {
                                            <a class="btn btn-xs btn-blue shiny" href="~/Site/Orders/Orders_Creation.aspx">
                                                <span class="fa fa-mail-forward"></span> Assign
                                            </a><text>&nbsp;</text>
                                        }
                                        break;

                                    case "Audited":
                                        if (User.IsInRole("editOrders"))
                                        {
                                            <a class="btn btn-xs btn-blue shiny" href="~/OrderUnaudit/">
                                                <span class="fa fa-mail-reply"></span> Unaudit
                                            </a><text>&nbsp;</text>

                                            <a class="btn btn-xs btn-blue shiny" href="~/Site/Orders/Orders_Approve.aspx">
                                                <span class="fa fa-check"></span> Approve
                                            </a><text>&nbsp;</text>
                                        }
                                        break;

                                    default:
                                        if (User.IsInRole("editOrders"))
                                        {
                                            <a class="btn btn-xs btn-blue shiny" href="~/Site/Orders/Orders_Creation.aspx">
                                                <span class="whitelink">Create</span>
                                            </a><text>&nbsp;</text>
                                        }
                                        break;
                                }
                            }
                        }
                    }
                
                <div class="pull-right">
                    <a class="btn btn-xs btn-blue shiny" href="~/Orders/History/@Model.ID">
                        <span class="glyphicon glyphicon-th-list"></span> View Change Log
                    </a>&nbsp;&nbsp;

                    @if (Model.DestInfoRequired())
                    {

                        <a class="btn btn-xs btn-blue shiny" href="~/Orders/Map/@Model.ID">
                            <span class="glyphicon glyphicon-road"></span> View Route Map
                        </a><text>&nbsp;&nbsp;</text>

                    }
                    @if (Model.StatusID == (int)OrderStatus.STATUS.Delivered || Model.StatusID == (int)OrderStatus.STATUS.Audited)
                    {

                        <a class="btn btn-xs btn-blue shiny" href="~/Orders/PrintBOL/@Model.ID">
                            <span class="glyphicon glyphicon-download-alt"></span> Download eBOL
                        </a><text>&nbsp;&nbsp;</text>

                    }
                    <a class="btn btn-xs btn-blue shiny" href="~/Orders/OrderList">
                        <span class="glyphicon glyphicon-list-alt"></span> Back to Order list
                    </a>
                </div>

            </div>
            @*End Actions Bar*@

            <div class="row">
                @*Begin Order Details*@
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="well with-header panel-container">
                        <div class="header panel-header bordered-blue">Order Details</div>
                        <div class="panel-body">
                            <div class="row panel-row">
                                <div class="panel-body-left-col">@Html.DisplayNameFor(model => model.StatusID):</div>
                                <div class="panel-body-right-col">@Html.DisplayFor(model => model.Status.Name) &nbsp;</div>
                            </div>
                            <div class="row panel-row">
                                <div class="panel-body-left-col">@Html.DisplayNameFor(model => model.CustomerID):</div>
                                <div class="panel-body-right-col">@Html.DisplayFor(model => model.Customer.Name)</div>
                            </div>
                            <div class="row panel-row">
                                <div class="panel-body-left-col">Shipper PO #:</div>
                                <div class="panel-body-right-col">@Html.DisplayFor(model => model.DispatchConfirmNum) &nbsp;</div>
                            </div>
                            <div class="row panel-row">
                                <div class="panel-body-left-col">@Html.DisplayNameFor(model => model.JobNumber):</div>
                                <div class="panel-body-right-col">@Html.DisplayFor(model => model.JobNumber) &nbsp;</div>
                            </div>
                            <div class="row panel-row">
                                <div class="panel-body-left-col">@Html.DisplayNameFor(model => model.Contract.ContractNumber):</div>
                                <div class="panel-body-right-col">@Html.DisplayFor(model => model.Contract.ContractNumber) &nbsp;</div>
                            </div>
                            <div class="row panel-row">
                                <div class="panel-body-left-col">Due Date:</div>
                                <div class="panel-body-right-col">
                                    @Html.DisplayFor(model => model.DueDate)
                                    @if (Model.PastDue)
                                    {
                                        <span class="label label-danger" data-toggle="tooltip" title="Overdue">&nbsp;!&nbsp;</span>
                                    } &nbsp;
                                </div>
                            </div>
                            <div class="row panel-row">
                                <div class="panel-body-left-col">@Html.DisplayNameFor(model => model.OrderDate):</div>
                                <div class="panel-body-right-col">@Html.DisplayFor(model => model.OrderDate) &nbsp;</div>
                            </div>
                            <div class="row panel-row">
                                <div class="panel-body-left-col">@Html.DisplayNameFor(model => model.PriorityID):</div>
                                <div class="panel-body-right-col">@Html.DisplayFor(model => model.Priority.PriorityNum) &nbsp;</div>
                            </div>

                            <div class="row panel-row">
                                <div class="panel-body-left-col">@Html.DisplayNameFor(model => model.CarrierID):</div>
                                <div class="panel-body-right-col">
                                    @if (User.IsInRole("viewCarrierMaintenance"))
                                    {
                                        <a href="~/Site/TableMaint/Carriers.aspx?id=@Model.CarrierID">
                                            @Html.DisplayFor(model => model.Carrier.Name)
                                        </a>
                                    }
                                    else
                                    {
                                        @Html.DisplayFor(model => model.Carrier.Name)
                                    }
                                    &nbsp;
                                </div>
                            </div>
                            <div class="row panel-row">
                                <div class="panel-body-left-col">@Html.DisplayNameFor(model => model.DriverID):</div>
                                <div class="panel-body-right-col">
                                    @if (Model.IsTransfer)
                                    {
                                        if (User.IsInRole("viewDriverMaintenance"))
                                        {
                                            <a href="~/Drivers/Details/@Model.OrderTransfer.OriginDriverID">
                                                @Html.DisplayFor(model => model.OrderTransfer.OriginDriver.FullName)
                                            </a>
                                        }
                                        else
                                        {
                                            @Html.DisplayFor(model => model.OrderTransfer.OriginDriver.FullName)
                                        }
                                        <span class="glyphicon glyphicon-arrow-right"></span>
                                    }
                                    @if (User.IsInRole("viewDriverMaintenance"))
                                    {
                                        <a href="~/Drivers/Details/@Model.DriverID">
                                            @Html.DisplayFor(model => model.Driver.FullName)
                                        </a>
                                    }
                                    else
                                    {
                                        @Html.DisplayFor(model => model.Driver.FullName)
                                    }
                                    &nbsp;
                                </div>
                            </div>
                            <div class="row panel-row">
                                <div class="panel-body-left-col">@Html.DisplayNameFor(model => model.TruckID):</div>
                                <div class="panel-body-right-col">
                                    @if (Model.IsTransfer && Model.TruckID != Model.OrderTransfer.OriginTruckID)
                                    {
                                        if (User.IsInRole("viewTrucks"))
                                        {
                                            <a href="~/Site/TableMaint/Trucks.aspx?id=@Model.OrderTransfer.OriginTruckID">
                                                @Html.DisplayFor(model => model.OrderTransfer.OriginTruck.IDNumber)
                                            </a>
                                        }
                                        else
                                        {
                                            @Html.DisplayFor(model => model.OrderTransfer.OriginTruck.IDNumber)
                                        }
                                        <span class="glyphicon glyphicon-arrow-right"></span>
                                    }
                                    @if (User.IsInRole("viewTrucks"))
                                    {
                                        <a href="~/Site/TableMaint/Trucks.aspx?id=@Model.TruckID">@Html.DisplayFor(model => model.Truck.IDNumber)</a>
                                    }
                                    else
                                    {
                                        @Html.DisplayFor(model => model.Truck.IDNumber)
                                    }
                                    &nbsp;
                                </div>
                            </div>
                            <div class="row panel-row">
                                <div class="panel-body-left-col">@Html.DisplayNameFor(model => model.TrailerID):</div>
                                <div class="panel-body-right-col">
                                    @if (User.IsInRole("viewTrailers"))
                                    {
                                        <a href="~/Site/TableMaint/Trailers.aspx?id=@Model.TrailerID">@Html.DisplayFor(model => model.Trailer.IDNumber)</a>
                                    }
                                    else
                                    {
                                        @Html.DisplayFor(model => model.Trailer.IDNumber)
                                    }
                                    &nbsp;
                                </div>
                            </div>
                            <div class="row panel-row">
                                <div class="panel-body-left-col">@Html.DisplayNameFor(model => model.Trailer2ID):</div>
                                <div class="panel-body-right-col">
                                    @if (User.IsInRole("viewTrailers"))
                                    {
                                        <a href="~/Site/TableMaint/Trailers.aspx?id=@Model.Trailer2ID">@Html.DisplayFor(model => model.Trailer2.IDNumber)</a>
                                    }
                                    else
                                    {
                                        @Html.DisplayFor(model => model.Trailer2.IDNumber)
                                    }
                                    &nbsp;
                                </div>
                            </div>
                            <div class="row panel-row">
                                <div class="panel-body-left-col">@Html.DisplayNameFor(model => model.DispatchNotes):</div>
                                <div class="panel-body-right-col">@Html.DisplayFor(model => model.DispatchNotes) &nbsp;</div>
                            </div>
                            <div class="row panel-row">
                                <div class="panel-body-left-col">@Html.DisplayNameFor(model => model.AuditNotes):</div>
                                <div class="panel-body-right-col">@Html.DisplayFor(model => model.AuditNotes) &nbsp;</div>
                            </div>
                            <div class="row panel-row">
                                <div class="panel-body-left-col">@Html.DisplayNameFor(model => model.RouteID):</div>
                                <div class="panel-body-right-col">
                                    @Html.DisplayFor(model => model.Route.Origin.Name)
                                    <span class="glyphicon glyphicon-arrow-right"></span>
                                    @Html.DisplayFor(model => model.Route.Destination.Name)
                                    &nbsp;
                                </div>
                            </div>
                            <div class="row panel-row">
                                <div class="panel-body-left-col">@Html.DisplayNameFor(model => model.Route.ActualMiles):</div>
                                <div class="panel-body-right-col">@Html.DisplayFor(model => model.Route.ActualMiles) &nbsp;</div>
                            </div>
                            <div class="row panel-row">
                                <div class="panel-body-left-col">Actual Driver Miles:</div>
                                <div class="panel-body-right-col">
                                    @if (Model.IsTransfer)
                                    {
                                        <text>@(Model.DestTruckMileage - Model.OrderTransfer.DestTruckStartMileage + Model.OrderTransfer.OriginTruckEndMileage - Model.OriginTruckMileage)
                                        ( @(Model.OrderTransfer.OriginTruckEndMileage - Model.OriginTruckMileage) /
                                        @(Model.DestTruckMileage - Model.OrderTransfer.DestTruckStartMileage) )</text>
                                    }
                                    else
                                    {
                                        <text>@(Model.DestTruckMileage - Model.OriginTruckMileage)</text>
                                    }
                                    &nbsp;
                                </div>
                            </div>
                            <div class="row panel-row">
                                <div class="panel-body-left-col">@Html.DisplayNameFor(model => model.Rejected):</div>
                                <div class="panel-body-right-col">@Html.DisplayFor(model => model.Rejected) &nbsp;</div>
                            </div>
                            <div class="row panel-row">
                                <div class="panel-body-left-col">@Html.DisplayNameFor(model => model.RejectReasonID):</div>
                                <div class="panel-body-right-col">@Html.DisplayFor(model => model.RejectReason.NumDesc) &nbsp;</div>
                            </div>
                            <div class="row panel-row">
                                <div class="panel-body-left-col">@Html.DisplayNameFor(model => model.RejectNotes):</div>
                                <div class="panel-body-right-col">@Html.DisplayFor(model => model.RejectNotes) &nbsp;</div>
                            </div>

                            @if (Settings.SettingsID.EnableOrderApproval.AsBool() == true)
                            {
                                <div class="row panel-row">
                                    <div class="panel-body-left-col">Approved?:</div>
                                    <div class="panel-body-right-col">
                                        @Html.DisplayFor(model => model.IsApproved)
                                    </div>
                                </div>
                                <div class="row panel-row">
                                    <div class="panel-body-left-col">@Html.DisplayNameFor(model => model.OrderApproval.ApprovalNotes):</div>
                                    <div class="panel-body-right-col">
                                        @if (Model.IsApproved) {@Html.DisplayFor(model => model.OrderApproval.ApprovalNotes)}
                                    </div>
                                </div>
                            }

                            <div class="row panel-row">
                                <div class="panel-body-left-col">@Html.DisplayNameFor(model => model.Settled)?:</div>
                                <div class="panel-body-right-col">@Html.DisplayFor(model => model.Settled) &nbsp;</div>
                            </div>
                            <div class="row panel-row">
                                <div class="panel-body-left-col">@Html.DisplayNameFor(model => model.ShipperBatchNum):</div>
                                <div class="panel-body-right-col">
                                    <a href="~/Site/Financials/ShipperBatches.aspx?BatchNum=@Model.ShipperBatchNum">@Html.DisplayFor(model => model.ShipperBatchNum)</a>
                                </div>
                            </div>
                            <div class="row panel-row">
                                <div class="panel-body-left-col">@Html.DisplayNameFor(model => model.CarrierBatchNum):</div>
                                <div class="panel-body-right-col">
                                    <a href="~/Site/Financials/CarrierBatches.aspx?BatchNum=@Model.CarrierBatchNum">@Html.DisplayFor(model => model.CarrierBatchNum)</a>
                                </div>
                            </div>
                            <div class="row panel-row">
                                <div class="panel-body-left-col">@Html.DisplayNameFor(model => model.DriverBatchNum)?:</div>
                                <div class="panel-body-right-col">
                                    <a href="~/Site/Financials/DriverBatches.aspx?BatchNum=@Model.DriverBatchNum">@Html.DisplayFor(model => model.DriverBatchNum)</a>
                                </div>
                            </div>
                            <div class="row panel-row">
                                <div class="panel-body-left-col">@Html.DisplayNameFor(model => model.ProducerBatchNum)?:</div>
                                <div class="panel-body-right-col">
                                    <a href="~/Site/Financials/ProducerBatches.aspx?BatchNum=@Model.ProducerBatchNum">@Html.DisplayFor(model => model.ProducerBatchNum)</a>
                                </div>
                            </div>
                            
                            <div class="row panel-row">
                                <div class="panel-body-left-col">Reassigned? / Key:</div>
                                <div class="panel-body-right-col">
                                    @Html.DisplayFor(model => model.Reassigned) /
                                    @Html.DisplayFor(model => model.ReassignKey)
                                    &nbsp;
                                </div>
                            </div>                            
                            @if (Model.Reassigned)
                            {
                                <div class="row panel-row">
                                    <div class="panel-body-left-col">Previous Order / Driver: </div>
                                    <div class="panel-body-right-col">
                                        <ul>
                                            @foreach (Order reassign in ViewBag.Reassignments)
                                            {
                                                <li>
                                                    <a href="~/Orders/Details/@reassign.ID">@reassign.OrderNum</a>
                                                    @if (reassign.Driver != null)
                                                    {
                                                        <text> / (@reassign.Driver.FullName)</text>
                                                    }
                                                </li>
                                            }
                                        </ul>
                                    </div>
                                </div>
                            }
                            <div class="row panel-row">
                                <div class="panel-body-left-col">Transfer?:</div>
                                <div class="panel-body-right-col">@Html.DisplayFor(model => model.IsTransfer) &nbsp;</div>
                            </div>
                            @if (Model.IsTransfer)
                            {
                                <div class="row panel-row">
                                    <div class="panel-body-left-col">Origin Truck End Mileage:</div>
                                    <div class="panel-body-right-col">@Model.OrderTransfer.OriginTruckEndMileage &nbsp;</div>
                                </div>
                                <div class="row panel-row">
                                    <div class="panel-body-left-col">@Html.DisplayNameFor(model => model.OrderTransfer.DestTruckStartMileage):</div>
                                    <div class="panel-body-right-col">@Model.OrderTransfer.DestTruckStartMileage &nbsp;</div>
                                </div>
                                <div class="row panel-row">
                                    <div class="panel-body-left-col">Transfer % (Origin/Dest):</div>
                                    <div class="panel-body-right-col">@(Model.OrderTransfer.PercentComplete) / @(100 - Model.OrderTransfer.PercentComplete) &nbsp;</div>
                                </div>
                                <div class="row panel-row">
                                    <div class="panel-body-left-col">Transfer Notes:</div>
                                    <div class="panel-body-right-col">@(Model.OrderTransfer.Notes) &nbsp;</div>
                                </div>
                                <div>
                                    <a class="btn btn-xs btn-blue shiny" href="~/Orders/Untransfer/@Model.ID">
                                        <span class="whitelink"><span class="fa fa-mail-reply"></span> Undo Transfer</span>
                                    </a>
                                    <a class="btn btn-xs btn-blue shiny" href="~/Orders/EditTransfer/@Model.ID">
                                        <span class="whitelink"><span class="fa fa-pencil"></span> Edit Transfer</span>
                                    </a>
                                </div>
                            }

                            @if (Model.OrderReroutes.Count > 0)
                            {
                                <div class="row panel-row">
                                    <div class="panel-body-left-col">Reroutes:</div>
                                    <div class="panel-body-right-col"> &nbsp;</div>
                                </div>
                                <div class="row panel-row">
                                    <ul>
                                        @foreach (OrderReroute r in Model.OrderReroutes.OrderBy(r => r.RerouteDate))
                                        {
                                            <li>@r.PreviousDestination.Name</li>
                                            if (!String.IsNullOrEmpty(r.Notes))
                                            {
                                                <text>(@r.Notes)</text>
                                            }
                                        }
                                    </ul>
                                </div>
                                if (User.IsInRole("rerouteOrders"))
                                {
                                    <div>
                                        <a class="btn btn-xs btn-blue shiny" href="~/Orders/Unreroute/@Model.ID">
                                            <span class="whitelink"><span class="glyphicon glyphicon-arrow-left"></span> Remove Reroute</span>
                                        </a>
                                    </div>
                                }
                            }
                            <div class="spacer10px"></div>
                            <div class="row panel-row">
                                <div class="panel-body-left-col">@Html.DisplayNameFor(model => model.CreateDate):</div>
                                <div class="panel-body-right-col">@Html.DisplayFor(model => model.CreateDateUTC) &nbsp;</div>
                            </div>
                            <div class="row panel-row">
                                <div class="panel-body-left-col">Created By User:</div>
                                <div class="panel-body-right-col">@Html.DisplayFor(model => model.CreatedByUser) &nbsp;</div>
                            </div>
                            <div class="row panel-row">
                                <div class="panel-body-left-col">@Html.DisplayNameFor(model => model.LastChangeDate):</div>
                                <div class="panel-body-right-col">@Html.DisplayFor(model => model.LastChangeDateUTC) &nbsp;</div>
                            </div>
                            <div class="row panel-row">
                                <div class="panel-body-left-col">Last Changed By User:</div>
                                <div class="panel-body-right-col">@Html.DisplayFor(model => model.LastChangedByUser) &nbsp;</div>
                            </div>
                            <div class="row panel-row">
                                <div class="panel-body-left-col">@Html.DisplayNameFor(model => model.DeleteDate):</div>
                                <div class="panel-body-right-col">@Html.DisplayFor(model => model.DeleteDateUTC) &nbsp;</div>
                            </div>
                            <div class="row panel-row">
                                <div class="panel-body-left-col">Deleted By User:</div>
                                <div class="panel-body-right-col">@Html.DisplayFor(model => model.DeletedByUser) &nbsp;</div>
                            </div>
                            <div class="row panel-row">
                                <div class="panel-body-left-col">Accept Fields Last Changed:</div>
                                <div class="panel-body-right-col">@Html.DisplayFor(model => model.AcceptLastChangeDateUTC) &nbsp;</div>
                            </div>
                            <div class="row panel-row">
                                <div class="panel-body-left-col">Pickup Fields Last Changed:</div>
                                <div class="panel-body-right-col">@Html.DisplayFor(model => model.PickupLastChangeDateUTC) &nbsp;</div>
                            </div>
                            <div class="row panel-row">
                                <div class="panel-body-left-col">Deliver Fields Last Changed:</div>
                                <div class="panel-body-right-col">@Html.DisplayFor(model => model.DeliverLastChangeDateUTC) &nbsp;</div>
                            </div>
                        </div>
                    </div>
                </div>
                @*End Order Details*@

                @*Begin Pickup Details*@
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="well with-header panel-container">
                        <div class="header panel-header bordered-blue">Pickup Details</div>
                        <div class="panel-body">
                            <div class="row panel-row">
                                <div class="panel-body-left-col">@Html.DisplayNameFor(model => model.OriginID):</div>
                                <div class="panel-body-right-col">
                                    @if (User.IsInRole("viewOriginMaintenance"))
                                    {
                                        <a href="~/Site/TableMaint/Origins.aspx?id=@Model.OriginID">
                                            @Html.DisplayFor(model => model.Origin.Name)
                                            @if (Model.Origin != null && Model.Origin.H2S)
                                            {
                                                <span class="label label-danger">H2S</span>
                                            }
                                        </a>
                                    }
                                    else
                                    {
                                        @Html.DisplayFor(model => model.Origin.Name)
                                        if (Model.Origin != null && Model.Origin.H2S)
                                        {
                                            <span class="label label-danger">H2S</span>
                                        }
                                    } &nbsp;
                                </div>
                            </div>
                            <div class="row panel-row">
                                <div class="panel-body-left-col">@Html.DisplayNameFor(model => model.Origin.Station):</div>
                                <div class="panel-body-right-col">@Html.DisplayFor(model => model.Origin.Station) &nbsp;</div>
                            </div>
                            <div class="row panel-row">
                                <div class="panel-body-left-col">@Html.DisplayNameFor(model => model.ProductID):</div>
                                <div class="panel-body-right-col">@Html.DisplayFor(model => model.Product.Name) &nbsp;</div>
                            </div>
                            <div class="row panel-row">
                                <div class="panel-body-left-col">@Html.DisplayNameFor(model => model.TicketTypeID):</div>
                                <div class="panel-body-right-col">@Html.DisplayFor(model => model.TicketType.Name) &nbsp;</div>
                            </div>
                            <div class="row panel-row">
                                <div class="panel-body-left-col">@Html.DisplayNameFor(model => model.OriginTankID):</div>
                                <div class="panel-body-right-col">@Html.DisplayFor(model => model.OriginTank.TankNum) &nbsp;</div>
                            </div>
                            <div class="row panel-row">
                                <div class="panel-body-left-col">@Html.DisplayNameFor(model => model.OriginTank.TankDescription):</div>
                                <div class="panel-body-right-col">@Html.DisplayFor(model => model.OriginTank.TankDescription) &nbsp;</div>
                            </div>
                            <div class="row panel-row">
                                <div class="panel-body-left-col">@Html.DisplayNameFor(model => model.OperatorID):</div>
                                <div class="panel-body-right-col">
                                    @if (User.IsInRole("viewOperatorMaintenance"))
                                    {
                                        <a href="~/Operators?id=@Model.OperatorID">
                                            @Html.DisplayFor(model => model.Operator.Name)
                                        </a>
                                    }
                                    else
                                    {
                                        @Html.DisplayFor(model => model.Operator.Name)
                                    }
                                    &nbsp;
                                </div>
                            </div>
                            <div class="row panel-row">
                                <div class="panel-body-left-col">@Html.DisplayNameFor(model => model.ProducerID):</div>
                                <div class="panel-body-right-col">
                                    @if (User.IsInRole("viewProducerMaintenance"))
                                    {
                                        <a href="~/Producers?id=@Model.ProducerID">
                                            @Html.DisplayFor(model => model.Producer.Name)
                                        </a>
                                    }
                                    else
                                    {
                                        @Html.DisplayFor(model => model.Producer.Name)
                                    }
                                    &nbsp;
                                </div>
                            </div>
                            <div class="spacer10px"></div>
                            <div class="row panel-row">
                                <div class="panel-body-left-col">@Html.DisplayNameFor(model => model.OriginArriveTime):</div>
                                <div class="panel-body-right-col">@Html.DisplayFor(model => model.OriginArriveTimeUTC, new { tzid = @ViewBag.OTZ, tzname = "Origin" }) &nbsp;</div>
                            </div>
                            <div class="row panel-row">
                                <div class="panel-body-left-col">@Html.DisplayNameFor(model => model.OriginDepartTime):</div>
                                <div class="panel-body-right-col">@Html.DisplayFor(model => model.OriginDepartTimeUTC, new { tzid = @ViewBag.OTZ, tzname = "Origin" }) &nbsp;</div>
                            </div>
                            <div class="row panel-row">
                                <div class="panel-body-left-col">Wait Minutes:</div>
                                <div class="panel-body-right-col">
                                    @Html.DisplayFor(model => model.OriginMinutes)
                                    @if (Model.OriginWaitReasonRequired)
                                    {
                                        <span class="label label-danger" data-toggle="tooltip" title="Wait Threshold Exceeded">&nbsp;!&nbsp;</span>
                                    } &nbsp;
                                </div>
                            </div>

                            @if (Model.OriginWaitReasonRequired)
                            {
                                <div class="row panel-row">
                                    <div class="panel-body-left-col">Wait Reason:</div>
                                    <div class="panel-body-right-col">@Html.DisplayFor(model => model.OriginWaitReason.NumDesc) &nbsp;</div>
                                </div>
                                <div class="row panel-row">
                                    <div class="panel-body-left-col">Wait Notes:</div>
                                    <div class="panel-body-right-col">@Html.DisplayFor(model => model.OriginWaitNotes) &nbsp;</div>
                                </div>
                            }

                            <div class="row panel-row">
                                <div class="panel-body-left-col">BOL #:</div>
                                <div class="panel-body-right-col">@Html.DisplayFor(model => model.OriginBOLNum) &nbsp;</div>
                            </div>
                            <div class="spacer10px"></div>
                            <div class="row panel-row">
                                <div class="panel-body-left-col">Tickets:</div>
                            </div>
                            <div class="row panel-row">
                                @{Html.RenderAction("List", "Tickets", new { ID = Model.ID });}
                            </div>
                            <div class="spacer10px"></div>
                            <div class="row panel-row">
                                <div class="panel-body-left-col">UOM:</div>
                                <div class="panel-body-right-col">@ViewBag.OriginUOM &nbsp;</div>
                            </div>
                            <div class="row panel-row">
                                <div class="panel-body-left-col">@Html.DisplayNameFor(model => model.OriginGrossUnits):</div>
                                <div class="panel-body-right-col">@String.Format(OriginUOMFormat, Model.OriginGrossUnits) &nbsp;</div>
                            </div>
                            <div class="row panel-row">
                                <div class="panel-body-left-col">@Html.DisplayNameFor(model => model.OriginGrossStdUnits):</div>
                                <div class="panel-body-right-col">@String.Format(OriginUOMFormat, Model.OriginGrossStdUnits) &nbsp;</div>
                            </div>
                            <div class="row panel-row">
                                <div class="panel-body-left-col">@Html.DisplayNameFor(model => model.OriginNetUnits):</div>
                                <div class="panel-body-right-col">@String.Format(OriginUOMFormat, Model.OriginNetUnits) &nbsp;</div>
                            </div>
                            @if (Model.TicketTypeID == (int)TicketType.TYPE.Propane_With_Scale)
                            {
                                // reset UOM formatting for additional weights (not the same significnat digits)
                                OriginUOMFormat = "{0:0.000}";
                            }
                            <div class="row panel-row">
                                <div class="panel-body-left-col">Net Weight:</div>
                                <div class="panel-body-right-col">@String.Format(OriginUOMFormat, Model.OriginWeightNetUnits) &nbsp;</div>
                            </div>
                            <div class="row panel-row">
                                <div class="panel-body-left-col">Truck Odometer:</div>
                                <div class="panel-body-right-col">@Html.DisplayFor(model => model.OriginTruckMileage) &nbsp;</div>
                            </div>
                            <div class="row panel-row">
                                <div class="panel-body-left-col">@Html.DisplayNameFor(model => model.ChainUp):</div>
                                <div class="panel-body-right-col">@Html.DisplayFor(model => model.ChainUp) &nbsp;</div>
                            </div>
                            <div class="row panel-row">
                                <div class="panel-body-left-col">@Html.DisplayNameFor(model => model.OriginSulfurContent):</div>
                                <div class="panel-body-right-col">@Html.DisplayFor(model => model.OriginSulfurContent) &nbsp;</div>
                            </div>
                            <div class="row panel-row">
                                <div class="panel-body-left-col">Driver Notes:</div>
                                <div class="panel-body-right-col">@Html.DisplayFor(model => model.PickupDriverNotes) &nbsp;</div>
                            </div>
                            <div class="spacer10px"></div>
                            <div class="row panel-row">
                                <div class="panel-body-left-col">Photos:</div>
                                <div class="panel-body-right-col">@{Html.RenderAction("ListPhotos", "Orders", new { ID = Model.ID, photoFilter = "ORIGIN" });}</div>
                            </div>
                            <div class="spacer10px"></div>
                            <div class="row panel-row">
                                <div class="panel-body-left-col">Print Status:</div>
                                <div class="panel-body-right-col">@Enum.GetName(typeof(DispatchCrude.Models.PrintStatus.STATUS), Model.PickupPrintStatusID) &nbsp;</div>
                            </div>
                            <div class="row panel-row">
                                <div class="panel-body-left-col">Print Date:</div>
                                <div class="panel-body-right-col">@Html.DisplayFor(model => model.PickupPrintDateUTC) &nbsp;</div>
                            </div>
                            <div class="row panel-row">
                                <div class="panel-body-left-col">Signature:</div>
                                <div class="panel-body-right-col">
                                    @if (Model.OriginSignature != null)
                                    {
                                        <img class="img-responsive" src="@(Model.OriginSignature.SignatureBlobSrc)" />
                                    }
                                    &nbsp;
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                @*End Pickup Details*@

                @*Begin Delivery Details*@
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="well with-header panel-container">
                        <div class="header panel-header bordered-blue">Delivery Details</div>
                        <div class="panel-body">
                            <div class="row panel-row">
                                <div class="panel-body-left-col">@Html.DisplayNameFor(model => model.DestinationID):</div>
                                <div class="panel-body-right-col">
                                    @if (User.IsInRole("viewDestinationMaintenance"))
                                    {
                                        <a href="~/Site/TableMaint/Destinations.aspx?id=@Model.DestinationID">
                                            @Html.DisplayFor(model => model.Destination.Name)
                                        </a>
                                    }
                                    else
                                    {
                                        @Html.DisplayFor(model => model.Destination.Name)
                                    }
                                    &nbsp;
                                </div>
                            </div>
                            <div class="row panel-row">
                                <div class="panel-body-left-col">@Html.DisplayNameFor(model => model.Destination.Station):</div>
                                <div class="panel-body-right-col">@Html.DisplayFor(model => model.Destination.Station) &nbsp;</div>
                            </div>
                            <div class="row panel-row">
                                <div class="panel-body-left-col">@Html.DisplayNameFor(model => model.Destination.TicketTypeID):</div>
                                <div class="panel-body-right-col">@Html.DisplayFor(model => model.Destination.TicketType.Name) &nbsp;</div>
                            </div>
                            <div class="row panel-row">
                                <div class="panel-body-left-col">@Html.DisplayNameFor(model => model.ConsigneeID):</div>
                                <div class="panel-body-right-col">
                                    @if (User.IsInRole("viewConsignees"))
                                    {
                                        <a href="~/Consignees?id=@Model.ConsigneeID">
                                            @Html.DisplayFor(model => model.Consignee.Name)
                                        </a>
                                    }
                                    else
                                    {
                                        @Html.DisplayFor(model => model.Consignee.Name)
                                    }
                                    &nbsp;
                                </div>
                            </div>
                            <div class="row panel-row">
                                <div class="panel-body-left-col">@Html.DisplayNameFor(model => model.DestArriveTime):</div>
                                <div class="panel-body-right-col">@Html.DisplayFor(model => model.DestArriveTimeUTC, new { tzid = @ViewBag.DTZ, tzname = "Dest" }) &nbsp;</div>
                            </div>
                            <div class="row panel-row">
                                <div class="panel-body-left-col">@Html.DisplayNameFor(model => model.DestDepartTime):</div>
                                <div class="panel-body-right-col">@Html.DisplayFor(model => model.DestDepartTimeUTC, new { tzid = @ViewBag.DTZ, tzname = "Dest" }) &nbsp;</div>
                            </div>
                            <div class="row panel-row">
                                <div class="panel-body-left-col">Wait Minutes:</div>
                                <div class="panel-body-right-col">
                                    @Html.DisplayFor(model => model.DestMinutes)
                                    @if (Model.DestWaitReasonRequired)
                                    {
                                        <span class="label label-danger" data-toggle="tooltip" title="Wait Threshold Exceeded">&nbsp;!&nbsp;</span>
                                    }
                                    &nbsp;
                                </div>
                            </div>

                            @if (Model.DestWaitReasonRequired)
                            {
                                <div class="row panel-row">
                                    <div class="panel-body-left-col">Wait Reason:</div>
                                    <div class="panel-body-right-col">@Html.DisplayFor(model => model.DestinationWaitReason.NumDesc) &nbsp;</div>
                                </div>
                                <div class="row panel-row">
                                    <div class="panel-body-left-col">Wait Notes:</div>
                                    <div class="panel-body-right-col">@Html.DisplayFor(model => model.DestWaitNotes) &nbsp;</div>
                                </div>
                            }

                            <div class="row panel-row">
                                <div class="panel-body-left-col">
                                    @(Merica ? "BOL #:" : "Delivery Receipt #:")
                                </div>
                                <div class="panel-body-right-col">@Html.DisplayFor(model => model.DestBOLNum) &nbsp;</div>
                            </div>

                            <div class="row panel-row">
                                <div class="panel-body-left-col">Truck Odometer:</div>
                                <div class="panel-body-right-col">@Html.DisplayFor(model => model.DestTruckMileage) &nbsp;</div>
                            </div>
                            <div class="row panel-row">
                                <div class="panel-body-left-col">@Html.DisplayNameFor(model => model.DestChainUp):</div>
                                <div class="panel-body-right-col">@Html.DisplayFor(model => model.DestChainUp) &nbsp;</div>
                            </div>
                            <div class="row panel-row">
                                <div class="panel-body-left-col">UOM:</div>
                                <div class="panel-body-right-col">@ViewBag.DestUOM &nbsp;</div>
                            </div>

                            <div class="row panel-row">
                                <div class="panel-body-left-col">
                                    @(Merica ? "GOV:" : "Actual Volume:")
                                </div>
                                <div class="panel-body-right-col">@String.Format(OriginUOMFormat, Model.DestGrossUnits) &nbsp;</div>
                            </div>
                            <div class="row panel-row">
                                <div class="panel-body-left-col">
                                    @(Merica ? "NSV:" : "Net Volume:")
                                </div>
                                <div class="panel-body-right-col">@String.Format(OriginUOMFormat, Model.DestNetUnits) &nbsp;</div>
                            </div>

                            <div class="row panel-row">
                                <div class="panel-body-left-col">Open Meter:</div>
                                <div class="panel-body-right-col">@String.Format(OriginUOMFormat, Model.DestOpenMeterUnits) &nbsp;</div>
                            </div>
                            <div class="row panel-row">
                                <div class="panel-body-left-col">Close Meter:</div>
                                <div class="panel-body-right-col">@String.Format(OriginUOMFormat, Model.DestCloseMeterUnits) &nbsp;</div>
                            </div>

                            <div class="row panel-row">
                                <div class="panel-body-left-col">
                                    @(Merica ? Html.Raw("Temp &deg;F:") : Html.Raw("Temp &deg;C:"))
                                </div>
                                <div class="panel-body-right-col">@Html.DisplayFor(model => model.DestProductTemp) &nbsp;</div>
                            </div>

                            <div class="row panel-row">
                                <div class="panel-body-left-col">
                                    @(Merica ? "BS&W %:" : "Water Cut:")
                                </div>
                                <div class="panel-body-right-col">@Html.DisplayFor(model => model.DestProductBSW) &nbsp;</div>
                            </div>

                            <div class="row panel-row">
                                <div class="panel-body-left-col">
                                    @(Merica ? "Gravity:" : "Density:")
                                </div>
                                <div class="panel-body-right-col">@Html.DisplayFor(model => model.DestProductGravity) &nbsp;</div>
                            </div>

                            <div class="row panel-row">
                                <div class="panel-body-left-col">Gross Weight:</div>
                                <div class="panel-body-right-col">@String.Format(OriginUOMFormat, Model.DestWeightGrossUnits) &nbsp;</div>
                            </div>
                            <div class="row panel-row">
                                <div class="panel-body-left-col">Tare Weight:</div>
                                <div class="panel-body-right-col">@String.Format(OriginUOMFormat, Model.DestWeightTareUnits) &nbsp;</div>
                            </div>
                            <div class="row panel-row">
                                <div class="panel-body-left-col">Net Weight:</div>
                                <div class="panel-body-right-col">@String.Format(OriginUOMFormat, Model.DestWeightNetUnits) &nbsp;</div>
                            </div>

                            <div class="row panel-row">
                                <div class="panel-body-left-col">@Html.DisplayNameFor(model => model.DestRailCarNum):</div>
                                <div class="panel-body-right-col">@Html.DisplayFor(model => model.DestRailCarNum) &nbsp;</div>
                            </div>

                            <div class="row panel-row">
                                <div class="panel-body-left-col">@Html.DisplayNameFor(model => model.DestTrailerWaterCapacity):</div>
                                <div class="panel-body-right-col">@Html.DisplayFor(model => model.DestTrailerWaterCapacity) &nbsp;</div>
                            </div>

                            <div class="row panel-row">
                                <div class="panel-body-left-col">@Html.DisplayNameFor(model => model.DestRackBay):</div>
                                <div class="panel-body-right-col">@Html.DisplayFor(model => model.DestRackBay) &nbsp;</div>
                            </div>
                            <div class="row panel-row">
                                <div class="panel-body-left-col">Driver Notes:</div>
                                <div class="panel-body-right-col">@Html.DisplayFor(model => model.DeliverDriverNotes) &nbsp;</div>
                            </div>
                            <div class="spacer10px"></div>                            
                            <div class="row panel-row">
                                <div class="panel-body-left-col">Photos:</div>
                                <div class="panel-body-right-col">@{Html.RenderAction("ListPhotos", "Orders", new { ID = Model.ID, photoFilter = "DESTINATION" });}</div>
                            </div>
                            <div class="spacer10px"></div>
                            <div class="row panel-row">
                                <div class="panel-body-left-col">Print Status:</div>
                                <div class="panel-body-right-col">@Enum.GetName(typeof(DispatchCrude.Models.PrintStatus.STATUS), Model.DeliverPrintStatusID) &nbsp;</div>
                            </div>
                            <div class="row panel-row">
                                <div class="panel-body-left-col">Print Date:</div>
                                <div class="panel-body-right-col">@Html.DisplayFor(model => model.DeliverPrintDateUTC) &nbsp;</div>
                            </div>
                            <div class="row panel-row">
                                <div class="panel-body-left-col">Signature:</div>
                                <div class="panel-body-right-col">
                                    @if (Model.DestinationSignature != null)
                                    {
                                        <img class="img-responsive" src="@(Model.DestinationSignature.SignatureBlobSrc)" />
                                    }
                                    &nbsp;
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                @*End Deliver Details*@
            </div>
        </div>
    </div>
</div>