﻿@using DispatchCrude.App_Code;
@using DispatchCrude.Models;
@using DispatchCrude.Core;

@model Order

@{ 
    ViewBag.Title = "Dispatch Order";
}
@if (ViewBag.Error != null)
{
    <div class="alert alert-danger">
        <span class="glyphicon glyphicon-exclamation-sign"></span> @ViewBag.Error
    </div>
}
@Html.ValidationSummary(false, "", new { @class = "text-danger" })


<div class="container">
    <h3>Order #@ViewBag.OrderNum</h3>
    <h4>
        @ViewBag.Origin
        @if (ViewBag.OriginH2S)
        {
            <span class="label label-danger">H2S</span>
        }
        <span class="glyphicon glyphicon-arrow-right"></span>
        @ViewBag.Destination
    </h4>
    <h7>ECOT @DateHelper.FormatDuration(Model.Route.getECOT() / 60.0)</h7>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <hr />
            @Html.HiddenFor(model => model.ID)

            <div class="form-group">
                @Html.LabelFor(model => model.DriverID, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-8">
                    @*@Html.DropDownList("DriverID", null, "-- Select new driver --", htmlAttributes: new { @class = "form-control" })*@
                    @Html.SuperDropDownList("DriverID", ViewBag.DriverID as SuperSelectList, "-- Current Driver --", htmlAttributes: new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.DispatchNotes, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-xs-8">
                    @Html.TextAreaFor(model => model.DispatchNotes, htmlAttributes: new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-4 col-md-8">
                    <input type="submit" value="Dispatch" class="btn btn-primary" />
                    <a href="~/Orders/Details/@Model.ID" class="btn btn-default">Cancel</a>
                </div>
            </div>
        </div>
    }
</div>

@* Script required to circumvent the WebForms template for the original version.
    The whole page is enclosed within a form using viewstate.  This overrides the form with the correct action *@
<script type="text/javascript">
//    $(function () {
 //       debugger;
   //     $('#FormMain').attr('action', '/Orders/Accept');
   // });
</script>
