﻿@model DispatchCrude.Models.Order
@using DispatchCrude.Extensions;
@using DispatchCrude.Core;
@using DispatchCrude.Models;
@{
    ViewBag.Title = "Dispatch";
    ViewBag.Subtitle = "Order Edit - #" + Model.OrderNum;
    bool Merica = Settings.IsCountryUSA;
}


@if (ViewBag.Message != null || TempData["message"] != null)
{
    <div class="alert alert-warning">
        <span class="glyphicon glyphicon-exclamation-sign"></span> @ViewBag.Message @TempData["message"]
    </div>
}
@if (ViewBag.Success != null || TempData["success"] != null)
{
    <div class="alert alert-success">
        <span class="glyphicon glyphicon-exclamation-sign"></span> @ViewBag.Success @TempData["success"]
    </div>
}
@if (ViewData.ModelState.Any(x => x.Value.Errors.Any()) || ViewBag.Error != null || TempData["error"] != null)
{
    <div class="alert alert-danger">
        <span class="glyphicon glyphicon-exclamation-sign"></span> @ViewBag.Error @TempData["error"] @Html.ValidationSummary(false)
    </div>
}



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @Html.HiddenFor(model => model.ID)
    @Html.HiddenFor(model => model.OrderNum)

    <div class="tabbable">
        <ul class="nav nav-tabs" id="tabmenu">
            @NavigationHelper.PrintTabArray(NavigationHelper.TabSet_Dispatch, "Tab_EnterEdit")
        </ul>
        <div class="tab-content">
            <div class="tab-pane in active">

                <div class="well speedButtonContainer">
                    <button type="submit" class="btn btn-xs btn-blue shiny"><i class="fa fa-save"></i> Save</button>&nbsp;
                    <a href="~/Orders/Details/@Model.ID" class="btn btn-xs btn-blue shiny">Cancel</a>
                    <div class="pull-right">
                        <a class="btn btn-xs btn-blue shiny" href="~/Orders/OrderList">
                            <span class="glyphicon glyphicon-list-alt"></span> Back to Order list
                        </a>
                    </div>
                </div>


                <div class="row">
                    @*Begin Order Details*@
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                        <div class="well with-header">
                            <div class="header bordered-blue">Order Details</div>
                            <div class="form-horizontal">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.StatusID, htmlAttributes: new { @class = "control-label col-xs-4" })
                                    <div class="col-xs-8">
                                        @Html.DropDownList("StatusID", null, "-- Select Status --", htmlAttributes: new { @class = "form-control input-sm" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.CustomerID, htmlAttributes: new { @class = "control-label col-xs-4" })
                                    <div class="col-xs-8">
                                        @Html.DropDownList("CustomerID", null, "-- Select Shipper --", htmlAttributes: new { @class = "form-control input-sm" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.DispatchConfirmNum, "Shipper PO #", htmlAttributes: new { @class = "control-label col-xs-4" })
                                    <div class="col-xs-8">
                                        @Html.EditorFor(model => model.DispatchConfirmNum, new { htmlAttributes = new { @class = "form-control input-sm" } })
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.JobNumber, htmlAttributes: new { @class = "control-label col-xs-4" })
                                    <div class="col-xs-8">
                                        @Html.EditorFor(model => model.JobNumber, new { htmlAttributes = new { @class = "form-control input-sm" } })
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.DueDate, htmlAttributes: new { @class = "control-label col-xs-4" })
                                    <div class="col-xs-8">
                                        @Html.EditorFor(model => model.DueDate, new { htmlAttributes = new { @class = "form-control input-sm" } })
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.OrderDate, htmlAttributes: new { @class = "control-label col-xs-4" })
                                    <div class="col-xs-8">
                                        Defaults to: @Model.GetOrderDateSource() @if (UserSupport.IsInRole("viewOrderRules"))
                                        { <a class="btn btn-xs btn-blue shiny pull-right" href="~/Site/Orders/OrderRules.aspx">Order Rules</a> }
                                        @Html.EditorFor(model => model.OrderDate, new { htmlAttributes = new { @class = "form-control input-sm" } })
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.PriorityID, htmlAttributes: new { @class = "control-label col-xs-4" })
                                    <div class="col-xs-8">
                                        @Html.DropDownList("PriorityID", null, "-- Select Priority --", htmlAttributes: new { @class = "form-control input-sm" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.CarrierID, htmlAttributes: new { @class = "control-label col-xs-4" })
                                    <div class="col-xs-8">
                                        @* @Html.DropDownList("CarrierID", null, "-- Select Carrier --", htmlAttributes: new { @class = "form-control input-sm" })*@
                                        @ViewBag.Carrier
                                        @Html.HiddenFor(model => model.CarrierID)
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.DriverID, htmlAttributes: new { @class = "control-label col-xs-4" })
                                    <div class="col-xs-8">
                                        @if (Model.IsTransfer)
                                        {
                                            <text>@ViewBag.OriginDriver <span class="glyphicon glyphicon-arrow-right"></span> @ViewBag.Driver
                                            @*{ see <a href="~/Orders/Transfer/@Model.ID">Order Transfers</a> } Commenting this out for now, it tries to transfer even when not possible *@
                                            @Html.HiddenFor(model => model.DriverID)</text>
                                        }
                                        else
                                        {
                                            <text>@ViewBag.Driver
                                            @if (User.IsInRole("editOrders"))
                                            {
                                                <div class="spacer5px"></div>
                                                <a class="btn btn-xs btn-blue shiny center" href="~/Orders/Reassign/@Model.ID">
                                                    <span class="glyphicon glyphicon-user"></span> Reassign Order
                                                </a>
                                            }
                                            @Html.HiddenFor(model => model.DriverID)</text>
                                        }
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.TruckID, htmlAttributes: new { @class = "control-label col-xs-4" })
                                    <div class="col-xs-8">
                                        @if (Model.IsTransfer && Model.TruckID == Model.OrderTransfer.OriginTruckID)
                                        {
                                            <text>@Model.Truck.IDNumber
                                            @*{ see <a href="~/Orders/Transfer/@Model.ID">Order Transfers</a> } Commenting this out for now, it tries to transfer even when not possible *@
                                            @Html.HiddenFor(model => model.TruckID)</text>

                                        }
                                        else if (Model.IsTransfer && Model.TruckID != Model.OrderTransfer.OriginTruckID)
                                        {
                                            <text>@Model.OrderTransfer.OriginTruck.IDNumber <span class="glyphicon glyphicon-arrow-right"></span> @Model.Truck.IDNumber
                                            @*{ see <a href="~/Orders/Transfer/@Model.ID">Order Transfers</a> }  Commenting this out for now, it tries to transfer even when not possible *@
                                            @Html.HiddenFor(model => model.TruckID)</text>
                                        }
                                        else
                                        {
                                            @Html.DropDownList("TruckID", null, "-- Select Truck --", htmlAttributes: new { @class = "form-control input-sm" })
                                        }
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.TrailerID, htmlAttributes: new { @class = "control-label col-xs-4" })
                                    <div class="col-xs-8">
                                        @Html.DropDownList("TrailerID", null, "-- Select Trailer --", htmlAttributes: new { @class = "form-control input-sm" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Trailer2ID, htmlAttributes: new { @class = "control-label col-xs-4" })
                                    <div class="col-xs-8">
                                        @Html.DropDownList("Trailer2ID", null, "-- Select Trailer --", htmlAttributes: new { @class = "form-control input-sm" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.DispatchNotes, htmlAttributes: new { @class = "control-label col-xs-4" })
                                    <div class="col-xs-8">
                                        @Html.TextAreaFor(model => model.DispatchNotes, htmlAttributes: new { @rows = 3, @class = "form-control input-sm" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.AuditNotes, htmlAttributes: new { @class = "control-label col-xs-4" })
                                    <div class="col-xs-8">
                                        @Html.TextAreaFor(model => model.AuditNotes, htmlAttributes: new { @rows = 3, @class = "form-control input-sm" })
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-body">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Rejected, htmlAttributes: new { @class = "control-label col-xs-4" })
                                            <div class="col-xs-8">
                                                @Html.EditorFor(model => model.Rejected)
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            @Html.LabelFor(model => model.RejectReasonID, htmlAttributes: new { @class = "control-label col-xs-4" })
                                            <div class="col-xs-8">
                                                @Html.DropDownList("RejectReasonID", null, "-- Select Reject Reason --", htmlAttributes: new { @class = "form-control input-sm" })
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            @Html.LabelFor(model => model.RejectNotes, htmlAttributes: new { @class = "control-label col-xs-4" })
                                            <div class="col-xs-8">
                                                @Html.TextAreaFor(model => model.RejectNotes, htmlAttributes: new { @rows = 3, @class = "form-control input-sm" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    @*End Order Details*@

                    @*Begin Pickup Details*@
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                        <div class="well with-header panel-container">
                            <div class="header panel-header bordered-blue">Pickup Details</div>
                            <div class="form-horizontal">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.OriginID, htmlAttributes: new { @class = "control-label col-xs-4" })
                                    <div class="col-xs-8">
                                        @Html.DropDownList("OriginID", null, "-- Select Origin --", htmlAttributes: new { @class = "form-control input-sm" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.ProductID, htmlAttributes: new { @class = "control-label col-xs-4" })
                                    <div class="col-xs-8">
                                        @Html.DropDownList("ProductID", null, "-- Select Product --", htmlAttributes: new { @class = "form-control input-sm" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.TicketTypeID, htmlAttributes: new { @class = "control-label col-xs-4" })
                                    <div class="col-xs-8">
                                        @Html.DropDownList("TicketTypeID", null, "-- Select Ticket Type --", htmlAttributes: new { @class = "form-control input-sm" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.OriginTankID, htmlAttributes: new { @class = "control-label col-xs-4" })
                                    <div class="col-xs-8">
                                        @Html.DropDownList("OriginTankID", null, "-- Select Tank --", htmlAttributes: new { @class = "form-control input-sm" })
                                    </div>
                                </div>



                                <div class="form-group">
                                    @Html.LabelFor(model => model.OperatorID, htmlAttributes: new { @class = "control-label col-xs-4" })
                                    <div class="col-xs-8">
                                        @Html.DropDownList("OperatorID", null, "-- Select Operator --", htmlAttributes: new { @class = "form-control input-sm" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.ProducerID, htmlAttributes: new { @class = "control-label col-xs-4" })
                                    <div class="col-xs-8">
                                        @Html.DropDownList("ProducerID", null, "-- Select Producer --", htmlAttributes: new { @class = "form-control input-sm" })
                                    </div>
                                </div>
                                


                                <div class="form-group">
                                    @Html.LabelFor(model => model.OriginArriveTime, htmlAttributes: new { @class = "control-label col-xs-4" })
                                    <div class="col-xs-8">
                                        @Html.EditorFor(model => model.OriginArriveTime, new { htmlAttributes = new { @class = "form-control input-sm" } })
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.OriginDepartTime, htmlAttributes: new { @class = "control-label col-xs-4" })
                                    <div class="col-xs-8">
                                        @Html.EditorFor(model => model.OriginDepartTime, new { htmlAttributes = new { @class = "form-control input-sm" } })
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-body">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.OriginWaitReasonID, "Wait Reason", htmlAttributes: new { @class = "control-label col-xs-4" })
                                            <div class="col-xs-8">
                                                @Html.DropDownList("OriginWaitReasonID", null, "-- Select Wait Reason --", htmlAttributes: new { @class = "form-control input-sm" })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.OriginWaitNotes, "Wait Notes", htmlAttributes: new { @class = "control-label col-xs-4" })
                                            <div class="col-xs-8">
                                                @Html.TextAreaFor(model => model.OriginWaitNotes, htmlAttributes: new { @rows = 3, @class = "form-control input-sm" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.OriginBOLNum,
                                    (Merica ? "BOL #:" : "Delivery Receipt #:")
                                , htmlAttributes: new { @class = "control-label col-xs-4" })
                                    <div class="col-xs-8">
                                        @Html.TextBoxFor(model => model.OriginBOLNum, htmlAttributes: new { @class = "form-control input-sm" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-xs-12">
                                        <strong>Tickets</strong>
                                        @{Html.RenderAction("List", "Tickets", new { ID = Model.ID, editable = true });}
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.OriginTruckMileage, "Truck Odometer", htmlAttributes: new { @class = "control-label col-xs-4" })
                                    <div class="col-xs-8">
                                        @Html.TextBoxFor(model => model.OriginTruckMileage, htmlAttributes: new { @class = "form-control input-sm" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.ChainUp, htmlAttributes: new { @class = "control-label col-xs-4" })
                                    <div class="col-xs-8">
                                        @Html.EditorFor(model => model.ChainUp)
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.OriginSulfurContent, htmlAttributes: new { @class = "control-label col-xs-4" })
                                    <div class="col-xs-8">
                                        @Html.TextBoxFor(model => model.OriginSulfurContent, htmlAttributes: new { @class = "form-control input-sm" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.PickupDriverNotes, "Driver Notes", htmlAttributes: new { @class = "control-label col-xs-4" })
                                    <div class="col-xs-8">
                                        @Html.TextAreaFor(model => model.PickupDriverNotes, htmlAttributes: new { @rows = 3, @class = "form-control input-sm" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="control-label col-xs-4">Photos</div>
                                    <div class="col-xs-8">
                                        @{Html.RenderAction("ListPhotos", "Orders", new { ID = Model.ID, photoFilter = "ORIGIN" });}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    @*End Pickup Details*@

                    @*Begin Delivery Details*@
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                        <div class="well with-header panel-container">
                            <div class="header panel-header bordered-blue">Delivery Details</div>
                            <div class="form-horizontal">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.DestinationID, htmlAttributes: new { @class = "control-label col-xs-4" })
                                    <div class="col-xs-8">
                                        @Html.DropDownList("DestinationID", null, "-- Select Destination --", htmlAttributes: new { @class = "form-control input-sm" })
                                        @if (User.IsInRole("rerouteOrders"))
                                        {
                                            <div class="spacer5px"></div>
                                            <a class="btn btn-xs btn-blue shiny center" href="~/Orders/Reroute/@Model.ID">
                                                <span class="glyphicon glyphicon-transfer"></span> Reroute Order
                                            </a>
                                        }
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.ConsigneeID, htmlAttributes: new { @class = "control-label col-xs-4" })
                                    <div class="col-xs-8">
                                        @Html.DropDownList("ConsigneeID", null, "-- Select Consignee --", htmlAttributes: new { @class = "form-control input-sm" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.DestArriveTime, "Arrive Time", htmlAttributes: new { @class = "control-label col-xs-4" })
                                    <div class="col-xs-8">
                                        @Html.EditorFor(model => model.DestArriveTime, new { htmlAttributes = new { @class = "form-control input-sm" } })
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.DestDepartTime, "Depart Time", htmlAttributes: new { @class = "control-label col-xs-4" })
                                    <div class="col-xs-8">
                                        @Html.EditorFor(model => model.DestDepartTime, new { htmlAttributes = new { @class = "form-control input-sm" } })
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-body">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.DestWaitReasonID, "Wait Reason", htmlAttributes: new { @class = "control-label col-xs-4" })
                                            <div class="col-xs-8">
                                                @Html.DropDownList("DestWaitReasonID", null, "-- Select Wait Reason --", htmlAttributes: new { @class = "form-control input-sm" })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.DestWaitNotes, "Wait Notes", htmlAttributes: new { @class = "control-label col-xs-4" })
                                            <div class="col-xs-8">
                                                @Html.TextAreaFor(model => model.DestWaitNotes, htmlAttributes: new { @rows = 3, @class = "form-control input-sm" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.DestBOLNum, "BOL #", htmlAttributes: new { @class = "control-label col-xs-4" })
                                    <div class="col-xs-8 input-group-sm">
                                        @Html.TextBoxFor(model => model.DestBOLNum, htmlAttributes: new { @class = "form-control input-sm" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.DestTruckMileage, "Truck Odometer", htmlAttributes: new { @class = "control-label col-xs-4" })
                                    <div class="col-xs-8 input-group-sm">
                                        @Html.TextBoxFor(model => model.DestTruckMileage, htmlAttributes: new { @class = "form-control input-sm" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.DestChainUp, htmlAttributes: new { @class = "control-label col-xs-4" })
                                    <div class="col-xs-8">
                                        @Html.EditorFor(model => model.DestChainUp)
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.DestGrossUnits,
                                (Merica ? "GOV" : "Actual Volume")
                            , htmlAttributes: new { @class = "control-label col-xs-4" })
                                    <div class="col-xs-8">
                                        <div class="input-group input-group-sm">
                                            @Html.TextBoxFor(model => model.DestGrossUnits, htmlAttributes: new { @class = "form-control input-sm" })
                                            <span class="input-group-addon DUoM">@ViewBag.DestUOM</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.DestNetUnits,
                                (Merica ? "NSV" : "Net Volume")
                            , htmlAttributes: new { @class = "control-label col-xs-4" })
                                    <div class="col-xs-8">
                                        <div class="input-group input-group-sm">
                                            @Html.TextBoxFor(model => model.DestNetUnits, htmlAttributes: new { @class = "form-control input-sm" })
                                            <span class="input-group-addon DUoM">@ViewBag.DestUOM</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.DestOpenMeterUnits, "Open Meter", htmlAttributes: new { @class = "control-label col-xs-4" })
                                    <div class="col-xs-8">
                                        <div class="input-group input-group-sm">
                                            @Html.TextBoxFor(model => model.DestOpenMeterUnits, htmlAttributes: new { @class = "form-control input-sm" })
                                            <span class="input-group-addon DUoM">@ViewBag.DestUOM</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.DestCloseMeterUnits, "Close Meter", htmlAttributes: new { @class = "control-label col-xs-4" })
                                    <div class="col-xs-8">
                                        <div class="input-group input-group-sm">
                                            @Html.TextBoxFor(model => model.DestCloseMeterUnits, htmlAttributes: new { @class = "form-control input-sm" })
                                            <span class="input-group-addon DUoM">@ViewBag.DestUOM</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.DestProductTemp,
                                            (Merica ? "Temp °F" : "Temp °C")
                                        , htmlAttributes: new { @class = "control-label col-xs-4" })
                                    <div class="col-xs-8">
                                        <div class="input-group input-group-sm">
                                            @Html.TextBoxFor(model => model.DestProductTemp, htmlAttributes: new { @class = "form-control input-sm" })
                                            <span class="input-group-addon">&deg;</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.DestProductBSW,
                                        (Merica ? "BS&W %" : "Water Cut").ToString()
                                    , htmlAttributes: new { @class = "control-label col-xs-4" })
                                    <div class="col-xs-8">
                                        <div class="input-group input-group-sm">
                                            @Html.TextBoxFor(model => model.DestProductBSW, htmlAttributes: new { @class = "form-control input-sm" })
                                            <span class="input-group-addon">%</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.DestProductGravity,
                                    (Merica ? "Gravity" : "Density").ToString()
                                , htmlAttributes: new { @class = "control-label col-xs-4" })
                                    <div class="col-xs-8 input-group-sm">
                                        @Html.TextBoxFor(model => model.DestProductGravity, htmlAttributes: new { @class = "form-control input-sm" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.DestWeightGrossUnits, "Gross Weight", htmlAttributes: new { @class = "control-label col-xs-4" })
                                    <div class="col-xs-8">
                                        <div class="input-group input-group-sm">
                                            @Html.TextBoxFor(model => model.DestWeightGrossUnits, htmlAttributes: new { @class = "form-control input-sm" })
                                            <span class="input-group-addon DUoM">@ViewBag.DestUOM</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.DestWeightTareUnits, "Tare Weight", htmlAttributes: new { @class = "control-label col-xs-4" })
                                    <div class="col-xs-8">
                                        <div class="input-group input-group-sm">
                                            @Html.TextBoxFor(model => model.DestWeightTareUnits, htmlAttributes: new { @class = "form-control input-sm" })
                                            <span class="input-group-addon DUoM">@ViewBag.DestUOM</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.DestWeightNetUnits, "Net Weight", htmlAttributes: new { @class = "control-label col-xs-4" })
                                    <div class="col-xs-8">
                                        <div class="input-group input-group-sm">
                                            @Html.TextBoxFor(model => model.DestWeightNetUnits, htmlAttributes: new { @class = "form-control input-sm" })
                                            <span class="input-group-addon DUoM">@ViewBag.DestUOM</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.DestRailCarNum, htmlAttributes: new { @class = "control-label col-xs-4" })
                                    <div class="col-xs-8 input-group-sm">
                                        @Html.TextBoxFor(model => model.DestRailCarNum, htmlAttributes: new { @class = "form-control input-sm" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.DestTrailerWaterCapacity, htmlAttributes: new { @class = "control-label col-xs-4" })
                                    <div class="col-xs-8 input-group-sm">
                                        @Html.TextBoxFor(model => model.DestTrailerWaterCapacity, htmlAttributes: new { @class = "form-control input-sm" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.DestRackBay, htmlAttributes: new { @class = "control-label col-xs-4" })
                                    <div class="col-xs-8">
                                        @Html.TextBoxFor(model => model.DestRackBay, htmlAttributes: new { @class = "form-control input-sm" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.DeliverDriverNotes, "Driver Notes", htmlAttributes: new { @class = "control-label col-xs-4" })
                                    <div class="col-xs-8">
                                        @Html.TextAreaFor(model => model.DeliverDriverNotes, htmlAttributes: new { @rows = 3, @class = "form-control input-sm" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="control-label col-xs-4">Photos</div>
                                    <div class="col-xs-8">
                                        @{Html.RenderAction("ListPhotos", "Orders", new { ID = Model.ID, photoFilter = "DESTINATION" });}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    @*End Deliver Details*@
                </div>
            </div>
        </div>
    </div>
}



<script>
    $(function () {
        $("#OriginID").change(function () {
            var selectedItem = $(this).val();
            var productid = $("#ProductID").val();
            var shipperid = $("#CustomerID").val();
            var destid = $("#DestinationID").val();

            $.ajax({
                cache: false,
                type: "GET",
                url: "/Origins/getTanks/",
                data: {
                    "originid": selectedItem,
                },
                success: function (data) {
                    $("#OriginTankID").html('<OPTION VALUE="">-- Select Tank --</OPTION>');
                    $.each(data, function (id, option) {
                        $("#OriginTankID").append($('<OPTION></OPTION>').val(option.id).html(option.name));
                    });
                },
                // error:
            });
            $.ajax({
                cache: false,
                type: "GET",
                url: "/Origins/getProducts/",
                data: {
                    "originid": selectedItem,
                },
                success: function (data) {
                    $("#ProductID").html('<OPTION VALUE="">-- Select Product --</OPTION>');
                    $.each(data, function (id, option) {
                        $("#ProductID").append($('<OPTION></OPTION>').val(option.id).html(option.name));
                    });
                    if (data.length == 1) { $("#ProductID").val(data[0].id); }
                    else $("#ProductID option[value='" + productid + "']").attr("selected", "selected")
                },
                // error:
            });
            $.ajax({
                cache: false,
                type: "GET",
                url: "/Origins/getShippers/",
                data: {
                    "originid": selectedItem,
                },
                success: function (data) {
                    $("#CustomerID").html('<OPTION VALUE="">-- Select Shipper --</OPTION>');
                    $.each(data, function (id, option) {
                        $("#CustomerID").append($('<OPTION></OPTION>').val(option.id).html(option.name));
                    });
                    if (data.length == 1) { $("#CustomerID").val(data[0].id); }
                    else $("#CustomerID option[value='" + shipperid + "']").attr("selected", "selected")
                },
                // error:
            });
            $.ajax({
                cache: false,
                type: "GET",
                url: "/Origins/getDestinations/",
                data: {
                    "originid": selectedItem,
                    "productid": 0,
                    "shipperid": 0,
                },
                success: function (data) {
                    $("#DestinationID").html('<OPTION VALUE="">-- Select Destination --</OPTION>');
                    $.each(data, function (id, option) {
                        $("#DestinationID").append($('<OPTION></OPTION>').val(option.ID).html(option.Name));
                    });
                    if (data.length == 1) { $("#DestinationID").val(data[0].id); }
                    else $("#DestinationID option[value='" + destid + "']").attr("selected", "selected")
                },
                // error:
            });
        });

        $("#ProductID").change(function () {
            var destid = $("#DestinationID").val();
            var selectedItem = $(this).val();
            $.ajax({
                cache: false,
                type: "GET",
                url: "/Origins/getDestinations/",
                data: {
                    "originid": $("#OriginID").val(),
                    "productid": selectedItem,
                    "shipperid": 0,
                },
                success: function (data) {
                    $("#DestinationID").html('<OPTION VALUE="">-- Select Destination --</OPTION>');
                    $.each(data, function (id, option) {
                        $("#DestinationID").append($('<OPTION></OPTION>').val(option.ID).html(option.Name));
                    });
                    if (data.length == 1) { $("#DestinationID").val(data[0].id); }
                    else $("#DestinationID option[value='" + destid + "']").attr("selected", "selected")
                },
                // error:
            });
        });

        $("#CustomerID").change(function () {
            var selectedItem = $(this).val();
            var destid = $("#DestinationID").val();
            $.ajax({
                cache: false,
                type: "GET",
                url: "/Origins/getDestinations/",
                data: {
                    "originid": $("#OriginID").val(),
                    "productid": $("#ProductID").val(),
                    "shipperid": selectedItem,
                },
                success: function (data) {
                    $("#DestinationID").html('<OPTION VALUE="">-- Select Destination --</OPTION>');
                    $.each(data, function (id, option) {
                        $("#DestinationID").append($('<OPTION></OPTION>').val(option.ID).html(option.Name));
                    });
                    if (data.length == 1) { $("#DestinationID").val(data[0].id); }
                    else $("#DestinationID option[value='" + destid + "']").attr("selected", "selected")
                },
                // error:
            });
        });
        @*
        $("#CarrierID").change(function () {
            var selectedItem = $(this).val();

            @if (!Model.IsTransfer)
            { <text>
            $.ajax({
                cache: false,
                type: "GET",
                url: "/Carriers/getTrucks/",
                data: {
                    "carrierid": selectedItem,
                },
                success: function (data) {
                    $("#TruckID").html('<OPTION VALUE="">-- Select Truck --</OPTION>');
                    $.each(data, function (id, option) {
                        $("#TruckID").append($('<OPTION></OPTION>').val(option.id).html(option.name));
                    });
                    if (data.length == 1) { $("#TruckID").val(data[0].id); }
                },
                // error:
            });
            </text>}
            $.ajax({
                cache: false,
                type: "GET",
                url: "/Carriers/getTrailers/",
                data: {
                    "carrierid": selectedItem,
                },
                success: function (data) {
                    $("#TrailerID").html('<OPTION VALUE="">-- Select Trailer --</OPTION>');
                    $.each(data, function (id, option) {
                        $("#TrailerID").append($('<OPTION></OPTION>').val(option.id).html(option.name));
                    });
                    if (data.length == 1) { $("#TrailerID").val(data[0].id); }

                    $("#Trailer2ID").html('<OPTION VALUE="">-- Select Trailer --</OPTION>');
                    $.each(data, function (id, option) {
                        $("#Trailer2ID").append($('<OPTION></OPTION>').val(option.id).html(option.name));
                    });
                },
                // error:
            });
        });
    *@
        $("#DestinationID").change(function () {
            var selectedItem = $(this).val();

            $.ajax({
                cache: false,
                type: "GET",
                url: "/Destinations/getUOM/",
                data: {
                    "destid": selectedItem,
                },
                success: function (data) {
                    uom = data[0];
                    $(".DUoM").html(uom.Abbrev);
                },
                // error:
            });

            $.ajax({
                cache: false,
                type: "GET",
                url: "/Destinations/getConsignees/",
                data: {
                    "destid": selectedItem,
                },
                success: function (data) {
                    $("#ConsigneeID").html('<OPTION VALUE="">-- Select Consignee --</OPTION>');
                    $.each(data, function (id, option) {
                        $("#ConsigneeID").append($('<OPTION></OPTION>').val(option.ID).html(option.Name));
                    });
                },
                // error:
            });
        });
    })
</script>
