﻿@model IEnumerable<DispatchCrude.Models.Order>
@using DispatchCrude.Core;
@using DispatchCrude.Extensions;

<div class="tabbable TabRepaint">
    <ul class="nav nav-tabs" id="tabmenu">        
        @if (ViewBag.SubTitle == "Grid 3P")
        {
            @NavigationHelper.PrintTabArray(NavigationHelper.TabSet_Dispatch, "Tab_Grid3P")
        }
 
        @if (ViewBag.SubTitle == "Order Edit")
        {
            @NavigationHelper.PrintTabArray(NavigationHelper.TabSet_Dispatch, "Tab_EnterEdit")
        }
    </ul>
    <div class="tab-content">
        <div class="tab-pane in active">

            @(Html.Kendo().Grid(Model)
                .Name("grid")
                .Columns(columns =>
                {
                    columns.Bound(o => o.ID).Filterable(false).Sortable(false).Title("").Template(
                        @<text>
                            <a href=/Orders/Details/@item.ID class="btn btn-xs btn-default shiny">
                                <span class="glyphicon glyphicon-list-alt" title="Details"></span>
                            </a>
                            @if (User.IsInRole("editOrders"))
                            {
                                <a href=/Orders/Edit/@item.ID class="btn btn-xs btn-default shiny">
                                    <img src="~/images/edit.png" title="Edit" />
                                </a>
                            }
                        </text>).Width(100);
                    columns.Bound(o => o.OrderNum).Filterable(filterable => filterable.UI("intNumericFilter")).Width(100).Title("Order #");
                    columns.Bound(o => o.Status.Name).Title("Status").Width(100);
                    columns.Bound(o => o.Priority.PriorityNum).Title("Priority").Width(100).Template(
                        @<text>
                                @switch (item.Priority.PriorityNum)
                                {
                                    case 1:
                                        <div class="center"><span class="label label-danger">@item.Priority.PriorityNum</span></div>
                                        break;
                                    case 2:
                                        <div class="center"><span class="label label-warning">@item.Priority.PriorityNum</span></div>
                                        break;
                                    case 3:
                                        <div class="center">@item.Priority.PriorityNum</div>
                                        break;
                                }
                            </text>
                        );
                    columns.Bound(o => o.DueDate).Template(@<text>
                                @item.DueDate.ToString("d")
                                @if (item.PastDue)
                                {
                                    <span class="label label-danger" data-toggle="tooltip" title="Overdue"><b>!</b></span>
                                }
                            </text>).Width(120).Title("Due Date");
                    columns.Bound(o => o.Product.ShortName).Title("Product").Width(120);
                    columns.Bound(o => o.DispatchConfirmNum).Width(150).Title("Shipper PO #");
                    columns.Bound(o => o.JobNumber).Width(120).Title("Job #");
                    columns.Bound(o => o.Contract.ContractNumber).Width(120).Title("Contract #");
                    columns.Bound(o => o.Origin.Region.Name).Title("Origin Region").Width(150);
                    columns.Bound(o => o.Origin.State.Abbreviation).Title("Origin State").Width(120);

                    if (User.IsInRole("editOrders"))
                    {
                        columns.Bound(o => o.Origin.Name).Title("Origin").Template(@<text>
                                <a href=/Site/TableMaint/Origins.aspx?id=@item.OriginID>@item.Origin.Name</a>
                                @if (item.Origin != null && item.Origin.H2S)
                                {
                                    <span class="label label-danger">H2S</span>
                                }
                            </text>).Width(350);
                        columns.Bound(o => o.Origin.Terminal.Name).Width(150).Title("Origin Terminal");
                        columns.Bound(o => o.OriginTank.TankNum).Width(150).Title("Tank #");
                        columns.Bound(o => o.OriginBOLNum).Width(120).Title("Origin BOL#");
                        columns.Bound(o => o.Destination.Region.Name).Title("Dest Region").Width(120);
                        columns.Bound(o => o.Destination.Name).Title("Destination").Template(@<text>
                                <a href=/Site/TableMaint/Destinations.aspx?id=@item.DestinationID>@item.Destination.Name</a>
                            </text>).Width(350);
                        columns.Bound(o => o.Destination.Terminal.Name).Width(170).Title("Destination Terminal");
                        columns.Bound(o => o.Carrier.Name).Title("Carrier").Template(@<text>
                                <a href=/Site/TableMaint/Carriers.aspx?id=@item.CarrierID>@(item.Carrier == null ? "" : item.Carrier.Name)</a>
                            </text>).Width(250);
                        columns.Bound(o => o.Driver.LastName).Title("Driver Last").Template(@<text>
                                <a href=/Drivers/Details/@item.DriverID>@(item.Driver == null ? "" : item.Driver.LastName)</a>
                            </text>).Width(130);
                        columns.Bound(o => o.Driver.FirstName).Title("Driver First").Template(@<text>
                                <a href=/Drivers/Details/@item.DriverID>@(item.Driver == null ? "" : item.Driver.FirstName)</a>
                            </text>).Width(130);
                        columns.Bound(o => o.Driver.Terminal.Name).Width(150).Title("Driver Terminal");
                        columns.Bound(o => o.Truck.IDNumber).Title("Truck").Template(@<text>
                                <a href=/Site/TableMaint/Trucks.aspx?id=@item.TruckID>@(item.Truck == null ? "" : item.Truck.IDNumber)</a>
                            </text>).Width(100);
                        columns.Bound(o => o.Trailer.IDNumber).Title("Trailer").Template(@<text>
                                <a href=/Site/TableMaint/Trailers.aspx?id=@item.TrailerID>@(item.Trailer == null ? "" : item.Trailer.IDNumber)</a>
                            </text>).Width(100);
                        columns.Bound(o => o.Trailer2.IDNumber).Title("Trailer 2").Template(@<text>
                                <a href=/Site/TableMaint/Trailers.aspx?id=@item.Trailer2ID>@(item.Trailer2 == null ? "" : item.Trailer2.IDNumber)</a>
                            </text>).Width(100);
                    }
                    else
                    {
                        columns.Bound(o => o.Origin.Name).Title("Origin").Template(@<text>
                                @item.Origin.Name
                                @if (item.Origin != null && item.Origin.H2S)
                                {
                                    <span class="label label-danger">H2S</span>
                                }
                            </text>).Width(350);
                        columns.Bound(o => o.OriginTank.TankNum).Width(150).Title("Tank #");
                        columns.Bound(o => o.OriginBOLNum).Width(120).Title("Origin BOL#");
                        columns.Bound(o => o.Destination.Name).Width(350).Title("Destination");
                        columns.Bound(o => o.Destination.Terminal.Name).Width(170).Title("Destination Terminal");
                        columns.Bound(o => o.Carrier.Name).Title("Carrier").Template(@<text>
                                @(item.Carrier == null ? "" : item.Carrier.Name)
                            </text>).Width(250);
                        columns.Bound(o => o.Driver.LastName).Title("Driver Last").Template(@<text>
                                @(item.Driver == null ? "" : item.Driver.LastName)
                            </text>).Width(130);
                        columns.Bound(o => o.Driver.FirstName).Title("Driver First").Template(@<text>
                                @(item.Driver == null ? "" : item.Driver.FirstName)
                            </text>).Width(130);
                        columns.Bound(o => o.Driver.Terminal.Name).Width(150).Title("Driver Terminal");
                        columns.Bound(o => o.Truck.IDNumber).Title("Truck").Template(@<text>
                                @(item.Truck == null ? "" : item.Truck.IDNumber)
                            </text>).Width(100);
                        columns.Bound(o => o.Trailer.IDNumber).Title("Trailer").Template(@<text>
                                @(item.Trailer == null ? "" : item.Trailer.IDNumber)
                            </text>).Width(100);
                        columns.Bound(o => o.Trailer2.IDNumber).Title("Trailer 2").Template(@<text>
                                @(item.Trailer2 == null ? "" : item.Trailer2.IDNumber)
                            </text>).Width(100);

                    }
                    columns.Bound(o => o.TicketType.Name).Title("Ticket Type").Width(150);
                    //columns.Bound(o => o.CreateDateUTC);
                    //columns.Bound(o => o.CreatedByUser);
                    //columns.Bound(o => o.LastChangeDateUTC);
                    //columns.Bound(o => o.LastChangedByUser);
                })
                .Pageable(pager => pager
                    .PageSizes(Settings.MvcGridPageSizes)
                    .Refresh(true)
                )
                .Filterable(filterable => filterable
                    .Extra(true)   //This extended "filterable" section of code makes the contains filter the default string filter for these grids
                    .Operators(operators => operators
                        .ForString(str => str
                            .Clear()
                            .Contains("Contains")
                            .DoesNotContain("Does not contain")
                            .StartsWith("Starts with")
                            .EndsWith("Ends with")
                            .IsEqualTo("Is equal to")
                            .IsNotEqualTo("Is not equal to")
                        )
                    )
                )
                .Sortable()
                .HtmlAttributes(new { style = "height: 800px;", @class = "MVCGridRepaint" })
                .Scrollable()
                .DataSource(dataSource => dataSource
                    .Server()
                    .Model(model => model.Id(o => o.ID))
                    .PageSize(Settings.DefaultPageSize)
                    .Read(read => read.Action(ViewBag.Action, "Orders"))
                )
            )
        </div>
    </div>
</div>
<script type="text/javascript">
    function error_handler(e) {
        if (e.errors) {
            var message = "Errors:\n";
            $.each(e.errors, function (key, value) {
                if ('errors' in value) {
                    $.each(value.errors, function () {
                        message += this + "\n";
                    });
                }
            });
            alert(message);
        }
    };
    function intNumericFilter(element) {
        element.kendoNumericTextBox({ format: "#" });
    };
</script>