﻿@model DispatchCrude.Models.Order

@{
    ViewBag.Title = "Order Pickup";
    ViewBag.Subtitle = "#" + @ViewBag.OrderNum;
}

@if (ViewBag.Error != null)
{
    <div class="alert alert-danger">
        <span class="glyphicon glyphicon-exclamation-sign"></span> @ViewBag.Error
    </div>
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @Html.HiddenFor(m => m.ID)
    @Html.HiddenFor(m => m.OrderNum)

    @Html.ValidationSummary(true)

    <div class="well with-header inline-block">
        <div class="header bordered-blue">Pickup Details - #@ViewBag.OrderNum</div>
        <div class="center">
            <h4>
                @ViewBag.Origin
                @if (ViewBag.OriginH2S)
                {
                    <span class="label label-danger">H2S</span>
                }
                <span class="glyphicon glyphicon-arrow-right"></span>
                @ViewBag.Destination
            </h4>
        </div>
        <div class="spacer20px"></div>
        <table>
            <tr>
                <td class="txtAlignRight">
                    @Html.LabelFor(m => m.OriginArriveTime)&nbsp;&nbsp;&nbsp;&nbsp;
                </td>
                <td>
                    @Html.EditorFor(m => m.OriginArriveTime, new { htmlAttributes = new { @class = "form-control datecalc" } })
                </td>
            </tr>
            <tr>
                <td class="txtAlignRight">
                    @Html.LabelFor(m => m.ChainUp)&nbsp;&nbsp;&nbsp;&nbsp;
                </td>
                <td>
                    @Html.EditorFor(m => m.ChainUp)
                </td>
            </tr>
            <tr>
                <td class="txtAlignRight">
                    Tickets&nbsp;&nbsp;&nbsp;&nbsp;
                </td>
                <td>
                    @{Html.RenderAction("List", "Tickets", new { ID = Model.ID, editable = true });}
                    <div class="spacer10px"></div>
                </td>
            </tr>
            <tr>
                <td class="txtAlignRight">
                    @Html.LabelFor(m => m.OriginDepartTime)&nbsp;&nbsp;&nbsp;&nbsp;
                </td>
                <td>
                    @Html.EditorFor(m => m.OriginDepartTime, new { htmlAttributes = new { @class = "form-control datecalc" } })
                    <div id="OriginMinutes"></div>
                    <div class="spacer10px"></div>
                </td>
            </tr>
            <tr>
                <td class="txtAlignRight">
                    @Html.LabelFor(m => m.OriginTruckMileage)&nbsp;&nbsp;&nbsp;&nbsp;
                </td>
                <td>
                    @Html.TextBoxFor(m => m.OriginTruckMileage, new { type = "number", @class = "form-control" })
                    <div class="spacer10px"></div>
                </td>
            </tr>
            <tr>
                <td class="txtAlignRight">
                    @Html.LabelFor(m => m.PickupDriverNotes)&nbsp;&nbsp;&nbsp;&nbsp;
                </td>
                <td>
                    @Html.TextAreaFor(m => m.PickupDriverNotes, new { type = "number", style = "width:450px;height:80px" })
                    <div class="spacer10px"></div>
                </td>
            </tr>
            <tr>
                <td class="txtAlignRight">
                    @Html.LabelFor(m => m.OriginWaitReasonID)&nbsp;&nbsp;&nbsp;&nbsp;
                </td>
                <td>
                    @Html.DropDownList("OriginWaitReasonID", null, "-- Select Wait Reason (if any) --", htmlAttributes: new { @class = "form-control" })
                    <div class="spacer10px"></div>
                </td>
            </tr>
            <tr>
                <td class="txtAlignRight">
                    @Html.LabelFor(m => m.OriginWaitNotes)&nbsp;&nbsp;&nbsp;&nbsp;
                </td>
                <td>
                    @Html.TextAreaFor(m => m.OriginWaitNotes, new { type = "number", style = "width:450px;height:80px" })
                    <div class="spacer10px"></div>
                </td>
            </tr>
            <tr>
                <td colspan="2" class="center">
                    <div class="spacer20px"></div>
                    <input type="submit" class="btn btn-blue shiny" value="Complete Pickup">
                    <a class="btn btn-default shiny" href="~/Orders/Details/@Model.ID">Cancel</a>
                    <a class="btn btn-black" href="~/Orders/Reject/@Model.ID">Reject Origin</a>
                </td>
            </tr>
        </table>
    </div>
}
<script>
    $(function () {
        $("#OriginArriveTime").change(setWaitMin);
        $("#OriginArriveTime").blur(setWaitMin); // kendo datetimepikcer needs this too
        $("#OriginDepartTime").change(setWaitMin);
        $("#OriginDepartTime").blur(setWaitMin); // kendo datetimepikcer needs this too
    });

    function setWaitMin()
    {
        arrive = $("#OriginArriveTime").val();
        depart = $("#OriginDepartTime").val();
        if (arrive && depart) {
            var wait = (new Date(depart) - new Date(arrive)) / 1000 / 60;
            $("#OriginMinutes").html(wait + " minutes");
        }
    }
</script>