﻿@model DispatchCrude.Models.OrderTransferViewModel
@using DispatchCrude.App_Code;
@{ 
    ViewBag.Title = "Transfer Order";
}

    @if (ViewData.ModelState.Any(x => x.Value.Errors.Any()) || ViewBag.Error != null || TempData["error"] != null)
    {
        <div class="alert alert-danger">
            <span class="glyphicon glyphicon-exclamation-sign"></span> @ViewBag.Error @TempData["error"] @Html.ValidationSummary(false)
        </div>
    }

    <div class="well with-header inline-block">
        <div class="header bordered-blue">Order #@ViewBag.OrderNum</div>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="container">
            <div class="col-md-8">
                <div class="form-horizontal">

                    @Html.HiddenFor(model => model.OrderID)

                    <div class="form-group">
                        @Html.Label("Current Driver", htmlAttributes: new { @class = "control-label col-xs-4" })
                        <div class="col-xs-8">
                            @ViewBag.CurrentDriver
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.DestDriverID, htmlAttributes: new { @class = "control-label col-xs-4" })
                        <div class="col-xs-8">
                            @*@Html.DropDownList("DestDriverID", null, "-- Current Driver --", htmlAttributes: new { @class = "form-control" })*@
                            @Html.SuperDropDownList("DestDriverID", ViewBag.DestDriverID as SuperSelectList, "-- Current Driver --", htmlAttributes: new { @class = "form-control" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.Label("Current Truck", htmlAttributes: new { @class = "control-label col-xs-4" })
                        <div class="col-xs-8">
                            @ViewBag.CurrentTruck
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.DestTruckID, htmlAttributes: new { @class = "control-label col-xs-4" })
                        <div class="col-xs-8">
                            @Html.DropDownList("DestTruckID", null, "-- Current Truck --", htmlAttributes: new { @class = "form-control" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.OriginTruckEndMileage, htmlAttributes: new { @class = "control-label col-xs-4" })
                        <div class="col-xs-8">
                            @Html.TextBoxFor(model => model.OriginTruckEndMileage, null, htmlAttributes: new { @class = "form-control" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.PercentComplete, htmlAttributes: new { @class = "control-label col-xs-4" })
                        <div class="col-xs-4">
                            <div class="knob-container">
                                <input class="knob" value="@(Model.PercentComplete ?? 50)" name=PercentComplete data-width="100" data-height="100"
                                       data-displayPreviuos="true" data-angleoffset=-125 data-anglearc=250 data-rotation="clockwise" data-thickness=".25">
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Notes, htmlAttributes: new { @class = "control-label col-xs-4" })
                        <div class="col-xs-8">
                            @Html.TextAreaFor(model => model.Notes, htmlAttributes: new { @class = "form-control" })
                        </div>
                    </div>

                    <div class="col-xs-offset-5">
                        <input type="submit" class="btn btn-blue shiny" value="Transfer">
                        &nbsp;&nbsp;<a href="~/Orders/Details/@Model.OrderID" class="btn btn-blue shiny">Cancel</a>
                    </div>
                </div>
            </div>
        </div>
    }
    </div>


@section scripts{ 
    <!--jQUery Knob-->
    <script src="~/scripts/beyondadmin/knob/jquery.knob.js"></script>
    <script>
        //---Jquery Knob--
        $(".knob").knob();

    </script>
}